        <div class="row" style="padding-top: 4px">
	        <div class="col-md-2" align="right">
	        	{% if form.visit_date.errors %}
                    <span style="background: #ffff00">{{ form.visit_date.label_tag }}</span>
                {% else %}
                    {{ form.visit_date.label_tag }}
                {% endif %}
	        </div>
	        <div class="col-md-4">
                {{ visit_date }}
                <input type="text" style="display:none;" value="{{ visit_date }}" name="visit_date"/>
	        </div>
        </div>
        <div class="row" style="padding-top: 4px">
	        <div class="col-md-2" align="right">
	        	{% if form.vaccine_dose.errors %}
                    <span style="background: #ffff00">{{ form.vaccine_dose.label_tag }}</span>
                {% else %}
                    {{ form.vaccine_dose.label_tag }}
                {% endif %}
	        </div>
	        <div class="col-md-4">
                {{ service_item.name }}
                <input type="text" style="display:none;" value="{{ service_item.name }}" name="vaccine_dose"/>
	        </div>
        </div>
        <div class="row" style="padding-top: 4px">
            <div class="col-md-2" align="right">
                {% if form.vaccinate_position.errors %}
                    <span style="background: #ffff00">{{ form.vaccinate_position.label_tag }}</span>
                {% else %}
                    {{ form.vaccinate_position.label_tag }}
                {% endif %}
            </div>
            <div class="col-md-4">
                {{ form.vaccinate_position }}
            </div>
        </div>
        <div class="row" style="padding-top: 4px">
	        <div class="col-md-2" align="right">
	        	{% if form.batch_number.errors %}
                    <span style="background: #ffff00">{{ form.batch_number.label_tag }}</span>
                {% else %}
                    {{ form.batch_number.label_tag }}
                {% endif %}
	        </div>
	        <div class="col-md-4">
                {{ form.batch_number }}
	        </div>
        </div>
        <div class="row" style="padding-top: 4px">
            <div class="col-md-2" align="right">
                {% if form.remarks.errors %}
                    <span style="background: #ffff00">{{ form.remarks.label_tag }}</span>
                {% else %}
                    {{ form.remarks.label_tag }}
                {% endif %}
            </div>
            <div class="col-md-4">
                {{ form.remarks }}
            </div>
        </div>
        <!--<div class="row" style="padding-top: 4px">
            <div class="col-md-2" align="right">
                {{ form.next_vaccinate_date.label_tag }}
            </div>
            <div class="col-md-4">
                {{ form.next_vaccinate_date }}&nbsp;&nbsp;{{ form.next_vaccinate_date.errors}}
            </div>
        </div>-->
