{% extends 'vaccine/vaccine_card_base.html' %}

<!-- 预防接种卡 -->
{% block gender %}{{ vaccine_card.gender }}{% endblock %}
{% block birth_date %}{{ vaccine_card.birth_date | date:"Y-m-d" }}{% endblock %}
{% block guardian_name %}{{ vaccine_card.guardian_name }}{% endblock %}
{% block relation_to_child %}{{ vaccine_card.relation_to_child }}{% endblock %}
{% block contact_number %}{{ vaccine_card.contact_number }}{% endblock %}
{% block census_register_address %}{{ vaccine_card.census_register_address }}{% endblock %}
{% block census_register_address_extra %}{{ vaccine_card.census_register_address_extra }}{% endblock %}
{% block immigrate_time %}{{ vaccine_card.immigrate_time | date:"Y-m-d" }}{% endblock %}
{% block emigrate_time %}{{ vaccine_card.emigrate_time | date:"Y-m-d" }}{% endblock %}
{% block emigrate_reason %}{{ vaccine_card.emigrate_reason }}{% endblock %}
{% block vaccine_abnormal_reaction_history %}{{ vaccine_card.vaccine_abnormal_reaction_history }}{% endblock %}
{% block vaccinate_taboo %}{{ vaccine_card.vaccinate_taboo }}{% endblock %}
{% block infection_history %}{{ vaccine_card.infection_history }}{% endblock %}
{% block found_card_date %}{{ vaccine_card.found_card_date | date:"Y-m-d" }}{% endblock %}
{% block found_card_person %}{{ vaccine_card.found_card_person }}{% endblock %}

<!-- 乙肝疫苗-1 -->
{% block hepatitis_b_1_visit_date %}{{ form.visit_date }}{% endblock %}
{% block hepatitis_b_1_vaccinate_position %}{{ form.vaccinate_position }}{% endblock %}
{% block hepatitis_b_1_batch_number %}{{ form.batch_number }}{% endblock %}
{% block hepatitis_b_1_doctor_signature %}{{ form.doctor_signature }}{% endblock %}
{% block hepatitis_b_1_remarks %}{{ form.remarks }}{% endblock %}
{% block hepatitis_b_1_next_vaccinate_date %}{{ form.next_vaccinate_date }}{% endblock %}

<!-- 乙肝疫苗-2 -->
{% block hepatitis_b_2_visit_date %}{{ hepatitis_b_vaccine_2.visit_date | date:"Y-m-d" }}{% endblock %}
{% block hepatitis_b_2_vaccinate_position %}{{ hepatitis_b_vaccine_2.vaccinate_position }}{% endblock %}
{% block hepatitis_b_2_batch_number %}{{ hepatitis_b_vaccine_2.batch_number }}{% endblock %}
{% block hepatitis_b_2_doctor_signature %}{{ hepatitis_b_vaccine_2.doctor_signature }}{% endblock %}
{% block hepatitis_b_2_remarks %}{{ hepatitis_b_vaccine_2.remarks }}{% endblock %}
{% block hepatitis_b_2_next_vaccinate_date %}{{ hepatitis_b_vaccine_2.next_vaccinate_date | date:"Y-m-d" }}{% endblock %}

<!-- 乙肝疫苗-3 -->
{% block hepatitis_b_3_visit_date %}{{ hepatitis_b_vaccine_3.visit_date | date:"Y-m-d" }}{% endblock %}
{% block hepatitis_b_3_vaccinate_position %}{{ hepatitis_b_vaccine_3.vaccinate_position }}{% endblock %}
{% block hepatitis_b_3_batch_number %}{{ hepatitis_b_vaccine_3.batch_number }}{% endblock %}
{% block hepatitis_b_3_doctor_signature %}{{ hepatitis_b_vaccine_3.doctor_signature }}{% endblock %}
{% block hepatitis_b_3_remarks %}{{ hepatitis_b_vaccine_3.remarks }}{% endblock %}

<!-- 卡介苗 -->
{% block bcg_visit_date %}{{ bcg_vaccine.visit_date | date:"Y-m-d" }}{% endblock %}
{% block bcg_vaccinate_position %}{{ bcg_vaccine.vaccinate_position }}{% endblock %}
{% block bcg_batch_number %}{{ bcg_vaccine.batch_number }}{% endblock %}
{% block bcg_doctor_signature %}{{ bcg_vaccine.doctor_signature }}{% endblock %}
{% block bcg_remarks %}{{ bcg_vaccine.remarks }}{% endblock %}

<!-- 脊灰疫苗-1 -->
{% block poliomyelitis_1_visit_date %}{{ poliomyelitis_vaccine_1.visit_date | date:"Y-m-d" }}{% endblock %}
{% block poliomyelitis_1_vaccinate_position %}{{ poliomyelitis_vaccine_1.vaccinate_position }}{% endblock %}
{% block poliomyelitis_1_batch_number %}{{ poliomyelitis_vaccine_1.batch_number }}{% endblock %}
{% block poliomyelitis_1_doctor_signature %}{{ poliomyelitis_vaccine_1.doctor_signature }}{% endblock %}
{% block poliomyelitis_1_remarks %}{{ poliomyelitis_vaccine_1.remark }}{% endblock %}
{% block poliomyelitis_1_next_vaccinate_date %}{{ poliomyelitis_vaccine_1.next_vaccinate_date | date:"Y-m-d" }}{% endblock %}

<!-- 脊灰疫苗-2 -->
{% block poliomyelitis_2_visit_date %}{{ poliomyelitis_vaccine_2.visit_date | date:"Y-m-d" }}{% endblock %}
{% block poliomyelitis_2_vaccinate_position %}{{ poliomyelitis_vaccine_2.vaccinate_position }}{% endblock %}
{% block poliomyelitis_2_batch_number %}{{ poliomyelitis_vaccine_2.batch_number }}{% endblock %}
{% block poliomyelitis_2_doctor_signature %}{{ poliomyelitis_vaccine_2.doctor_signature }}{% endblock %}
{% block poliomyelitis_2_remarks %}{{ poliomyelitis_vaccine_2.remarks }}{% endblock %}
{% block poliomyelitis_2_next_vaccinate_date %}{{ poliomyelitis_vaccine_2.next_vaccinate_date | date:"Y-m-d" }}{% endblock %}

<!-- 脊灰疫苗-3 -->
{% block poliomyelitis_3_visit_date %}{{ poliomyelitis_vaccine_3.visit_date | date:"Y-m-d" }}{% endblock %}
{% block poliomyelitis_3_vaccinate_position %}{{ poliomyelitis_vaccine_3.vaccinate_position }}{% endblock %}
{% block poliomyelitis_3_batch_number %}{{ poliomyelitis_vaccine_3.batch_number }}{% endblock %}
{% block poliomyelitis_3_doctor_signature %}{{ poliomyelitis_vaccine_3.doctor_signature }}{% endblock %}
{% block poliomyelitis_3_remarks %}{{ poliomyelitis_vaccine_3.remarks }}{% endblock %}
{% block poliomyelitis_3_next_vaccinate_date %}{{ poliomyelitis_vaccine_3.next_vaccinate_date | date:"Y-m-d" }}{% endblock %}

<!-- 脊灰疫苗-4 -->
{% block poliomyelitis_4_visit_date %}{{ poliomyelitis_vaccine_4.visit_date | date:"Y-m-d" }}{% endblock %}
{% block poliomyelitis_4_vaccinate_position %}{{ poliomyelitis_vaccine_4.vaccinate_position }}{% endblock %}
{% block poliomyelitis_4_batch_number %}{{ poliomyelitis_vaccine_4.batch_number }}{% endblock %}
{% block poliomyelitis_4_doctor_signature %}{{ poliomyelitis_vaccine_4.doctor_signature }}{% endblock %}
{% block poliomyelitis_4_remarks %}{{ poliomyelitis_vaccine_4.remarks }}{% endblock %}

<!-- 百白破疫苗-1 -->
{% block dpt_1_visit_date %}{{ diphtheria_pertussis_tetanus_1.visit_date | date:"Y-m-d" }}{% endblock %}
{% block dpt_1_vaccinate_position %}{{ diphtheria_pertussis_tetanus_1.vaccinate_position }}{% endblock %}
{% block dpt_1_batch_number %}{{ diphtheria_pertussis_tetanus_1.batch_number }}{% endblock %}
{% block dpt_1_doctor_signature %}{{ diphtheria_pertussis_tetanus_1.doctor_signature }}{% endblock %}
{% block dpt_1_remarks %}{{ diphtheria_pertussis_tetanus_1.remarks }}{% endblock %}
{% block dpt_1_next_vaccinate_date %}{{ diphtheria_pertussis_tetanus_1.next_vaccinate_date | date:"Y-m-d" }}{% endblock %}

<!-- 百白破疫苗-2 -->
{% block dpt_2_visit_date %}{{ diphtheria_pertussis_tetanus_2.visit_date | date:"Y-m-d" }}{% endblock %}
{% block dpt_2_vaccinate_position %}{{ diphtheria_pertussis_tetanus_2.vaccinate_position }}{% endblock %}
{% block dpt_2_batch_number %}{{ diphtheria_pertussis_tetanus_2.batch_number }}{% endblock %}
{% block dpt_2_doctor_signature %}{{ diphtheria_pertussis_tetanus_2.doctor_signature }}{% endblock %}
{% block dpt_2_remarks %}{{ diphtheria_pertussis_tetanus_2.remarks }}{% endblock %}
{% block dpt_2_next_vaccinate_date %}{{ diphtheria_pertussis_tetanus_2.next_vaccinate_date | date:"Y-m-d" }}{% endblock %}

<!-- 百白破疫苗-3 -->
{% block dpt_3_visit_date %}{{ diphtheria_pertussis_tetanus_3.visit_date | date:"Y-m-d" }}{% endblock %}
{% block dpt_3_vaccinate_position %}{{ diphtheria_pertussis_tetanus_3.vaccinate_position }}{% endblock %}
{% block dpt_3_batch_number %}{{ diphtheria_pertussis_tetanus_3.batch_number }}{% endblock %}
{% block dpt_3_doctor_signature %}{{ diphtheria_pertussis_tetanus_3.doctor_signature }}{% endblock %}
{% block dpt_3_remarks %}{{ diphtheria_pertussis_tetanus_3.remarks }}{% endblock %}
{% block dpt_3_next_vaccinate_date %}{{ diphtheria_pertussis_tetanus_3.next_vaccinate_date | date:"Y-m-d" }}{% endblock %}

<!-- 百白破疫苗-4 -->
{% block dpt_4_visit_date %}{{ diphtheria_pertussis_tetanus_4.visit_date | date:"Y-m-d" }}{% endblock %}
{% block dpt_4_vaccinate_position %}{{ diphtheria_pertussis_tetanus_4.vaccinate_position }}{% endblock %}
{% block dpt_4_batch_number %}{{ diphtheria_pertussis_tetanus_4.batch_number }}{% endblock %}
{% block dpt_4_doctor_signature %}{{ diphtheria_pertussis_tetanus_4.doctor_signature }}{% endblock %}
{% block dpt_4_remarks %}{{ diphtheria_pertussis_tetanus_4.remarks }}{% endblock %}

<!-- 白破疫苗 -->
{% block dt_visit_date %}{{ diphtheria_tetanus_vaccine.visit_date | date:"Y-m-d" }}{% endblock %}
{% block dt_vaccinate_position %}{{ diphtheria_tetanus_vaccine.vaccinate_position }}{% endblock %}
{% block dt_batch_number %}{{ diphtheria_tetanus_vaccine.batch_number }}{% endblock %}
{% block dt_doctor_signature %}{{ diphtheria_tetanus_vaccine.doctor_signature }}{% endblock %}
{% block dt_remarks %}{{ diphtheria_tetanus_vaccine.remarks }}{% endblock %}

<!--麻风疫苗 -->
{% block leprosy_visit_date %}{{ leprosy.visit_date | date:"Y-m-d" }}{% endblock %}
{% block leprosy_vaccinate_position %}{{ leprosy.vaccinate_position }}{% endblock %}
{% block leprosy_batch_number %}{{ leprosy.batch_number }}{% endblock %}
{% block leprosy_doctor_signature %}{{ leprosy.doctor_signature }}{% endblock %}
{% block leprosy_remarks %}{{ leprosy.remarks }}{% endblock %}

<!-- 麻腮风疫苗-1 -->
{% block mmr_1_visit_date %}{{ measles_mumps_rubella_1.visit_date | date:"Y-m-d" }}{% endblock %}
{% block mmr_1_vaccinate_position %}{{ measles_mumps_rubella_1.vaccinate_position }}{% endblock %}
{% block mmr_1_batch_number %}{{ measles_mumps_rubella_1.batch_number }}{% endblock %}
{% block mmr_1_doctor_signature %}{{ measles_mumps_rubella_1.doctor_signature }}{% endblock %}
{% block mmr_1_remarks %}{{ measles_mumps_rubella_1.remarks }}{% endblock %}
{% block mmr_1_next_vaccinate_date %}{{ measles_mumps_rubella_1.next_vaccinate_date | date:"Y-m-d" }}{% endblock %}

<!-- 麻腮风疫苗-2 -->
{% block mmr_2_visit_date %}{{ measles_mumps_rubella_2.visit_date | date:"Y-m-d" }}{% endblock %}
{% block mmr_2_vaccinate_position %}{{ measles_mumps_rubella_2.vaccinate_position }}{% endblock %}
{% block mmr_2_batch_number %}{{ measles_mumps_rubella_2.batch_number }}{% endblock %}
{% block mmr_2_doctor_signature %}{{ measles_mumps_rubella_2.doctor_signature }}{% endblock %}
{% block mmr_2_remarks %}{{ measles_mumps_rubella_2.remarks }}{% endblock %}

<!--麻腮疫苗 -->
{% block mm_visit_date %}{{ measles_mumps.visit_date | date:"Y-m-d" }}{% endblock %}
{% block mm_vaccinate_position %}{{ measles_mumps.vaccinate_position }}{% endblock %}
{% block mm_batch_number %}{{ measles_mumps.batch_number }}{% endblock %}
{% block mm_doctor_signature %}{{ measles_mumps.doctor_signature }}{% endblock %}
{% block mm_remarks %}{{ measles_mumps.remarks }}{% endblock %}

<!-- 麻疹疫苗-1 -->
{% block mr_1_visit_date %}{{ measles_1.visit_date | date:"Y-m-d" }}{% endblock %}
{% block mr_1_vaccinate_position %}{{ measles_1.vaccinate_position }}{% endblock %}
{% block mr_1_batch_number %}{{ measles_1.batch_number }}{% endblock %}
{% block mr_1_doctor_signature %}{{ measles_1.doctor_signature }}{% endblock %}
{% block mr_1_remarks %}{{ measles_1.remarks }}{% endblock %}
{% block mr_1_next_vaccinate_date %}{{ measles_1.next_vaccinate_date | date:"Y-m-d" }}{% endblock %}

<!-- 麻疹疫苗-2 -->
{% block mr_2_visit_date %}{{ measles_2.visit_date | date:"Y-m-d" }}{% endblock %}
{% block mr_2_vaccinate_position %}{{ measles_2.vaccinate_position }}{% endblock %}
{% block mr_2_batch_number %}{{ measles_2.batch_number }}{% endblock %}
{% block mr_2_doctor_signature %}{{ measles_2.doctor_signature }}{% endblock %}
{% block mr_2_remarks %}{{ measles_2.remarks }}{% endblock %}

<!--A群流脑疫苗-1 -->
{% block meningitis_a_1_visit_date %}{{ meningitis_a_1.visit_date | date:"Y-m-d" }}{% endblock %}
{% block meningitis_a_1_vaccinate_position %}{{ meningitis_a_1.vaccinate_position }}{% endblock %}
{% block meningitis_a_1_batch_number %}{{ meningitis_a_1.batch_number }}{% endblock %}
{% block meningitis_a_1_doctor_signature %}{{ meningitis_a_1.doctor_signature }}{% endblock %}
{% block meningitis_a_1_remarks %}{{ meningitis_a_1.remarks }}{% endblock %}
{% block meningitis_a_1_next_vaccinate_date %}{{ meningitis_a_1.next_vaccinate_date | date:"Y-m-d" }}{% endblock %}

<!--A群流脑疫苗-2 -->
{% block meningitis_a_2_visit_date %}{{ meningitis_a_2.visit_date | date:"Y-m-d" }}{% endblock %}
{% block meningitis_a_2_vaccinate_position %}{{ meningitis_a_2.vaccinate_position }}{% endblock %}
{% block meningitis_a_2_batch_number %}{{ meningitis_a_2.batch_number }}{% endblock %}
{% block meningitis_a_2_doctor_signature %}{{ meningitis_a_2.doctor_signature }}{% endblock %}
{% block meningitis_a_2_remarks %}{{ meningitis_a_2.remarks }}{% endblock %}
{% block meningitis_a_2_next_vaccinate_date %}{{ meningitis_a_2.next_vaccinate_date | date:"Y-m-d" }}{% endblock %}

<!-- A+C群流脑疫苗-1 -->
{% block meningitis_ac_1_visit_date %}{{ meningitis_ac_1.visit_date | date:"Y-m-d" }}{% endblock %}
{% block meningitis_ac_1_vaccinate_position %}{{ meningitis_ac_1.vaccinate_position }}{% endblock %}
{% block meningitis_ac_1_batch_number %}{{ meningitis_ac_1.batch_number }}{% endblock %}
{% block meningitis_ac_1_doctor_signature %}{{ meningitis_ac_1.doctor_signature }}{% endblock %}
{% block meningitis_ac_1_remarks %}{{ meningitis_ac_1.remarks }}{% endblock %}
{% block meningitis_ac_1_next_vaccinate_date %}{{ meningitis_ac_1.next_vaccinate_date | date:"Y-m-d" }}{% endblock %}

<!-- A+C群流脑疫苗-2 -->
{% block meningitis_ac_2_visit_date %}{{ meningitis_ac_2.visit_date | date:"Y-m-d" }}{% endblock %}
{% block meningitis_ac_2_vaccinate_position %}{{ meningitis_ac_2.vaccinate_position }}{% endblock %}
{% block meningitis_ac_2_batch_number %}{{ meningitis_ac_2.batch_number }}{% endblock %}
{% block meningitis_ac_2_doctor_signature %}{{ meningitis_ac_2.doctor_signature }}{% endblock %}
{% block meningitis_ac_2_remarks %}{{ meningitis_ac_2.remarks }}{% endblock %}

<!-- 乙脑（减毒）活疫苗-1 -->
{% block japanese_encephalitis_attenuated_1_visit_date %}{{ japanese_encephalitis_attenuated_1.visit_date | date:"Y-m-d" }}{% endblock %}
{% block japanese_encephalitis_attenuated_1_vaccinate_position %}{{ japanese_encephalitis_attenuated_1.vaccinate_position }}{% endblock %}
{% block japanese_encephalitis_attenuated_1_batch_number %}{{ japanese_encephalitis_attenuated_1.batch_number }}{% endblock %}
{% block japanese_encephalitis_attenuated_1_doctor_signature %}{{ japanese_encephalitis_attenuated_1.doctor_signature }}{% endblock %}
{% block japanese_encephalitis_attenuated_1_remarks %}{{ japanese_encephalitis_attenuated_1.remarks }}{% endblock %}
{% block japanese_encephalitis_attenuated_1_next_vaccinate_date %}{{ japanese_encephalitis_attenuated_1.next_vacinate_date | date:"Y-m-d" }}{% endblock %}

<!-- 乙脑（减毒）活疫苗-2 -->
{% block japanese_encephalitis_attenuated_2_visit_date %}{{ japanese_encephalitis_attenuated_2.visit_date | date:"Y-m-d" }}{% endblock %}
{% block japanese_encephalitis_attenuated_2_vaccinate_position %}{{ japanese_encephalitis_attenuated_2.vaccinate_position }}{% endblock %}
{% block japanese_encephalitis_attenuated_2_batch_number %}{{ japanese_encephalitis_attenuated_2.batch_number }}{% endblock %}
{% block japanese_encephalitis_attenuated_2_doctor_signature %}{{ japanese_encephalitis_attenuated_2.doctor_signature }}{% endblock %}
{% block japanese_encephalitis_attenuated_2_remarks %}{{ japanese_encephalitis_attenuated_2.remarks }}{% endblock %}

<!-- 乙脑灭活疫苗-1 -->
{% block japanese_encephalitis_inactivated_1_visit_date %}{{ japanese_encephalitis_inactivated_1.visit_date | date:"Y-m-d" }}{% endblock %}
{% block japanese_encephalitis_inactivated_1_vaccinate_position %}{{ japanese_encephalitis_inactivated_1.vaccinate_position }}{% endblock %}
{% block japanese_encephalitis_inactivated_1_batch_number %}{{ japanese_encephalitis_inactivated_1.batch_number }}{% endblock %}
{% block japanese_encephalitis_inactivated_1_doctor_signature %}{{ japanese_encephalitis_inactivated_1.doctor_signature }}{% endblock %}
{% block japanese_encephalitis_inactivated_1_remarks %}{{ japanese_encephalitis_inactivated_1.remarks }}{% endblock %}
{% block japanese_encephalitis_inactivated_1_next_vaccinate_date %}{{ japanese_encephalitis_inactivated_1.next_vaccinate_date | date:"Y-m-d" }}{% endblock %}

<!-- 乙脑灭活疫苗-2 -->
{% block japanese_encephalitis_inactivated_2_visit_date %}{{ japanese_encephalitis_inactivated_2.visit_date | date:"Y-m-d" }}{% endblock %}
{% block japanese_encephalitis_inactivated_2_vaccinate_position %}{{ japanese_encephalitis_inactivated_2.vaccinate_position }}{% endblock %}
{% block japanese_encephalitis_inactivated_2_batch_number %}{{ japanese_encephalitis_inactivated_2.batch_number }}{% endblock %}
{% block japanese_encephalitis_inactivated_2_doctor_signature %}{{ japanese_encephalitis_inactivated_2.doctor_signature }}{% endblock %}
{% block japanese_encephalitis_inactivated_2_remarks %}{{ japanese_encephalitis_inactivated_2.remarks }}{% endblock %}
{% block japanese_encephalitis_inactivated_2_next_vaccinate_date %}{{ japanese_encephalitis_inactivated_2.next_vaccinate_date | date:"Y-m-d" }}{% endblock %}

<!-- 乙脑灭活疫苗-3 -->
{% block japanese_encephalitis_inactivated_3_visit_date %}{{ japanese_encephalitis_inactivated_3.visit_date | date:"Y-m-d" }}{% endblock %}
{% block japanese_encephalitis_inactivated_3_vaccinate_position %}{{ japanese_encephalitis_inactivated_3.vaccinate_position }}{% endblock %}
{% block japanese_encephalitis_inactivated_3_batch_number %}{{ japanese_encephalitis_inactivated_3.batch_number }}{% endblock %}
{% block japanese_encephalitis_inactivated_3_doctor_signature %}{{ japanese_encephalitis_inactivated_3.doctor_signature }}{% endblock %}
{% block japanese_encephalitis_inactivated_3_remarks %}{{ japanese_encephalitis_inactivated_3.remarks }}{% endblock %}
{% block japanese_encephalitis_inactivated_3_next_vaccinate_date %}{{ japanese_encephalitis_inactivated_3.next_vaccinate_date | date:"Y-m-d" }}{% endblock %}

<!-- 乙脑灭活疫苗-4 -->
{% block japanese_encephalitis_inactivated_4_visit_date %}{{ japanese_encephalitis_inactivated_4.visit_date | date:"Y-m-d" }}{% endblock %}
{% block japanese_encephalitis_inactivated_4_vaccinate_position %}{{ japanese_encephalitis_inactivated_4.vaccinate_position }}{% endblock %}
{% block japanese_encephalitis_inactivated_4_batch_number %}{{ japanese_encephalitis_inactivated_4.batch_number }}{% endblock %}
{% block japanese_encephalitis_inactivated_4_doctor_signature %}{{ japanese_encephalitis_inactivated_4.doctor_signature }}{% endblock %}
{% block japanese_encephalitis_inactivated_4_remarks %}{{ japanese_encephalitis_inactivated_4.remarks }}{% endblock %}

<!-- 甲肝减毒活疫苗 -->
{% block hepatitis_a_attenuated_visit_date %}{{ hepatitis_a_attenuated.visit_date | date:"Y-m-d" }}{% endblock %}
{% block hepatitis_a_attenuated_vaccinate_position %}{{ hepatitis_a_attenuated.vaccinate_position }}{% endblock %}
{% block hepatitis_a_attenuated_batch_number %}{{ hepatitis_a_attenuated.batch_number }}{% endblock %}
{% block hepatitis_a_attenuated_doctor_signature %}{{ hepatitis_a_attenuated.doctor_signature }}{% endblock %}
{% block hepatitis_a_attenuated_remarks %}{{ hepatitis_a_attenuated.remarks }}{% endblock %}

<!-- 甲肝灭活疫苗-1 -->
{% block hepatitis_a_inactivated_1_visit_date %}{{ hepatitis_a_inactivated_1.visit_date | date:"Y-m-d" }}{% endblock %}
{% block hepatitis_a_inactivated_1_vaccinate_position %}{{ hepatitis_a_inactivated_1.vaccinate_position }}{% endblock %}
{% block hepatitis_a_inactivated_1_batch_number %}{{ hepatitis_a_inactivated_1.batch_number }}{% endblock %}
{% block hepatitis_a_inactivated_1_doctor_signature %}{{ hepatitis_a_inactivated_1.doctor_signature }}{% endblock %}
{% block hepatitis_a_inactivated_1_remarks %}{{ hepatitis_a_inactivated_1.remarks }}{% endblock %}
{% block hepatitis_a_inactivated_1_next_vaccinate_date %}{{ hepatitis_a_inactivated_1.next_vaccinate_date | date:"Y-m-d" }}{% endblock %}

<!-- 甲肝灭活疫苗-2 -->
{% block hepatitis_a_inactivated_2_visit_date %}{{ hepatitis_a_inactivated_2.visit_date | date:"Y-m-d" }}{% endblock %}
{% block hepatitis_a_inactivated_2_vaccinate_position %}{{ hepatitis_a_inactivated_2.vaccinate_position }}{% endblock %}
{% block hepatitis_a_inactivated_2_batch_number %}{{ hepatitis_a_inactivated_2.batch_number }}{% endblock %}
{% block hepatitis_a_inactivated_2_doctor_signature %}{{ hepatitis_a_inactivated_2.doctor_signature }}{% endblock %}
{% block hepatitis_a_inactivated_2_remarks %}{{ hepatitis_a_inactivated_2.remarks }}{% endblock %}

<!-- 炭疽疫苗 -->
{% block anthrax_visit_date %}{{ anthrax_vaccine.visit_date | date:"Y-m-d" }}{% endblock %}
{% block anthrax_vaccinate_position %}{{ anthrax_vaccine.vaccinate_position }}{% endblock %}
{% block anthrax_batch_number %}{{ anthrax_vaccine.batch_number }}{% endblock %}
{% block anthrax_doctor_signature %}{{ anthrax_vaccine.doctor_signature }}{% endblock %}
{% block anthrax_remarks %}{{ anthrax_vaccine.remarks }}{% endblock %}

<!-- 出血热疫苗（双价）-1 -->
{% block hemorrhagic_i_ii_1_visit_date %}{{ hemorrhagic_i_ii_1.visit_date | date:"Y-m-d" }}{% endblock %}
{% block hemorrhagic_i_ii_1_vaccinate_position %}{{ hemorrhagic_i_ii_1.vaccinate_position }}{% endblock %}
{% block hemorrhagic_i_ii_1_batch_number %}{{ hemorrhagic_i_ii_1.batch_number }}{% endblock %}
{% block hemorrhagic_i_ii_1_doctor_signature %}{{ hemorrhagic_i_ii_1.doctor_signature }}{% endblock %}
{% block hemorrhagic_i_ii_1_remarks %}{{ hemorrhagic_i_ii_1.remarks }}{% endblock %}
{% block hemorrhagic_i_ii_1_next_vaccinate_date %}{{ hemorrhagic_i_ii_1.next_vaccinate_date | date:"Y-m-d" }}{% endblock %}

<!-- 出血热疫苗（双价）-2 -->
{% block hemorrhagic_i_ii_2_visit_date %}{{ hemorrhagic_i_ii_2.visit_date | date:"Y-m-d" }}{% endblock %}
{% block hemorrhagic_i_ii_2_vaccinate_position %}{{ hemorrhagic_i_ii_2.vaccinate_position }}{% endblock %}
{% block hemorrhagic_i_ii_2_batch_number %}{{ hemorrhagic_i_ii_2.batch_number }}{% endblock %}
{% block hemorrhagic_i_ii_2_doctor_signature %}{{ hemorrhagic_i_ii_2.doctor_signature }}{% endblock %}
{% block hemorrhagic_i_ii_2_remarks %}{{ hemorrhagic_i_ii_2.remarks }}{% endblock %}
{% block hemorrhagic_i_ii_2_next_vaccinate_date %}{{ hemorrhagic_i_ii_2.next_vaccinate_date | date:"Y-m-d" }}{% endblock %}

<!-- 出血热疫苗（双价）-3 -->
{% block hemorrhagic_i_ii_3_visit_date %}{{ hemorrhagic_i_ii_3.visit_date | date:"Y-m-d" }}{% endblock %}
{% block hemorrhagic_i_ii_3_vaccinate_position %}{{ hemorrhagic_i_ii_3.vaccinate_position }}{% endblock %}
{% block hemorrhagic_i_ii_3_batch_number %}{{ hemorrhagic_i_ii_3.batch_number }}{% endblock %}
{% block hemorrhagic_i_ii_3_doctor_signature %}{{ hemorrhagic_i_ii_3.doctor_signature }}{% endblock %}
{% block hemorrhagic_i_ii_3_remarks %}{{ hemorrhagic_i_ii_3.remarks }}{% endblock %}
