{% extends 'table_base.html' %}

{% block table_content %}

    <tr>
        <td colspan="3" width="16%" align="center"><b>疫苗与剂次</b></td>
        <td colspan="1" width="14%" align="center"><b>接种日期</b></td>
        <td colspan="1" width="14%" align="center"><b>接种部位</b></td>
        <td colspan="1" width="14%" align="center"><b>疫苗批号</b></td>
        <td colspan="1" width="14%" align="center"><b>接种医生</b></td>
        <td colspan="1" width="14%" align="center"><b>备注</b></td>
        <td colspan="1" width="14%" align="center"><b>下次接种日期</b></td>
    </tr>
    <tr>
        <td colspan="3" width="16%" align="center">{{ form.vaccine.name }}</td>
        <td colspan="1" width="14%" align="center">{{ form.visit_date | date:"Y-m-d" }}</td>
        <td colspan="1" width="14%" align="center">{{ form.vaccinate_position }}</td>
        <td colspan="1" width="14%" align="center">{{ form.batch_number }}</td>
        <td colspan="1" width="14%" align="center">{{ form.doctor_signature }}</td>
        <td colspan="1" width="14%" align="center">{{ form.remarks }}</td>
        <td colspan="1" width="14%" align="center">{{ form.next_vaccinate_date | date:"Y-m-d" }}</td>
    </tr>

{% endblock %}
