        <div class="row">
	    	<div class="col-md-3">
		    	<h4 class="page-header" style="color: green"><strong>转诊</strong></h4>
	    	</div>
    	</div>
        <div class="row" style="padding-top: 4px">
	        <div class="col-md-2" align="right">
	        	{% if form.transfer_treatment.errors or form.transfer_treatment_reason.errors%}
                    <span style="background: #ffff00">{{ form.transfer_treatment.label_tag }}</span>
                {% else %}
                    {{ form.transfer_treatment.label_tag }}
                {% endif %}
	        </div>
	        <div class="col-md-6">
                {% for item in form.transfer_treatment %}
                    {% if forloop.counter > 1 and forloop.counter < 3  %}
                        <div class="col-md-2">{{ item }}</div>
                    {% elif forloop.counter == 3 %}
                        <div class="col-md-2">{{ item }}&nbsp;&nbsp;</div>
                        <div class="col-md-2" align="right">
                                {{ form.transfer_treatment_reason.label_tag }}
                            </div>
                            <div class="col-md-4">
                                {{ form.transfer_treatment_reason }}
                            </div>
                    {% endif %}
                 {% endfor %}
            </div>
        </div>
        <div class="row" style="padding-top: 4px">
	        <div class="col-md-2" align="right">

	        </div>
	        <div class="col-md-1">

            </div>
            <div class="col-md-2" align="right">
                {% if form.transfer_treatment_institution.errors %}
                    <span style="background: #ffff00">{{ form.transfer_treatment_institution.label_tag }}</span>
                {% else %}
                    {{ form.transfer_treatment_institution.label_tag }}
                {% endif %}
            </div>
            <div class="col-md-4">
                {{ form.transfer_treatment_institution }}
            </div>
        </div>
        <!--<div class="row" style="padding-top: 4px">
            <div class="col-md-2" align="right">
                {{ form.next_visit_date.label_tag }}
            </div>
            <div class="col-md-4">
                {{ form.next_visit_date }}&nbsp;&nbsp;{{ form.next_visit_date.errors}}
            </div>
        </div>-->
        {% include 'pregnant/next_visit_date.html' %}
        {% include 'pregnant/submit.html' %}