        <div class="row" style="padding-top: 4px">
	        <div class="col-md-2" align="right">
	        	{% if form.visit_date.errors %}
                    <span style="background: #ffff00">{{ form.visit_date.label_tag }}</span>
                {% else %}
                    {{ form.visit_date.label_tag }}
                {% endif %}
	        </div>
	        <div class="col-md-4">
	        	<!--{{ form.visit_date }}&nbsp;&nbsp;{{ form.visit_date.errors}}-->
                {{ visit_date }}
                <input type="text" style="display:none;" value="{{ visit_date }}" name="visit_date"/>
	        </div>
        </div>
        <div class="row">
	    	<div class="col-md-3">
		    	<h4 class="page-header" style="color: green"><strong>基本信息</strong></h4>
	    	</div>
    	</div>
        <div class="row" style="padding-top: 4px">
            <div class="col-md-2" align="right">
                {% if form.gestational_weeks.errors %}
                    <span style="background: #ffff00">{{ form.gestational_weeks.label_tag }}</span>
                {% else %}
                    {{ form.gestational_weeks.label_tag }}
                {% endif %}
            </div>
            <div class="col-md-4">
                {{ form.gestational_weeks }}&nbsp;&nbsp;周
            </div>
            <!--<div class="col-md-2" align="right">
	        	{% if form.complaint.errors %}
                    <span style="background: #ffff00">{{ form.complaint.label_tag }}</span>
                {% else %}
                    {{ form.complaint.label_tag }}
                {% endif %}
	        </div>
	        <div class="col-md-4">
                {{ form.complaint }}
	        </div>-->
        </div>
        <div class="row" style="padding-top: 4px">
	        <div class="col-md-2" align="right">
	        	{% if form.complaint.errors %}
                    <span style="background: #ffff00">{{ form.complaint.label_tag }}</span>
                {% else %}
                    {{ form.complaint.label_tag }}
                {% endif %}
	        </div>
	        <div class="col-md-4">
                {{ form.complaint }}
	        </div>
        </div>
        <div class="row" style="padding-top: 4px">
	        <div class="col-md-2" align="right">
	        	{% if form.weight.errors %}
                    <span style="background: #ffff00">{{ form.weight.label_tag }}</span>
                {% else %}
                    {{ form.weight.label_tag }}
                {% endif %}
	        </div>
	        <div class="col-md-4">
                {{ form.weight }}&nbsp;&nbsp;kg
	        </div>
        </div>
        <div class="row">
	    	<div class="col-md-3">
		    	<h4 class="page-header" style="color: green"><strong>产前检查</strong></h4>
	    	</div>
    	</div>
        <div class="row" style="padding-top: 4px">
            <div class="col-md-2" align="right">
                {% if form.examination_before_parturition_uteri_bottom_height.errors %}
                    <span style="background: #ffff00">{{ form.examination_before_parturition_uteri_bottom_height.label_tag }}</span>
                {% else %}
                    {{ form.examination_before_parturition_uteri_bottom_height.label_tag }}
                {% endif %}
            </div>
            <div class="col-md-4">
                {{ form.examination_before_parturition_uteri_bottom_height }}&nbsp;&nbsp;cm
            </div>
             <div class="col-md-2" align="right">
                {% if form.examination_before_parturition_abdomen_circumference.errors %}
                    <span style="background: #ffff00">{{ form.hearing.label_tag }}</span>
                {% else %}
                    {{ form.examination_before_parturition_abdomen_circumference.label_tag }}
                {% endif %}
            </div>
            <div class="col-md-4">
                {{ form.examination_before_parturition_abdomen_circumference }}&nbsp;&nbsp;cm
            </div>
        </div>
        <div class="row" style="padding-top: 4px">
            <div class="col-md-2" align="right">
                {% if form.examination_before_parturition_fetus_position.errors %}
                    <span style="background: #ffff00">{{ form.examination_before_parturition_fetus_position.label_tag }}</span>
                {% else %}
                    {{ form.examination_before_parturition_fetus_position.label_tag }}
                {% endif %}
            </div>
            <div class="col-md-4">
                {{ form.examination_before_parturition_fetus_position }}
            </div>
             <div class="col-md-2" align="right">
                {% if form.examination_before_parturition_fetal_heart_rate.errors %}
                    <span style="background: #ffff00">{{ form.examination_before_parturition_fetal_heart_rate.label_tag }}</span>
                {% else %}
                    {{ form.examination_before_parturition_fetal_heart_rate.label_tag }}
                {% endif %}
            </div>
            <div class="col-md-4">
                {{ form.examination_before_parturition_fetal_heart_rate }}&nbsp;&nbsp;次/分钟
            </div>
        </div>
        <div class="row">
	    	<div class="col-md-3">
		    	<h4 class="page-header" style="color: green"><strong></strong></h4>
	    	</div>
    	</div>
        <div class="row" style="padding-top: 4px">
            <div class="col-md-2" align="right">
                {% if form.blood_pressure.errors %}
                    <span style="background: #ffff00">{{ form.blood_pressure.label_tag }}</span>
                {% else %}
                    {{ form.blood_pressure.label_tag }}
                {% endif %}
            </div>
            <div class="col-md-4">
                {{ form.blood_pressure }}&nbsp;&nbsp;mmHg
            </div>
            <div class="col-md-2" align="right">
                {% if form.hemoglobin.errors %}
                    <span style="background: #ffff00">{{ form.hemoglobin.label_tag }}</span>
                {% else %}
                    {{ form.hemoglobin.label_tag }}
                {% endif %}
            </div>
            <div class="col-md-4">
                {{ form.hemoglobin }}&nbsp;&nbsp;g/L
            </div>
        </div>
        <div class="row" style="padding-top: 4px">
            <div class="col-md-2" align="right">
                {% if form.urine_protein.errors %}
                    <span style="background: #ffff00">{{ form.urine_protein.label_tag }}</span>
                {% else %}
                    {{ form.urine_protein.label_tag }}
                {% endif %}
            </div>
            <div class="col-md-4">
                {{ form.urine_protein }}
            </div>
        </div>
        <div class="row" style="padding-top: 4px">
            <div class="col-md-2" align="right">
                {% if form.extra_auxiliary_examination.errors %}
                    <span style="background: #ffff00">{{ form.extra_auxiliary_examination.label_tag }}</span>
                {% else %}
                    {{ form.extra_auxiliary_examination.label_tag }}
                {% endif %}
            </div>
            <div class="col-md-4">
                {{ form.extra_auxiliary_examination }}
            </div>
        </div>
        <div class="row">
	    	<div class="col-md-3">
		    	<h4 class="page-header" style="color: green"><strong></strong></h4>
	    	</div>
    	</div>
        <div class="row" style="padding-top: 4px">
            <div class="col-md-2" align="right">
                {% if form.classification.errors or form.classification_abnormal.errors%}
                    <span style="background: #ffff00">{{ form.classification.label_tag }}</span>
                {% else %}
                    {{ form.classification.label_tag }}
                {% endif %}
            </div>
            <div class="col-md-9">
                {% for item in form.classification %}
                    {% if forloop.counter > 1 and forloop.counter < 3 %}
                        <div class="col-md-4">{{ item }}</div>
                    {% elif forloop.counter == 3 %}
                        <div class="col-md-6">{{ item }}&nbsp;&nbsp;{{ form.classification_abnormal }}</div>
                    {% endif %}
                {% endfor %}
            </div>
        </div>