{% extends 'pregnant/antenatal_1_base.html' %}

{% block visit_date %}{{ form.visit_date | date:"Y-m-d" }}{% endblock %}
{% block weeks %}{{ form.weeks }}{% endblock %}
{% block age %}{{ form.age }}{% endblock %}
{% block husband_name %}{{ form.husband_name }}{% endblock %}
{% block husband_age %}{{ form.husband_age }}{% endblock %}
{% block husband_phone %}{{ form.husband_phone }}{% endblock %}
{% block pregnant_times %}{{ form.pregnant_times }}{% endblock %}
{% block production_times %}
        阴道分娩&nbsp;{{ form.natural_production }}&nbsp;次&nbsp;&nbsp;
        剖宫产&nbsp;{{ form.surgery_production }}&nbsp;次
{% endblock %}

{% block last_menstruation %}{{ form.last_menstruation | date:"Y-m-d" }}{% endblock %}
{% block not_sure %}{{ form.not_sure }}{% endblock %}
{% block due_date %}{{ form.due_date | date:"Y-m-d" }}{% endblock %}
{% block disease_history %}
    {% for item in form.disease_history.all %}
        {% if forloop.last %}
            {{ item }}
        {% else %}
            {{ item }}/
        {% endif %}
    {% endfor %}
{% endblock %}
{% block disease_history_other %}{{ form.disease_history_other }}{% endblock %}
{% block family_history %}
    {% for item in form.family_history.all %}
        {% if forloop.last %}
            {{ item }}
        {% else %}
            {{ item }}/
        {% endif %}
    {% endfor %}
{% endblock %}
{% block family_history_other %}{{ form.family_history_other }}{% endblock %}
{% block personal_history %}
    {% for item in form.personal_history.all %}
        {% if forloop.last %}
            {{ item }}
        {% else %}
            {{ item }}/
        {% endif %}
    {% endfor %}
{% endblock %}
{% block personal_history_other %}{{ form.personal_history_other }}{% endblock %}
{% block gynaecology_surgery_history %}
    {{ form.gynaecology_surgery_history }}
{% endblock %}
{% block gynaecology_surgery_name %}{{ form.gynaecology_surgery_name }}{% endblock %}

{% block production_history %}
    {% block miscarriage %}流产{{ form.miscarriage }}&nbsp;&nbsp;{% endblock %}
    {% block dead_fetus %}死胎{{ form.dead_fetus }}&nbsp;&nbsp;{% endblock %}
    {% block still_birth %}死产{{ form.still_birth }}&nbsp;&nbsp;{% endblock %}
    {% block newnatal_death %}新生儿死亡{{ form.newnatal_death }}&nbsp;&nbsp;{% endblock %}
    {% block birth_defect %}出生缺陷儿{{ form.birth_defect }}{% endblock %}
{% endblock %}

{% block height %}{{ form.height }}{% endblock %}
{% block weight %}{{ form.weight }}{% endblock %}
{% block bmi %}{{ form.bmi }}{% endblock %}
{% block blood_pressure %}
    {{ form.sbp }}/{{ form.dbp }}&nbsp;mmHg
{% endblock %}
{% block ausculate_heart %}
    {{ form.ausculate_heart }}
{% endblock %}
{% block ausculate_heart_abnormal %}{{ form.ausculate_heart_abnormal }}{% endblock %}

{% block ausculate_lung %}
    {{ form.ausculate_lung }}
{% endblock %}
{% block ausculate_lung_abnormal %}{{ form.ausculate_lung_abnormal }}{% endblock %}

{% block vulva %}
    {% if form.vulva %}
        {{ form.vulva }}
    {% endif %}
{% endblock %}
{% block vulva_abnormal %}{{ form.vulva_abnormal }}{% endblock %}

{% block vagina %}
    {% if form.vagina %}
        {{ form.vagina }}
    {% endif %}
{% endblock %}
{% block vagina_abnormal %}{{ form.vagina_abnormal }}{% endblock %}

{% block cervix %}
    {% if form.cervix %}
        {{ form.cervix }}
    {% endif %}
{% endblock %}
{% block cervix_abnormal %}{{ form.cervix_abnormal }}{% endblock %}

{% block uteri %}
    {% if form.uteri %}
        {{ form.uteri }}
    {% endif %}
{% endblock %}
{% block uteri_abnormal %}{{ form.uteri_abnormal }}{% endblock %}

{% block accessory %}
    {% if form.accessory %}
        {{ form.accessory }}
    {% endif %}
{% endblock %}
{% block accessory_abnormal %}{{ form.accessory_abnormal }}{% endblock %}

{% block blood_routine_test %}
    {% block hemoglobin %}
        白细胞计数值{% if form.hemoglobin %}{{ form.hemoglobin }}/L{% endif %}&nbsp;&nbsp;
    {% endblock %}
    {% block leukocyte %}
        血红蛋白值{% if form.leukocyte %}{{ form.leukocyte }}g/L{% endif %}&nbsp;&nbsp;
    {% endblock %}
    {% block thrombocyte %}
        血小板计数值{% if form.thrombocyte %}{{ form.thrombocyte }}/L{% endif %}&nbsp;&nbsp;
    {% endblock %}
    {% block blood_extra %}
        其他{{ form.blood_extra }}
    {% endblock %}
{% endblock %}

{% block urine_routine_test %}
    {% block urine_protein %}
        尿蛋白{{ form.urine_protein }}&nbsp;
    {% endblock %}
    {% block urine_glucose %}
        尿糖{{ form.urine_glucose }}&nbsp;
    {% endblock %}
    {% block urine_ket %}
        尿酮体{{ form.urine_ket }}&nbsp;
    {% endblock %}
    {% block urine_ery %}
        尿潜血{{ form.urine_ery }}&nbsp;
    {% endblock %}
    {% block urine_extra %}
        其他{{ form.urine_extra }}
    {% endblock %}
{% endblock %}

{% block blood_type_abo %}
    {% if form.blood_type_abo %}
        {{ form.blood_type_abo }}
    {% endif %}
{% endblock %}
{% block blood_type_abo_other %}{{ form.blood_type_abo_other }}{% endblock %}
{% block blood_type_rh %}
    {% if form.blood_type_rh %}
        {{ form.blood_type_rh }}
    {% endif %}
{% endblock %}

{% block blood_glucose %}{% if form.blood_glucose %}{{ form.blood_glucose }}mmol/L{% endif %}{% endblock %}

{% block sgpt %}
    血清谷丙转氨酶
    {% if form.sgpt %}
        {{ form.sgpt }}U/L&nbsp;&nbsp;
    {% endif %}
{% endblock %}
{% block sgot %}
    血清谷草转氨酶
    {% if form.sgot %}
        {{ form.sgot }}U/L<br />
    {% endif %}
{% endblock %}
{% block albumin %}
    白蛋白
    {% if form.albumin %}
        {{ form.albumin }}g/L&nbsp;&nbsp;
    {% endif %}
{% endblock %}
{% block tbil %}
    总胆红素
    {% if form.tbil %}
        {{ form.tbil }}&#956mol/L&nbsp;&nbsp;
    {% endif %}
{% endblock %}

{% block dbil %}
    结合胆红素
    {% if form.dbil %}
        {{ form.dbil }}&#956mol/L
    {% endif %}
{% endblock %}

{% block scr %}
    血清肌酐
    {% if form.scr %}
        {{ form.scr }}&#956mol/L&nbsp;&nbsp;
    {% endif %}
{% endblock %}
{% block bun %}
    血尿素氮
    {% if form.bun %}
        {{ form.bun }}mmol/L
    {% endif %}
{% endblock %}

{% block vaginal_secretion %}
    {% if form.vaginal_secretion %}
        {{ form.vaginal_secretion }}
    {% endif %}
{% endblock %}
{% block vaginal_secretion_other %}{{ form.vaginal_secretion_other }}{% endblock %}
{% block vaginal_clean_degree %}
    {% if form.vaginal_clean_degree %}
        {{ form.vaginal_clean_degree }}
    {% endif %}
{% endblock %}

{% block hepatitis_b_five_item %}
    {% block surface_antigen %}
        乙型肝炎表面抗原&nbsp;&nbsp;
        {% if form.surface_antigen %}{{ form.surface_antigen }}{% endif %}<br />
    {% endblock %}

    {% block surface_antibody %}
        乙型肝炎表面抗体&nbsp;&nbsp;
        {% if form.surface_antibody %}{{ form.surface_antibody }}{% endif %}<br />
    {% endblock %}

    {% block e_antigen %}
        乙型肝炎e抗原&nbsp;&nbsp;
        {% if form.e_antigen %}{{ form.e_antigen }}{% endif %}<br />
    {% endblock %}

    {% block e_antibody %}
        乙型肝炎e抗体&nbsp;&nbsp;
        {% if form.e_antibody %}{{ form.e_antibody }}{% endif %}<br />
    {% endblock %}

    {% block core_antibody %}
        乙型肝炎核心抗体&nbsp;&nbsp;
        {% if form.core_antibody %}{{ form.core_antibody }}{% endif %}<br />
    {% endblock %}
{% endblock %}

{% block vdrl %}
    {% if form.vdrl %}
        {{ form.vdrl }}
    {% endif %}
{% endblock %}

{% block hiv_antibody %}
    {% if form.hiv_antibody %}
        {{ form.hiv_antibody }}
    {% endif %}
{% endblock %}

{% block b_scan %}{{ form.b_scan }}{% endblock %}

{% block total_evaluation %}
    {% if form.total_evaluation %}
        {{ form.total_evaluation }}
    {% endif %}
{% endblock %}

{% block total_evaluation_abnormal %}{{ form.total_evaluation_abnormal }}{% endblock %}

{% block guide %}
    {% for item in form.guide.all %}
        {% if forloop.last %}
            {{ item }}
        {% else %}
            {{ item }}/
        {% endif %}
    {% endfor %}
{% endblock %}

{% block guide_other %}{{ form.guide_other }}{% endblock %}

{% block transfer %}
    {% if form.transfer %}
        {{ form.transfer }}
    {% endif %}
{% endblock %}

{% block transfer_reason %}
    {% ifequal form.transfer '有' %}
        原因：{{ form.transfer_reason }}&nbsp;&nbsp;&nbsp;&nbsp;
    {% endifequal %}
{% endblock %}
{% block transfer_hospital %}
    {% ifequal form.transfer '有' %}
        机构及科室：{{ form.transfer_hospital }}
    {% endifequal %}
{% endblock %}

{% block next_visit_date %}{{ form.next_visit_date | date:"Y-m-d" }}{% endblock %}
{% block doctor_signature %}{{ form.doctor_signature }}{% endblock %}