{% extends 'pregnant/antenatal_2_5_base.html' %}

{% block visit_date_3%}
    {{ form.visit_date | date:"Y-m-d" }}
{% endblock %}

{% block gestational_weeks_3%}
    {{ form.gestational_weeks }}
{% endblock %}

{% block complaint_3 %}
    {{ form.complaint }}
{% endblock %}

{% block weight_3 %}
    {{ form.weight }}
{% endblock %}

{% block examination_before_parturition_uteri_bottom_height_3 %}
    {{ form.examination_before_parturition_uteri_bottom_height }}
{% endblock %}

{% block examination_before_parturition_abdomen_circumference_3 %}
    {{ form.examination_before_parturition_abdomen_circumference }}
{% endblock %}

{% block examination_before_parturition_fetus_position_3 %}
    {{ form.examination_before_parturition_fetus_position }}
{% endblock %}

{% block examination_before_parturition_fetal_heart_rate_3 %}
    {{ form.examination_before_parturition_fetal_heart_rate }}
{% endblock %}

{% block sbp_3 %}
    {{ form.sbp }}
{%endblock %}

{% block dbp_3 %}
    {{ form.dbp }}
{% endblock %}

{% block hemoglobin_3 %}
    {{ form.hemoglobin }}
{% endblock %}

{% block urine_protein_3 %}
    {{ form.urine_protein }}
{% endblock %}

{% block extra_auxiliary_examination_3 %}
    {{ form.extra_auxiliary_examination }}
{% endblock %}

{% block classification_3 %}
    {{ form.classification }}
{% endblock %}

{% block classification_abnormal_3 %}
    {{ form.classification_abnormal }}
{% endblock %}

{% block guide_3 %}
    {% for item in form.guide.all %}
        {{ item }}
    {% endfor %}
{% endblock %}

{% block guide_extra_3 %}
    {{ form.guide_extra }}
{% endblock %}

{% block transfer_treatment_3 %}
    {{ form.transfer_treatment }}
{% endblock %}

{% block transfer_treatment_reason_3 %}
    {% ifequal form.transfer_treatment '有' %}
        <br />原因：{{ form.transfer_treatment_reason }}
    {% endifequal %}
{% endblock %}

{% block transfer_treatment_institution_3 %}
    {% ifequal form.transfer_treatment '有' %}
        <br />机构及科室：{{ form.transfer_treatment_institution }}
    {% endifequal %}
{% endblock %}

{% block next_visit_date_3 %}
    {{ form.next_visit_date | date:"Y-m-d" }}
{% endblock %}

{% block doctor_signature_3 %}
    {{ form.doctor_signature }}
{% endblock %}
