{% extends 'pregnant/antenatal_2_5_base.html' %}

{% block visit_date_5%}
    {{ form.visit_date | date:"Y-m-d" }}
{% endblock %}

{% block gestational_weeks_5%}
    {{ form.gestational_weeks }}
{% endblock %}

{% block complaint_5 %}
    {{ form.complaint }}
{% endblock %}

{% block weight_5 %}
    {{ form.weight }}
{% endblock %}

{% block examination_before_parturition_uteri_bottom_height_5 %}
    {{ form.examination_before_parturition_uteri_bottom_height }}
{% endblock %}

{% block examination_before_parturition_abdomen_circumference_5 %}
    {{ form.examination_before_parturition_abdomen_circumference }}
{% endblock %}

{% block examination_before_parturition_fetus_position_5 %}
    {{ form.examination_before_parturition_fetus_position }}
{% endblock %}

{% block examination_before_parturition_fetal_heart_rate_5 %}
    {{ form.examination_before_parturition_fetal_heart_rate }}
{% endblock %}

{% block sbp_5 %}
    {{ form.sbp }}
{%endblock %}

{% block dbp_5 %}
    {{ form.dbp }}
{% endblock %}

{% block hemoglobin_5 %}
    {{ form.hemoglobin }}
{% endblock %}

{% block urine_protein_5 %}
    {{ form.urine_protein }}
{% endblock %}

{% block extra_auxiliary_examination_5 %}
    {{ form.extra_auxiliary_examination }}
{% endblock %}

{% block classification_5 %}
    {{ form.classification }}
{% endblock %}

{% block classification_abnormal_5 %}
    {{ form.classification_abnormal }}
{% endblock %}

{% block guide_5 %}
    {% for item in form.guide.all %}
        {{ item }}
    {% endfor %}
{% endblock %}

{% block guide_extra_5 %}
    {{ form.guide_extra }}
{% endblock %}

{% block transfer_treatment_5 %}
    {{ form.transfer_treatment }}
{% endblock %}

{% block transfer_treatment_reason_5 %}
    {% ifequal form.transfer_treatment '有' %}
        <br />原因：{{ form.transfer_treatment_reason }}
    {% endifequal %}
{% endblock %}

{% block transfer_treatment_institution_5 %}
    {% ifequal form.transfer_treatment '有' %}
        <br />机构及科室：{{ form.transfer_treatment_institution }}
    {% endifequal %}
{% endblock %}

{% block next_visit_date_5 %}
    {{ form.next_visit_date | date:"Y-m-d" }}
{% endblock %}

{% block doctor_signature_5 %}
    {{ form.doctor_signature }}
{% endblock %}
