{% extends 'services/index.html' %}
{% load staticfiles %}

{% block service_header %}
    <h3 class="page-header" align="center">{{ service_type.name }}: {{ service_item.name }}</h3>
{% endblock %}

{% block service_item_content %}
    <form action="{% url 'pregnant:aftercare_2' %}" method="POST">

    {% csrf_token %}
        {{ form.non_filed_errors }}
        {% include 'pregnant/a2_a5_1.html' %}
        <div class="row" style="padding-top: 4px">
            <div class="col-md-2" align="right">
                {{ form.guide.label_tag }}
            </div>
            <div class="col-md-9">
                {% for item in form.guide %}
                    {% if forloop.counter > 0 and forloop.counter < 5 %}
                        <div class="col-md-3">{{ item }}</div>
                    {% elif forloop.counter == 5 %}
                        <div class="col-md-5">{{ item }}&nbsp;&nbsp;{{ form.guide_extra }}</div>
                    {% endif %}
                {% endfor %}
                {{ form.guide.errors }}&nbsp;&nbsp;{{ form.guide_extra.errors }}
            </div>
        </div>
        {% include 'pregnant/a2_a5_2.html' %}
    </form>
{% endblock %}
