{% extends 'pregnant/antenatal_2_5_base.html' %}

{% block table_neck_extra %}
    {% for item in form.errors %}
        {{ item }}
    {% endfor %}
{% endblock %}

{% block visit_date_2%}
    {{ form.visit_date }}
{% endblock %}

{% block gestational_weeks_2%}
    {{ form.gestational_weeks }}
{% endblock %}

{% block complaint_2 %}
    {{ form.complaint }}
{% endblock %}

{% block weight_2 %}
    {{ form.weight }}
{% endblock %}

{% block examination_before_parturition_uteri_bottom_height_2 %}
    {{ form.examination_before_parturition_uteri_bottom_height }}
{% endblock %}

{% block examination_before_parturition_abdomen_circumference_2 %}
    {{ form.examination_before_parturition_abdomen_circumference }}
{% endblock %}

{% block examination_before_parturition_fetus_position_2 %}
    {{ form.examination_before_parturition_fetus_position }}
{% endblock %}

{% block examination_before_parturition_fetal_heart_rate_2 %}
    {{ form.examination_before_parturition_fetal_heart_rate }}
{% endblock %}

{% block sbp_2 %}
    {{ form.sbp }}
{%endblock %}

{% block dbp_2 %}
    {{ form.dbp }}
{% endblock %}

{% block hemoglobin_2 %}
    {{ form.hemoglobin }}
{% endblock %}

{% block urine_protein_2 %}
    {{ form.urine_protein }}
{% endblock %}

{% block extra_auxiliary_examination_2 %}
    {{ form.extra_auxiliary_examination }}
{% endblock %}

{% block classification_2 %}
    {% for item in form.classification %}
        {% if forloop.first %}
        {% elif forloop.last %}
            {{ item }}
        {% else %}
            {{ item }}<br />
        {% endif %}
    {% endfor %}
{% endblock %}

{% block classification_abnormal_2 %}
    {{ form.classification_abnormal }}
{% endblock %}

{% block guide_2 %}
    {% for item in form.guide %}
        {% if forloop.counter == 5 or forloop.counter == 6 or forloop.counter == 7 %}
        {% else %}
            {% if forloop.last %}{{ item }}{% else %}{{ item }}<br />{% endif %}
        {% endif %}
    {% endfor %}
{% endblock %}

{% block guide_extra_2 %}
    {{ form.guide_extra }}
{% endblock %}

{% block transfer_treatment_2 %}
    {% for item in form.transfer_treatment %}
        {% if forloop.first %}
        {% else %}
            {{ item }}&nbsp;&nbsp;
        {% endif %}
    {% endfor %}
{% endblock %}

{% block transfer_treatment_reason_2 %}
    原因：{{ form.transfer_treatment_reason }}
{% endblock %}

{% block transfer_treatment_institution_2 %}
    <br />机构及科室：{{ form.transfer_treatment_institution }}
{% endblock %}

{% block next_visit_date_2 %}
    {{ form.next_visit_date }}
{% endblock %}

{% block doctor_signature_2 %}
    {{ form.doctor_signature }}
{% endblock %}
