{% extends 'services/index.html' %}
{% load staticfiles %}

{% block service_header %}
    <h3 class="page-header" align="center">{{ service_type.name }}: {{ service_item.name }}</h3>
{% endblock %}

{% block service_item_content %}
    <form action="{% url 'pregnant:blood_type' %}" method="POST">

    {% csrf_token %}
    {{ form.non_filed_errors }}
    	 <div class="row" style="padding-top: 4px">
            <div class="col-md-2" align="right">
                {% if form.abo.errors%}
                    <span style="background: #ffff00">{{ form.abo.label_tag }}</span>
                {% else %}
                    {{ form.abo.label_tag }}
                {% endif %}
            </div>
            <div class="col-md-6">
                {{ form.abo }}&nbsp;&nbsp;*请填入血型大写字母
            </div>
         </div>
        <div class="row" style="padding-top: 15px">
            <div class="col-md-2" align="right">
                {% if form.rh.errors%}
                    <span style="background: #ffff00">{{ form.rh.label_tag }}</span>
                {% else %}
                    {{ form.rh.label_tag }}
                {% endif %}
            </div>
            <div class="col-md-4">
                {{ form.rh }}
            </div>
         </div>
        {% include 'pregnant/submit.html' %}
    </form>
{% endblock %}