{% extends 'services/index.html' %}
{% load staticfiles %}

{% block service_header %}
    <h3 class="page-header" align="center">{{ service_type.name }}: {{ service_item.name }}</h3>
{% endblock %}

{% block service_item_content %}
    <form action="{% url 'pregnant:gynaecological_examination' %}" method="POST">

    {% csrf_token %}
    {{ form.non_filed_errors }}
    	 <div class="row" style="padding-top: 15px">
            <div class="col-md-2" align="right">
                {% if form.vulva.errors or form.vulva_abnormal.errors%}
                    <span style="background: #ffff00">{{ form.vulva.label_tag }}</span>
                {% else %}
                    {{ form.vulva.label_tag }}
                {% endif %}
            </div>
            <div class="col-md-8">
                {% for item in form.vulva %}
                    {% if forloop.counter > 1 and forloop.counter < 3 %}
                        <div class="col-md-4">{{ item }}</div>
                    {% elif forloop.counter == 3 %}
                        <div class="col-md-6">{{ item }}&nbsp;&nbsp;{{ form.vulva_abnormal }}</div>
                    {% endif %}
                {% endfor %}
            </div>
         </div>
        <div class="row" style="padding-top: 15px">
            <div class="col-md-2" align="right">
                {% if form.vagina.errors or form.vagina_abnormal.errors%}
                    <span style="background: #ffff00">{{ form.vagina.label_tag }}</span>
                {% else %}
                    {{ form.vagina.label_tag }}
                {% endif %}
            </div>
            <div class="col-md-8">
                {% for item in form.vagina %}
                    {% if forloop.counter > 1 and forloop.counter < 3 %}
                        <div class="col-md-4">{{ item }}</div>
                    {% elif forloop.counter == 3 %}
                        <div class="col-md-6">{{ item }}&nbsp;&nbsp;{{ form.vagina_abnormal }}</div>
                    {% endif %}
                {% endfor %}
            </div>
         </div>
        <div class="row" style="padding-top: 15px">
            <div class="col-md-2" align="right">
                {% if form.cervix.errors or form.cervix_abnormal.errors%}
                    <span style="background: #ffff00">{{ form.cervix.label_tag }}</span>
                {% else %}
                    {{ form.cervix.label_tag }}
                {% endif %}
            </div>
            <div class="col-md-8">
                {% for item in form.cervix %}
                    {% if forloop.counter > 1 and forloop.counter < 3 %}
                        <div class="col-md-4">{{ item }}</div>
                    {% elif forloop.counter == 3 %}
                        <div class="col-md-6">{{ item }}&nbsp;&nbsp;{{ form.cervix_abnormal }}</div>
                    {% endif %}
                {% endfor %}
            </div>
         </div>
        <div class="row" style="padding-top: 15px">
            <div class="col-md-2" align="right">
                {% if form.uteri.errors or form.uteri_abnormal.errors%}
                    <span style="background: #ffff00">{{ form.uteri.label_tag }}</span>
                {% else %}
                    {{ form.uteri.label_tag }}
                {% endif %}
            </div>
            <div class="col-md-8">
                {% for item in form.uteri %}
                    {% if forloop.counter > 1 and forloop.counter < 3 %}
                        <div class="col-md-4">{{ item }}</div>
                    {% elif forloop.counter == 3 %}
                        <div class="col-md-6">{{ item }}&nbsp;&nbsp;{{ form.uteri_abnormal }}</div>
                    {% endif %}
                {% endfor %}
            </div>
         </div>
        <div class="row" style="padding-top: 15px">
            <div class="col-md-2" align="right">
                {% if form.accessory.errors or form.accessory_abnormal.errors%}
                    <span style="background: #ffff00">{{ form.accessory.label_tag }}</span>
                {% else %}
                    {{ form.accessory.label_tag }}
                {% endif %}
            </div>
            <div class="col-md-8">
                {% for item in form.accessory %}
                    {% if forloop.counter > 1 and forloop.counter < 3 %}
                        <div class="col-md-4">{{ item }}</div>
                    {% elif forloop.counter == 3 %}
                        <div class="col-md-6">{{ item }}&nbsp;&nbsp;{{ form.accessory_abnormal }}</div>
                    {% endif %}
                {% endfor %}
            </div>
         </div>
        {% include 'pregnant/submit.html' %}
    </form>
{% endblock %}