{% extends 'services/index.html' %}
{% load staticfiles %}

{% block service_header %}
    <h3 class="page-header" align="center">{{ service_type.name }}: {{ service_item.name }}</h3>
{% endblock %}

{% block service_item_content %}
    <form action="{% url 'pregnant:hepatitis_b_five_item' %}" method="POST">

    {% csrf_token %}
    {{ form.non_filed_errors }}
    	 <div class="row" style="padding-top: 15px">
            <div class="col-md-3" align="right">
                {% if form.surface_antigen.errors%}
                    <span style="background: #ffff00">{{ form.surface_antigen.label_tag }}</span>
                {% else %}
                    {{ form.surface_antigen.label_tag }}
                {% endif %}
            </div>
            <div class="col-md-8">
                {% for item in form.surface_antigen %}
                    {% if forloop.counter > 1 and forloop.counter < 4 %}
                        <div class="col-md-4">{{ item }}</div>
                    {% endif %}
                {% endfor %}
            </div>
         </div>
        <div class="row" style="padding-top: 15px">
            <div class="col-md-3" align="right">
                {% if form.surface_antibody.errors%}
                    <span style="background: #ffff00">{{ form.surface_antibody.label_tag }}</span>
                {% else %}
                    {{ form.surface_antibody.label_tag }}
                {% endif %}
            </div>
            <div class="col-md-8">
                {% for item in form.surface_antibody %}
                    {% if forloop.counter > 1 and forloop.counter < 4 %}
                        <div class="col-md-4">{{ item }}</div>
                    {% endif %}
                {% endfor %}
            </div>
         </div>
        <div class="row" style="padding-top: 15px">
            <div class="col-md-3" align="right">
                {% if form.e_antigen.errors%}
                    <span style="background: #ffff00">{{ form.e_antigen.label_tag }}</span>
                {% else %}
                    {{ form.e_antigen.label_tag }}
                {% endif %}
            </div>
            <div class="col-md-8">
                {% for item in form.e_antigen %}
                    {% if forloop.counter > 1 and forloop.counter < 4 %}
                        <div class="col-md-4">{{ item }}</div>
                    {% endif %}
                {% endfor %}
            </div>
         </div>
        <div class="row" style="padding-top: 15px">
            <div class="col-md-3" align="right">
                {% if form.e_antibody.errors%}
                    <span style="background: #ffff00">{{ form.e_antibody.label_tag }}</span>
                {% else %}
                    {{ form.e_antibody.label_tag }}
                {% endif %}
            </div>
            <div class="col-md-8">
                {% for item in form.e_antibody %}
                    {% if forloop.counter > 1 and forloop.counter < 4 %}
                        <div class="col-md-4">{{ item }}</div>
                    {% endif %}
                {% endfor %}
            </div>
         </div>
        <div class="row" style="padding-top: 15px">
            <div class="col-md-3" align="right">
                {% if form.core_antibody.errors%}
                    <span style="background: #ffff00">{{ form.core_antibody.label_tag }}</span>
                {% else %}
                    {{ form.core_antibody.label_tag }}
                {% endif %}
            </div>
            <div class="col-md-8">
                {% for item in form.core_antibody %}
                    {% if forloop.counter > 1 and forloop.counter < 4 %}
                        <div class="col-md-4">{{ item }}</div>
                    {% endif %}
                {% endfor %}
            </div>
         </div>
        {% include 'pregnant/submit.html' %}
    </form>
{% endblock %}