{% extends 'services/index.html' %}
{% load staticfiles %}

{% block service_header %}
    <h3 class="page-header" align="center">{{ service_type.name }}: {{ service_item.name }}</h3>
{% endblock %}

{% block service_item_content %}
    <form action="{% url 'pregnant:postpartum_visit' %}" method="POST">

    {% csrf_token %}
        {{ form.non_filed_errors }}
        <div class="row" style="padding-top: 4px">
	        <div class="col-md-2" align="right">
	        	{% if form.visit_date.errors %}
                    <span style="background: #ffff00">{{ form.visit_date.label_tag }}</span>
                {% else %}
                    {{ form.visit_date.label_tag }}
                {% endif %}
	        </div>
	        <div class="col-md-4">
	        	<!--{{ form.visit_date }}&nbsp;&nbsp;{{ form.visit_date.errors}}-->
                {{ visit_date }}
                <input type="text" style="display:none;" value="{{ visit_date }}" name="visit_date"/>
	        </div>
        </div>
        <div class="row" style="padding-top: 10px">
            <div class="col-md-2" align="right">
                {% if form.body_temperature.errors %}
                    <span style="background: #ffff00">{{ form.body_temperature.label_tag }}</span>
                {% else %}
                    {{ form.body_temperature.label_tag }}
                {% endif %}
            </div>
            <div class="col-md-4">
                {{ form.body_temperature }}&nbsp;&nbsp;℃
            </div>
        </div>
        {% include 'pregnant/pv_p42.html' %}
        <div class="row">
	    	<div class="col-md-3">
		    	<h4 class="page-header" style="color: green"><strong></strong></h4>
	    	</div>
    	</div>
        <div class="row" style="padding-top: 4px">
            <div class="col-md-2" align="right">
                {% if form.classification.errors or form.classification_abnormal.errors %}
                    <span style="background: #ffff00">{{ form.classification.label_tag }}</span>
                {% else %}
                    {{ form.classification.label_tag }}
                {% endif %}
            </div>
            <div class="col-md-9">
                {% for item in form.classification %}
                    {% if forloop.counter > 1 and forloop.counter < 3 %}
                        <div class="col-md-4">{{ item }}</div>
                    {% elif forloop.counter == 3 %}
                        <div class="col-md-6">{{ item }}&nbsp;&nbsp;{{ form.classification_abnormal }}</div>
                    {% endif %}
                {% endfor %}
            </div>
        </div>
        <div class="row" style="padding-top: 4px">
            <div class="col-md-2" align="right">
                {% if form.guide.errors or form.guide_extra.errors %}
                    <span style="background: #ffff00">{{ form.guide.label_tag }}</span>
                {% else %}
                    {{ form.guide.label_tag }}
                {% endif %}
            </div>
            <div class="col-md-9">
                {% for item in form.guide %}
                    {% if forloop.counter > 0 and forloop.counter < 5 %}
                        <div class="col-md-3">{{ item }}</div>
                    {% elif forloop.counter == 5 %}
                        <div class="col-md-5">{{ item }}</div>
                    {% elif forloop.counter == 6 %}
                        <div class="col-md-5">{{ item }}&nbsp;&nbsp;{{ form.guide_extra }}</div>
                    {% endif %}
                {% endfor %}
            </div>
        </div>
        <div class="row">
	    	<div class="col-md-3">
		    	<h4 class="page-header" style="color: green"><strong>转诊</strong></h4>
	    	</div>
    	</div>
        <div class="row" style="padding-top: 4px">
	        <div class="col-md-2" align="right">
	        	{% if form.transfer_treatment.errors %}
                    <span style="background: #ffff00">{{ form.transfer_treatment.label_tag }}</span>
                {% else %}
                    {{ form.transfer_treatment.label_tag }}
                {% endif %}
	        </div>
	        <div class="col-md-6">
                {% for item in form.transfer_treatment %}
                    {% if forloop.counter > 1 and forloop.counter < 3  %}
                        <div class="col-md-2">{{ item }}</div>
                    {% elif forloop.counter == 3 %}
                        <div class="col-md-2">{{ item }}&nbsp;&nbsp;</div>
                        <div class="col-md-2" align="right">
                                {% if form.transfer_treatment_reason.errors %}
                                    <span style="background: #ffff00">{{ form.transfer_treatment_reason.label_tag }}</span>
                                {% else %}
                                    {{ form.transfer_treatment_reason.label_tag }}
                                {% endif %}
                            </div>
                            <div class="col-md-4">
                                {{ form.transfer_treatment_reason }}
                            </div>
                    {% endif %}
                 {% endfor %}
            </div>
        </div>
        <div class="row" style="padding-top: 4px">
	        <div class="col-md-2" align="right">

	        </div>
	        <div class="col-md-1">

            </div>
            <div class="col-md-2" align="right">
                {% if form.transfer_treatment_institution.errors %}
                    <span style="background: #ffff00">{{ form.transfer_treatment_institution.label_tag }}</span>
                {% else %}
                    {{ form.transfer_treatment_institution.label_tag }}
                {% endif %}
            </div>
            <div class="col-md-4">
                {{ form.transfer_treatment_institution }}
            </div>
        </div>
        <!--<div class="row" style="padding-top: 4px">
            <div class="col-md-2" align="right">
                {{ form.next_visit_date.label_tag }}
            </div>
            <div class="col-md-4">
                {{ form.next_visit_date }}&nbsp;&nbsp;{{ form.next_visit_date.errors}}
            </div>
        </div>-->
        {% include 'pregnant/next_visit_date.html' %}
        {% include 'pregnant/submit.html' %}
    </form>
{% endblock %}
