{% extends 'table_base.html' %}

{% block table_title %}产后访视记录表{% endblock %}

{% block table_content %}
<tr>
    <td colspan="1" width="15%" align="center"><b>随访日期</b></td>
    <td colspan="3" style="padding-top: 2px; padding-left: 5px">
        {% block visit_date %}{% endblock %}</td>
</tr>
<tr>
    <td colspan="1" align="center"><b>体温</b></td>
    <td colspan="3" style="padding-top: 2px; padding-left: 5px">
        {% block body_temperature %}{% endblock %}℃</td>
</tr>
<tr>
    <td colspan="1" align="center"><b>一般健康情况</b></td>
    <td colspan="3" style="padding: 2px">
        {% block general_health_situation %}{% endblock %}</td>
</tr>
<tr>
    <td colspan="1" align="center"><b>一般心理状况</b></td>
    <td colspan="3" style="padding: 2px">
        {% block general_mentality_situation %}{% endblock %}</td>
</tr>
<tr>
    <td colspan="1" align="center"><b>血压</b></td>
    <td colspan="3" style="padding-top: 2px; padding-left: 5px">
        {% block sbp %}{% endblock %}/{% block dbp %}{% endblock %}mmHg</td>
</tr>
<tr>
    <td colspan="1" align="center"><b>乳房</b></td>
    <td colspan="3" style="padding-top: 2px; padding-left: 5px">
        {% block breast %}{% endblock %}{% block breast_abnormal %}{% endblock %}</td>
</tr>
<tr>
    <td colspan="1" align="center"><b>恶露</b></td>
    <td colspan="3" style="padding-top: 2px; padding-left: 5px">
        {% block lochia %}{% endblock %}
        {% block lochia_abnormal%}{% endblock %}</td>
</tr>
<tr>
    <td colspan="1" align="center"><b>子宫</b></td>
    <td colspan="3" style="padding-top: 2px; padding-left: 5px">
        {% block uterus %}{% endblock %}
        {% block uterus_abnormal %}{% endblock %}
    </td>
</tr>
<tr>
    <td colspan="1" align="center"><b>伤口</b></td>
    <td colspan="3" style="padding-top: 2px; padding-left: 5px">
        {% block wound %}{% endblock %}
        {% block wound_abnormal %}{% endblock %}
    </td>
</tr>
<tr>
    <td colspan="1" align="center"><b>其他</b></td>
    <td colspan="3" style="padding: 2px">
        {% block extra %}{% endblock %}</td>
</tr>
<tr>
    <td colspan="1" align="center"><b>分类</b></td>
    <td colspan="3" style="padding-top: 2px; padding-left: 5px">
        {% block classification %}{% endblock %}
        {% block classification_abnormal %}{% endblock %}
    </td>
</tr>
<tr>
    <td colspan="1" align="center"><b>指导</b></td>
    <td colspan="3" style="padding-top: 2px; padding-left: 5px">
        {% block guide %}{% endblock %}
        {% block guide_abnormal %}{% endblock %}
    </td>
</tr>
<tr>
    <td colspan="1" align="center"><b>转诊</b></td>
    <td colspan="3" style="padding-top: 2px; padding-left: 5px">
        {% block transfer_treatment %}{% endblock %}
        {% block transfer_treatment_reason %}{% endblock %}
        {% block transfer_treatment_institution %}{% endblock %}</td>
</tr>
<tr>
    <td colspan="1" align="center"><b>下次随访日期</b></td>
    <td colspan="3" style="padding-top: 2px; padding-left: 5px">
        {% block next_visit_date %}{% endblock %}
    </td>
</tr>
<tr>
    <td colspan="1" align="center"><b>随访医生签名</b></td>
    <td colspan="3" style="padding-top: 2px; padding-left: 5px">
        {% block doctor_signature %}{% endblock %}
    </td>
</tr>
{% endblock %}
