{% load staticfiles %}

<div id="postpartum_42day">
    <div id="toolbar" class="datagrid-toolbar">
        <a href="#" id="save">提交记录表</a>
        <a href="#" id="edit">提交修改申请</a>
        <a href="#" id="print">打印记录表</a>
    </div>
    <form id="form" method="POST">
        <div id="table" align="center" style="margin-bottom: 30px;">
                <!--{% include 'pregnant/postpartum42_form_content.html' %}-->
        </div>
    </form>
</div>


<script src='{% static "js/pregnant_postpartum_42day.js" %}'></script>