{% load staticfiles %}

<div id="pregnant_aftercare_1">
    <div id="toolbar" class="datagrid-toolbar">
        <a href="#" id="save">提交记录表</a>
        <a href="#" id="edit">提交修改申请</a>
        <a href="#" id="print">打印记录表</a>
    </div>
    <form id="form" method="POST">
        <div id="table" align="center" style="margin-bottom: 30px;">
            {% include 'pregnant/antenatal_1_form_content.html' %}
        </div>
    </form>
</div>

<script src='{% static "js/pregnant_aftercare_1.js" %}'></script>