        <div class="row" style="padding-top: 4px">
	        <div class="col-md-2" align="right">
	        	{% if form.general_health_situation.errors %}
                    <span style="background: #ffff00">{{ form.general_health_situation.label_tag }}</span>
                {% else %}
                    {{ form.general_health_situation.label_tag }}
                {% endif %}
	        </div>
	        <div class="col-md-4">
                {{ form.general_health_situation }}
	        </div>
        </div>
        <div class="row" style="padding-top: 4px">
	        <div class="col-md-2" align="right">
	        	{% if form.general_mentality_situation.errors %}
                    <span style="background: #ffff00">{{ form.general_mentality_situation.label_tag }}</span>
                {% else %}
                    {{ form.general_mentality_situation.label_tag }}
                {% endif %}
	        </div>
	        <div class="col-md-4">
                {{ form.general_mentality_situation }}
	        </div>
        </div>
        <div class="row" style="padding-top: 4px">
            <div class="col-md-2" align="right">
                {% if form.blood_pressure.errors %}
                    <span style="background: #ffff00">{{ form.blood_pressure.label_tag }}</span>
                {% else %}
                    {{ form.blood_pressure.label_tag }}
                {% endif %}
            </div>
            <div class="col-md-4">
                {{ form.blood_pressure }}&nbsp;&nbsp;mmHg
            </div>
        </div>
        <div class="row">
	    	<div class="col-md-3">
		    	<h4 class="page-header" style="color: green"><strong></strong></h4>
	    	</div>
    	</div>
        <div class="row" style="padding-top: 4px">
            <div class="col-md-2" align="right">
                {% if form.breast.errors or form.breast_abnormal.errors%}
                    <span style="background: #ffff00">{{ form.breast.label_tag }}</span>
                {% else %}
                    {{ form.breast.label_tag }}
                {% endif %}
            </div>
            <div class="col-md-9">
                {% for item in form.breast %}
                    {% if forloop.counter > 1 and forloop.counter < 3 %}
                        <div class="col-md-4">{{ item }}</div>
                    {% elif forloop.counter == 3 %}
                        <div class="col-md-6">{{ item }}&nbsp;&nbsp;{{ form.breast_abnormal }}</div>
                    {% endif %}
                {% endfor %}
            </div>
        </div>
        <div class="row" style="padding-top: 4px">
            <div class="col-md-2" align="right">
                {% if form.lochia.errors or form.lochia_abnormal.errors%}
                    <span style="background: #ffff00">{{ form.lochia.label_tag }}</span>
                {% else %}
                    {{ form.lochia.label_tag }}
                {% endif %}
            </div>
            <div class="col-md-9">
                {% for item in form.lochia %}
                    {% if forloop.counter > 1 and forloop.counter < 3 %}
                        <div class="col-md-4">{{ item }}</div>
                    {% elif forloop.counter == 3 %}
                        <div class="col-md-6">{{ item }}&nbsp;&nbsp;{{ form.lochia_abnormal }}</div>
                    {% endif %}
                {% endfor %}
            </div>
        </div>
        <div class="row" style="padding-top: 4px">
            <div class="col-md-2" align="right">
                {% if form.uterus.errors or form.uterus_abnormal.errors%}
                    <span style="background: #ffff00">{{ form.uterus.label_tag }}</span>
                {% else %}
                    {{ form.uterus.label_tag }}
                {% endif %}
            </div>
            <div class="col-md-9">
                {% for item in form.uterus %}
                    {% if forloop.counter > 1 and forloop.counter < 3 %}
                        <div class="col-md-4">{{ item }}</div>
                    {% elif forloop.counter == 3 %}
                        <div class="col-md-6">{{ item }}&nbsp;&nbsp;{{ form.uterus_abnormal }}</div>
                    {% endif %}
                {% endfor %}
            </div>
        </div>
        <div class="row" style="padding-top: 4px">
            <div class="col-md-2" align="right">
                {% if form.wound.errors or form.wound_abnormal.errors%}
                    <span style="background: #ffff00">{{ form.wound.label_tag }}</span>
                {% else %}
                    {{ form.wound.label_tag }}
                {% endif %}
            </div>
            <div class="col-md-9">
                {% for item in form.wound %}
                    {% if forloop.counter > 1 and forloop.counter < 3 %}
                        <div class="col-md-4">{{ item }}</div>
                    {% elif forloop.counter == 3 %}
                        <div class="col-md-6">{{ item }}&nbsp;&nbsp;{{ form.wound_abnormal }}</div>
                    {% endif %}
                {% endfor %}
            </div>
        </div>
        <div class="row" style="padding-top: 4px">
            <div class="col-md-2" align="right">
                {% if form.extra.errors %}
                    <span style="background: #ffff00">{{ form.extra.label_tag }}</span>
                {% else %}
                    {{ form.extra.label_tag }}
                {% endif %}
            </div>
            <div class="col-md-4">
                {{ form.extra }}
            </div>
        </div>