{% extends 'hypertension/aftercare_1_4_base.html' %}

{% block visit_date_1 %}
    {{ form.visit_date.data }}
{% endblock %}

{% block visit_way_1 %}
    {{ form.visit_way.data }}
{% endblock %}

{% block symptom_1 %}
    {% for item in form.symptom.data %}
        {{ item }}
    {% endfor %}
{% endblock %}

{% block symptom_extra_1 %}
    {{ form.symptom_extra.data }}
{% endblock %}

{% block sign_blood_pressure_1 %}
    {{ form.sign_blood_pressure.data }}
{% endblock %}

{% block sign_weight_1 %}
    {{ form.sign_weight.data }}
{% endblock %}

{% block sign_weight_next_1 %}
    {{ form.sign_weight_next.data }}
{% endblock %}

{% block sign_bmi_1 %}
    {{ form.sign_bmi.data }}
{% endblock %}

{% block sign_bmi_next_1 %}
    {{ form.sign_bmi_next.data }}
{% endblock %}

{% block sign_heart_rhythm_1 %}
    {{ form.sign_heart_rhythm.data }}
{% endblock %}

{% block sign_extra_1 %}
    {{ form.sign_extra.data }}
{% endblock %}

{% block life_style_guide_smoke_1 %}
    {{ form.life_style_guide_smoke.data }}
{% endblock %}

{% block life_style_guide_smoke_next_1 %}
    {{ form.life_style_guide_smoke_next.data }}
{% endblock %}

{% block life_style_guide_liquor_1 %}
    {{ form.life_style_guide_liquor.data }}
{% endblock %}

{% block life_style_guide_liquor_next_1 %}
    {{ form.life_style_guide_liquor_next.data }}
{% endblock %}

{% block life_style_guide_sport1_1 %}
    {{ form.life_style_guide_sport1.data }}
{% endblock %}

{% block life_style_guide_sport2_1 %}
    {{ form.life_style_guide_sport2.data }}
{% endblock %}

{% block life_style_guide_sport3_1 %}
    {{ form.life_style_guide_sport3.data }}
{% endblock %}

{% block life_style_guide_sport4_1 %}
    {{ form.life_style_guide_sport4.data }}
{% endblock %}

{% block life_style_guide_salt_1 %}
    {{ form.life_style_guide_salt.data }}
{% endblock %}

{% block life_style_guide_salt_next_1 %}
    {{ form.life_style_guide_salt_next.data }}
{% endblock %}

{% block life_style_guide_mentality_1 %}
    {{ form.life_style_guide_mentality.data }}
{% endblock %}

{% block life_style_guide_medical_compliance_1 %}
    {{ form.life_style_guide_medical_compliance.data }}
{% endblock %}

{% block auxiliary_examination_1 %}
    {{ form.auxiliary_examination.data }}
{% endblock %}

{% block take_medicine_compliance_1 %}
    {{ form.take_medicine_compliance.data }}
{% endblock %}

{% block medicine_untoward_effect_1 %}
    {{ form.medicine_untoward_effect.data }}
{% endblock %}

{% block medicine_untoward_effect_yes_1 %}
    {% ifequal form.medicine_untoward_effect.data '有' %}
        {{ form.medicine_untoward_effect_yes.data }}
    {% endifequal %}
{% endblock %}

{% block visit_classification_1 %}
    {{ form.visit_classification.data }}
{% endblock %}

{% block take_medicine_1_1 %}
    {{ form.take_medicine_1.data }}
{% endblock %}

{% block take_medicine_1_day_1 %}
    {{ form.take_medicine_1_day.data }}
{% endblock %}

{% block take_medicine_1_time_1 %}
    {{ form.take_medicine_1_time.data }}
{% endblock %}

{% block take_medicine_2_1 %}
    {{ form.take_medicine_2.data }}
{% endblock %}

{% block take_medicine_2_day_1 %}
    {{ form.take_medicine_2_day.data }}
{% endblock %}

{% block take_medicine_2_time_1 %}
    {{ form.take_medicine_2_time.data }}
{% endblock %}

{% block take_medicine_3_1 %}
    {{ form.take_medicine_3.data }}
{% endblock %}

{% block take_medicine_3_day_1 %}
    {{ form.take_medicine_3_day.data }}
{% endblock %}

{% block take_medicine_3_time_1 %}
    {{ form.take_medicine_3_time.data }}
{% endblock %}

{% block take_medicine_qt_1 %}
    {{ form.take_medicine_qt.data }}
{% endblock %}

{% block take_medicine_qt_day_1 %}
    {{ form.take_medicine_qt_day.data }}
{% endblock %}

{% block take_medicine_qt_time_1 %}
    {{ form.take_medicine_qt_time.data }}
{% endblock %}

{% block transfer_treatment_reason_1 %}
    {{ form.transfer_treatment_reason.data }}
{% endblock %}

{% block transfer_treatment_institution_1 %}
    {{ form.transfer_treatment_institution.data }}
{% endblock %}

{% block next_visit_date_1 %}
    {{ form.next_visit_date.data }}
{% endblock %}

{% block doctor_signature_1 %}
    {{ form.doctor_signature.data }}
{% endblock %}