{% extends "table_base.html" %}

{% block table_title %}
    高血压患者随访服务记录表
{% endblock %}

{% block table_content %}
    <tr>
        <td width="20%" colspan="4" align="center">
            <b>随访日期</b>
        </td>
        <td width="20%" colspan="4" class="aftercare_1">
            {% block visit_date_1 %}{% endblock %}
        </td>
        <td width="20%" colspan="4" class="aftercare_2">
            {% block visit_date_2 %}{% endblock %}
        </td>
        <td width="20%" colspan="4" class="aftercare_3">
            {% block visit_date_3 %}{% endblock %}
        </td>
        <td colspan="4" class="aftercare_4">
            {% block visit_date_4 %}{% endblock %}
        </td>
    </tr>
    <tr>
        <td width="20%" colspan="4" align="center">
            <b>随访方式</b>
        </td>
        <td width="20%" colspan="4">
            {% block visit_way_1 %}{% endblock %}
        </td>
        <td width="20%" colspan="4">
            {% block visit_way_2 %}{% endblock %}
        </td>
        <td width="20%" colspan="4">
            {% block visit_way_3 %}{% endblock %}
        </td>
        <td colspan="4">
            {% block visit_way_4 %}{% endblock %}
        </td>
    </tr>
    <tr>
        <td width="20%" colspan="4" align="center">
            <b>症状</b>
        </td>
        <td width="20%" colspan="4">
            {% block symptom_1 %}{% endblock %}<br>{% block symptom_extra_1 %}{% endblock %}
        </td>
        <td width="20%" colspan="4">
            {% block symptom_2 %}{% endblock %}<br>{% block symptom_extra_2 %}{% endblock %}
        </td>
        <td width="20%" colspan="4">
            {% block symptom_3 %}{% endblock %}<br>{% block symptom_extra_3 %}{% endblock %}
        </td>
        <td colspan="4">
            {% block symptom_4 %}{% endblock %}<br>{% block symptom_extra_4 %}{% endblock %}
        </td>
    </tr>
    <tr>
        <td rowspan="5" colspan="1" width="5%" align="center">
            <b>体征</b>
        </td>
        <td  width="15%" colspan="3" align="center">
            <b>血压（mmHg)</b>
        </td>
        <td width="20%" colspan="4">
            {% block sign_blood_pressure_1 %}{% endblock %}
        </td>
        <td width="20%" colspan="4">
            {% block sign_blood_pressure_2 %}{% endblock %}
        </td>
        <td width="20%" colspan="4">
            {% block sign_blood_pressure_3 %}{% endblock %}
        </td>
        <td width="20%" colspan="4">
            {% block sign_blood_pressure_4 %}{% endblock %}
        </td>
    </tr>
    <tr>
        <td width="10%" colspan="3" align="center">
            <b>体重（kg）</b>
        </td>
        <td width="20%" colspan="4">
            {% block sign_weight_1 %}{% endblock %}/{% block sign_weight_next_1 %}{% endblock %}
        </td>
        <td width="20%" colspan="4">
            {% block sign_weight_2 %}{% endblock %}/{% block sign_weight_next_2 %}{% endblock %}
        </td>
        <td width="20%" colspan="4">
            {% block sign_weight_3 %}{% endblock %}/{% block sign_weight_next_3 %}{% endblock %}
        </td>
        <td colspan="4">
            {% block sign_weight_4 %}{% endblock %}/{% block sign_weight_next_4 %}{% endblock %}
        </td>
    </tr>
    <tr>
        <td width="10%" colspan="3" align="center">
            <b>体质指数</b>
        </td>
        <td width="20%" colspan="4">
            {% block sign_bmi_1 %}{% endblock %}/{% block sign_bmi_next_1 %}{% endblock %}
        </td>
        <td width="20%" colspan="4">
            {% block sign_bmi_2 %}{% endblock %}/{% block sign_bmi_next_2 %}{% endblock %}
        </td>
        <td width="20%" colspan="4">
            {% block sign_bmi_3 %}{% endblock %}/{% block sign_bmi_next_3 %}{% endblock %}
        </td>
        <td colspan="4">
            {% block sign_bmi_4 %}{% endblock %}/{% block sign_bmi_next_4 %}{% endblock %}
        </td>
    </tr>
    <tr>
        <td width="10%" colspan="3" align="center">
            <b>心率</b>
        </td>
        <td width="20%" colspan="4">
            {% block sign_heart_rhythm_1 %}{% endblock %}
        </td>
        <td width="20%" colspan="4">
            {% block sign_heart_rhythm_2 %}{% endblock %}
        </td>
        <td width="20%" colspan="4">
            {% block sign_heart_rhythm_3 %}{% endblock %}
        </td>
        <td colspan="4">
            {% block sign_heart_rhythm_4 %}{% endblock %}
        </td>
    </tr>
    <tr>
        <td width="10%" colspan="3" align="center">
            <b>其他</b>
        </td>
        <td width="20%" colspan="4">
            {% block sign_extra_1 %}{% endblock %}
        </td>
        <td width="20%" colspan="4">
            {% block sign_extra_2 %}{% endblock %}
        </td>
        <td width="20%" colspan="4">
            {% block sign_extra_3 %}{% endblock %}
        </td>
        <td colspan="4">
            {% block sign_extra_4 %}{% endblock %}
        </td>
    </tr>
    <tr>
        <td rowspan="6" colspan="1" width="5%" align="center">
            <b>生活方式指导</b>
        </td>
        <td  width="15%" colspan="3" align="center">
            <b>日吸烟量（支）</b>
        </td>
        <td width="20%" colspan="4">
            {% block life_style_guide_smoke_1 %}{% endblock %}/
            {% block life_style_guide_smoke_next_1 %}{% endblock %}
        </td>
        <td width="20%" colspan="4">
            {% block life_style_guide_smoke_2 %}{% endblock %}/
            {% block life_style_guide_smoke_next_2 %}{% endblock %}
        </td>
        <td width="20%" colspan="4">
            {% block life_style_guide_smoke_3 %}{% endblock %}/
            {% block life_style_guide_smoke_next_3 %}{% endblock %}
        </td>
        <td width="20%" colspan="4">
            {% block life_style_guide_smoke_4 %}{% endblock %}/
            {% block life_style_guide_smoke_next_4 %}{% endblock %}
        </td>
    </tr>
    <tr>
        <td  width="15%" colspan="3" align="center">
            <b>日饮酒量（两）</b>
        </td>
        <td width="20%" colspan="4">
            {% block life_style_guide_liquor_1 %}{% endblock %}/
            {% block life_style_guide_liquor_next_1 %}{% endblock %}
        </td>
        <td width="20%" colspan="4">
            {% block life_style_guide_liquor_2 %}{% endblock %}/
            {% block life_style_guide_liquor_next_2 %}{% endblock %}
        </td>
        <td width="20%" colspan="4">
            {% block life_style_guide_liquor_3 %}{% endblock %}/
            {% block life_style_guide_liquor_next_3 %}{% endblock %}
        </td>
        <td width="20%" colspan="4">
            {% block life_style_guide_liquor_4 %}{% endblock %}/
            {% block life_style_guide_liquor_next_4 %}{% endblock %}
        </td>
    </tr>
    <tr>
        <td  width="15%" colspan="3" align="center">
            <b>运动</b>
        </td>
        <td width="20%" colspan="4">
            {% block life_style_guide_sport1_1 %}{% endblock %}次/周<br>
            {% block life_style_guide_sport2_1 %}{% endblock %}分钟/次
            <hr style="border: 1px solid grey;width: 110px;">
            {% block life_style_guide_sport3_1 %}{% endblock %}次/周<br>
            {% block life_style_guide_sport4_1 %}{% endblock %}分钟/次
        </td>
        <td width="20%" colspan="4">
            {% block life_style_guide_sport1_2 %}{% endblock %}次/周<br>
            {% block life_style_guide_sport2_2 %}{% endblock %}分钟/次
            <hr style="border: 1px solid grey;width: 110px;">
            {% block life_style_guide_sport3_2 %}{% endblock %}次/周<br>
            {% block life_style_guide_sport4_2 %}{% endblock %}分钟/次
        </td>
        <td width="20%" colspan="4">
            {% block life_style_guide_sport1_3 %}{% endblock %}次/周<br>
            {% block life_style_guide_sport2_3 %}{% endblock %}分钟/次
            <hr style="border: 1px solid grey;width: 110px;">
            {% block life_style_guide_sport3_3 %}{% endblock %}次/周<br>
            {% block life_style_guide_sport4_3 %}{% endblock %}分钟/次
        </td>
        <td width="20%" colspan="4">
            {% block life_style_guide_sport1_4 %}{% endblock %}次/周<br>
            {% block life_style_guide_sport2_4 %}{% endblock %}分钟/次
            <hr style="border: 1px solid grey;width: 110px;">
            {% block life_style_guide_sport3_4 %}{% endblock %}次/周<br>
            {% block life_style_guide_sport4_4 %}{% endblock %}分钟/次
        </td>
    </tr>
    <tr>
        <td  width="15%" colspan="3" align="center">
            <b>摄盐情况（咸淡）</b>
        </td>
        <td width="20%" colspan="4">
            {% block life_style_guide_salt_1 %}{% endblock %}/
            {% block life_style_guide_salt_next_1 %}{% endblock %}
        </td>
        <td width="20%" colspan="4">
            {% block life_style_guide_salt_2 %}{% endblock %}/
            {% block life_style_guide_salt_next_2 %}{% endblock %}
        </td>
        <td width="20%" colspan="4">
            {% block life_style_guide_salt_3 %}{% endblock %}/
            {% block life_style_guide_salt_next_3 %}{% endblock %}
        </td>
        <td width="20%" colspan="4">
            {% block life_style_guide_salt_4 %}{% endblock %}/
            {% block life_style_guide_salt_next_4 %}{% endblock %}
        </td>
    </tr>
    <tr>
        <td  width="15%" colspan="3" align="center">
            <b>心理调整</b>
        </td>
        <td width="20%" colspan="4">
            {% block life_style_guide_mentality_1 %}{% endblock %}
        </td>
        <td width="20%" colspan="4">
            {% block life_style_guide_mentality_2 %}{% endblock %}
        </td>
        <td width="20%" colspan="4">
            {% block life_style_guide_mentality_3 %}{% endblock %}
        </td>
        <td width="20%" colspan="4">
            {% block life_style_guide_mentality_4 %}{% endblock %}
        </td>
    </tr>
    <tr>
        <td  width="15%" colspan="3" align="center">
            <b>遵医行为</b>
        </td>
        <td width="20%" colspan="4">
            {% block life_style_guide_medical_compliance_1 %}{% endblock %}
        </td>
        <td width="20%" colspan="4">
            {% block life_style_guide_medical_compliance_2 %}{% endblock %}
        </td>
        <td width="20%" colspan="4">
            {% block life_style_guide_medical_compliance_3 %}{% endblock %}
        </td>
        <td width="20%" colspan="4">
            {% block life_style_guide_medical_compliance_4 %}{% endblock %}
        </td>
    </tr>
    <tr>
        <td width="20%" colspan="4"  align="center">
            <b>辅助检查*</b>
        </td>
        <td width="20%" colspan="4">
            {% block auxiliary_examination_1 %}{% endblock %}
        </td>
        <td width="20%" colspan="4">
            {% block auxiliary_examination_2 %}{% endblock %}
        </td>
        <td width="20%" colspan="4">
            {% block auxiliary_examination_3 %}{% endblock %}
        </td>
        <td width="20%" colspan="4">
            {% block auxiliary_examination_4 %}{% endblock %}
        </td>
    </tr>
    <tr>
        <td  width="20%" colspan="4" align="center">
            <b>服药依从性</b>
        </td>
        <td width="20%" colspan="4">
            {% block take_medicine_compliance_1 %}{% endblock %}
        </td>
        <td width="20%" colspan="4">
            {% block take_medicine_compliance_2 %}{% endblock %}
        </td>
        <td width="20%" colspan="4">
            {% block take_medicine_compliance_3 %}{% endblock %}
        </td>
        <td width="20%" colspan="4">
            {% block take_medicine_compliance_4 %}{% endblock %}
        </td>
    </tr>
    <tr>
        <td  width="20%" colspan="4" align="center">
            <b>药物不良反应</b>
        </td>
        <td width="20%" colspan="4">
            {% block medicine_untoward_effect_1 %}{% endblock %}
            {% block medicine_untoward_effect_yes_1 %}{% endblock %}
        </td>
        <td width="20%" colspan="4">
            {% block medicine_untoward_effect_2 %}{% endblock %}
            {% block medicine_untoward_effect_yes_2 %}{% endblock %}
        </td>
        <td width="20%" colspan="4">
            {% block medicine_untoward_effect_3 %}{% endblock %}
            {% block medicine_untoward_effect_yes_3 %}{% endblock %}
        </td>
        <td width="20%" colspan="4">
            {% block medicine_untoward_effect_4 %}{% endblock %}
            {% block medicine_untoward_effect_yes_4 %}{% endblock %}
        </td>
    </tr>
    <tr>
        <td  width="20%" colspan="4" align="center">
            <b>此次随访分类</b>
        </td>
        <td width="20%" colspan="4">
            {% block visit_classification_1 %}{% endblock %}
        </td>
        <td width="20%" colspan="4">
            {% block visit_classification_2 %}{% endblock %}
        </td>
        <td width="20%" colspan="4">
            {% block visit_classification_3 %}{% endblock %}
        </td>
        <td width="20%" colspan="4">
            {% block visit_classification_4 %}{% endblock %}
        </td>
    </tr>
    <tr>
        <td  rowspan="8" colspan="1" width="5%"  align="center">
            <b>用药情况</b>
        </td>
        <td width="15%" colspan="3" align="center">
            <b>药物名称1</b>
        </td>
        <td width="20%" colspan="4">
            {% block take_medicine_1_1 %}{% endblock %}
        </td>
        <td width="20%" colspan="4">
            {% block take_medicine_1_2 %}{% endblock %}
        </td>
        <td width="20%" colspan="4">
            {% block take_medicine_1_3 %}{% endblock %}
        </td>
        <td width="20%" colspan="4">
            {% block take_medicine_1_4 %}{% endblock %}
        </td>
    </tr>
    <tr>
        <td width="15%" colspan="3" align="center">
            <b>用法用量</b>
        </td>
        <td width="10%" colspan="2">
            每日{% block take_medicine_1_day_1 %}{% endblock %}次
        </td>
        <td width="10%" colspan="2">
            每次{% block take_medicine_1_time_1 %}{% endblock %}mg
        </td>
        <td width="10%" colspan="2">
            每日{% block take_medicine_1_day_2 %}{% endblock %}次
        </td>
        <td width="10%" colspan="2">
            每次{% block take_medicine_1_time_2 %}{% endblock %}mg
        </td>
        <td width="10%" colspan="2">
            每日{% block take_medicine_1_day_3 %}{% endblock %}次
        </td>
        <td width="10%" colspan="2">
            每次{% block take_medicine_1_time_3 %}{% endblock %}mg
        </td>
        <td width="10%" colspan="2">
            每日{% block take_medicine_1_day_4 %}{% endblock %}次
        </td>
        <td width="10%" colspan="2">
            每次{% block take_medicine_1_time_4 %}{% endblock %}mg
        </td>
    </tr>
    <tr>
        <td width="15%" colspan="3" align="center">
            <b>药物名称2</b>
        </td>
        <td width="20%" colspan="4">
            {% block take_medicine_2_1 %}{% endblock %}
        </td>
        <td width="20%" colspan="4">
            {% block take_medicine_2_2 %}{% endblock %}
        </td>
        <td width="20%" colspan="4">
            {% block take_medicine_2_3 %}{% endblock %}
        </td>
        <td width="20%" colspan="4">
            {% block take_medicine_2_4 %}{% endblock %}
        </td>
    </tr>
    <tr>
        <td width="15%" colspan="3" align="center">
            <b>用法用量</b>
        </td>
        <td width="10%" colspan="2">
            每日{% block take_medicine_2_day_1 %}{% endblock %}次
        </td>
        <td width="10%" colspan="2">
            每次{% block take_medicine_2_time_1 %}{% endblock %}mg
        </td>
        <td width="10%" colspan="2">
            每日{% block take_medicine_2_day_2 %}{% endblock %}次
        </td>
        <td width="10%" colspan="2">
            每次{% block take_medicine_2_time_2 %}{% endblock %}mg
        </td>
        <td width="10%" colspan="2">
            每日{% block take_medicine_2_day_3 %}{% endblock %}次
        </td>
        <td width="10%" colspan="2">
            每次{% block take_medicine_2_time_3 %}{% endblock %}mg
        </td>
        <td width="10%" colspan="2">
            每日{% block take_medicine_2_day_4 %}{% endblock %}次
        </td>
        <td width="10%" colspan="2">
            每次{% block take_medicine_2_time_4 %}{% endblock %}mg
        </td>
    </tr>
    <tr>
        <td width="15%" colspan="3" align="center">
            <b>药物名称3</b>
        </td>
        <td width="20%" colspan="4">
            {% block take_medicine_3_1 %}{% endblock %}
        </td>
        <td width="20%" colspan="4">
            {% block take_medicine_3_2 %}{% endblock %}
        </td>
        <td width="20%" colspan="4">
            {% block take_medicine_3_3 %}{% endblock %}
        </td>
        <td width="20%" colspan="4">
            {% block take_medicine_3_4 %}{% endblock %}
        </td>
    </tr>
    <tr>
        <td width="15%" colspan="3" align="center">
            <b>用法用量</b>
        </td>
        <td width="10%" colspan="2">
            每日{% block take_medicine_3_day_1 %}{% endblock %}次
        </td>
        <td width="10%" colspan="2">
            每次{% block take_medicine_3_time_1 %}{% endblock %}mg
        </td>
        <td width="10%" colspan="2">
            每日{% block take_medicine_3_day_2 %}{% endblock %}次
        </td>
        <td width="10%" colspan="2">
            每次{% block take_medicine_3_time_2 %}{% endblock %}mg
        </td>
        <td width="10%" colspan="2">
            每日{% block take_medicine_3_day_3 %}{% endblock %}次
        </td>
        <td width="10%" colspan="2">
            每次{% block take_medicine_3_time_3 %}{% endblock %}mg
        </td>
        <td width="10%" colspan="2">
            每日{% block take_medicine_3_day_4 %}{% endblock %}次
        </td>
        <td width="10%" colspan="2">
            每次{% block take_medicine_3_time_4 %}{% endblock %}mg
        </td>
    </tr>
    <tr>
        <td width="15%" colspan="3" align="center">
            <b>其他药物</b>
        </td>
        <td width="20%" colspan="4">
            {% block take_medicine_qt_1 %}{% endblock %}
        </td>
        <td width="20%" colspan="4">
            {% block take_medicine_qt_2 %}{% endblock %}
        </td>
        <td width="20%" colspan="4">
            {% block take_medicine_qt_3 %}{% endblock %}
        </td>
        <td width="20%" colspan="4">
            {% block take_medicine_qt_4 %}{% endblock %}
        </td>
    </tr>
    <tr>
        <td width="15%" colspan="3" align="center">
            <b>用法用量</b>
        </td>
        <td width="10%" colspan="2">
            每日{% block take_medicine_qt_day_1 %}{% endblock %}次
        </td>
        <td width="10%" colspan="2">
            每次{% block take_medicine_qt_time_1 %}{% endblock %}mg
        </td>
        <td width="10%" colspan="2">
            每日{% block take_medicine_qt_day_2 %}{% endblock %}次
        </td>
        <td width="10%" colspan="2">
            每次{% block take_medicine_qt_time_2 %}{% endblock %}mg
        </td>
        <td width="10%" colspan="2">
            每日{% block take_medicine_qt_day_3 %}{% endblock %}次
        </td>
        <td width="10%" colspan="2">
            每次{% block take_medicine_qt_time_3 %}{% endblock %}mg
        </td>
        <td width="10%" colspan="2">
            每日{% block take_medicine_qt_day_4 %}{% endblock %}次
        </td>
        <td width="10%" colspan="2">
            每次{% block take_medicine_qt_time_4 %}{% endblock %}mg
        </td>
    </tr>

    <tr>
        <td rowspan="2" colspan="1" width="5%" align="center">
            <b>转诊</b>
        </td>
        <td width="15%" colspan="3" align="center">
            <b>原因</b>
        </td>
        <td width="20%" colspan="4">
            {% block transfer_treatment_reason_1 %}{% endblock %}
        </td>
        <td width="20%" colspan="4">
            {% block transfer_treatment_reason_2 %}{% endblock %}
        </td>
        <td width="20%" colspan="4">
            {% block transfer_treatment_reason_3 %}{% endblock %}
        </td>
        <td width="20%" colspan="4">
            {% block transfer_treatment_reason_4 %}{% endblock %}
        </td>
    </tr>
    <tr>
        <td width="15%" colspan="3" align="center">
            <b>机构及科别</b>
        </td>
        <td width="20%" colspan="4">
            {% block transfer_treatment_institution_1 %}{% endblock %}
        </td>
        <td width="20%" colspan="4">
            {% block transfer_treatment_institution_2 %}{% endblock %}
        </td>
        <td width="20%" colspan="4">
            {% block transfer_treatment_institution_3 %}{% endblock %}
        </td>
        <td width="20%" colspan="4">
            {% block transfer_treatment_institution_4 %}{% endblock %}
        </td>
    </tr>
    <tr>
        <td width="20%" colspan="4" align="center">
            <b>下次随访日期</b>
        </td>
        <td width="20%" colspan="4">
            {% block next_visit_date_1 %}{% endblock %}
        </td>
        <td width="20%" colspan="4">
            {% block next_visit_date_2 %}{% endblock %}
        </td>
        <td width="20%" colspan="4">
            {% block next_visit_date_3 %}{% endblock %}
        </td>
        <td width="20%" colspan="4">
            {% block next_visit_date_4 %}{% endblock %}
        </td>
    </tr>
    <tr>
        <td width="20%" colspan="4" align="center">
            <b>随访医生签名</b>
        </td>
        <td width="20%" colspan="4">
            {% block doctor_signature_1 %}{% endblock %}
        </td>
        <td width="20%" colspan="4">
            {% block doctor_signature_2 %}{% endblock %}
        </td>
        <td width="20%" colspan="4">
            {% block doctor_signature_3 %}{% endblock %}
        </td>
        <td width="20%" colspan="4">
            {% block doctor_signature_4 %}{% endblock %}
        </td>
    </tr>
{% endblock %}