{% extends 'hypertension/aftercare_1_4_base.html' %}

{% block visit_date_2 %}
    {{ form.visit_date | date:"Y-m-d" }}
{% endblock %}

{% block visit_way_2 %}
    {{ form.visit_way }}
{% endblock %}

{% block symptom_2 %}
    {% for item in form.symptom.all %}
            {{ item }}
    {% endfor %}
{% endblock %}

{% block symptom_extra_2 %}
    {{ form.symptom_extra }}
{% endblock %}

{% block sign_blood_pressure_2 %}
    {{ form.sign_sbp }}/{{ form.sign_dbp }}
{% endblock %}

{% block sign_weight_2 %}
    {{ form.sign_weight }}
{% endblock %}

{% block sign_weight_next_2 %}
    {{ form.sign_weight_next }}
{% endblock %}

{% block sign_bmi_2 %}
    {{ form.sign_bmi }}
{% endblock %}

{% block sign_bmi_next_2 %}
    {{ form.sign_bmi_next }}
{% endblock %}

{% block sign_heart_rhythm_2 %}
    {{ form.sign_heart_rhythm }}
{% endblock %}

{% block sign_extra_2 %}
    {{ form.sign_extra }}
{% endblock %}

{% block life_style_guide_smoke_2 %}
    {{ form.life_style_guide_smoke }}
{% endblock %}

{% block life_style_guide_smoke_next_2 %}
    {{ form.life_style_guide_smoke_next }}
{% endblock %}

{% block life_style_guide_liquor_2 %}
    {{ form.life_style_guide_liquor }}
{% endblock %}

{% block life_style_guide_liquor_next_2 %}
    {{ form.life_style_guide_liquor_next }}
{% endblock %}

{% block life_style_guide_sport1_2 %}
    {{ form.life_style_guide_sport1 }}
{% endblock %}

{% block life_style_guide_sport2_2 %}
    {{ form.life_style_guide_sport2 }}
{% endblock %}

{% block life_style_guide_sport3_2 %}
    {{ form.life_style_guide_sport3 }}
{% endblock %}

{% block life_style_guide_sport4_2 %}
    {{ form.life_style_guide_sport4 }}
{% endblock %}

{% block life_style_guide_salt_2 %}
    {{ form.life_style_guide_salt }}
{% endblock %}

{% block life_style_guide_salt_next_2 %}
    {{ form.life_style_guide_salt_next }}
{% endblock %}

{% block life_style_guide_mentality_2 %}
    {{ form.life_style_guide_mentality }}
{% endblock %}

{% block life_style_guide_medical_compliance_2 %}
    {{ form.life_style_guide_medical_compliance }}
{% endblock %}

{% block auxiliary_examination_2 %}
    {{ form.auxiliary_examination }}
{% endblock %}

{% block take_medicine_compliance_2 %}
    {{ form.take_medicine_compliance }}
{% endblock %}

{% block medicine_untoward_effect_2 %}
    {{ form.medicine_untoward_effect }}
{% endblock %}

{% block medicine_untoward_effect_yes_2 %}
    {{ form.medicine_untoward_effect_yes }}
{% endblock %}

{% block visit_classification_2 %}
    {{ form.visit_classification }}
{% endblock %}

{% block take_medicine_1_2 %}
    {{ form.take_medicine_1 }}
{% endblock %}

{% block take_medicine_1_day_2 %}
    {% if form.take_medicine_1_day %}
        {{ form.take_medicine_1_day }}
    {% endif %}
{% endblock %}

{% block take_medicine_1_time_2 %}
    {% if form.take_medicine_1_time %}
        {{ form.take_medicine_1_time }}
    {% endif %}
{% endblock %}

{% block take_medicine_2_2 %}
    {{ form.take_medicine_2 }}
{% endblock %}

{% block take_medicine_2_day_2 %}
    {% if form.take_medicine_2_day %}
        {{ form.take_medicine_2_day }}
    {% endif %}
{% endblock %}

{% block take_medicine_2_time_2 %}
    {% if form.take_medicine_2_time %}
        {{ form.take_medicine_2_time }}
    {% endif %}
{% endblock %}

{% block take_medicine_3_2 %}
    {{ form.take_medicine_3 }}
{% endblock %}

{% block take_medicine_3_day_2 %}
    {% if form.take_medicine_3_day %}
        {{ form.take_medicine_3_day }}
    {% endif %}
{% endblock %}

{% block take_medicine_3_time_2 %}
    {% if form.take_medicine_3_time %}
        {{ form.take_medicine_3_time }}
    {% endif %}
{% endblock %}

{% block take_medicine_qt_2 %}
    {{ form.take_medicine_qt }}
{% endblock %}

{% block take_medicine_qt_day_2 %}
    {% if form.take_medicine_qt_day %}
        {{ form.take_medicine_qt_day }}
    {% endif %}
{% endblock %}

{% block take_medicine_qt_time_2 %}
    {% if form.take_medicine_qt_time %}
        {{ form.take_medicine_qt_time }}
    {% endif %}
{% endblock %}

{% block transfer_treatment_reason_2 %}
    {{ form.transfer_treatment_reason }}
{% endblock %}

{% block transfer_treatment_institution_2 %}
    {{ form.transfer_treatment_institution }}
{% endblock %}

{% block next_visit_date_2 %}
    {{ form.next_visit_date | date:"Y-m-d" }}
{% endblock %}

{% block doctor_signature_2 %}
    {{ form.doctor_signature }}
{% endblock %}