{% extends 'hypertension/aftercare_1_4_base.html' %}

{% comment %}第1次产前随访表格{% endcomment %}

{% if aftercare_1 %}
{% block visit_date_1 %}
    {{ aftercare_1.visit_date | date:"Y-m-d" }}
{% endblock %}

{% block visit_way_1 %}
    {{ aftercare_1.visit_way }}
{% endblock %}

{% block symptom_1 %}
    {% for item in aftercare_1.symptom.all %}
        {% if forloop.last %}
            {{ item }}
        {% else %}
            {{ item }}/
        {% endif %}
    {% endfor %}
{% endblock %}

{% block symptom_extra_1 %}
    {{ aftercare_1.symptom_extra }}
{% endblock %}

{% block sign_blood_pressure_1 %}
    {{ aftercare_1.sign_blood_pressure }}
{% endblock %}

{% block sign_weight_1 %}
    {{ aftercare_1.sign_weight }}
{% endblock %}

{% block sign_weight_next_1 %}
    {{ aftercare_1.sign_weight_next }}
{% endblock %}

{% block sign_bmi_1 %}
    {{ aftercare_1.sign_bmi }}
{% endblock %}

{% block sign_bmi_next_1 %}
    {{ aftercare_1.sign_bmi_next }}
{% endblock %}

{% block sign_heart_rhythm_1 %}
    {{ aftercare_1.sign_heart_rhythm }}
{% endblock %}

{% block sign_extra_1 %}
    {{ aftercare_1.sign_extra }}
{% endblock %}

{% block life_style_guide_smoke_1 %}
    {{ aftercare_1.life_style_guide_smoke }}
{% endblock %}

{% block life_style_guide_smoke_next_1 %}
    {{ aftercare_1.life_style_guide_smoke_next }}
{% endblock %}

{% block life_style_guide_liquor_1 %}
    {{ aftercare_1.life_style_guide_liquor }}
{% endblock %}

{% block life_style_guide_liquor_next_1 %}
    {{ aftercare_1.life_style_guide_liquor_next }}
{% endblock %}

{% block life_style_guide_sport1_1 %}
    {{ aftercare_1.life_style_guide_sport1 }}
{% endblock %}

{% block life_style_guide_sport2_1 %}
    {{ aftercare_1.life_style_guide_sport2 }}
{% endblock %}

{% block life_style_guide_sport3_1 %}
    {{ aftercare_1.life_style_guide_sport3 }}
{% endblock %}

{% block life_style_guide_sport4_1 %}
    {{ aftercare_1.life_style_guide_sport4 }}
{% endblock %}

{% block life_style_guide_salt_1 %}
    {{ aftercare_1.life_style_salt }}
{% endblock %}

{% block life_style_guide_salt_next_1 %}
    {{ aftercare_1.life_style_salt_next }}
{% endblock %}

{% block life_style_guide_mentality_1 %}
    {{ aftercare_1.life_style_guide_mentality }}
{% endblock %}

{% block life_style_guide_medical_compliance_1 %}
    {{ aftercare_1.life_style_guide_medical_compliance }}
{% endblock %}

{% block auxiliary_examination_1 %}
    {{ aftercare_1.auxiliary_examination }}
{% endblock %}

{% block take_medicine_compliance_1 %}
    {{ aftercare_1.take_medicine_compliance }}
{% endblock %}

{% block medicine_untoward_effect_1 %}
    {{ aftercare_1.medicine_untoward_effect }}
{% endblock %}

{% block medicine_untoward_effect_yes_1 %}
    {% ifequal aftercare_1.medicine_untoward_effect '有' %}
        {{ aftercare_1.medicine_untoward_effect_yes }}
    {% endifequal %}
{% endblock %}

{% block visit_classification_1 %}
    {{ aftercare_1.visit_classification }}
{% endblock %}

{% block take_medicine_1_1 %}
    {{ aftercare_1.take_medicine_1 }}
{% endblock %}

{% block take_medicine_1_day_1 %}
    {% if aftercare_1.take_medicine_1_day %}
        {{ aftercare_1.take_medicine_1_day }}
    {% endif %}
{% endblock %}

{% block take_medicine_1_time_1 %}
    {% if aftercare_1.take_medicine_1_time %}
        {{ aftercare_1.take_medicine_1_time }}
    {% endif %}
{% endblock %}

{% block take_medicine_2_1 %}
    {{ aftercare_1.take_medicine_2 }}
{% endblock %}

{% block take_medicine_2_day_1 %}
    {% if aftercare_1.take_medicine_2_day %}
        {{ aftercare_1.take_medicine_2_day }}
    {% endif %}
{% endblock %}

{% block take_medicine_2_time_1 %}
    {% if aftercare_1.take_medicine_2_time %}
        {{ aftercare_1.take_medicine_2_time }}
    {% endif %}
{% endblock %}

{% block take_medicine_3_1 %}
    {{ aftercare_1.take_medicine_3 }}
{% endblock %}

{% block take_medicine_3_day_1 %}
    {% if aftercare_1.take_medicine_3_day %}
        {{ aftercare_1.take_medicine_3_day }}
    {% endif %}
{% endblock %}

{% block take_medicine_3_time_1 %}
    {% if aftercare_1.take_medicine_3_time %}
        {{ aftercare_1.take_medicine_3_time }}
    {% endif %}
{% endblock %}

{% block take_medicine_qt_1 %}
    {{ aftercare_1.take_medicine_qt }}
{% endblock %}

{% block take_medicine_qt_day_1 %}
    {% if aftercare_1.take_medicine_qt_day %}
    {{ aftercare_1.take_medicine_qt_day }}
    {% endif %}
{% endblock %}

{% block take_medicine_qt_time_1 %}
    {% if aftercare_1.take_medicine_qt_time %}
        {{ aftercare_1.take_medicine_qt_time }}
    {% endif %}
{% endblock %}

{% block transfer_treatment_reason_1 %}
    {{ aftercare_1.transfer_treatment_reason }}
{% endblock %}

{% block transfer_treatment_institution_1 %}
    {{ aftercare_1.transfer_treatment_institution }}
{% endblock %}

{% block next_visit_date_1 %}
    {{ aftercare_1.next_visit_date | date:"Y-m-d" }}
{% endblock %}

{% block doctor_signature_1 %}
    {{ aftercare_1.doctor_signature }}
{% endblock %}
{% endif %}
{% comment %}第2次产前随访表格{% endcomment %}
{% if aftercare_2 %}
{% block visit_date_2 %}
    {{ aftercare_2.visit_date | date:"Y-m-d" }}
{% endblock %}

{% block visit_way_2 %}
    {{ aftercare_2.visit_way }}
{% endblock %}

{% block symptom_2 %}
    {% for item in aftercare_2.symptom.all %}
        {% if forloop.last %}
            {{ item }}
        {% else %}
            {{ item }}/
        {% endif %}
    {% endfor %}
{% endblock %}

{% block symptom_extra_2 %}
    {{ aftercare_2.symptom_extra }}
{% endblock %}

{% block sign_blood_pressure_2 %}
    {{ aftercare_2.sign_blood_pressure }}
{% endblock %}

{% block sign_weight_2 %}
    {{ aftercare_2.sign_weight }}
{% endblock %}

{% block sign_weight_next_2 %}
    {{ aftercare_2.sign_weight_next }}
{% endblock %}

{% block sign_bmi_2 %}
    {{ aftercare_2.sign_bmi }}
{% endblock %}

{% block sign_bmi_next_2 %}
    {{ aftercare_2.sign_bmi_next }}
{% endblock %}

{% block sign_heart_rhythm_2 %}
    {{ aftercare_2.sign_heart_rhythm }}
{% endblock %}

{% block sign_extra_2 %}
    {{ aftercare_2.sign_extra }}
{% endblock %}

{% block life_style_guide_smoke_2 %}
    {{ aftercare_2.life_style_guide_smoke }}
{% endblock %}

{% block life_style_guide_smoke_next_2 %}
    {{ aftercare_2.life_style_guide_smoke_next }}
{% endblock %}

{% block life_style_guide_liquor_2 %}
    {{ aftercare_2.life_style_guide_liquor }}
{% endblock %}

{% block life_style_guide_liquor_next_2 %}
    {{ aftercare_2.life_style_guide_liquor_next }}
{% endblock %}

{% block life_style_guide_sport1_2 %}
    {{ aftercare_2.life_style_guide_sport1 }}
{% endblock %}

{% block life_style_guide_sport2_2 %}
    {{ aftercare_2.life_style_guide_sport2 }}
{% endblock %}

{% block life_style_guide_sport3_2 %}
    {{ aftercare_2.life_style_guide_sport3 }}
{% endblock %}

{% block life_style_guide_sport4_2 %}
    {{ aftercare_2.life_style_guide_sport4 }}
{% endblock %}

{% block life_style_guide_salt_2 %}
    {{ aftercare_2.life_style_guide_salt }}
{% endblock %}

{% block life_style_salt_next_2 %}
    {{ aftercare_2.life_style_guide_salt_next }}
{% endblock %}

{% block life_style_guide_mentality_2 %}
    {{ aftercare_2.life_style_guide_mentality }}
{% endblock %}

{% block life_style_guide_medical_compliance_2 %}
    {{ aftercare_2.life_style_guide_medical_compliance }}
{% endblock %}

{% block auxiliary_examination_2 %}
    {{ aftercare_2.auxiliary_examination }}
{% endblock %}

{% block take_medicine_compliance_2 %}
    {{ aftercare_2.take_medicine_compliance }}
{% endblock %}

{% block medicine_untoward_effect_2 %}
    {{ aftercare_2.medicine_untoward_effect }}
{% endblock %}

{% block medicine_untoward_effect_yes_2 %}
    {% ifequal aftercare_2.medicine_untoward_effect '有' %}
        {{ aftercare_2.medicine_untoward_effect_yes }}
    {% endifequal %}
{% endblock %}

{% block visit_classification_2 %}
    {{ aftercare_2.visit_classification }}
{% endblock %}

{% block take_medicine_1_2 %}
    {{ aftercare_2.take_medicine_1 }}
{% endblock %}

{% block take_medicine_1_day_2 %}
    {% if aftercare_2.take_medicine_1_day %}
        {{ aftercare_2.take_medicine_1_day }}
    {% endif %}
{% endblock %}

{% block take_medicine_1_time_2 %}
    {% if aftercare_2.take_medicine_1_time %}
        {{ aftercare_2.take_medicine_1_time }}
    {% endif %}
{% endblock %}

{% block take_medicine_2_2 %}
    {{ aftercare_2.take_medicine_2 }}
{% endblock %}

{% block take_medicine_2_day_2 %}
    {% if aftercare_2.take_medicine_2_day %}
        {{ aftercare_2.take_medicine_2_day }}
    {% endif %}
{% endblock %}

{% block take_medicine_2_time_2 %}
    {% if aftercare_2.take_medicine_2_time %}
        {{ aftercare_2.take_medicine_2_time }}
    {% endif %}
{% endblock %}

{% block take_medicine_3_2 %}
    {{ aftercare_2.take_medicine_3 }}
{% endblock %}

{% block take_medicine_3_day_2 %}
    {% if aftercare_2.take_medicine_3_day %}
    {{ aftercare_2.take_medicine_3_day }}
    {% endif %}
{% endblock %}

{% block take_medicine_3_time_2 %}
    {% if aftercare_2.take_medicine_3_time %}
        {{ aftercare_2.take_medicine_3_time }}
    {% endif %}
{% endblock %}

{% block take_medicine_qt_2 %}
    {{ aftercare_2.take_medicine_qt }}
{% endblock %}

{% block take_medicine_qt_day_2 %}
    {% if aftercare_2.take_medicine_qt_day %}
        {{ aftercare_2.take_medicine_qt_day }}
    {% endif %}
{% endblock %}

{% block take_medicine_qt_time_2 %}
    {% if aftercare_2.take_medicine_qt_time %}
        {{ aftercare_2.take_medicine_qt_time }}
    {% endif %}
{% endblock %}

{% block transfer_treatment_reason_2 %}
    {{ aftercare_2.transfer_treatment_reason }}
{% endblock %}

{% block transfer_treatment_institution_2 %}
    {{ aftercare_2.transfer_treatment_institution }}
{% endblock %}

{% block next_visit_date_2 %}
    {{ aftercare_2.next_visit_date | date:"Y-m-d" }}
{% endblock %}

{% block doctor_signature_2 %}
    {{ aftercare_2.doctor_signature }}
{% endblock %}
{% endif %}
{% comment %}第3次产前随访表格{% endcomment %}
{% if aftercare_3 %}
{% block visit_date_3 %}
    {{ aftercare_3.visit_date | date:"Y-m-d" }}
{% endblock %}

{% block visit_way_3 %}
    {{ aftercare_3.visit_way }}
{% endblock %}

{% block symptom_3 %}
    {% for item in aftercare_3.symptom.all %}
        {% if forloop.last %}
            {{ item }}
        {% else %}
            {{ item }}/
        {% endif %}
    {% endfor %}
{% endblock %}

{% block symptom_extra_3 %}
    {{ aftercare_3.symptom_extra }}
{% endblock %}

{% block sign_blood_pressure_3 %}
    {{ aftercare_3.sign_blood_pressure }}
{% endblock %}

{% block sign_weight_3 %}
    {{ aftercare_3.sign_weight }}
{% endblock %}

{% block sign_weight_next_3 %}
    {{ aftercare_3.sign_weight_next }}
{% endblock %}

{% block sign_bmi_3 %}
    {{ aftercare_3.sign_bmi }}
{% endblock %}

{% block sign_bmi_next_3 %}
    {{ aftercare_3.sign_bmi_next }}
{% endblock %}

{% block sign_heart_rhythm_3 %}
    {{ aftercare_3.sign_heart_rhythm }}
{% endblock %}

{% block sign_extra_3 %}
    {{ aftercare_3.sign_extra }}
{% endblock %}

{% block life_style_guide_smoke_3 %}
    {{ aftercare_3.life_style_guide_smoke }}
{% endblock %}

{% block life_style_guide_smoke_next_3 %}
    {{ aftercare_3.life_style_guide_smoke_next }}
{% endblock %}

{% block life_style_guide_liquor_3 %}
    {{ aftercare_3.life_style_guide_liquor }}
{% endblock %}

{% block life_style_guide_liquor_next_3 %}
    {{ aftercare_3.life_style_guide_liquor_next }}
{% endblock %}

{% block life_style_guide_sport1_3 %}
    {{ aftercare_3.life_style_guide_sport1 }}
{% endblock %}

{% block life_style_guide_sport2_3 %}
    {{ aftercare_3.life_style_guide_sport3 }}
{% endblock %}

{% block life_style_guide_sport3_3 %}
    {{ aftercare_3.life_style_guide_sport3 }}
{% endblock %}

{% block life_style_guide_sport4_3 %}
    {{ aftercare_3.life_style_guide_sport4 }}
{% endblock %}

{% block life_style_guide_salt_3 %}
    {{ aftercare_3.life_style_guide_salt }}
{% endblock %}

{% block life_style_guide_salt_next_3 %}
    {{ aftercare_3.life_style_guide_salt_next }}
{% endblock %}

{% block life_style_guide_mentality_3 %}
    {{ aftercare_3.life_style_guide_mentality }}
{% endblock %}

{% block life_style_guide_medical_compliance_3 %}
    {{ aftercare_3.life_style_guide_medical_compliance }}
{% endblock %}

{% block auxiliary_examination_3 %}
    {{ aftercare_3.auxiliary_examination }}
{% endblock %}

{% block take_medicine_compliance_3 %}
    {{ aftercare_3.take_medicine_compliance }}
{% endblock %}

{% block medicine_untoward_effect_3 %}
    {{ aftercare_3.medicine_untoward_effect }}
{% endblock %}

{% block medicine_untoward_effect_yes_3 %}
    {% ifequal aftercare_3.medicine_untoward_effect '有' %}
        {{ aftercare_3.medicine_untoward_effect_yes }}
    {% endifequal %}
{% endblock %}

{% block visit_classification_3 %}
    {{ aftercare_3.visit_classification }}
{% endblock %}

{% block take_medicine_1_3 %}
    {{ aftercare_3.take_medicine_1 }}
{% endblock %}

{% block take_medicine_1_day_3 %}
    {{ aftercare_3.take_medicine_1_day }}
{% endblock %}

{% block take_medicine_1_time_3 %}
    {{ aftercare_3.take_medicine_1_time }}
{% endblock %}

{% block take_medicine_2_3 %}
    {{ aftercare_3.take_medicine_2 }}
{% endblock %}

{% block take_medicine_2_day_3 %}
    {{ aftercare_3.take_medicine_2_day }}
{% endblock %}

{% block take_medicine_2_time_3 %}
    {{ aftercare_3.take_medicine_2_time }}
{% endblock %}

{% block take_medicine_3_3 %}
    {{ aftercare_3.take_medicine_3 }}
{% endblock %}

{% block take_medicine_3_day_3 %}
    {{ aftercare_3.take_medicine_3_day }}
{% endblock %}

{% block take_medicine_3_time_3 %}
    {{ aftercare_3.take_medicine_3_time }}
{% endblock %}

{% block take_medicine_qt_3 %}
    {{ aftercare_3.take_medicine_qt }}
{% endblock %}

{% block take_medicine_qt_day_3 %}
    {{ aftercare_3.take_medicine_qt_day }}
{% endblock %}

{% block take_medicine_qt_time_3 %}
    {{ aftercare_3.take_medicine_qt_time }}
{% endblock %}

{% block transfer_treatment_reason_3 %}
    {{ aftercare_3.transfer_treatment_reason }}
{% endblock %}

{% block transfer_treatment_institution_3 %}
    {{ aftercare_3.transfer_treatment_institution }}
{% endblock %}

{% block next_visit_date_3 %}
    {{ aftercare_3.next_visit_date | date:"Y-m-d" }}
{% endblock %}

{% block doctor_signature_3 %}
    {{ aftercare_3.doctor_signature }}
{% endblock %}
{% endif %}

{% comment %}第4次随访表格{% endcomment %}

{% if aftercare_4 %}
{% block visit_date_4 %}
    {{ aftercare_4.visit_date }}
{% endblock %}

{% block visit_way_4 %}
    {{ aftercare_4.visit_way }}
{% endblock %}

{% block symptom_4 %}
    {% for item in aftercare_4.symptom.all %}
        {% if forloop.last %}
            {{ item }}
        {% else %}
            {{ item }}/
        {% endif %}
    {% endfor %}
{% endblock %}

{% block symptom_extra_4 %}
    {{ aftercare_4.symptom_extra }}
{% endblock %}

{% block sign_blood_pressure_4 %}
    {{ aftercare_4.sign_blood_pressure }}
{% endblock %}

{% block sign_weight_4 %}
    {{ aftercare_4.sign_weight }}
{% endblock %}

{% block sign_weight_next_4 %}
    {{ aftercare_4.sign_weight_next }}
{% endblock %}

{% block sign_bmi_4 %}
    {{ aftercare_4.sign_bmi }}
{% endblock %}

{% block sign_bmi_next_4 %}
    {{ aftercare_4.sign_bmi_next }}
{% endblock %}

{% block sign_heart_rhythm_4 %}
    {{ aftercare_4.sign_heart_rhythm }}
{% endblock %}

{% block sign_extra_4 %}
    {{ aftercare_4.sign_extra }}
{% endblock %}

{% block life_style_guide_smoke_4 %}
    {{ aftercare_4.life_style_guide_smoke }}
{% endblock %}

{% block life_style_guide_smoke_next_4 %}
    {{ aftercare_4.life_style_guide_smoke_next }}
{% endblock %}

{% block life_style_guide_liquor_4 %}
    {{ aftercare_4.life_style_guide_liquor }}
{% endblock %}

{% block life_style_guide_liquor_next_4 %}
    {{ aftercare_4.life_style_guide_liquor_next }}
{% endblock %}

{% block life_style_guide_sport1_4 %}
    {{ aftercare_4.life_style_guide_sport1 }}
{% endblock %}

{% block life_style_guide_sport2_4 %}
    {{ aftercare_4.life_style_guide_sport2 }}
{% endblock %}

{% block life_style_guide_sport3_4 %}
    {{ aftercare_4.life_style_guide_sport3 }}
{% endblock %}

{% block life_style_guide_sport4_4 %}
    {{ aftercare_4.life_style_guide_sport4 }}
{% endblock %}

{% block life_style_guide_salt_4 %}
    {{ aftercare_4.life_style_guide_salt }}
{% endblock %}

{% block life_style_guide_salt_next_4 %}
    {{ aftercare_4.life_style_guide_salt_next }}
{% endblock %}

{% block life_style_guide_mentality_4 %}
    {{ aftercare_4.life_style_guide_mentality }}
{% endblock %}

{% block life_style_guide_medical_compliance_4 %}
    {{ aftercare_4.life_style_guide_medical_compliance }}
{% endblock %}

{% block auxiliary_examination_4 %}
    {{ aftercare_4.auxiliary_examination }}
{% endblock %}

{% block take_medicine_compliance_4 %}
    {{ aftercare_4.take_medicine_compliance }}
{% endblock %}

{% block medicine_untoward_effect_4 %}
    {{ aftercare_4.medicine_untoward_effect }}
{% endblock %}

{% block medicine_untoward_effect_yes_4 %}
    {% ifequal aftercare_4.medicine_untoward_effect '有' %}
        {{ aftercare_4.medicine_untoward_effect_yes }}
    {% endifequal %}
{% endblock %}

{% block visit_classification_4 %}
    {{ aftercare_4.visit_classification }}
{% endblock %}

{% block take_medicine_1_4 %}
    {{ aftercare_4.take_medicine_1 }}
{% endblock %}

{% block take_medicine_1_day_4 %}
    {% if aftercare_4.take_medicine_1_day %}
        {{ aftercare_4.take_medicine_1_day }}
    {% endif %}
{% endblock %}

{% block take_medicine_1_time_4 %}
    {% if aftercare_4.take_medicine_1_time %}
        {{ aftercare_4.take_medicine_1_time }}
    {% endif %}
{% endblock %}

{% block take_medicine_2_4 %}
    {{ aftercare_4.take_medicine_2 }}
{% endblock %}

{% block take_medicine_2_day_4 %}
    {% if aftercare_4.take_medicine_2_day %}
        {{ aftercare_4.take_medicine_2_day }}
    {% endif %}
{% endblock %}

{% block take_medicine_2_time_4 %}
    {% if aftercare_4.take_medicine_2_time %}
        {{ aftercare_4.take_medicine_2_time }}
    {% endif %}
{% endblock %}

{% block take_medicine_3_4 %}
    {{ aftercare_4.take_medicine_3 }}
{% endblock %}

{% block take_medicine_3_day_4 %}
    {% if aftercare_4.take_medicine_3_day %}
        {{ aftercare_4.take_medicine_3_day }}
    {% endif %}
{% endblock %}

{% block take_medicine_3_time_4 %}
    {% if aftercare_4.take_medicine_3_time %}
        {{ aftercare_4.take_medicine_3_time }}
    {% endif %}
{% endblock %}

{% block take_medicine_qt_4 %}
    {{ aftercare_4.take_medicine_qt }}
{% endblock %}

{% block take_medicine_qt_day_4 %}
    {% if aftercare_4.take_medicine_qt_day %}
        {{ aftercare_4.take_medicine_qt_day }}
    {% endif %}
{% endblock %}

{% block take_medicine_qt_time_4 %}
    {% if aftercare_4.take_medicine_qt_time %}
        {{ aftercare_4.take_medicine_qt_time }}
    {% endif %}
{% endblock %}

{% block transfer_treatment_reason_4 %}
    {{ aftercare_4.transfer_treatment_reason }}
{% endblock %}

{% block transfer_treatment_institution_4 %}
    {{ aftercare_4.transfer_treatment_institution }}
{% endblock %}

{% block next_visit_date_4 %}
    {{ aftercare_4.next_visit_date }}
{% endblock %}

{% block doctor_signature_4 %}
    {{ aftercare_4.doctor_signature }}
{% endblock %}
{% endif %}