{% extends 'service_base.html' %}
{% load staticfiles %}

{% block service_item_list %}
    {% for item in service_type.service_items.all %}
        <a href="/{{ service_type.alias }}/{{ item.alias }}" class="btn-warning btn-sm btn-block" align="center">	{{ item.name }}
        </a><br />
    {% endfor %}
{% endblock service_item_list %}

{% block service_header %}
    <h3 class="page-header" align="center">{{ service_type.name }}</h3>
{% endblock service_header %}

{% block service_item_content %}
    <a href="{% url 'service:service_grid' %}" class="btn btn-default">返回</a>
{% endblock service_item_content %}
