{% extends "health_base.html" %}
{% load staticfiles %}

{% block content %}
<div class="container" align="center">
<div id="table" style="margin-left: 15px; overflow: auto;
                        z-index: 999999999999; width: 720px" align="center">
    <div style="padding: 10px; padding-left: 30px">
        <form id="psychiatric_basic" name="psychiatric_basic" action="" method="post">
            {% csrf_token %}
            <div>{% block table_form %}{% endblock %}</div>

            <input type="hidden" name="{{ stage_field }}" value="1" />
            <p style="text-align: right; padding-top: 30px; padding-right: 60px">
                <a type="button" href="/ehr/" class="btn btn-warning" style="margin-right: 40px">
                    <span class="glyphicon glyphicon-list-alt" style="padding-right: 5px"></span>返回</a>

                <button type="submit" class="btn btn-danger" style="margin-right: 10px">
                    <span class="glyphicon glyphicon-list-alt" style="padding-right: 5px"></span>预览</button>
            </p>
        </form>
    </div>
</div>
</div>
{% endblock %}