{% extends "health_base.html" %}
{% load staticfiles %}

{% block content %}
<div class="container" align="center">
    <div class="row">
        <div class="table-responsive" style="width: 1100px; margin-top: 50px">
        <form method="POST" action="{% url 'ehr:member_del' %}">
            {% csrf_token %}
            <table class="table table-striped" style="width: 1100px; border-color: #808080; margin: 20px; padding: 20px" align="center">
                <tr>
                    <th>选择</th><th>姓名</th><th>身份证号码</th><th>性别</th><th>民族</th>
                    <th>生日</th><th>地区</th><th>地址</th><th>电话</th>
                </tr>
                {% for resident in members %}
                <tr>
                    <td><input type="radio" name="removed" value={{ resident.id }}></td>
                    <td>{{ resident.name }}</td>
                    <td>{% if resident.identity != None %}
                            {{ resident.identity }}
                        {% endif %}
                    </td>
                    <td>{% if resident.gender == 1 %}男{% elif resident.gender == 0 %}女{% else %}未知{% endif %}</td>
                    <td>{{ resident.nation}}</td>
                    <td>{% if resident.birthday %}{{ resident.birthday| date:"Y年m月d日" }}{% endif %}</td>
                    <td>
                        {% if resident.town %}{{ resident.town.name }}{% endif %}
                        {% if resident.village %}{{ resident.village.name }}{% endif %}
                    </td>
                    <td>{% if resident.address != None %}
                            {{ resident.address }}
                        {% endif %}
                    </td>
                    <td>{% if resident.mobile != None %}
                            {{ resident.mobile }}
                        {% endif %}
                    </td>
                </tr>
                {% endfor %}
            </table>
            <div class="row" style="margin-top: 50px">
                <button type="submit" class="btn" style="margin-right: 50px">从家庭中移除</button>
                <a href="{% url 'ehr:family_relation' %}" class="btn btn-danger">返回</a>
            </div>
        </form>
        </div>
    </div>
</div>
{% endblock content%}
