{% extends "health_base.html" %}
{% load staticfiles %}

{% block content %}
<div class="container" align="center">
    <div class="row">
        <form class="form-inline" role="form" method="POST" action="">
            {% csrf_token %}
            <table style="width: 900px; font-size: 15px; line-height: 30px; margin-top: 50px">
                <tr>
                    <td width="20%" align="center" style="padding: 20px">
                        <label for="name">姓名:&nbsp;&nbsp;</label>
                        {% if name %}
                        <input class="form-control" type="text" name="name" style="width: 80px" value="{{ name }}">
                        {% else %}
                        <input class="form-control" type="text" name="name" style="width: 80px">
                        {% endif %}
                    </td>
                    <td width="20%" style="padding: 20px">
                        <label for="gender">性别:&nbsp;&nbsp;</label>
                        {% if gender == 1 %}
                        <input type="radio" name="gender" class="form-control" value="1" checked>男&nbsp;&nbsp;
                        <input type="radio" name="gender" class="form-control" value="0">女&nbsp;&nbsp;
                        {% elif gender == 0 %}
                        <input type="radio" name="gender" class="form-control" value="1">男&nbsp;&nbsp;
                        <input type="radio" name="gender" class="form-control" value="0" checked>女&nbsp;&nbsp;
                        {% else %}
                        <input type="radio" name="gender" class="form-control" value="1">男&nbsp;&nbsp;
                        <input type="radio" name="gender" class="form-control" value="0">女&nbsp;&nbsp;
                        {% endif %}
                    </td>
                    <td width="40%">
                        <label for="identity">身份证号码:&nbsp;&nbsp;</label>
                        {% if identity %}
                        <input type="text" name="identity" class="form-control" value="{{ identity }}">
                        {% else %}
                        <input type="text" name="identity" class="form-control">
                        {% endif %}
                    </td>
                    <td width="20" align="left">
                        <button class="btn btn-warning" type="submit">筛选</button>
                    </td>
                </tr>
            </table>
        </form>
    </div>
    <div class="row">
        <div class="table-responsive" style="width: 900px">
        <form method="POST" action="{% url 'ehr:member_add_selected_adult' %}">
            {% csrf_token %}
            <table class="table table-striped" style="width: 900px; font-size: 15px; line-height: 30px; margin-top: 50px">
                <tr>
                    <th>选择</th><th>姓名</th><th>身份证号码</th><th>性别</th><th>民族</th>
                    <th>生日</th><th>地区</th><th>地址</th><th>电话</th>
                </tr>
                {% for resident in candidates %}
                <tr>
                    <td><input type="radio" name="selected" value={{ resident.id }}></td>
                    <td>{{ resident.name }}</td>
                    <td>{% if resident.identity != None %}
                            {{ resident.identity }}
                        {% endif %}
                    </td>
                    <td>{% if resident.gender == 1 %}男{% elif resident.gender == 0 %}女{% else %}未知{% endif %}</td>
                    <td>{{ resident.nation}}</td>
                    <td>{% if resident.birthday %}{{ resident.birthday| date:"Y年m月d日" }}{% endif %}</td>
                    <td>
                        {% if resident.town %}{{ resident.town.name }}{% endif %}
                        {% if resident.village %}{{ resident.village.name }}{% endif %}
                    </td>
                    <td>{% if resident.address != None %}
                            {{ resident.address }}
                        {% endif %}
                    </td>
                    <td>{% if resident.mobile != None %}
                            {{ resident.mobile }}
                        {% endif %}
                    </td>
                </tr>
                {% endfor %}
            </table>
            <button type="submit" class="btn" style="margin-top: 50px">添加进入家庭</button>
        </form>
        </div>
    </div>
</div>
{% endblock content%}
