{% extends 'ehr/personal_info_base.html' %}

{% block gender %}{{ form.gender.data }}{% endblock %}
{% block birthday %}{{ form.birthday.data }}{% endblock %}
{% block identity %}{{ form.identity.data }}{% endblock %}
{% block work_company %}{{ form.work_company.data }}{% endblock %}
{% block phone %}{{ form.phone.data }}{% endblock %}
{% block contact_name %}{{ form.contact_name.data }}{% endblock %}
{% block contact_phone %}{{ form.contact_phone.data }}{% endblock %}
{% block residence_type %}{{ form.residence_type.data }}{% endblock %}
{% block nation %}{{ form.nation.data }}
    {% ifequal form.nation.data '少数民族' %}
        {{ form.nation_extra.data }}
    {% endifequal %}
{% endblock %}
{% block blood_type %}{{ form.blood_type.data }}{% endblock %}
{% block blood_rh %}/&nbsp;&nbsp;RH阴性：{{ form.blood_rh.data }}{% endblock %}
{% block education %}{{ form.education.data }}{% endblock %}
{% block occupation %}{{ form.occupation.data }}{% endblock %}
{% block marriage %}{{ form.marriage.data }}{% endblock %}

{% block payment_way %}
    {% for item in form.payment_way.data %}
        {{ item }}
    {% endfor %}
    {% ifequal form.payment_way.data '其他' %}
        {{ form.payment_way_extra.data }}
    {% endifequal %}
{% endblock %}

{% block allergy_history %}
    {% for item in form.allergy_history.data %}
        {{ item }}&nbsp;&nbsp;
    {% endfor %}
    {% if '其他' in form.allergy_history.data %}
        {{ form.allergy_history_yes_extra.data }}
    {% endif %}
{% endblock %}

{% block expose_history %}
    {% for item in form.expose_history.data %}
        {{ item }}&nbsp;&nbsp;
    {% endfor %}
{% endblock %}

{% block disease_history %}
    {% for item in form.disease_history.data %}
        {{ item }}
        {% ifequal item '高血压' %}
            &nbsp;&nbsp;确诊时间：{{ form.diagnose_date_2.data }}
        {% endifequal %}
        {% ifequal item '糖尿病' %}
            &nbsp;&nbsp;确诊时间：{{ form.diagnose_date_3.data }}
        {% endifequal %}
        {% ifequal item '冠心病' %}
            &nbsp;&nbsp;确诊时间：{{ form.diagnose_date_4.data }}
        {% endifequal %}
        {% ifequal item '慢性阻塞性肺疾病' %}
            &nbsp;&nbsp;确诊时间：{{ form.diagnose_date_5.data }}
        {% endifequal %}
        {% ifequal item '恶性肿瘤' %}
            &nbsp;{{ form.disease_history_cancer.data }}
            &nbsp;&nbsp;确诊时间：{{ form.diagnose_date_6.data }}
        {% endifequal %}
        {% ifequal item '脑卒中' %}
            &nbsp;&nbsp;确诊时间：{{ form.diagnose_date_7.data }}
        {% endifequal %}
        {% ifequal item '重性精神疾病' %}
            &nbsp;&nbsp;确诊时间：{{ form.diagnose_date_8.data }}
        {% endifequal %}
        {% ifequal item '结核病' %}
            &nbsp;&nbsp;确诊时间：{{ form.diagnose_date_9.data }}
        {% endifequal %}
        {% ifequal item '肝炎' %}
            &nbsp;&nbsp;确诊时间：{{ form.diagnose_date_10.data }}
        {% endifequal %}
        {% ifequal item '其他法定传染病' %}
            &nbsp;&nbsp;确诊时间：{{ form.diagnose_date_11.data }}
        {% endifequal %}
        {% ifequal item '职业病' %}
            &nbsp;{{ form.disease_hisotry_occupational }}
            &nbsp;&nbsp;确诊时间：{{ form.diagnose_date_12.data }}
        {% endifequal %}
        {% ifequal item '其他' %}
            &nbsp;{{ form.disease_history_extra }}
            &nbsp;&nbsp;确诊时间：{{ form.diagnose_date_13.data }}
        {% endifequal %}
    {% endfor %}
{% endblock %}

{% block surgery_history %}
    {{ form.surgery_history.data }}
    {% ifequal form.surgery_history.data '有' %}
        {% if form.surgery_1_name.data %}
            ：名称1{{ form.surgery_1_name.data }}&nbsp;&nbsp;时间{{ form.surgery_1_date.data }}
        {% endif %}
        {% if form.surgery_2_name.data %}
            ：名称2{{ form.surgery_2_name.data }}&nbsp;&nbsp;时间{{ form.surgery_2_date.data }}
        {% endif %}
    {% endifequal %}
{% endblock %}

{% block injury_history %}
    {{ form.injury_history.data }}
    {% ifequal form.injury_history.data '有' %}
        {% if form.injury_1_name.data %}
            ：名称1{{ form.injury_1_name.data }}&nbsp;&nbsp;时间{{ form.injury_1_date.data }}
        {% endif %}
        {% if form.injury_2_name.data %}
            ：名称2{{ form.injury_2_name.data }}&nbsp;&nbsp;时间{{ form.injury_2_date.data }}
        {% endif %}
    {% endifequal %}
{% endblock %}

{% block transfusion_history %}
    {{ form.transfusion_history.data }}
    {% ifequal form.transfusion_history.data '有' %}
        {% if form.transfusion_1_reason.data %}
            ：原因1{{ form.transfusion_1_reason.data }}&nbsp;&nbsp;时间{{ form.transfusion_1_date.data }}
        {% endif %}
        {% if form.transfusion_2_reason.data %}
            ：原因2{{ form.transfusion_2_reason.data }}&nbsp;&nbsp;时间{{ form.transfusion_2_date.data }}
        {% endif %}
    {% endifequal %}
{% endblock %}


{% block family_history_father %}
    {% for item in form.family_history_father.data %}
        {{ item }}
    {% endfor %}
    {% if '其他' in form.family_history_father.data %}
        {{ form.family_history_father_extra.data }}
    {% endif %}
{% endblock %}

{% block family_history_mother %}
    {% for item in form.family_history_mother.data %}
        {{ item }}
    {% endfor %}
    {% if '其他' in form.family_history_mother.data %}
        {{ form.family_history_mother_extra.data }}
    {% endif %}
{% endblock %}

{% block family_history_sibling %}
    {% for item in form.family_history_sibling.data %}
        {{ item }}
    {% endfor %}
    {% if '其他' in form.family_history_sibling.data %}
        {{ form.family_history_sibling_extra.data }}
    {% endif %}
{% endblock %}

{% block family_history_children %}
    {% for item in form.family_history_children.data %}
        {{ item }}
    {% endfor %}
    {% if '其他' in form.family_history_children.data %}
        {{ form.family_history_children_extra.data }}
    {% endif %}
{% endblock %}

{% block genetic_disease %}
    {{ form.genetic_disease.data }}
    {% ifequal form.genetic_disease.data '有' %}
        ：疾病名称{{ form.genetic_disease_yes.data }}
    {% endifequal %}
{% endblock %}

{% block disability %}
    {% for item in form.disability.data %}
        {{ item }}
    {% endfor %}
    {% if '其他' in form.disability.data %}
        {{ form.disability_extra.data }}
    {% endif %}
{% endblock %}

{% block surroundings_kitchen_exhaust %}
    {{ form.surroundings_kitchen_exhaust.data }}
{% endblock %}

{% block surroundings_fuel_type %}
    {{ form.surroundings_fuel_type.data }}
{% endblock %}

{% block surroundings_water %}
    {{ form.surroundings_water.data }}
{% endblock %}

{% block surroundings_toilet %}
    {{ form.surroundings_toilet.data }}
{% endblock %}

{% block surrounding_livestock_fence %}
    {{ form.surrounding_livestock_fence.data }}
{% endblock %}
