{% extends 'ehr/body_exam_base.html' %}

{% block doctor_name %}{{ doctor_name }}{% endblock %}
{% block check_date %}{{ check_date | date:"Y-m-d" }}{% endblock %}

# 血常规
{% block blood_routine_test %}
{% if form.Meta.alias == 'blood_routine_test' or form.Meta.alias == 'old_body_check' or form.Meta.alias == 'psy_body_check' %}
    血红蛋白{{ form.hemoglobin }}g/L&nbsp;&nbsp;
    白细胞{{ form.leucocyte }}×10<sup>9</sup>/L&nbsp;&nbsp;
    血小板{{ form.blood_platelets }}×10<sup>9</sup>/L<br />
    其他{{ form.blood_routine_test_extra }}
{% elif blood_routine_test %}
    血红蛋白{{ blood_routine_test.hemoglobin }}g/L&nbsp;&nbsp;
    白细胞{{ blood_routine_test.leucocyte }}×10<sup>9</sup>/L&nbsp;&nbsp;
    血小板{{ blood_routine_test.blood_platelets }}×10<sup>9</sup>
    其他{{ blood_routine_test.blood_routine_test_extra }}
{% endif %}
{% endblock %}

#尿常规
{% block urine_routine_test %}
{% if form.Meta.alias == 'urine_routine_test' or form.Meta.alias == 'old_body_check' or form.Meta.alias == 'psy_body_check' %}
    尿蛋白{{ form.urine_protein }}&nbsp;&nbsp;
    尿糖{{ form.urine_glucose }}&nbsp;&nbsp;
    尿酮体{{ form.ketone_bodies }}<br />
    尿潜血{{ form.occult_blood }}&nbsp;&nbsp;
    其他{{ form.routine_urine_test_extra }}
{% elif urine_routine_test %}
    尿蛋白{{ urine_routine_test.urine_protein }}&nbsp;&nbsp;
    尿糖{{ urine_routine_test.urine_glucose }}&nbsp;&nbsp;
    尿酮体{{ urine_routine_test.ketone_bodies }}&nbsp;&nbsp;
    尿潜血{{ urine_routine_test.occult_blood }}&nbsp;&nbsp;
    其他{{ urine_routine_test.routine_urine_test_extra }}
{% endif %}
{% endblock %}

# 血清谷丙转氨酶
{% block alanine_aminotransferase %}
    {% if form.Meta.alias == 'alanine_aminotransferase' or form.Meta.alias == 'old_body_check' or form.Meta.alias == 'psy_body_check' %}
        &nbsp;{{ form.alt }}U/L&nbsp;&nbsp;
    {% elif alanine_aminotransferase %}
        &nbsp;{{ alanine_aminotransferase.alt }}U/L&nbsp;&nbsp;
    {% endif %}
{% endblock %}

# 血清谷草转氨酶
{% block glutamic_oxalacetic_transaminase %}
    {% if form.Meta.alias == 'glutamic_oxalacetic_transaminase' or form.Meta.alias == 'old_body_check' or form.Meta.alias == 'psy_body_check' %}
        &nbsp;{{ form.ast }}U/L&nbsp;&nbsp;
    {% elif glutamic_oxalacetic_transaminase %}
        &nbsp;{{ glutamic_oxalacetic_transaminase.ast }}U/L&nbsp;&nbsp;
    {% endif %}
{% endblock %}

# 血糖
{% block blood_glucose %}
{% if form.Meta.alias == 'blood_glucose' or form.Meta.alias == 'old_body_check' or form.Meta.alias == 'psy_body_check' %}
    {{ form.blood_glucose_mmol }} mmol/L
    &nbsp;&nbsp;或&nbsp;&nbsp;
    {{ form.blood_glucose_mg }} mg/dL
{% elif blood_glucose %}
    {{ blood_glucose.blood_glucose_mmol }} mmol/L
    &nbsp;&nbsp;或&nbsp;&nbsp;
    {{ blood_glucose.blood_glucose_mg }} mg/dL
{% endif %}
{% endblock %}

# 心电图
{% block electrocardiogram %}
{% if form.Meta.alias == 'electrocardiogram' or form.Meta.alias == 'old_body_check' or form.Meta.alias == 'psy_body_check' %}
    {% for item in form.electr_gram %}
        {% if forloop.first %}
        {% else %}
            {{ item }}&nbsp;&nbsp;
        {% endif %}
    {% endfor %}
    {{ form.electr_gram_abnormal }}
{% elif electrocardiogram %}
    {{ electrocardiogram.electr_gram }}
    {{ electrocardiogram.electr_gram_abnormal }}
{% endif %}
{% endblock %}

# 一般体格检查
{% block body_temperature %}
    {% if form.Meta.alias == 'physical_examination' or form.Meta.alias == 'old_body_check' or form.Meta.alias == 'psy_body_check' %}
        {{ form.body_temperature }}℃
    {% elif physical_examination %}
        {{ physical_examination.body_temperature }}℃
    {% endif %}
{% endblock %}

{% block pulse %}
    {% if form.Meta.alias == 'physical_examination' or form.Meta.alias == 'old_body_check' or form.Meta.alias == 'psy_body_check' %}
        {{ form.pulse }}次/分钟
    {% elif physical_examination %}
        {{ physical_examination.pulse }}次/分钟
    {% endif %}
{% endblock %}

{% block breath_frequency %}
    {% if form.Meta.alias == 'physical_examination' or form.Meta.alias == 'old_body_check' or form.Meta.alias == 'psy_body_check' %}
        {{ form.breath_frequency }}次/分钟
    {% elif physical_examination %}
        {{ physical_examination.breath_frequency }}次/分钟
    {% endif %}
{% endblock %}

{% block blood_pressure_left_sbp %}
    {% if form.Meta.alias == 'physical_examination' or form.Meta.alias == 'old_body_check' or form.Meta.alias == 'psy_body_check' %}
        {{ form.blood_pressure_left_sbp }}
    {% elif physical_examination %}
        {{ physical_examination.blood_pressure_left_sbp }}
    {% endif %}
{% endblock %}

{% block blood_pressure_left_dbp %}
    {% if form.Meta.alias == 'physical_examination' or form.Meta.alias == 'old_body_check' or form.Meta.alias == 'psy_body_check' %}
        {{ form.blood_pressure_left_dbp }}
    {% elif physical_examination %}
        {{ physical_examination.blood_pressure_left_dbp }}
    {% endif %}
{% endblock %}

{% block blood_pressure_right_sbp %}
    {% if form.Meta.alias == 'physical_examination' or form.Meta.alias == 'old_body_check' or form.Meta.alias == 'psy_body_check' %}
        {{ form.blood_pressure_right_sbp }}
    {% elif physical_examination %}
        {{ physical_examination.blood_pressure_right_sbp }}
    {% endif %}
{% endblock %}

{% block blood_pressure_right_dbp %}
    {% if form.Meta.alias == 'physical_examination' or form.Meta.alias == 'old_body_check' or form.Meta.alias == 'psy_body_check' %}
        {{ form.blood_pressure_right_dbp }}
    {% elif physical_examination %}
        {{ physical_examination.blood_pressure_right_dbp }}
    {% endif %}
{% endblock %}

{% block height %}
    {% if form.Meta.alias == 'physical_examination' or form.Meta.alias == 'old_body_check' or form.Meta.alias == 'psy_body_check' %}
        {{ form.height }}cm
    {% elif physical_examination %}
        {{ physical_examination.height }}cm
    {% endif %}
{% endblock %}

{% block weight %}
    {% if form.Meta.alias == 'physical_examination' or form.Meta.alias == 'old_body_check' or form.Meta.alias == 'psy_body_check' %}
        {{ form.weight }}kg
    {% elif physical_examination %}
        {{ physical_examination.weight }}kg
    {% endif %}
{% endblock %}

{% block waistline %}
    {% if form.Meta.alias == 'physical_examination' or form.Meta.alias == 'old_body_check' or form.Meta.alias == 'psy_body_check' %}
        {{ form.waistline }}cm
    {% elif physical_examination %}
        {{ physical_examination.waistline }}cm
    {% endif %}
{% endblock %}

{% block body_mass_index %}
    {% if form.Meta.alias == 'physical_examination' or form.Meta.alias == 'old_body_check' or form.Meta.alias == 'psy_body_check' %}
        {{ form.body_mass_index }}Kg/m<sup>2</sup>
    {% elif physical_examination %}
        {{ physical_examination.body_mass_index }}Kg/m<sup>2</sup>
    {% endif %}
{% endblock %}

{% block mouth_lip %}
    {% if form.Meta.alias == 'physical_examination' or form.Meta.alias == 'old_body_check' or form.Meta.alias == 'psy_body_check' %}
        {% for item in form.mouth_lip %}
            {% if forloop.first %}
            {% else %}
                {{ item }}
            {% endif %}
        {% endfor %}
    {% elif physical_examination %}
        {{ physical_examination.mouth_lip }}
    {% endif %}
{% endblock %}

{% block mouth_tooth %}
    {% if form.Meta.alias == 'physical_examination' or form.Meta.alias == 'old_body_check' or form.Meta.alias == 'psy_body_check' %}
        {% for item in form.mouth_tooth %}
            {% if forloop.first %}
            {% elif forloop.counter0 == 2 %}
                {{ item }}：
                左上{{ form.mouth_tooth_missing_upleft }}
                左下{{ form.mouth_tooth_missing_bottomleft }}
                右上{{ form.mouth_tooth_missing_upright }}
                右下{{ form.mouth_tooth_missing_bottomright }}<br />
            {% elif forloop.counter0 == 3 %}
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                {{ item }}：
                左上{{ form.mouth_tooth_decayed_upleft }}
                左下{{ form.mouth_tooth_decayed_bottomleft }}
                右上{{ form.mouth_tooth_decayed_upright }}
                右下{{ form.mouth_tooth_decayed_bottomright }}<br />
            {% elif forloop.counter0 == 4 %}
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                {{ item }}：
                左上{{ form.mouth_tooth_denture_upleft }}
                左下{{ form.mouth_tooth_denture_bottomleft }}
                右上{{ form.mouth_tooth_denture_upright }}
                右下{{ form.mouth_tooth_denture_bottomright }}
            {% else %}
                {{ item }}&nbsp;&nbsp;
            {% endif %}
        {% endfor %}
    {% elif physical_examination %}
        {{ physical_examination.mouth_tooth }}
        {% if physical_examination.mouth_lip == '缺齿' %}
            左上{{ physical_examination.mouth_tooth_missing_upleft }}
            左下{{ physical_examination.mouth_tooth_missing_bottomleft }}
            右上{{ physical_examination.mouth_tooth_missing_upright }}
            右下{{ physical_examination.mouth_tooth_missing_bottomright }}
        {% elif physical_examination.mouth_lip == '龋齿' %}
            左上{{ physical_examination.mouth_tooth_decayed_upleft }}
            左下{{ physical_examination.mouth_tooth_decayed_bottomleft }}
            右上{{ physical_examination.mouth_tooth_decayed_upright }}
            右下{{ physical_examination.mouth_tooth_decayed_bottomright }}
        {% elif physical_examination.mouth_lip == '义牙（假牙）' %}
            左上{{ physical_examination.mouth_tooth_denture_upleft }}
            左下{{ physical_examination.mouth_tooth_denture_bottomleft }}
            右上{{ physical_examination.mouth_tooth_denture_upright }}
            右下{{ physical_examination.mouth_tooth_denture_bottomright }}
        {% endif %}
    {% endif %}
{% endblock %}

{% block mouth_throat %}
{% if form.Meta.alias == 'physical_examination' or form.Meta.alias == 'old_body_check' or form.Meta.alias == 'psy_body_check' %}
    {% for item in form.mouth_throat %}
        {% if forloop.first %}
        {% else %}
            {{ item }}&nbsp;&nbsp;
        {% endif %}
    {% endfor %}
{% elif physical_examination %}
    {{ physical_examination.mouth_throat }}
{% endif %}
{% endblock %}

{% block eyesight %}
    {% if form.Meta.alias == 'physical_examination' or form.Meta.alias == 'old_body_check' or form.Meta.alias == 'psy_body_check' %}
        左眼{{ form.eyesight_left }}&nbsp;&nbsp;
        右眼{{ form.eyesight_right }}&nbsp;&nbsp;
        （矫正视力：
        左眼{{ form.eyesight_left_rectified }}&nbsp;&nbsp;
        右眼{{ form.eyesight_right_rectified }}）
    {% elif physical_examination %}
        左眼{{ physical_examination.eyesight_left }}&nbsp;&nbsp;
        右眼{{ physical_examination.eyesight_right }}&nbsp;&nbsp;
        （矫正视力：
        左眼{{ physical_examination.eyesight_left_rectified }}&nbsp;&nbsp;
        右眼{{ physical_examination.eyesight_right_rectified }}）
    {% endif %}
{% endblock %}

{% block hearing %}
    {% if form.Meta.alias == 'physical_examination' or form.Meta.alias == 'old_body_check' or form.Meta.alias == 'psy_body_check' %}
        {% for item in form.hearing %}
            {% if forloop.first %}
            {% else %}
                {{ item }}&nbsp;&nbsp;
            {% endif %}
        {% endfor %}
    {% elif physical_examination %}
        {{ physical_examination.hearing }}
    {% endif %}
{% endblock %}

{% block movement_function %}
    {% if form.Meta.alias == 'physical_examination' or form.Meta.alias == 'old_body_check' or form.Meta.alias == 'psy_body_check' %}
        {% for item in form.movement_function %}
            {% if forloop.first %}
            {% else %}
                {{ item }}&nbsp;&nbsp;
            {% endif %}
        {% endfor %}
    {% elif physical_examination %}
        {{ physical_examination.movement_function }}
    {% endif %}
{% endblock %}

{% block skin %}
    {% if form.Meta.alias == 'physical_examination' or form.Meta.alias == 'old_body_check' or form.Meta.alias == 'psy_body_check' %}
        {% for item in form.skin %}
            {% if forloop.first %}
            {% else %}
                {{ item }}&nbsp;&nbsp;
            {% endif %}
        {% endfor %}
        {{ form.skin_extra }}
    {% elif physical_examination %}
        {{ physical_examination.skin }}&nbsp;&nbsp;
        {{ physical_examination.skin_extra }}
    {% endif %}
{% endblock %}


{% block lymph_node %}
    {% if form.Meta.alias == 'physical_examination' or form.Meta.alias == 'old_body_check' or form.Meta.alias == 'psy_body_check' %}
        {% for item in form.lymph_node %}
            {% if forloop.first %}
            {% else %}
                {{ item }}&nbsp;&nbsp;
            {% endif %}
        {% endfor %}
        {{ form.lymph_node_extra }}
    {% elif physical_examination %}
        {{ physical_examination.lymph_node }}&nbsp;&nbsp;
        {{ physical_examination.lymph_node_extra }}
    {% endif %}
{% endblock %}


{% block lung_barrel_chested %}
    {% if form.Meta.alias == 'physical_examination' or form.Meta.alias == 'old_body_check' or form.Meta.alias == 'psy_body_check' %}
        {% for item in form.lung_barrel_chested %}
            {% if forloop.first %}
            {% else %}
                {{ item }}&nbsp;&nbsp;
            {% endif %}
        {% endfor %}
    {% elif physical_examination %}
        {{ physical_examination.lung_barrel_chested }}
    {% endif %}
{% endblock %}

{% block lung_breath_sound %}
    {% if form.Meta.alias == 'physical_examination' or form.Meta.alias == 'old_body_check' or form.Meta.alias == 'psy_body_check' %}
        {% for item in form.lung_breath_sound %}
            {% if forloop.first %}
            {% else %}
                {{ item }}&nbsp;&nbsp;
            {% endif %}
        {% endfor %}
        {{ form.lung_breath_sound_extra }}
    {% elif physical_examination %}
        {{ physical_examination.lung_breath_sound }}&nbsp;&nbsp;
        {{ physical_examination.lung_breath_sound_extra }}
    {% endif %}
{% endblock %}

{% block lung_rale %}
    {% if form.Meta.alias == 'physical_examination' or form.Meta.alias == 'old_body_check' or form.Meta.alias == 'psy_body_check' %}
        {% for item in form.lung_rale %}
            {% if forloop.first %}
            {% else %}
                {{ item }}&nbsp;&nbsp;
            {% endif %}
        {% endfor %}
        {{ form.lung_rale_extra }}
    {% elif physical_examination %}
        {{ physical_examination.lung_rale }}&nbsp;&nbsp;
        {{ physical_examination.lung_rale_extra }}
    {% endif %}
{% endblock %}

{% block heart %}
    {% if form.Meta.alias == 'physical_examination' or form.Meta.alias == 'old_body_check' or form.Meta.alias == 'psy_body_check' %}
        心率：{{ form.heart_rate }}次/分钟<br />
        心律：
        {% for item in form.heart_rhythm %}
            {% if forloop.first %}
            {% elif forloop.last %}
                {{ item }}<br />
            {% else %}
                {{ item }}&nbsp;&nbsp;
            {% endif %}
        {% endfor %}
        杂音：
        {% for item in form.heart_noise %}
            {% if forloop.first %}
            {% elif forloop.last %}
                {{ item }}
            {% else %}
                {{ item }}&nbsp;&nbsp;
            {% endif %}
        {% endfor %}
        {{ form.heart_noise_extra }}
    {% elif physical_examination %}
        心率：{{ physical_examination.heart_rate }}次/分钟&nbsp;&nbsp;
        心律：{{ physical_examination.heart_rhythm }}&nbsp;&nbsp;
        杂音：{{ physical_examination.heart_noise }}&nbsp;&nbsp;
        {{ physical_examination.heart_noise_extra }}
    {% endif %}
{% endblock %}

{% block stomach %}
    {% if form.Meta.alias == 'physical_examination' or form.Meta.alias == 'old_body_check' or form.Meta.alias == 'psy_body_check' %}
        压痛：
        {% for item in form.stomach_tenderness %}
            {% if forloop.first %}
            {% else %}
                {{ item }}&nbsp;&nbsp;
            {% endif %}
        {% endfor %}
        {{ form.stomach_tenderness_extra }}<br />
        包块：
        {% for item in form.stomach_enclosed_mass %}
            {% if forloop.first %}
            {% else %}
                {{ item }}&nbsp;&nbsp;
            {% endif %}
        {% endfor %}
        {{ form.stomach_enclosed_mass_extra }}<br />
        肝大：
        {% for item in form.stomach_hepatomegaly %}
            {% if forloop.first %}
            {% else %}
                {{ item }}&nbsp;&nbsp;
            {% endif %}
        {% endfor %}
        {{ form.stomach_hepatomegaly_extra }}<br />
        脾大：
        {% for item in form.stomach_slenauxe %}
            {% if forloop.first %}
            {% else %}
                {{ item }}&nbsp;&nbsp;
            {% endif %}
        {% endfor %}
        {{ form.stomach_slenauxe_extra }}<br />
        移动性浊音：
        {% for item in form.stomach_shifting_dullness %}
            {% if forloop.first %}
            {% else %}
                {{ item }}&nbsp;&nbsp;
            {% endif %}
        {% endfor %}
        {{ form.stomach_shifting_dullness_extra }}
    {% elif physical_examination %}
        压痛：{{ physical_examination.stomach_tenderness }}
        {{ physical_examination.stomach_tenderness_estra }}<br />
        包块：{{ physical_examination.stomach_enclosed_mass }}
        {{ physical_examination.stomach_enclosed_mass_extra }}<br />
        肝大：{{ physical_examination.stomach_hepatomegaly }}
        {{ physical_examination.stomach_enclosed_mass_extra }}<br />
        脾大：{{ physical_examination.stomach_slenauxe }}
        {{ physical_examination.stomach_enclosed_mass_extra }}<br />
        移动性浊音：{{ physical_examination.stomach_shifting_dullness }}
        {{ physical_examination.stomach_enclosed_mass_extra }}
    {% endif %}
{% endblock %}

# 中医体质辨识
{% block pinghe %}
{% if form.Meta.alias == 'constitution_identification' or form.Meta.alias == 'old_body_check' %}
    {% for item in form.pinghe %}
        {% if forloop.first %}
        {% else %}
            {{ item }}&nbsp;&nbsp;&nbsp;&nbsp;
        {% endif %}
    {% endfor %}
{% else %}
    {{ constitution_identification.pinghe }}
{% endif %}
{% endblock %}

{% block qixu %}
{% if form.Meta.alias == 'constitution_identification' or form.Meta.alias == 'old_body_check' %}
    {% for item in form.qixu %}
        {% if forloop.first %}
        {% else %}
            {{ item }}&nbsp;&nbsp;&nbsp;&nbsp;
        {% endif %}
    {% endfor %}
{% else %}
    {{ constitution_identification.qixu }}
{% endif %}
{% endblock %}

{% block yangxu %}
{% if form.Meta.alias == 'constitution_identification' or form.Meta.alias == 'old_body_check' %}
    {% for item in form.yangxu %}
        {% if forloop.first %}
        {% else %}
            {{ item }}&nbsp;&nbsp;&nbsp;&nbsp;
        {% endif %}
    {% endfor %}
{% else %}
    {{ constitution_identification.yangxu }}
{% endif %}
{% endblock %}

{% block yinxu %}
{% if form.Meta.alias == 'constitution_identification' or form.Meta.alias == 'old_body_check' %}
    {% for item in form.yinxu %}
        {% if forloop.first %}
        {% else %}
            {{ item }}&nbsp;&nbsp;&nbsp;&nbsp;
        {% endif %}
    {% endfor %}
{% else %}
    {{ constitution_identification.yinxu }}
{% endif %}
{% endblock %}

{% block tanshi %}
{% if form.Meta.alias == 'constitution_identification' or form.Meta.alias == 'old_body_check' %}
    {% for item in form.tanshi %}
        {% if forloop.first %}
        {% else %}
            {{ item }}&nbsp;&nbsp;&nbsp;&nbsp;
        {% endif %}
    {% endfor %}
{% else %}
    {{ constitution_identification.tanshi }}
{% endif %}
{% endblock %}

{% block shire %}
{% if form.Meta.alias == 'constitution_identification' or form.Meta.alias == 'old_body_check' %}
    {% for item in form.shire %}
        {% if forloop.first %}
        {% else %}
            {{ item }}&nbsp;&nbsp;&nbsp;&nbsp;
        {% endif %}
    {% endfor %}
{% else %}
    {{ constitution_identification.shire }}
{% endif %}
{% endblock %}

{% block xueyu %}
{% if form.Meta.alias == 'constitution_identification' or form.Meta.alias == 'old_body_check' %}
    {% for item in form.xueyu %}
        {% if forloop.first %}
        {% else %}
            {{ item }}&nbsp;&nbsp;&nbsp;&nbsp;
        {% endif %}
    {% endfor %}
{% else %}
    {{ constitution_identification.xueyu }}
{% endif %}
{% endblock %}

{% block qiyu %}
{% if form.Meta.alias == 'constitution_identification' or form.Meta.alias == 'old_body_check' %}
    {% for item in form.qiyu %}
        {% if forloop.first %}
        {% else %}
            {{ item }}&nbsp;&nbsp;&nbsp;&nbsp;
        {% endif %}
    {% endfor %}
{% else %}
    {{ constitution_identification.qiyu }}
{% endif %}
{% endblock %}

{% block tebing %}
{% if form.Meta.alias == 'constitution_identification' or form.Meta.alias == 'old_body_check' %}
    {% for item in form.tebing %}
        {% if forloop.first %}
        {% else %}
            {{ item }}&nbsp;&nbsp;&nbsp;&nbsp;
        {% endif %}
    {% endfor %}
{% else %}
    {{ constitution_identification.tebing }}
{% endif %}
{% endblock %}

# 血脂
{% block blood_fat %}
{% if form.Meta.alias == 'blood_fat' or form.Meta.alias == 'old_body_check' %}
    总胆固醇{{ form.tc }}mmol/L&nbsp;&nbsp;
    甘油三酯{{ form.tg }}mmol/L<br />
    血清低密度脂蛋白胆固醇{{ form.ldl_c }}mmol/L<br />
    血清高密度脂蛋白胆固醇{{ form.hdl_c }}mmol/L
{% elif blood_fat %}
    总胆固醇{{ blood_fat.tc }}mmol/L&nbsp;&nbsp;
    甘油三酯{{ blood_fat.tg }}mmol/L<br />
    血清低密度脂蛋白胆固醇{{ blood_fat.ldl_c }}mmol/L<br />
    血清高密度脂蛋白胆固醇{{ blood_fat.hdl_c }}mmol/L
{% endif %}
{% endblock %}

# 总胆红素
{% block total_bilirubin %}
    {% if form.Meta.alias == 'total_bilirubin' or form.Meta.alias == 'old_body_check' %}
        {{ form.tbil }}&#956mol/L&nbsp;&nbsp;
    {% elif total_bilirubin %}
        {{ total_bilirubin.tbil }}&#956mol/L&nbsp;&nbsp;
    {% endif %}
{% endblock %}

# 血清肌酐
{% block serum_creatinine %}
    {% if form.Meta.alias == 'serum_creatinine' or form.Meta.alias == 'old_body_check' %}
        {{ form.scr }}&#956mol/L&nbsp;&nbsp;
    {% elif serum_creatinine %}
        {{ serum_creatinine.scr }}&#956mol/L&nbsp;&nbsp;
    {% endif %}
{% endblock %}

# 血尿素氮
{% block blood_urea_nitrogen %}
    {% if form.Meta.alias == 'blood_urea_nitrogen' or form.Meta.alias == 'old_body_check' %}
        {{ form.bun }}&#956mol/L&nbsp;&nbsp;
    {% elif blood_urea_nitrogen %}
        {{ blood_urea_nitrogen.bun }}&#956mol/L&nbsp;&nbsp;
    {% endif %}
{% endblock %}