{% extends 'ehr/body_exam_base.html' %}

{% block doctor_name %}{{ doctor_name }}{% endblock %}
{% block check_date %}{{ check_date | date:"Y-m-d" }}{% endblock %}

# 血常规
{% block blood_routine_test %}
{% if form.Meta.alias == 'blood_routine_test' or form.Meta.alias == 'old_body_check' or form.Meta.alias == 'psy_body_check' %}
    血红蛋白{{ form.hemoglobin.data }}g/L&nbsp;&nbsp;
    白细胞{{ form.leucocyte.data }}×10<sup>9</sup>/L&nbsp;&nbsp;
    血小板{{ form.blood_platelets.data }}×10<sup>9</sup>/L<br />
    其他{{ form.blood_routine_test_extra.data }}
{% elif blood_routine_test %}
    血红蛋白{{ blood_routine_test.hemoglobin }}g/L&nbsp;&nbsp;
    白细胞{{ blood_routine_test.leucocyte }}×10<sup>9</sup>/L&nbsp;&nbsp;
    血小板{{ blood_routine_test.blood_platelets }}×10<sup>9</sup>/L<br />
    其他{{ blood_routine_test.blood_routine_test_extra }}
{% endif %}
{% endblock %}

#尿常规
{% block urine_routine_test %}
{% if form.Meta.alias == 'urine_routine_test' or form.Meta.alias == 'old_body_check' %}
    尿蛋白{{ form.urine_protein.data }}&nbsp;&nbsp;
    尿糖{{ form.urine_glucose.data }}&nbsp;&nbsp;
    尿酮体{{ form.ketone_bodies.data }}&nbsp;&nbsp;
    尿潜血{{ form.occult_blood.data }}&nbsp;&nbsp;
    其他{{ form.routine_urine_test_extra.data }}
{% elif urine_routine_test %}
    尿蛋白{{ urine_routine_test.urine_protein }}&nbsp;&nbsp;
    尿糖{{ urine_routine_test.urine_glucose }}&nbsp;&nbsp;
    尿酮体{{ urine_routine_test.ketone_bodies }}&nbsp;&nbsp;
    尿潜血{{ urine_routine_test.occult_blood }}&nbsp;&nbsp;
    其他{{ urine_routine_test.routine_urine_test_extra }}
{% endif %}
{% endblock %}

# 血清谷丙转氨酶
{% block alanine_aminotransferase %}
    {% if form.Meta.alias == 'alanine_aminotransferase' or form.Meta.alias == 'old_body_check' or form.Meta.alias == 'psy_body_check' %}
        &nbsp;{{ form.alt.data }}U/L&nbsp;&nbsp;
    {% elif alanine_aminotransferase %}
        &nbsp;{{ alanine_aminotransferase.alt }}U/L&nbsp;&nbsp;
    {% endif %}
{% endblock %}

# 血清谷草转氨酶
{% block glutamic_oxalacetic_transaminase %}
    {% if form.Meta.alias == 'glutamic_oxalacetic_transaminase' or form.Meta.alias == 'old_body_check' or form.Meta.alias == 'psy_body_check' %}
        &nbsp;{{ form.ast.data }}U/L&nbsp;&nbsp;
    {% elif glutamic_oxalacetic_transaminase %}
        &nbsp;{{ glutamic_oxalacetic_transaminase.ast }}U/L&nbsp;&nbsp;
    {% endif %}
{% endblock %}

# 血糖
{% block blood_glucose %}
{% if form.Meta.alias == 'blood_glucose' or form.Meta.alias == 'old_body_check' or form.Meta.alias == 'psy_body_check' %}
    {% if form.blood_glucose_mmol.data %}
    {{ form.blood_glucose_mmol.data }} mmol/L
    {% endif %}
    {% if form.blood_glucose_mmol.data and form.blood_glucose_mg.data %}
    &nbsp;&nbsp;或&nbsp;&nbsp;
    {% endif %}
    {% if form.blood_glucose_mg.data %}
    {{ form.blood_glucose_mg.data }} mg/dL
    {% endif %}
{% elif blood_glucose %}
    {% if blood_glucose.blood_glucose_mmol %}
    {{ blood_glucose.blood_glucose_mmol }} mmol/L
    {% endif %}
    {% if blood_glucose.blood_glucose_mmol and blood_glucose.blood_glucose_mg %}
    &nbsp;&nbsp;或&nbsp;&nbsp;
    {% endif %}
    {% if blood_glucose.blood_glucose_mg %}
    {{ blood_glucose.blood_glucose_mg }} mg/dL
    {% endif %}
{% endif %}
{% endblock %}

# 心电图
{% block electrocardiogram %}
{% if form.Meta.alias == 'electrocardiogram' or form.Meta.alias == 'old_body_check' or form.Meta.alias == 'psy_body_check' %}
    {{ form.electr_gram.data }}
    {% if form.electr_gram.data == '异常' %}
        &nbsp;&nbsp;{{ form.electr_gram_abnormal.data }}
    {% endif %}
{% elif electrocardiogram %}
    {{ electrocardiogram.electr_gram.data }}&nbsp;&nbsp;
    {{ electrocardiogram.electr_gram_abnormal.data }}
{% endif %}
{% endblock %}

# 一般体格检查
{% block body_temperature %}
    {% if form.Meta.alias == 'physical_examination' or form.Meta.alias == 'old_body_check' or form.Meta.alias == 'psy_body_check' %}
        {{ form.body_temperature.data }}℃
    {% elif physical_examination %}
        {{ physical_examination.body_temperature }}℃
    {% endif %}
{% endblock %}

{% block pulse %}
    {% if form.Meta.alias == 'physical_examination' or form.Meta.alias == 'old_body_check' or form.Meta.alias == 'psy_body_check' %}
        {{ form.pulse.data }}次/分钟
    {% elif physical_examination %}
        {{ physical_examination.pulse }}次/分钟
    {% endif %}
{% endblock %}

{% block breath_frequency %}
    {% if form.Meta.alias == 'physical_examination' or form.Meta.alias == 'old_body_check' or form.Meta.alias == 'psy_body_check' %}
        {{ form.breath_frequency.data }}次/分钟
    {% elif physical_examination %}
        {{ physical_examination.breath_frequency }}次/分钟
    {% endif %}
{% endblock %}

{% block blood_pressure_left_sbp %}
    {% if form.Meta.alias == 'physical_examination' or form.Meta.alias == 'old_body_check' or form.Meta.alias == 'psy_body_check' %}
        {{ form.blood_pressure_left_sbp.data }}
    {% elif physical_examination %}
        {{ physical_examination.blood_pressure_left_sbp }}
    {% endif %}
{% endblock %}

{% block blood_pressure_left_dbp %}
    {% if form.Meta.alias == 'physical_examination' or form.Meta.alias == 'old_body_check' or form.Meta.alias == 'psy_body_check' %}
        {{ form.blood_pressure_left_dbp.data }}
    {% elif physical_examination %}
        {{ physical_examination.blood_pressure_left_dbp }}
    {% endif %}
{% endblock %}

{% block blood_pressure_right_sbp %}
    {% if form.Meta.alias == 'physical_examination' or form.Meta.alias == 'old_body_check' or form.Meta.alias == 'psy_body_check' %}
        {{ form.blood_pressure_right_sbp.data }}
    {% elif physical_examination %}
        {{ physical_examination.blood_pressure_right_sbp }}
    {% endif %}
{% endblock %}

{% block blood_pressure_right_dbp %}
    {% if form.Meta.alias == 'physical_examination' or form.Meta.alias == 'old_body_check' or form.Meta.alias == 'psy_body_check' %}
        {{ form.blood_pressure_right_dbp.data }}
    {% elif physical_examination %}
        {{ physical_examination.blood_pressure_right_dbp }}
    {% endif %}
{% endblock %}

{% block height %}
    {% if form.Meta.alias == 'physical_examination' or form.Meta.alias == 'old_body_check' or form.Meta.alias == 'psy_body_check' %}
        {{ form.height.data }}cm
    {% elif physical_examination %}
        {{ physical_examination.height }}cm
    {% endif %}
{% endblock %}

{% block weight %}
    {% if form.Meta.alias == 'physical_examination' or form.Meta.alias == 'old_body_check' or form.Meta.alias == 'psy_body_check' %}
        {{ form.weight.data }}kg
    {% elif physical_examination %}
        {{ physical_examination.weight }}kg
    {% endif %}
{% endblock %}

{% block waistline %}
    {% if form.Meta.alias == 'physical_examination' or form.Meta.alias == 'old_body_check' or form.Meta.alias == 'psy_body_check' %}
        {{ form.waistline.data }}cm
    {% elif physical_examination %}
        {{ physical_examination.waistline }}cm
    {% endif %}
{% endblock %}

{% block body_mass_index %}
    {% if form.Meta.alias == 'physical_examination' or form.Meta.alias == 'old_body_check' or form.Meta.alias == 'psy_body_check' %}
        {{ form.body_mass_index.data }}Kg/m<sup>2</sup>
    {% elif physical_examination %}
        {{ physical_examination.body_mass_index }}Kg/m<sup>2</sup>
    {% endif %}
{% endblock %}

{% block mouth_lip %}
    {% if form.Meta.alias == 'physical_examination' or form.Meta.alias == 'old_body_check' or form.Meta.alias == 'psy_body_check' %}
        {{ form.mouth_lip.data }}
    {% elif physical_examination %}
        {{ physical_examination.mouth_lip }}
    {% endif %}
{% endblock %}

{% block mouth_tooth %}
    {% if form.Meta.alias == 'physical_examination' or form.Meta.alias == 'old_body_check' or form.Meta.alias == 'psy_body_check' %}
        {{ form.mouth_tooth.data }}
            {% if form.mouth_tooth.data == '缺齿' %}
                左上{{ form.mouth_tooth_missing_upleft.data }}
                左下{{ form.mouth_tooth_missing_bottomleft.data }}
                右上{{ form.mouth_tooth_missing_upright.data }}
                右下{{ form.mouth_tooth_missing_bottomright.data }}<br />
            {% elif form.mouth_tooth.data == '龋齿' %}
                左上{{ form.mouth_tooth_decayed_upleft.data }}
                左下{{ form.mouth_tooth_decayed_bottomleft.data }}
                右上{{ form.mouth_tooth_decayed_upright.data }}
                右下{{ form.mouth_tooth_decayed_bottomright.data }}<br />
            {% elif form.mouth_tooth.data == '义齿（假牙）' %}
                左上{{ form.mouth_tooth_denture_upleft.data }}
                左下{{ form.mouth_tooth_denture_bottomleft.data }}
                右上{{ form.mouth_tooth_denture_upright.data }}
                右下{{ form.mouth_tooth_denture_bottomright.data }}
            {% endif %}
    {% elif physical_examination %}
        {{ physical_examination.mouth_tooth }}
        {% if physical_examination.mouth_lip == '缺齿' %}
            左上{{ physical_examination.mouth_tooth_missing_upleft }}
            左下{{ physical_examination.mouth_tooth_missing_bottomleft }}
            右上{{ physical_examination.mouth_tooth_missing_upright }}
            右下{{ physical_examination.mouth_tooth_missing_bottomright }}
        {% elif physical_examination.mouth_lip == '龋齿' %}
            左上{{ physical_examination.mouth_tooth_decayed_upleft }}
            左下{{ physical_examination.mouth_tooth_decayed_bottomleft }}
            右上{{ physical_examination.mouth_tooth_decayed_upright }}
            右下{{ physical_examination.mouth_tooth_decayed_bottomright }}
        {% elif physical_examination.mouth_lip == '义牙（假牙）' %}
            左上{{ physical_examination.mouth_tooth_denture_upleft }}
            左下{{ physical_examination.mouth_tooth_denture_bottomleft }}
            右上{{ physical_examination.mouth_tooth_denture_upright }}
            右下{{ physical_examination.mouth_tooth_denture_bottomright }}
        {% endif %}
    {% endif %}
{% endblock %}

{% block mouth_throat %}
{% if form.Meta.alias == 'physical_examination' or form.Meta.alias == 'old_body_check' or form.Meta.alias == 'psy_body_check' %}
    {{ form.mouth_throat.data }}
{% elif physical_examination %}
    {{ physical_examination.mouth_throat }}
{% endif %}
{% endblock %}

{% block eyesight %}
    {% if form.Meta.alias == 'physical_examination' or form.Meta.alias == 'old_body_check' or form.Meta.alias == 'psy_body_check' %}
        左眼{{ form.eyesight_left.data }}&nbsp;&nbsp;
        右眼{{ form.eyesight_right.data }}&nbsp;&nbsp;
        （矫正视力：
        左眼{{ form.eyesight_left_rectified.data }}&nbsp;&nbsp;
        右眼{{ form.eyesight_right_rectified.data }}）
    {% elif physical_examination %}
        左眼{{ physical_examination.eyesight_left }}&nbsp;&nbsp;
        右眼{{ physical_examination.eyesight_right }}&nbsp;&nbsp;
        （矫正视力：
        左眼{{ physical_examination.eyesight_left_rectified }}&nbsp;&nbsp;
        右眼{{ physical_examination.eyesight_right_rectified }}）
    {% endif %}
{% endblock %}

{% block hearing %}
    {% if form.Meta.alias == 'physical_examination' or form.Meta.alias == 'old_body_check' or form.Meta.alias == 'psy_body_check' %}
        {{ form.hearing.data }}
    {% elif physical_examination %}
        {{ physical_examination.hearing }}
    {% endif %}
{% endblock %}

{% block movement_function %}
    {% if form.Meta.alias == 'physical_examination' or form.Meta.alias == 'old_body_check' or form.Meta.alias == 'psy_body_check' %}
        {{ form.movement_function.data }}
    {% elif physical_examination %}
        {{ physical_examination.movement_function }}
    {% endif %}
{% endblock %}

{% block skin %}
    {% if form.Meta.alias == 'physical_examination' or form.Meta.alias == 'old_body_check' or form.Meta.alias == 'psy_body_check' %}
        {{ form.skin.data }}&nbsp;&nbsp;
        {{ form.skin_extra.data }}
    {% elif physical_examination %}
        {{ physical_examination.skin }}&nbsp;&nbsp;
        {{ physical_examination.skin_extra }}
    {% endif %}
{% endblock %}


{% block lymph_node %}
    {% if form.Meta.alias == 'physical_examination' or form.Meta.alias == 'old_body_check' or form.Meta.alias == 'psy_body_check' %}
        {{ form.lymph_node.data }}&nbsp;&nbsp;
        {{ form.lymph_node_extra.data }}
    {% elif physical_examination %}
        {{ physical_examination.lymph_node }}&nbsp;&nbsp;
        {{ physical_examination.lymph_node_extra }}
    {% endif %}
{% endblock %}


{% block lung_barrel_chested %}
    {% if form.Meta.alias == 'physical_examination' or form.Meta.alias == 'old_body_check' or form.Meta.alias == 'psy_body_check' %}
        {{ form.lung_barrel_chested.data }}
    {% elif physical_examination %}
        {{ physical_examination.lung_barrel_chested }}
    {% endif %}
{% endblock %}

{% block lung_breath_sound %}
    {% if form.Meta.alias == 'physical_examination' or form.Meta.alias == 'old_body_check' or form.Meta.alias == 'psy_body_check' %}
        {{ form.lung_breath_sound.data }}&nbsp;&nbsp;
        {{ form.lung_breath_sound_extra.data }}
    {% elif physical_examination %}
        {{ physical_examination.lung_breath_sound }}&nbsp;&nbsp;
        {{ physical_examination.lung_breath_sound_extra }}
    {% endif %}
{% endblock %}

{% block lung_rale %}
    {% if form.Meta.alias == 'physical_examination' or form.Meta.alias == 'old_body_check' or form.Meta.alias == 'psy_body_check' %}
        {{ form.lung_rale.data }}&nbsp;&nbsp;
        {{ form.lung_rale_extra.data }}
    {% elif physical_examination %}
        {{ physical_examination.lung_rale }}&nbsp;&nbsp;
        {{ physical_examination.lung_rale_extra }}
    {% endif %}
{% endblock %}

{% block heart %}
    {% if form.Meta.alias == 'physical_examination' or form.Meta.alias == 'old_body_check' or form.Meta.alias == 'psy_body_check' %}
        心率：{{ form.heart_rate.data }}次/分钟<br />
        心律：{{ form.heart_rhythm.data }}
        杂音：{{ form.heart_noise.data }}&nbsp;&nbsp;
        {{ form.heart_noise_extra.data }}
    {% elif physical_examination %}
        心率：{{ physical_examination.heart_rate }}次/分钟&nbsp;&nbsp;
        心律：{{ physical_examination.heart_rhythm }}&nbsp;&nbsp;
        杂音：{{ physical_examination.heart_noise }}&nbsp;&nbsp;
        {{ physical_examination.heart_noise_extra }}
    {% endif %}
{% endblock %}

{% block stomach %}
    {% if form.Meta.alias == 'physical_examination' or form.Meta.alias == 'old_body_check' or form.Meta.alias == 'psy_body_check' %}
        压痛：{{ form.stomach_tenderness.data }}
        {{ form.stomach_tenderness_extra.data }}<br />
        包块：{{ form.stomach_enclosed_mass.data }}
        {{ form.stomach_enclosed_mass_extra.data }}<br />
        肝大：{{ form.stomach_hepatomegaly.data }}
        {{ form.stomach_hepatomegaly_extra.data }}<br />
        脾大：{{ form.stomach_slenauxe.data }}
        {{ form.stomach_slenauxe_extra.data }}<br />
        移动性浊音：{{ form.stomach_shifting_dullness.data }}
        {{ form.stomach_shifting_dullness_extra.data }}
    {% elif physical_examination %}
        压痛：{{ physical_examination.stomach_tenderness }}
        {{ physical_examination.stomach_tenderness_estra }}<br />
        包块：{{ physical_examination.stomach_enclosed_mass }}
        {{ physical_examination.stomach_enclosed_mass_extra }}<br />
        肝大：{{ physical_examination.stomach_hepatomegaly }}
        {{ physical_examination.stomach_enclosed_mass_extra }}<br />
        脾大：{{ physical_examination.stomach_slenauxe }}
        {{ physical_examination.stomach_enclosed_mass_extra }}<br />
        移动性浊音：{{ physical_examination.stomach_shifting_dullness }}
        {{ physical_examination.stomach_enclosed_mass_extra }}
    {% endif %}
{% endblock %}

# 中医体质辨识
{% block pinghe %}
{% if form.Meta.alias == 'constitution_identification' %}
    {{ form.pinghe.data }}
{% else %}
    {{ constitution_identification.pinghe }}
{% endif %}
{% endblock %}

{% block qixu %}
{% if form.Meta.alias == 'constitution_identification' %}
    {{ form.qixu.data }}
{% else %}
    {{ constitution_identification.qixu }}
{% endif %}
{% endblock %}

{% block yangxu %}
{% if form.Meta.alias == 'constitution_identification' %}
    {{ form.yangxu.data }}
{% else %}
    {{ constitution_identification.yangxu }}
{% endif %}
{% endblock %}

{% block yinxu %}
{% if form.Meta.alias == 'constitution_identification' %}
    {{ form.yinxu.data }}
{% else %}
    {{ constitution_identification.yinxu }}
{% endif %}
{% endblock %}

{% block tanshi %}
{% if form.Meta.alias == 'constitution_identification' %}
    {{ form.tanshi.data }}
{% else %}
    {{ constitution_identification.tanshi }}
{% endif %}
{% endblock %}

{% block shire %}
{% if form.Meta.alias == 'constitution_identification' %}
    {{ form.shire.data }}
{% else %}
    {{ constitution_identification.shire }}
{% endif %}
{% endblock %}

{% block xueyu %}
{% if form.Meta.alias == 'constitution_identification' %}
    {{ form.xueyu.data }}
{% else %}
    {{ constitution_identification.xueyu }}
{% endif %}
{% endblock %}

{% block qiyu %}
{% if form.Meta.alias == 'constitution_identification' %}
    {{ form.qiyu.data }}
{% else %}
    {{ constitution_identification.qiyu }}
{% endif %}
{% endblock %}

{% block tebing %}
{% if form.Meta.alias == 'constitution_identification' %}
    {{ form.tebing.data }}
{% else %}
    {{ constitution_identification.tebing }}
{% endif %}
{% endblock %}

# 血脂
{% block blood_fat %}
{% if form.Meta.alias == 'blood_fat' or form.Meta.alias == 'old_body_check' %}
    总胆固醇{{ form.tc.data }}mmol/L&nbsp;&nbsp;
    甘油三酯{{ form.tg.data }}mmol/L<br />
    血清低密度脂蛋白胆固醇{{ form.ldl_c.data }}mmol/L<br />
    血清高密度脂蛋白胆固醇{{ form.hdl_c.data }}mmol/L
{% elif blood_fat %}
    总胆固醇{{ blood_fat.tc }}mmol/L&nbsp;&nbsp;
    甘油三酯{{ blood_fat.tg }}mmol/L<br />
    血清低密度脂蛋白胆固醇{{ blood_fat.ldl_c }}mmol/L<br />
    血清高密度脂蛋白胆固醇{{ blood_fat.hdl_c }}mmol/L
{% endif %}
{% endblock %}

# 总胆红素
{% block total_bilirubin %}
    {% if form.Meta.alias == 'total_bilirubin' or form.Meta.alias == 'old_body_check' %}
        {{ form.tbil.data }}&#956mol/L&nbsp;&nbsp;
    {% elif total_bilirubin %}
        {{ total_bilirubin.tbil }}&#956mol/L&nbsp;&nbsp;
    {% endif %}
{% endblock %}

# 血清肌酐
{% block serum_creatinine %}
    {% if form.Meta.alias == 'serum_creatinine' or form.Meta.alias == 'old_body_check' %}
        {{ form.scr.data }}&#956mol/L&nbsp;&nbsp;
    {% elif serum_creatinine %}
        {{ serum_creatinine.scr }}&#956mol/L&nbsp;&nbsp;
    {% endif %}
{% endblock %}

# 血尿素氮
{% block blood_urea_nitrogen %}
    {% if form.Meta.alias == 'blood_urea_nitrogen' or form.Meta.alias == 'old_body_check' %}
        {{ form.bun.data }}&#956mol/L&nbsp;&nbsp;
    {% elif blood_urea_nitrogen %}
        {{ blood_urea_nitrogen.bun }}&#956mol/L&nbsp;&nbsp;
    {% endif %}
{% endblock %}