{% extends "health_base.html" %}
{% load staticfiles %}

{% block content %}
<div class="container">
    <div id="main_table" style="z-index: 999999999999; width: 800px; margin:70px auto;" scrolling="yes" allowtransparency="yes">
        <div id="table" style="width: 96%; overflow: auto; float: left;">
            <style>
                table {
                    width: 980px;
                    border-collapse: collapse;
                }
                .tdc {
                    text-align: center;
                }
                td {
                    border: 1px solid grey;
                }
                .smallInput {
                    width: 45px;
                }
                .title1 {
                    font-size: 18px;
                    font-weight: 600;
                    text-align: center;
                }
                .title2 {
                    font-size: 16px;
                    font-weight: 600;
                    text-align: left;
                }
                .title3 {
                    font-size: 12px;
                    font-weight: 600;
                    text-align: center;
                }
                .td_l {
                    text-align: left;
                }
                .botton_table input[type='text'] {
                    width: 50px;
                }
                table {
                    width: 725px;
                }
                .table td {
                    max-width: 145px;
                }
                .table input[type='text'] {
                    width: 100px;
                }
            </style>
            <div style="padding: 10px;">
                <div class="title1">个人基本信息表</div><br />
                <form id="personal_info" name="personal_info" action="{% url 'family:personal_info' resident.id %}"  method="post">
                    <div>
                        <table style="font-size: 13px; line-height: 40px;">
                            <tr>
                                <td colspan="1" width="10%" style="border: none"></td>
                                <td colspan="5" width="60%" style="border: none"><b>姓名：</b>{{ resident.name }}</td>
                                <td colspan="3" style="border: none"><b>编号：</b>{{ form.id }}</td>
                            </tr>
                        </table>
                        <table style="font-size: 13px; line-height: 30px;">
                            <tr>
                                <td colspan="2" width="15%"align="center"><b>性别</b></td>
                                <td colspan="4" >
                                    {% if resident.gender == 1 %}
                                        男
                                    {% elif resident.gender == 0 %}
                                        女
                                    {% else %}
                                        未明
                                    {% endif %}
                                </td>
                                <td colspan="2" width="15%" align="center"><b>出生日期</b></td>
                                <td colspan="4">{{ resident.birthday | date:"Y-m-d" }}</td>
                            </tr>
                            <tr>
                                <td colspan="2" align="center"><b>身份证号</b></td>
                                <td colspan="4">{{ resident.identity }}</td>
                                <td colspan="2" align="center">
                                    工作单位
                                </td>
                                <td colspan="4"></td>
                            </tr>
                            <tr>
                                <td colspan="2" align="center"><b>本人电话</b></td>
                                <td colspan="2" width="15%"></td>
                                <td colspan="2" width="15%" align="center">
                                    联系人姓名
                                </td>
                                <td colspan="2"></td>
                                <td colspan="2" width="15%" align="center">
                                    联系人电话
                                </td>
                                <td colspan="2" width="15%"></td>
                            </tr>
                            <tr>
                                <td colspan="2" align="center">
                                    常住类型
                                </td>
                                <td colspan="4">

                                </td>
                                <td colspan="2" align="center"><b>民族</b></td>
                                <td colspan="4">{{ resident.nation }}</td>
                            </tr>
                            <tr>
                                <td colspan="2" align="center">
                                    血型
                                </td>
                                <td colspan="10">
                                    /
                                </td>
                            </tr>
                            <tr>
                                <td colspan="2" align="center">
                                    文化程度
                                </td>
                                <td colspan="10">
                                </td>
                            </tr>
                            <tr>
                                <td colspan="2" align="center">
                                    职业
                                </td>
                                <td colspan="10">

                                </td>
                            </tr>
                            <tr>
                                <td colspan="2" align="center">
                                    婚姻状况
                                </td>
                                <td colspan="10">

                                </td>
                            </tr>
                            <tr>
                                <td colspan="2" align="center">
                                    医疗费用支付方式
                                </td>
                                <td colspan="10">

                                </td>
                            </tr>
                            <tr>
                                <td colspan="2" align="center">
                                    药物过敏史
                                </td>
                                <td colspan="10">

                                </td>
                            </tr>
                            <tr>
                                <td colspan="2" align="center">
                                    暴露史
                                </td>
                                <td colspan="10">

                                </td>
                            </tr>
                            <tr>
                                <td rowspan="4" colspan="1" align="center">既往史</td>
                                <td colspan="1" align="center">
                                    疾病
                                </td>
                                <td colspan="10">

                                </td>
                            </tr>
                            <tr>
                                <td colspan="1" align="center">
                                    手术
                                </td>
                                <td colspan="10">

                                </td>
                            </tr>
                            <tr>
                                <td colspan="1" align="center">
                                    外伤
                                </td>
                                <td colspan="10">

                                </td>
                            </tr>
                            <tr>
                                <td colspan="1" align="center">
                                    输血
                                </td>
                                <td colspan="10">

                                </td>
                            </tr>
                            <tr>
                                <td rowspan="3" colspan="2" align="center">家族史</td>
                                <td colspan="2" align="center">
                                    父亲
                                </td>
                                <td colspan="3">

                                </td>
                                <td colspan="2" width="15%" align="center">
                                    母亲
                                </td>
                                <td colspan="3">

                                </td>
                            </tr>
                            <tr>
                                <td colspan="2" align="center">
                                    兄弟姐妹
                                </td>
                                <td colspan="3">

                                </td>
                                <td colspan="2" align="center">
                                    子女
                                </td>
                                <td colspan="3">

                                </td>
                            </tr>
                            <tr>
                                <td colspan="10">1 无  2 高血压  3 糖尿病  4 冠心病  5 慢性阻塞性肺疾病  6 恶性肿瘤  7 脑卒中  8 重性精神疾病  9 结核病  10 肝炎  11 先天畸形  12 其他</td>
                            </tr>
                            <tr>
                                <td colspan="2" align="center">
                                    遗传病史
                                </td>
                                <td colspan="10">

                                </td>
                            </tr>
                            <tr>
                                <td colspan="2" align="center">
                                    残疾情况
                                </td>
                                <td colspan="10">

                                </td>
                            </tr>
                            <tr>
                                <td rowspan="5" colspan="2" align="center">生活环境*</td>
                                <td colspan="2" align="center">
                                    厨房排风设施
                                </td>
                                <td colspan="8">

                                </td>
                            </tr>
                            <tr>
                                <td colspan="2" align="center">
                                    燃料类型
                                </td>
                                <td colspan="8">

                                </td>
                            </tr>
                            <tr>
                                <td colspan="2" align="center">
                                    饮水
                                </td>
                                <td colspan="8">

                                </td>
                            </tr>
                            <tr>
                                <td colspan="2" align="center">
                                    厕所
                                </td>
                                <td colspan="8">

                                </td>
                            </tr>
                            <tr>
                                <td colspan="2" align="center">
                                    禽畜栏
                                </td>
                                <td colspan="8">

                                </td>
                            </tr>
                        </table>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}
