{% extends 'table_base.html' %}

{% block table_title %}卫生监督协管信息报告登记表{% endblock %}

{% block table_neck %}
    <table class="table_neck">
        <tr>
            <td colspan="5" style="width: 525px;">机构名称：&nbsp;
                {% block table_institution %}{{ form.institution }}{% endblock %} </td>
        </tr>
    </table>
{% endblock %}

{% block table_content %}
    <tr>
        <td width="" colspan="1" align="center">序号</td>
        <td width="" colspan="1" align="center">发现时间</td>
        <td width="" colspan="1" align="center">信息类别</td>
        <td width="" colspan="2" align="center">信息内容</td>
        <td width="" colspan="1" align="center">报告时间</td>
        <td width="" colspan="1" align="center">报告人</td>
    </tr>
    <tr>
        <td width="" colspan="1" align="center">1</td>
        <td width="" colspan="1" align="center">{{ form.discover_time | date:"Y-m-d H:i"  }}</td>
        <td width="" colspan="1" align="center">{{ form.info_type }}</td>
        <td width="" colspan="2" align="center">{{ form.info_content }}</td>
        <td width="" colspan="1" align="center">{{ form.report_time | date:"Y-m-d H:i" }}</td>
        <td width="" colspan="1" align="center">{{ form.reporter }}</td>
    </tr>
{% endblock %}

{% block table_foot %}
    <div align="left" style="width: 750px; padding: 20px 0">
        注：1.信息类别：食品安全、饮用水卫生、职业病危害、学校卫生、非法行医（采供血）。<br>
        <span style="padding: 25px;">2.信息内容：注明发现为题（隐患）的地点、内容等有关情况简单描述。</span>
    </div>
{% endblock %}