{% extends 'services/index.html' %}
{% load staticfiles %}

{% block service_header %}
    <h3 class="page-header" align="center">{{ service_type.name }}: {{ service_item.name }}</h3>
{% endblock %}

{% block service_item_content %}
    <form action="{% url 'old:blood_fat' %}" method="POST">

    {% csrf_token %}
    {{ form.non_filed_errors }}
    	 <div class="row" style="padding-top: 4px">
            <div class="col-md-3" align="right">
                {% if form.zong_dan_gu_chun.errors %}
                    <span style="background: #ffff00">{{ form.zong_dan_gu_chun.label_tag }}</span>
                {% else %}
                    {{ form.zong_dan_gu_chun.label_tag }}
                {% endif %}
            </div>
            <div class="col-md-4">
                {{ form.zong_dan_gu_chun }}
                &nbsp;&nbsp;mmol/L
            </div>
         </div>
        <div class="row" style="padding-top: 4px">
            <div class="col-md-3" align="right">
                {% if form.gan_you_san_zhi.errors %}
                    <span style="background: #ffff00">{{ form.gan_you_san_zhi.label_tag }}</span>
                {% else %}
                    {{ form.gan_you_san_zhi.label_tag }}
                {% endif %}
            </div>
            <div class="col-md-4">
                {{ form.gan_you_san_zhi }}&nbsp;&nbsp;mmol/L
            </div>
         </div>
        <div class="row" style="padding-top: 4px">
            <div class="col-md-3" align="right">
                {% if form.xueqing_dimiduzhi_danbai_danguchun.errors %}
                    <span style="background: #ffff00">{{ form.xueqing_dimiduzhi_danbai_danguchun.label_tag }}</span>
                {% else %}
                    {{ form.xueqing_dimiduzhi_danbai_danguchun.label_tag }}
                {% endif %}
            </div>
            <div class="col-md-4">
                {{ form.xueqing_dimiduzhi_danbai_danguchun }}&nbsp;&nbsp;mmol/L
            </div>
         </div>
        <div class="row" style="padding-top: 4px">
            <div class="col-md-3" align="right">
                {% if form.xueqing_gaomiduzhi_danbai_danguchun.errors %}
                    <span style="background: #ffff00">{{ form.xueqing_gaomiduzhi_danbai_danguchun.label_tag }}</span>
                {% else %}
                    {{ form.xueqing_gaomiduzhi_danbai_danguchun.label_tag }}
                {% endif %}
            </div>
            <div class="col-md-4">
                {{ form.xueqing_gaomiduzhi_danbai_danguchun }}&nbsp;&nbsp;mmol/L
            </div>
         </div>
        {% include 'old/submit.html' %}
    </form>
{% endblock %}