{% extends 'services/index.html' %}
{% load staticfiles %}

{% block service_item_content %}
    <script>
           // window.onload=function(){
                //oneself.disabled="disabled";
				//mild.disabled="disabled";
				//moderate.disabled="disabled";
				//serious.disabled="disabled";

           // }
            function finish(){                  //判断5个题是否都做完了，以决定是否该评等级
					var object0=new Array();
					object0[0]="eat";
					object0[1]="wash";
					object0[2]="dress";
					object0[3]="toilet";
					object0[4]="activity";
					var object;
					for(var i=0;i<object0.length;i++){
						object = document.getElementsByName(object0[i]);
						for(var j=0;j<object.length;j++){
							if(object[j].checked)
							break;
						}
						if (j>=object.length){
							return false;
						}
					}
					return true;
					//alert("hhhh");
			}

		    function getNameValue(tagName){             //获得被选中选项的值
		        var value = 0;
		        var  object = document.getElementsByName(tagName);
                for ( var  i = 0 ;i < object.length;i ++ ){
                    if(object[i].checked){
                        value = object[i].value;
                        break;
                    }
                }
                return value;
		    }

			function totalPoint(){                    //根据被选中选项的值计算总分
			    var eatValue = getNameValue('eat');
			    //alert(eatValue);
			    var washValue = getNameValue('wash');
			    var dressValue = getNameValue('dress');
			    var toiletValue = getNameValue('toilet');
			    var activityValue = getNameValue('activity');


			    //计算总分
			    var point = parseInt(eatValue) + parseInt(washValue)+parseInt(dressValue)+parseInt(toiletValue)+parseInt(activityValue);

			    //写入到等分框
			    document.getElementById("points").innerText = point;
			    //points.innerText=point;
			    total.value=point;
			    //alert(point);

			 	var flag=finish();                      //根据是否已经做完题，以及总分评定等级
                //alert(flag);
                var object = document.getElementsByName("grade");

			 	if(flag){
					  if(flag&&(point<=3)){
					    	object[0].checked=true;

					    	//mild.disabled="disabled";
					    	//moderate.disabled="disabled";
					    	//serious.disabled="disabled";
					    	//$('#cddj').val('可自理');
					    	object[0].disabled=false;


					    }
					   else if(flag&&(point<=8)){
					   		//oneself.disabled="disabled";
					    	object[1].checked=true;

					    	//moderate.disabled="disabled";
					    	//serious.disabled="disabled";
					    	//设置id
					       // $('#cddj').val('轻度依赖');

					        //获取
					        //var cddj = $('#cddj').val();
					       object[1].disabled=false;
					  }
					  else if(flag&&(point<=18)){
					  		//oneself.disabled="disabled";
					    	//mild.disabled="disabled";
					    	object[2].checked=true;
					    	//serious.disabled="disabled";

					    	//$('#cddj').val('中度依赖');
					    	object[2].disabled=false;
					  }
					  else{
					  		//oneself.disabled="disabled";
					    	//mild.disabled="disabled";
					    	//moderate.disabled="disabled";
					    	object[3].checked=true;

					    	//$('#cddj').val('重度依赖');
					    	object[3].disabled=false;
					  }
				}
		    }
		</script>

    <h3 class="page-header" align="center">{{ service_type.name }}: {{ service_item.name }}</h3>

    <form action="{% url 'old:living_selfcare_appraisal' %}" method="POST">

    {% csrf_token %}
    {{ form.non_filed_errors }}
        <div class="row">
	    	<div class="col-md-9">
		    	<h4 class="page-header" style="color: green">
                    <strong>
                        {% if form.eat.errors %}
                            <span style="background: #ffff00">{{ form.eat.label_tag }}</span>
                        {% else %}
                            {{ form.eat.label_tag }}
                        {% endif %}
                    </strong>
                </h4>
	    	</div>
    	</div>
    	<div class="row" style="padding-top: 4px">
            <div class="col-md-10" style="list-style-type:none">
                {% for item in form.eat %}
                    {% if forloop.counter > 1 and forloop.counter < 6 %}
                        <div class="col-md-10" onchange="totalPoint()">{{ item }}</div>
                    {% endif %}
                {% endfor %}
            </div>
        </div>
        <div class="row">
	    	<div class="col-md-9">
		    	<h4 class="page-header" style="color: green">
                    <strong>
                        {% if form.wash.errors %}
                            <span style="background: #ffff00">{{ form.wash.label_tag }}</span>
                        {% else %}
                            {{ form.wash.label_tag }}
                        {% endif %}
                    </strong>
                </h4>
	    	</div>
    	</div>
        <div class="row" style="padding-top: 4px">
            <div class="col-md-10" style="list-style-type:none">
                {% for item in form.wash %}
                    {% if forloop.counter > 1 and forloop.counter < 6 %}
                        <div class="col-md-10" onchange="totalPoint()">{{ item }}</div>
                    {% endif %}
                {% endfor %}
            </div>
        </div>
        <div class="row">
	    	<div class="col-md-9">
		    	<h4 class="page-header" style="color: green">
                    <strong>
                        {% if form.dress.errors %}
                            <span style="background: #ffff00">{{ form.dress.label_tag }}</span>
                        {% else %}
                            {{ form.dress.label_tag }}
                        {% endif %}
                    </strong>
                </h4>
	    	</div>
    	</div>
        <div class="row" style="padding-top: 4px">
            <div class="col-md-10" style="list-style-type:none">
                {% for item in form.dress %}
                    {% if forloop.counter > 1 and forloop.counter < 6 %}
                        <div class="col-md-10" onchange="totalPoint()">{{ item }}</div>
                    {% endif %}
                {% endfor %}
            </div>
        </div>
        <div class="row">
	    	<div class="col-md-9">
		    	<h4 class="page-header" style="color: green">
                    <strong>
                        {% if form.toilet.errors %}
                            <span style="background: #ffff00">{{ form.toilet.label_tag }}</span>
                        {% else %}
                            {{ form.toilet.label_tag }}
                        {% endif %}
                    </strong>
                </h4>
	    	</div>
    	</div>
        <div class="row" style="padding-top: 4px">
            <div class="col-md-10" style="list-style-type:none">
                {% for item in form.toilet %}
                    {% if forloop.counter > 1 and forloop.counter < 6 %}
                        <div class="col-md-10" onchange="totalPoint()">{{ item }}</div>
                    {% endif %}
                {% endfor %}
            </div>
        </div>
        <div class="row">
	    	<div class="col-md-9">
		    	<h4 class="page-header" style="color: green">
                    <strong>
                        {% if form.activity.errors %}
                            <span style="background: #ffff00">{{ form.activity.label_tag }}</span>
                        {% else %}
                            {{ form.activity.label_tag }}
                        {% endif %}
                    </strong>
                </h4>
	    	</div>
    	</div>
        <div class="row" style="padding-top: 4px">
            <div class="col-md-10" style="list-style-type:none">
                {% for item in form.activity %}
                    {% if forloop.counter > 1 and forloop.counter < 6 %}
                        <div class="col-md-10" onchange="totalPoint()">{{ item }}</div>
                    {% endif %}
                {% endfor %}
            </div>
        </div><br>
        <div class="row" style="padding-top:4px">
            <div class="col-md-8" align="right">
                {{ form.total.label_tag }}<label id="points"></label>
            </div>
            <input type="text" name="total" id="total" value="" style="display: none;"/>
        </div>
        <div class="row" style="padding-top: 4px">
            <div class="col-md-10">
                {% for item in form.grade %}
                    {% if forloop.counter > 1 and forloop.counter < 6 %}
                        <div class="col-md-2">{{ item }}</div>
                    {% endif %}
                {% endfor %}
            </div>
        </div>
        {% include 'old/submit.html' %}
    </form>
{% endblock %}