{% extends "table_base.html" %}

{% block table_title %}
    老年人生活自理能力评估表
{% endblock %}

{% block table_content %}
    <tr style="height: 40px;">
        <th width="30%" rowspan="2" colspan="2" style="border: solid 1px;">
            <div align="center">评估事项、内容与评分</div>
        </th>
        <th width="70%" colspan="5" style="border: solid 1px;">
            <div align="center">程度等级</div>
        </th>
    </tr>
    <tr style="border: solid 1px; height: 40px;">
        <th width="15%"  colspan="1" align="center" style="border: solid 1px;">
            <div align="center">可自理</div>
        </th>
        <th width="15%" colspan="1" align="center" style="border: solid 1px;">
            <div align="center">轻度依赖</div>
        </th>
        <th width="15%" colspan="1" align="center" style="border: solid 1px;">
            <div align="center">中度依赖</div>
        </th>
        <th width="15%"  colspan="1" align="center" style="border: solid 1px;">
            <div align="center">不能自理</div>
        </th>
        <th width="10%"  colspan="1" align="center" style="border: solid 1px;">
            <div align="center">判断评分</div>
        </th>
    </tr>
    <tr valign="bottom">
        <td colspan="2">
            （1）进食：使用餐具将饭菜送入口、咀嚼、吞咽等活动<br><br><div align="center">评分</div>
        </td>
        <td width="15%" colspan="1" align="center">
            独立完成<br><br><br>0
        </td>
        <td width="15%" colspan="1" align="center">
            —<br><br><br>0
        </td>
        <td width="15%" colspan="1" align="center">
            需要协助，如切碎、搅拌食物等<br><br>3
        </td>
        <td width="15%" colspan="1" align="center">
            完全需要帮助<br><br><br>5
        </td>
        <td width="10%" colspan="1" align="center">
            {% block eat %}{% endblock %}
        </td>
    </tr>
    <tr valign="bottom">
        <td colspan="2" valign="top">
            （2）梳洗：梳头、洗脸、刷牙、剃须、洗澡等活动<br><br><br><div align="center">评分</div>
        </td>
        <td width="15%" colspan="1" align="center" valign="top">
            独立完成<br><br><br><br>0
        </td>
        <td width="15%" colspan="1">
            能独立地洗头、梳头、洗脸、刷牙、剃须等；洗澡需要协助<br><div align="center">1</div>
        </td>
        <td width="15%" colspan="1" valign="top">
            在协助下和适当的时间内，能完成部分梳洗活动<br><br><div align="center">3</div>
        </td>
        <td width="15%" colspan="1" align="center" valign="top">
            完全需要帮助<br><br><br><br>7
        </td>
        <td width="10%" colspan="1" align="center">
            {% block wash %}{% endblock %}
        </td>
    </tr>
    <tr valign="bottom">
        <td colspan="2" valign="top">
            （3）穿衣：穿衣裤、袜子、鞋子等活动<br><br><br><div align="center">评分</div>
        </td>
        <td width="15%" colspan="1" align="center" valign="top">
            独立完成<br><br><br><br>0
        </td>
        <td width="15%" colspan="1" align="center">
            —<br><br><br>0
        </td>
        <td width="15%" colspan="1" valign="top">
            需要协助，在适当的时间内完成部分穿衣<br><br><div align="center">3</div>
        </td>
        <td width="15%" colspan="1" align="center" valign="top">
            完全需要帮助<br><br><br><br>5
        </td>
        <td width="10%" colspan="1" align="center">
            {% block dress %}{% endblock %}
        </td>
    </tr>
    <tr valign="bottom">
        <td colspan="2" valign="top">
            （4）如厕：小便、大便等活动及自控<br><br><br><div align="center">评分</div>
        </td>
        <td width="15%" colspan="1" valign="top">
            不需要协助，可自控<br><br><br><div align="center">0</div>
        </td>
        <td width="15%" colspan="1">
            偶尔失禁，但基本上能如厕或使用便具<br><br><div align="center">1</div>
        </td>
        <td width="15%" colspan="1" valign="top">
            经常失禁，在很多提示和协助下尚能如厕或使用便具<br><div align="center">5</div>
        </td>
        <td width="15%" colspan="1" align="center" valign="top">
            完全失禁，完全需要帮助<br><br><br>10
        </td>
        <td width="10%" colspan="1" align="center">
            {% block toilet %}{% endblock %}
        </td>
    </tr>
    <tr valign="bottom">
        <td colspan="2" valign="top">
            （5）活动：站立、室内行走、上下楼梯、户外活动<br><br><br><br><div align="center">评分</div>
        </td>
        <td width="15%" colspan="1" valign="top">
            独立完成所有活动<br><br><br><br><div align="center">0</div>
        </td>
        <td width="15%" colspan="1">
            借助较小的外力或辅助装置能完成站立、行走、上下楼梯等<br><br><div align="center">1</div>
        </td>
        <td width="15%" colspan="1" valign="top">
            借助较大的外力才能完成站立、行走，不能上下楼梯<br><br><div align="center">5</div>
        </td>
        <td width="15%" colspan="1" align="center" valign="top">
            卧床不起，活动完全需要帮助住<br><br><br><br>10
        </td>
        <td width="10%" colspan="1" align="center">
            {% block activity %}{% endblock %}
        </td>
    </tr>
    <tr>
        <td colspan="6" align="center" style="height: 50px;">
            总评分
        </td>
        <td align="center">
            {% block total %}{% endblock %}
        </td>
    </tr>
    <script>
    $(function(){
        var total;
        var total_box = $('input[name=total]').numberbox({});
        var eat;
        var eat_box = $('input[name=eat]').numberbox({
            onChange: function(newValue, oldValue){
                eat = newValue;
                wash = wash_box.numberbox('getValue');
                dress = dress_box.numberbox('getValue');
                toilet =toilet_box.numberbox('getValue');
                activity = activity_box.numberbox('getValue');
                total = parseInt(eat) + parseInt(wash) + parseInt(dress) + parseInt(toilet) + parseInt(activity);
                total_box.numberbox('setValue', total);
            }
        });
        var wash;
        var wash_box = $('input[name=wash]').numberbox({
            onChange: function(newValue, oldValue){
                eat = eat_box.numberbox('getValue');
                wash = newValue;
                dress = dress_box.numberbox('getValue');
                toilet =toilet_box.numberbox('getValue');
                activity = activity_box.numberbox('getValue');
                total = parseInt(eat) + parseInt(wash) + parseInt(dress) + parseInt(toilet) + parseInt(activity);
                total_box.numberbox('setValue', total);
            }
        });
        var dress;
        var dress_box = $('input[name=dress]').numberbox({
            onChange: function(newValue, oldValue){
                eat = eat_box.numberbox('getValue');
                wash = wash_box.numberbox('getValue');
                dress = newValue;
                toilet =toilet_box.numberbox('getValue');
                activity = activity_box.numberbox('getValue');
                total = parseInt(eat) + parseInt(wash) + parseInt(dress) + parseInt(toilet) + parseInt(activity);
                total_box.numberbox('setValue', total);
            }
        });
        var toilet;
        var toilet_box = $('input[name=toilet]').numberbox({
            onChange: function(newValue, oldValue){
                eat = eat_box.numberbox('getValue');
                wash = wash_box.numberbox('getValue');
                dress = dress_box.numberbox('getValue');
                toilet = newValue;
                activity = activity_box.numberbox('getValue');
                total = parseInt(eat) + parseInt(wash) + parseInt(dress) + parseInt(toilet) + parseInt(activity);
                total_box.numberbox('setValue', total);
            }
        });
        var activity;
        var activity_box = $('input[name=activity]').numberbox({
            onChange: function(newValue, oldValue){
                eat = eat_box.numberbox('getValue');
                wash = wash_box.numberbox('getValue');
                dress = dress_box.numberbox('getValue');
                toilet =toilet_box.numberbox('getValue');
                activity = newValue;
                total = parseInt(eat) + parseInt(wash) + parseInt(dress) + parseInt(toilet) + parseInt(activity);
                total_box.numberbox('setValue', total);
            }
        });
    });
    </script>
{% endblock %}