{% extends 'tcm/child_base.html' %}

{% block tbl_2_col_2_visit_date %}
    {{ form.visit_date | date:"Y-m-d"}}
{% endblock %}

{% block tbl_2_col_2_guide %}
    {% for item in form.guide.all %}
        {% if forloop.last %}
            {{ item }}
        {% else %}
            {{ item }}/
        {% endif %}
    {% endfor %}
    {{ form.guide_extra }}
{% endblock %}

{% block tbl_2_col_2_next_visit_date %}
    {{ form.next_visit_date | date:"Y-m-d"}}
{% endblock %}

{% block tbl_2_col_2_doctor_signature %}
    {{ form.doctor_signature }}
{% endblock %}