{% extends 'services/index.html' %}
{% load staticfiles %}

{% block service_header %}
    <h3 class="page-header" align="center">{{ service_type.name }}: {{ service_item.name }}</h3>
{% endblock %}

{% block service_item_content %}
    <form action="{% url 'tcm:aftercare_12_month' %}" method="POST">

    {% csrf_token %}
    {{ form.non_filed_errors }}
    	 {% include 'tcm/ta6m_ta3y.html' %}
        {% include 'tcm/next_visit_date.html' %}
        {% include 'tcm/submit.html' %}
    </form>
{% endblock %}