{% extends 'table_base.html' %}

{% block table_title %}
    儿童中医药健康管理服务记录表
{% endblock %}


{% block table_content %}
    <tr>
        <td colspan="1" align="center"><b>月龄</b></td>
        <td colspan="1" align="center" width="20%"><b>满月</b></td>
        <td colspan="1" align="center" width="20%"><b>3月龄</b></td>
        <td colspan="1" align="center" width="20%"><b>6月龄</b></td>
        <td colspan="1" align="center" width="20%"><b>8月龄</b></td>
    </tr>
    <tr>
        <td colspan="1" align="center"><b>随访日期</b></td>
        <td colspan="1" align="center">{% block tbl_1_col_1_visit_date %}{% endblock %}</td>
        <td colspan="1" align="center">{% block tbl_1_col_2_visit_date %}{% endblock %}</td>
        <td colspan="1" align="center">{% block tbl_1_col_3_visit_date %}{% endblock %}</td>
        <td colspan="1" align="center">{% block tbl_1_col_4_visit_date %}{% endblock %}</td>
    </tr>
    <tr>
        <td colspan="1" align="center"><b>中医药健康管理服务</b></td>
        <td colspan="1">{% block tbl_1_col_1_guide %}{% endblock %}</td>
        <td colspan="1">{% block tbl_1_col_2_guide %}{% endblock %}</td>
        <td colspan="1">{% block tbl_1_col_3_guide %}{% endblock %}</td>
        <td colspan="1">{% block tbl_1_col_4_guide %}{% endblock %}</td>
    </tr>
    <tr>
        <td colspan="1" align="center"><b>下次随访日期</b></td>
        <td colspan="1" align="center">{% block tbl_1_col_1_next_visit_date %}{% endblock %}</td>
        <td colspan="1" align="center">{% block tbl_1_col_2_next_visit_date %}{% endblock %}</td>
        <td colspan="1" align="center">{% block tbl_1_col_3_next_visit_date %}{% endblock %}</td>
        <td colspan="1" align="center">{% block tbl_1_col_4_next_visit_date %}{% endblock %}</td>
    </tr>
    <tr>
        <td colspan="1" align="center"><b>随访医生签名</b></td>
        <td colspan="1" align="center">{% block tbl_1_col_1_doctor_signature %}{% endblock %}</td>
        <td colspan="1" align="center">{% block tbl_1_col_2_doctor_signature %}{% endblock %}</td>
        <td colspan="1" align="center">{% block tbl_1_col_3_doctor_signature %}{% endblock %}</td>
        <td colspan="1" align="center">{% block tbl_1_col_4_doctor_signature %}{% endblock %}</td>
    </tr>

    <tr><td colspan="5" style="border: none; height: 40px;"></td></tr>

    <tr>
        <td colspan="1" align="center"><b>月龄</b></td>
        <td colspan="1" align="center" width="20%"><b>12月龄</b></td>
        <td colspan="1" align="center" width="20%"><b>18月龄</b></td>
        <td colspan="1" align="center" width="20%"><b>24月龄</b></td>
        <td colspan="1" align="center" width="20%"><b>30月龄</b></td>
    </tr>
    <tr>
        <td colspan="1" align="center"><b>随访日期</b></td>
        <td colspan="1" align="center">{% block tbl_2_col_1_visit_date %}{% endblock %}</td>
        <td colspan="1" align="center">{% block tbl_2_col_2_visit_date %}{% endblock %}</td>
        <td colspan="1" align="center">{% block tbl_2_col_3_visit_date %}{% endblock %}</td>
        <td colspan="1" align="center">{% block tbl_2_col_4_visit_date %}{% endblock %}</td>
    </tr>
    <tr>
        <td colspan="1" align="center"><b>中医药健康管理服务</b></td>
        <td colspan="1">{% block tbl_2_col_1_guide %}{% endblock %}</td>
        <td colspan="1">{% block tbl_2_col_2_guide %}{% endblock %}</td>
        <td colspan="1">{% block tbl_2_col_3_guide %}{% endblock %}</td>
        <td colspan="1">{% block tbl_2_col_4_guide %}{% endblock %}</td>
    </tr>
    <tr>
        <td colspan="1" align="center"><b>下次随访日期</b></td>
        <td colspan="1" align="center">{% block tbl_2_col_1_next_visit_date %}{% endblock %}</td>
        <td colspan="1" align="center">{% block tbl_2_col_2_next_visit_date %}{% endblock %}</td>
        <td colspan="1" align="center">{% block tbl_2_col_3_next_visit_date %}{% endblock %}</td>
        <td colspan="1" align="center">{% block tbl_2_col_4_next_visit_date %}{% endblock %}</td>
    </tr>
    <tr>
        <td colspan="1" align="center"><b>随访医生签名</b></td>
        <td colspan="1" align="center">{% block tbl_2_col_1_doctor_signature %}{% endblock %}</td>
        <td colspan="1" align="center">{% block tbl_2_col_2_doctor_signature %}{% endblock %}</td>
        <td colspan="1" align="center">{% block tbl_2_col_3_doctor_signature %}{% endblock %}</td>
        <td colspan="1" align="center">{% block tbl_2_col_4_doctor_signature %}{% endblock %}</td>
    </tr>

    <tr><td colspan="5" style="border: none; height: 40px;"></td></tr>

    <tr>
        <td colspan="1" align="center"><b>月龄</b></td>
        <td colspan="1" align="center" width="20%"><b>3岁</b></td>
        <td colspan="1" align="center" width="20%"><b>4岁</b></td>
        <td colspan="1" align="center" width="20%"><b>5岁</b></td>
        <td colspan="1" align="center" width="20%"><b>6岁</b></td>
    </tr>
    <tr>
        <td colspan="1" align="center"><b>随访日期</b></td>
        <td colspan="1" align="center">{% block tbl_3_col_1_visit_date %}{% endblock %}</td>
        <td colspan="1" align="center">{% block tbl_3_col_2_visit_date %}{% endblock %}</td>
        <td colspan="1" align="center">{% block tbl_3_col_3_visit_date %}{% endblock %}</td>
        <td colspan="1" align="center">{% block tbl_3_col_4_visit_date %}{% endblock %}</td>
    </tr>
    <tr>
        <td colspan="1" align="center"><b>中医药健康管理服务</b></td>
        <td colspan="1">{% block tbl_3_col_1_guide %}{% endblock %}</td>
        <td colspan="1">{% block tbl_3_col_2_guide %}{% endblock %}</td>
        <td colspan="1">{% block tbl_3_col_3_guide %}{% endblock %}</td>
        <td colspan="1">{% block tbl_3_col_4_guide %}{% endblock %}</td>
    </tr>
    <tr>
        <td colspan="1" align="center"><b>下次随访日期</b></td>
        <td colspan="1" align="center">{% block tbl_3_col_1_next_visit_date %}{% endblock %}</td>
        <td colspan="1" align="center">{% block tbl_3_col_2_next_visit_date %}{% endblock %}</td>
        <td colspan="1" align="center">{% block tbl_3_col_3_next_visit_date %}{% endblock %}</td>
        <td colspan="1" align="center">{% block tbl_3_col_4_next_visit_date %}{% endblock %}</td>
    </tr>
    <tr>
        <td colspan="1" align="center"><b>随访医生签名</b></td>
        <td colspan="1" align="center">{% block tbl_3_col_1_doctor_signature %}{% endblock %}</td>
        <td colspan="1" align="center">{% block tbl_3_col_2_doctor_signature %}{% endblock %}</td>
        <td colspan="1" align="center">{% block tbl_3_col_3_doctor_signature %}{% endblock %}</td>
        <td colspan="1" align="center">{% block tbl_3_col_4_doctor_signature %}{% endblock %}</td>
    </tr>

{% endblock %}
