{% extends 'table_base.html' %}

{% block table_title %}
    儿童中医药健康管理服务记录表
{% endblock %}


{% block table_content %}
    <tr>
        <td colspan="1" align="center">月龄</td>
        <td colspan="1" align="center" width="20%">满月</td>
        <td colspan="1" align="center" width="20%">3月龄</td>
        <td colspan="1" align="center" width="20%">6月龄</td>
        <td colspan="1" align="center" width="20%">8月龄</td>
    </tr>
    <tr>
        <td colspan="1" align="center">随访日期</td>
        <td colspan="1" align="center">{% block tbl_1_col_1_visit_date %}{% endblock %}</td>
        <td colspan="1" align="center">{% block tbl_1_col_2_visit_date %}{% endblock %}</td>
        <td colspan="1" align="center">{% block tbl_1_col_3_visit_date %}{% endblock %}</td>
        <td colspan="1" align="center">{% block tbl_1_col_4_visit_date %}{% endblock %}</td>
    </tr>
    <tr>
        <td colspan="1" align="center">中医药健康管理服务</td>
        <td colspan="1">{% block tbl_1_col_1_guide %}{% endblock %}</td>
        <td colspan="1">{% block tbl_1_col_2_guide %}{% endblock %}</td>
        <td colspan="1">{% block tbl_1_col_3_guide %}{% endblock %}</td>
        <td colspan="1">{% block tbl_1_col_4_guide %}{% endblock %}</td>
    </tr>
    <tr>
        <td colspan="1" align="center">下次随访日期</td>
        <td colspan="1" align="center">{% block tbl_1_col_1_next_visit_date %}{% endblock %}</td>
        <td colspan="1" align="center">{% block tbl_1_col_2_next_visit_date %}{% endblock %}</td>
        <td colspan="1" align="center">{% block tbl_1_col_3_next_visit_date %}{% endblock %}</td>
        <td colspan="1" align="center">{% block tbl_1_col_4_next_visit_date %}{% endblock %}</td>
    </tr>
    <tr>
        <td colspan="1" align="center">随访医生签名</td>
        <td colspan="1" align="center">{% block tbl_1_col_1_doctor_signature %}{% endblock %}</td>
        <td colspan="1" align="center">{% block tbl_1_col_2_doctor_signature %}{% endblock %}</td>
        <td colspan="1" align="center">{% block tbl_1_col_3_doctor_signature %}{% endblock %}</td>
        <td colspan="1" align="center">{% block tbl_1_col_4_doctor_signature %}{% endblock %}</td>
    </tr>

    <tr><td colspan="5" style="border: none; height: 40px;"></td></tr>

    <tr>
        <td colspan="1" align="center">月龄</td>
        <td colspan="1" align="center" width="20%">12月龄</td>
        <td colspan="1" align="center" width="20%">18月龄</td>
        <td colspan="1" align="center" width="20%">24月龄</td>
        <td colspan="1" align="center" width="20%">30月龄</td>
    </tr>
    <tr>
        <td colspan="1" align="center">随访日期</td>
        <td colspan="1" align="center">{% block tbl_2_col_1_visit_date %}{% endblock %}</td>
        <td colspan="1" align="center">{% block tbl_2_col_2_visit_date %}{% endblock %}</td>
        <td colspan="1" align="center">{% block tbl_2_col_3_visit_date %}{% endblock %}</td>
        <td colspan="1" align="center">{% block tbl_2_col_4_visit_date %}{% endblock %}</td>
    </tr>
    <tr>
        <td colspan="1" align="center">中医药健康管理服务</td>
        <td colspan="1">{% block tbl_2_col_1_guide %}{% endblock %}</td>
        <td colspan="1">{% block tbl_2_col_2_guide %}{% endblock %}</td>
        <td colspan="1">{% block tbl_2_col_3_guide %}{% endblock %}</td>
        <td colspan="1">{% block tbl_2_col_4_guide %}{% endblock %}</td>
    </tr>
    <tr>
        <td colspan="1" align="center">下次随访日期</td>
        <td colspan="1" align="center">{% block tbl_2_col_1_next_visit_date %}{% endblock %}</td>
        <td colspan="1" align="center">{% block tbl_2_col_2_next_visit_date %}{% endblock %}</td>
        <td colspan="1" align="center">{% block tbl_2_col_3_next_visit_date %}{% endblock %}</td>
        <td colspan="1" align="center">{% block tbl_2_col_4_next_visit_date %}{% endblock %}</td>
    </tr>
    <tr>
        <td colspan="1" align="center">随访医生签名</td>
        <td colspan="1" align="center">{% block tbl_2_col_1_doctor_signature %}{% endblock %}</td>
        <td colspan="1" align="center">{% block tbl_2_col_2_doctor_signature %}{% endblock %}</td>
        <td colspan="1" align="center">{% block tbl_2_col_3_doctor_signature %}{% endblock %}</td>
        <td colspan="1" align="center">{% block tbl_2_col_4_doctor_signature %}{% endblock %}</td>
    </tr>

    <tr><td colspan="5" style="border: none; height: 40px;"></td></tr>

    <tr>
        <td colspan="1" align="center">月龄</td>
        <td colspan="1" align="center" width="20%">3岁</td>
        <td colspan="1" align="center" width="20%">4岁</td>
        <td colspan="1" align="center" width="20%">5岁</td>
        <td colspan="1" align="center" width="20%">6岁</td>
    </tr>
    <tr>
        <td colspan="1" align="center">随访日期</td>
        <td colspan="1" align="center">{% block tbl_3_col_1_visit_date %}{% endblock %}</td>
        <td colspan="1" align="center">{% block tbl_3_col_2_visit_date %}{% endblock %}</td>
        <td colspan="1" align="center">{% block tbl_3_col_3_visit_date %}{% endblock %}</td>
        <td colspan="1" align="center">{% block tbl_3_col_4_visit_date %}{% endblock %}</td>
    </tr>
    <tr>
        <td colspan="1" align="center">中医药健康管理服务</td>
        <td colspan="1">{% block tbl_3_col_1_guide %}{% endblock %}</td>
        <td colspan="1">{% block tbl_3_col_2_guide %}{% endblock %}</td>
        <td colspan="1">{% block tbl_3_col_3_guide %}{% endblock %}</td>
        <td colspan="1">{% block tbl_3_col_4_guide %}{% endblock %}</td>
    </tr>
    <tr>
        <td colspan="1" align="center">下次随访日期</td>
        <td colspan="1" align="center">{% block tbl_3_col_1_next_visit_date %}{% endblock %}</td>
        <td colspan="1" align="center">{% block tbl_3_col_2_next_visit_date %}{% endblock %}</td>
        <td colspan="1" align="center">{% block tbl_3_col_3_next_visit_date %}{% endblock %}</td>
        <td colspan="1" align="center">{% block tbl_3_col_4_next_visit_date %}{% endblock %}</td>
    </tr>
    <tr>
        <td colspan="1" align="center">随访医生签名</td>
        <td colspan="1" align="center">{% block tbl_3_col_1_doctor_signature %}{% endblock %}</td>
        <td colspan="1" align="center">{% block tbl_3_col_2_doctor_signature %}{% endblock %}</td>
        <td colspan="1" align="center">{% block tbl_3_col_3_doctor_signature %}{% endblock %}</td>
        <td colspan="1" align="center">{% block tbl_3_col_4_doctor_signature %}{% endblock %}</td>
    </tr>

{% endblock %}
