{% load staticfiles %}

<div id="tcm_child">
    <div id="toolbar" class="datagrid-toolbar">
        <a href="#" id="add_1">6月龄随访</a>
        <a href="#" id="add_2">12月龄随访</a>
        <a href="#" id="add_3">18月龄随访</a>
        <a href="#" id="add_4">24月龄随访</a>
        <a href="#" id="add_5">30月龄随访</a>
        <a href="#" id="add_6">3岁龄随访</a>
        <a href="#" id="save">保存记录表</a>
        <a href="#" id="undo">取消</a>
        <a href="#" id="print">打印记录表</a>
    </div>
    <form id="form" method="POST">
        <div id="table" align="center" style="padding-bottom: 30px;"></div>
    </form>
</div>

<script src='{% static "js/tcm_child.js" %}'></script>