{% extends 'services/index.html' %}
{% load staticfiles %}

{% block service_header %}
    <h3 class="page-header" align="center">{{ service_type.name }}: {{ service_item.name }}</h3>
{% endblock %}

{% block service_item_content %}
    <form action="{% url 'tcm:constitution_identification' %}" method="POST">

    {% csrf_token %}
    {{ form.non_filed_errors }}
    	 <div class="row" style="padding-top: 15px">
            <div class="col-md-2" align="right">
                {% if form.mild.errors %}
                    <span style="background: #ffff00">{{ form.mild.label_tag }}</span>
                {% else %}
                    {{ form.mild.label_tag }}
                {% endif %}
            </div>
            <div class="col-md-10">
                {% for item in form.mild %}
                    {% if forloop.counter > 1 and forloop.counter < 4 %}
                    <div class="col-md-3">{{ item }}</div>
                    {% endif %}
                {% endfor %}
            </div>
         </div>
        <div class="row" style="padding-top: 15px">
            <div class="col-md-2" align="right">
                {% if form.qi_deficiency.errors %}
                    <span style="background: #ffff00">{{ form.qi_deficiency.label_tag }}</span>
                {% else %}
                    {{ form.qi_deficiency.label_tag }}
                {% endif %}
            </div>
            <div class="col-md-10">
                {% for item in form.qi_deficiency %}
                    {% if forloop.counter > 1 and forloop.counter < 4 %}
                    <div class="col-md-3">{{ item }}</div>
                    {% endif %}
                {% endfor %}
            </div>
         </div>
        <div class="row" style="padding-top: 15px">
            <div class="col-md-2" align="right">
                {% if form.yang_deficiency.errors %}
                    <span style="background: #ffff00">{{ form.yang_deficiency.label_tag }}</span>
                {% else %}
                    {{ form.yang_deficiency.label_tag }}
                {% endif %}
            </div>
            <div class="col-md-10">
                {% for item in form.yang_deficiency %}
                    {% if forloop.counter > 1 and forloop.counter < 4 %}
                    <div class="col-md-3">{{ item }}</div>
                    {% endif %}
                {% endfor %}
            </div>
         </div>
        <div class="row" style="padding-top: 15px">
            <div class="col-md-2" align="right">
                {% if form.yin_deficiency.errors %}
                    <span style="background: #ffff00">{{ form.yin_deficiency.label_tag }}</span>
                {% else %}
                    {{ form.yin_deficiency.label_tag }}
                {% endif %}
            </div>
            <div class="col-md-10">
                {% for item in form.yin_deficiency %}
                    {% if forloop.counter > 1 and forloop.counter < 4 %}
                    <div class="col-md-3">{{ item }}</div>
                    {% endif %}
                {% endfor %}
            </div>
         </div>
        <div class="row" style="padding-top: 15px">
            <div class="col-md-2" align="right">
                {% if form.phlegm_wet.errors %}
                    <span style="background: #ffff00">{{ form.phlegn_wet.label_tag }}</span>
                {% else %}
                    {{ form.phlegm_wet.label_tag }}
                {% endif %}
            </div>
            <div class="col-md-10">
                {% for item in form.phlegm_wet %}
                    {% if forloop.counter > 1 and forloop.counter < 4 %}
                    <div class="col-md-3">{{ item }}</div>
                    {% endif %}
                {% endfor %}
            </div>
         </div>
        <div class="row" style="padding-top: 15px">
            <div class="col-md-2" align="right">
                {% if form.damp_hot.errors %}
                    <span style="background: #ffff00">{{ form.damp_hot.label_tag }}</span>
                {% else %}
                    {{ form.damp_hot.label_tag }}
                {% endif %}
            </div>
            <div class="col-md-10">
                {% for item in form.damp_hot %}
                    {% if forloop.counter > 1 and forloop.counter < 4 %}
                    <div class="col-md-3">{{ item }}</div>
                    {% endif %}
                {% endfor %}
            </div>
         </div>
        <div class="row" style="padding-top: 15px">
            <div class="col-md-2" align="right">
                {% if form.blood_stasis.errors %}
                    <span style="background: #ffff00">{{ form.blood_stasis.label_tag }}</span>
                {% else %}
                    {{ form.blood_stasis.label_tag }}
                {% endif %}
            </div>
            <div class="col-md-10">
                {% for item in form.blood_stasis %}
                    {% if forloop.counter > 1 and forloop.counter < 4 %}
                    <div class="col-md-3">{{ item }}</div>
                    {% endif %}
                {% endfor %}
            </div>
         </div>
        <div class="row" style="padding-top: 15px">
            <div class="col-md-2" align="right">
                {% if form.qi_depression.errors %}
                    <span style="background: #ffff00">{{ form.qi_depression.label_tag }}</span>
                {% else %}
                    {{ form.qi_depression.label_tag }}
                {% endif %}
            </div>
            <div class="col-md-10">
                {% for item in form.qi_depression %}
                    {% if forloop.counter > 1 and forloop.counter < 4 %}
                    <div class="col-md-3">{{ item }}</div>
                    {% endif %}
                {% endfor %}
            </div>
         </div>
        <div class="row" style="padding-top: 15px">
            <div class="col-md-2" align="right">
                {% if form.te_bing.errors %}
                    <span style="background: #ffff00">{{ form.te_bing.label_tag }}</span>
                {% else %}
                    {{ form.te_bing.label_tag }}
                {% endif %}
            </div>
            <div class="col-md-10">
                {% for item in form.te_bing %}
                    {% if forloop.counter > 1 and forloop.counter < 4 %}
                    <div class="col-md-3">{{ item }}</div>
                    {% endif %}
                {% endfor %}
            </div>
         </div>
        {% include 'tcm/submit.html' %}
    </form>
{% endblock %}