{% extends 'tcm/old_identify_table.html' %}

{# 第1题 #}
{% block q1_1 %}
    {% if form.q1 == 1 %}
        {{ form.q1 }}
    {% endif %}
{% endblock %}

{% block q1_2 %}
    {% if form.q1 == 2 %}
        {{ form.q1 }}
    {% endif %}
{% endblock %}

{% block q1_3 %}
    {% if form.q1 == 3 %}
        {{ form.q1 }}
    {% endif %}
{% endblock %}

{% block q1_4 %}
    {% if form.q1 == 4 %}
        {{ form.q1 }}
    {% endif %}
{% endblock %}

{% block q1_5 %}
    {% if form.q1 == 5 %}
        {{ form.q1 }}
    {% endif %}
{% endblock %}


{# 第2题 #}
{% block q2_1 %}
    {% if form.q2 == 1 %}
        {{ form.q2 }}
    {% endif %}
{% endblock %}

{% block q2_2 %}
    {% if form.q2 == 2 %}
        {{ form.q2 }}
    {% endif %}
{% endblock %}

{% block q2_3 %}
    {% if form.q2 == 3 %}
        {{ form.q2 }}
    {% endif %}
{% endblock %}

{% block q2_4 %}
    {% if form.q2 == 4 %}
        {{ form.q2 }}
    {% endif %}
{% endblock %}

{% block q2_5 %}
    {% if form.q2 == 5 %}
        {{ form.q2 }}
    {% endif %}
{% endblock %}


{# 第3题 #}
{% block q3_1 %}
    {% if form.q3 == 1 %}
        {{ form.q3 }}
    {% endif %}
{% endblock %}

{% block q3_2 %}
    {% if form.q3 == 2 %}
        {{ form.q3 }}
    {% endif %}
{% endblock %}

{% block q3_3 %}
    {% if form.q3 == 3 %}
        {{ form.q3 }}
    {% endif %}
{% endblock %}

{% block q3_4 %}
    {% if form.q3 == 4 %}
        {{ form.q3 }}
    {% endif %}
{% endblock %}

{% block q3_5 %}
    {% if form.q3 == 5 %}
        {{ form.q3 }}
    {% endif %}
{% endblock %}


{# 第4题 #}
{% block q4_1 %}
    {% if form.q4 == 1 %}
        {{ form.q4 }}
    {% endif %}
{% endblock %}

{% block q4_2 %}
    {% if form.q4 == 2 %}
        {{ form.q4 }}
    {% endif %}
{% endblock %}

{% block q4_3 %}
    {% if form.q4 == 3 %}
        {{ form.q4 }}
    {% endif %}
{% endblock %}

{% block q4_4 %}
    {% if form.q4 == 4 %}
        {{ form.q4 }}
    {% endif %}
{% endblock %}

{% block q4_5 %}
    {% if form.q4 == 5 %}
        {{ form.q4 }}
    {% endif %}
{% endblock %}


{# 第5题 #}
{% block q5_1 %}
    {% if form.q5 == 1 %}
        {{ form.q5 }}
    {% endif %}
{% endblock %}

{% block q5_2 %}
    {% if form.q5 == 2 %}
        {{ form.q5 }}
    {% endif %}
{% endblock %}

{% block q5_3 %}
    {% if form.q5 == 3 %}
        {{ form.q5 }}
    {% endif %}
{% endblock %}

{% block q5_4 %}
    {% if form.q5 == 4 %}
        {{ form.q5 }}
    {% endif %}
{% endblock %}

{% block q5_5 %}
    {% if form.q5 == 5 %}
        {{ form.q5 }}
    {% endif %}
{% endblock %}


{# 第6题 #}
{% block q6_1 %}
    {% if form.q6 == 1 %}
        {{ form.q6 }}
    {% endif %}
{% endblock %}

{% block q6_2 %}
    {% if form.q6 == 2 %}
        {{ form.q6 }}
    {% endif %}
{% endblock %}

{% block q6_3 %}
    {% if form.q6 == 3 %}
        {{ form.q6 }}
    {% endif %}
{% endblock %}

{% block q6_4 %}
    {% if form.q6 == 4 %}
        {{ form.q6 }}
    {% endif %}
{% endblock %}

{% block q6_5 %}
    {% if form.q6 == 5 %}
        {{ form.q6 }}
    {% endif %}
{% endblock %}


{# 第7题 #}
{% block q7_1 %}
    {% if form.q7 == 1 %}
        {{ form.q7 }}
    {% endif %}
{% endblock %}

{% block q7_2 %}
    {% if form.q7 == 2 %}
        {{ form.q7 }}
    {% endif %}
{% endblock %}

{% block q7_3 %}
    {% if form.q7 == 3 %}
        {{ form.q7 }}
    {% endif %}
{% endblock %}

{% block q7_4 %}
    {% if form.q7 == 4 %}
        {{ form.q7 }}
    {% endif %}
{% endblock %}

{% block q7_5 %}
    {% if form.q7 == 5 %}
        {{ form.q7 }}
    {% endif %}
{% endblock %}


{# 第8题 #}
{% block q8_1 %}
    {% if form.q8 == 1 %}
        {{ form.q8 }}
    {% endif %}
{% endblock %}

{% block q8_2 %}
    {% if form.q8 == 2 %}
        {{ form.q8 }}
    {% endif %}
{% endblock %}

{% block q8_3 %}
    {% if form.q8 == 3 %}
        {{ form.q8 }}
    {% endif %}
{% endblock %}

{% block q8_4 %}
    {% if form.q8 == 4 %}
        {{ form.q8 }}
    {% endif %}
{% endblock %}

{% block q8_5 %}
    {% if form.q8 == 5 %}
        {{ form.q8 }}
    {% endif %}
{% endblock %}


{# 第9题 #}
{% block q9_1 %}
    {% if form.q9 == 1 %}
        {{ form.q9 }}
    {% endif %}
{% endblock %}

{% block q9_2 %}
    {% if form.q9 == 2 %}
        {{ form.q9 }}
    {% endif %}
{% endblock %}

{% block q9_3 %}
    {% if form.q9 == 3 %}
        {{ form.q9 }}
    {% endif %}
{% endblock %}

{% block q9_4 %}
    {% if form.q9 == 4 %}
        {{ form.q9 }}
    {% endif %}
{% endblock %}

{% block q9_5 %}
    {% if form.q9 == 5 %}
        {{ form.q9 }}
    {% endif %}
{% endblock %}


{# 第10题 #}
{% block q10_1 %}
    {% if form.q10 == 1 %}
        {{ form.q10 }}
    {% endif %}
{% endblock %}

{% block q10_2 %}
    {% if form.q10 == 2 %}
        {{ form.q10 }}
    {% endif %}
{% endblock %}

{% block q10_3 %}
    {% if form.q10 == 3 %}
        {{ form.q10 }}
    {% endif %}
{% endblock %}

{% block q10_4 %}
    {% if form.q10 == 4 %}
        {{ form.q10 }}
    {% endif %}
{% endblock %}

{% block q10_5 %}
    {% if form.q10 == 5 %}
        {{ form.q10 }}
    {% endif %}
{% endblock %}


{# 第11题 #}
{% block q11_1 %}
    {% if form.q11 == 1 %}
        {{ form.q11 }}
    {% endif %}
{% endblock %}

{% block q11_2 %}
    {% if form.q11 == 2 %}
        {{ form.q11 }}
    {% endif %}
{% endblock %}

{% block q11_3 %}
    {% if form.q11 == 3 %}
        {{ form.q11 }}
    {% endif %}
{% endblock %}

{% block q11_4 %}
    {% if form.q11 == 4 %}
        {{ form.q11 }}
    {% endif %}
{% endblock %}

{% block q11_5 %}
    {% if form.q11 == 5 %}
        {{ form.q11 }}
    {% endif %}
{% endblock %}


{# 第12题 #}
{% block q12_1 %}
    {% if form.q12 == 1 %}
        {{ form.q12 }}
    {% endif %}
{% endblock %}

{% block q12_2 %}
    {% if form.q12 == 2 %}
        {{ form.q12 }}
    {% endif %}
{% endblock %}

{% block q12_3 %}
    {% if form.q12 == 3 %}
        {{ form.q12 }}
    {% endif %}
{% endblock %}

{% block q12_4 %}
    {% if form.q12 == 4 %}
        {{ form.q12 }}
    {% endif %}
{% endblock %}

{% block q12_5 %}
    {% if form.q12 == 5 %}
        {{ form.q12 }}
    {% endif %}
{% endblock %}


{# 第13题 #}
{% block q13_1 %}
    {% if form.q13 == 1 %}
        {{ form.q13 }}
    {% endif %}
{% endblock %}

{% block q13_2 %}
    {% if form.q13 == 2 %}
        {{ form.q13 }}
    {% endif %}
{% endblock %}

{% block q13_3 %}
    {% if form.q13 == 3 %}
        {{ form.q13 }}
    {% endif %}
{% endblock %}

{% block q13_4 %}
    {% if form.q13 == 4 %}
        {{ form.q13 }}
    {% endif %}
{% endblock %}

{% block q13_5 %}
    {% if form.q13 == 5 %}
        {{ form.q13 }}
    {% endif %}
{% endblock %}


{# 第14题 #}
{% block q14_1 %}
    {% if form.q14 == 1 %}
        {{ form.q14 }}
    {% endif %}
{% endblock %}

{% block q14_2 %}
    {% if form.q14 == 2 %}
        {{ form.q14 }}
    {% endif %}
{% endblock %}

{% block q14_3 %}
    {% if form.q14 == 3 %}
        {{ form.q14 }}
    {% endif %}
{% endblock %}

{% block q14_4 %}
    {% if form.q14 == 4 %}
        {{ form.q14 }}
    {% endif %}
{% endblock %}

{% block q14_5 %}
    {% if form.q14 == 5 %}
        {{ form.q14 }}
    {% endif %}
{% endblock %}


{# 第15题 #}
{% block q15_1 %}
    {% if form.q15 == 1 %}
        {{ form.q15 }}
    {% endif %}
{% endblock %}

{% block q15_2 %}
    {% if form.q15 == 2 %}
        {{ form.q15 }}
    {% endif %}
{% endblock %}

{% block q15_3 %}
    {% if form.q15 == 3 %}
        {{ form.q15 }}
    {% endif %}
{% endblock %}

{% block q15_4 %}
    {% if form.q15 == 4 %}
        {{ form.q15 }}
    {% endif %}
{% endblock %}

{% block q15_5 %}
    {% if form.q15 == 5 %}
        {{ form.q15 }}
    {% endif %}
{% endblock %}


{# 第16题 #}
{% block q16_1 %}
    {% if form.q16 == 1 %}
        {{ form.q16 }}
    {% endif %}
{% endblock %}

{% block q16_2 %}
    {% if form.q16 == 2 %}
        {{ form.q16 }}
    {% endif %}
{% endblock %}

{% block q16_3 %}
    {% if form.q16 == 3 %}
        {{ form.q16 }}
    {% endif %}
{% endblock %}

{% block q16_4 %}
    {% if form.q16 == 4 %}
        {{ form.q16 }}
    {% endif %}
{% endblock %}

{% block q16_5 %}
    {% if form.q16 == 5 %}
        {{ form.q16 }}
    {% endif %}
{% endblock %}


{# 第17题 #}
{% block q17_1 %}
    {% if form.q17 == 1 %}
        {{ form.q17 }}
    {% endif %}
{% endblock %}

{% block q17_2 %}
    {% if form.q17 == 2 %}
        {{ form.q17 }}
    {% endif %}
{% endblock %}

{% block q17_3 %}
    {% if form.q17 == 3 %}
        {{ form.q17 }}
    {% endif %}
{% endblock %}

{% block q17_4 %}
    {% if form.q17 == 4 %}
        {{ form.q17 }}
    {% endif %}
{% endblock %}

{% block q17_5 %}
    {% if form.q17 == 5 %}
        {{ form.q17 }}
    {% endif %}
{% endblock %}


{# 第18题 #}
{% block q18_1 %}
    {% if form.q18 == 1 %}
        {{ form.q18 }}
    {% endif %}
{% endblock %}

{% block q18_2 %}
    {% if form.q18 == 2 %}
        {{ form.q18 }}
    {% endif %}
{% endblock %}

{% block q18_3 %}
    {% if form.q18 == 3 %}
        {{ form.q18 }}
    {% endif %}
{% endblock %}

{% block q18_4 %}
    {% if form.q18 == 4 %}
        {{ form.q18 }}
    {% endif %}
{% endblock %}

{% block q18_5 %}
    {% if form.q18 == 5 %}
        {{ form.q18 }}
    {% endif %}
{% endblock %}


{# 第19题 #}
{% block q19_1 %}
    {% if form.q19 == 1 %}
        {{ form.q19 }}
    {% endif %}
{% endblock %}

{% block q19_2 %}
    {% if form.q19 == 2 %}
        {{ form.q19 }}
    {% endif %}
{% endblock %}

{% block q19_3 %}
    {% if form.q19 == 3 %}
        {{ form.q19 }}
    {% endif %}
{% endblock %}

{% block q19_4 %}
    {% if form.q19 == 4 %}
        {{ form.q19 }}
    {% endif %}
{% endblock %}

{% block q19_5 %}
    {% if form.q19 == 5 %}
        {{ form.q19 }}
    {% endif %}
{% endblock %}


{# 第20题 #}
{% block q20_1 %}
    {% if form.q20 == 1 %}
        {{ form.q20 }}
    {% endif %}
{% endblock %}

{% block q20_2 %}
    {% if form.q20 == 2 %}
        {{ form.q20 }}
    {% endif %}
{% endblock %}

{% block q20_3 %}
    {% if form.q20 == 3 %}
        {{ form.q20 }}
    {% endif %}
{% endblock %}

{% block q20_4 %}
    {% if form.q20 == 4 %}
        {{ form.q20 }}
    {% endif %}
{% endblock %}

{% block q20_5 %}
    {% if form.q20 == 5 %}
        {{ form.q20 }}
    {% endif %}
{% endblock %}


{# 第21题 #}
{% block q21_1 %}
    {% if form.q21 == 1 %}
        {{ form.q21 }}
    {% endif %}
{% endblock %}

{% block q21_2 %}
    {% if form.q21 == 2 %}
        {{ form.q21 }}
    {% endif %}
{% endblock %}

{% block q21_3 %}
    {% if form.q21 == 3 %}
        {{ form.q21 }}
    {% endif %}
{% endblock %}

{% block q21_4 %}
    {% if form.q21 == 4 %}
        {{ form.q21 }}
    {% endif %}
{% endblock %}

{% block q21_5 %}
    {% if form.q21 == 5 %}
        {{ form.q21 }}
    {% endif %}
{% endblock %}


{# 第22题 #}
{% block q22_1 %}
    {% if form.q22 == 1 %}
        {{ form.q22 }}
    {% endif %}
{% endblock %}

{% block q22_2 %}
    {% if form.q22 == 2 %}
        {{ form.q22 }}
    {% endif %}
{% endblock %}

{% block q22_3 %}
    {% if form.q22 == 3 %}
        {{ form.q22 }}
    {% endif %}
{% endblock %}

{% block q22_4 %}
    {% if form.q22 == 4 %}
        {{ form.q22 }}
    {% endif %}
{% endblock %}

{% block q22_5 %}
    {% if form.q22 == 5 %}
        {{ form.q22 }}
    {% endif %}
{% endblock %}


{# 第23题 #}
{% block q23_1 %}
    {% if form.q23 == 1 %}
        {{ form.q23 }}
    {% endif %}
{% endblock %}

{% block q23_2 %}
    {% if form.q23 == 2 %}
        {{ form.q23 }}
    {% endif %}
{% endblock %}

{% block q23_3 %}
    {% if form.q23 == 3 %}
        {{ form.q23 }}
    {% endif %}
{% endblock %}

{% block q23_4 %}
    {% if form.q23 == 4 %}
        {{ form.q23 }}
    {% endif %}
{% endblock %}

{% block q23_5 %}
    {% if form.q23 == 5 %}
        {{ form.q23 }}
    {% endif %}
{% endblock %}


{# 第24题 #}
{% block q24_1 %}
    {% if form.q24 == 1 %}
        {{ form.q24 }}
    {% endif %}
{% endblock %}

{% block q24_2 %}
    {% if form.q24 == 2 %}
        {{ form.q24 }}
    {% endif %}
{% endblock %}

{% block q24_3 %}
    {% if form.q24 == 3 %}
        {{ form.q24 }}
    {% endif %}
{% endblock %}

{% block q24_4 %}
    {% if form.q24 == 4 %}
        {{ form.q24 }}
    {% endif %}
{% endblock %}

{% block q24_5 %}
    {% if form.q24 == 5 %}
        {{ form.q24 }}
    {% endif %}
{% endblock %}


{# 第25题 #}
{% block q25_1 %}
    {% if form.q25 == 1 %}
        {{ form.q25 }}
    {% endif %}
{% endblock %}

{% block q25_2 %}
    {% if form.q25 == 2 %}
        {{ form.q25 }}
    {% endif %}
{% endblock %}

{% block q25_3 %}
    {% if form.q25 == 3 %}
        {{ form.q25 }}
    {% endif %}
{% endblock %}

{% block q25_4 %}
    {% if form.q25 == 4 %}
        {{ form.q25 }}
    {% endif %}
{% endblock %}

{% block q25_5 %}
    {% if form.q25 == 5 %}
        {{ form.q25 }}
    {% endif %}
{% endblock %}


{# 第26题 #}
{% block q26_1 %}
    {% if form.q26 == 1 %}
        {{ form.q26 }}
    {% endif %}
{% endblock %}

{% block q26_2 %}
    {% if form.q6 == 2 %}
        {{ form.q26 }}
    {% endif %}
{% endblock %}

{% block q26_3 %}
    {% if form.q26 == 3 %}
        {{ form.q26 }}
    {% endif %}
{% endblock %}

{% block q26_4 %}
    {% if form.q26 == 4 %}
        {{ form.q26 }}
    {% endif %}
{% endblock %}

{% block q26_5 %}
    {% if form.q26 == 5 %}
        {{ form.q26 }}
    {% endif %}
{% endblock %}


{# 第27题 #}
{% block q27_1 %}
    {% if form.q27 == 1 %}
        {{ form.q27 }}
    {% endif %}
{% endblock %}

{% block q27_2 %}
    {% if form.q27 == 2 %}
        {{ form.q27 }}
    {% endif %}
{% endblock %}

{% block q27_3 %}
    {% if form.q27 == 3 %}
        {{ form.q27 }}
    {% endif %}
{% endblock %}

{% block q27_4 %}
    {% if form.q27 == 4 %}
        {{ form.q27 }}
    {% endif %}
{% endblock %}

{% block q27_5 %}
    {% if form.q27 == 5 %}
        {{ form.q27 }}
    {% endif %}
{% endblock %}


{# 第28题 #}
{% block q28_1 %}
    {% if form.q28 == 1 %}
        {{ form.q28 }}
    {% endif %}
{% endblock %}

{% block q28_2 %}
    {% if form.q28 == 2 %}
        {{ form.q28 }}
    {% endif %}
{% endblock %}

{% block q28_3 %}
    {% if form.q28 == 3 %}
        {{ form.q28 }}
    {% endif %}
{% endblock %}

{% block q28_4 %}
    {% if form.q28 == 4 %}
        {{ form.q28 }}
    {% endif %}
{% endblock %}

{% block q28_5 %}
    {% if form.q28 == 5 %}
        {{ form.q28 }}
    {% endif %}
{% endblock %}


{# 第29题 #}
{% block q29_1 %}
    {% if form.q29 == 1 %}
        {{ form.q29 }}
    {% endif %}
{% endblock %}

{% block q29_2 %}
    {% if form.q29 == 2 %}
        {{ form.q29 }}
    {% endif %}
{% endblock %}

{% block q29_3 %}
    {% if form.q29 == 3 %}
        {{ form.q29 }}
    {% endif %}
{% endblock %}

{% block q29_4 %}
    {% if form.q29 == 4 %}
        {{ form.q29 }}
    {% endif %}
{% endblock %}

{% block q29_5 %}
    {% if form.q29 == 5 %}
        {{ form.q29 }}
    {% endif %}
{% endblock %}


{# 第30题 #}
{% block q30_1 %}
    {% if form.q30 == 1 %}
        {{ form.q30 }}
    {% endif %}
{% endblock %}

{% block q30_2 %}
    {% if form.q30 == 2 %}
        {{ form.q30 }}
    {% endif %}
{% endblock %}

{% block q30_3 %}
    {% if form.q30 == 3 %}
        {{ form.q30 }}
    {% endif %}
{% endblock %}

{% block q30_4 %}
    {% if form.q30 == 4 %}
        {{ form.q30 }}
    {% endif %}
{% endblock %}

{% block q30_5 %}
    {% if form.q30 == 5 %}
        {{ form.q30 }}
    {% endif %}
{% endblock %}


{# 第31题 #}
{% block q31_1 %}
    {% if form.q31 == 1 %}
        {{ form.q31 }}
    {% endif %}
{% endblock %}

{% block q31_2 %}
    {% if form.q31 == 2 %}
        {{ form.q31 }}
    {% endif %}
{% endblock %}

{% block q31_3 %}
    {% if form.q31 == 3 %}
        {{ form.q31 }}
    {% endif %}
{% endblock %}

{% block q31_4 %}
    {% if form.q31 == 4 %}
        {{ form.q31 }}
    {% endif %}
{% endblock %}

{% block q31_5 %}
    {% if form.q31 == 5 %}
        {{ form.q31 }}
    {% endif %}
{% endblock %}


{# 第32题 #}
{% block q32_1 %}
    {% if form.q32 == 1 %}
        {{ form.q32 }}
    {% endif %}
{% endblock %}

{% block q32_2 %}
    {% if form.q32 == 2 %}
        {{ form.q32 }}
    {% endif %}
{% endblock %}

{% block q32_3 %}
    {% if form.q32 == 3 %}
        {{ form.q32 }}
    {% endif %}
{% endblock %}

{% block q32_4 %}
    {% if form.q32 == 4 %}
        {{ form.q32 }}
    {% endif %}
{% endblock %}

{% block q32_5 %}
    {% if form.q32 == 5 %}
        {{ form.q32 }}
    {% endif %}
{% endblock %}


{# 第33题 #}
{% block q33_1 %}
    {% if form.q33 == 1 %}
        {{ form.q33 }}
    {% endif %}
{% endblock %}

{% block q33_2 %}
    {% if form.q33 == 2 %}
        {{ form.q33 }}
    {% endif %}
{% endblock %}

{% block q33_3 %}
    {% if form.q33 == 3 %}
        {{ form.q33 }}
    {% endif %}
{% endblock %}

{% block q33_4 %}
    {% if form.q33 == 4 %}
        {{ form.q33 }}
    {% endif %}
{% endblock %}

{% block q33_5 %}
    {% if form.q33 == 5 %}
        {{ form.q33 }}
    {% endif %}
{% endblock %}


{% block points_qixu %}
     {{ form.points_qixu }}<br>
{% endblock %}
{% block yes_trend_qixu %}
        {% if form.yes_trend_qixu %}
            {{ form.yes_trend_qixu }}
        {% endif %}
{% endblock %}

{% block points_yangxu %}
        {{ form.points_yangxu }}<br>
{% endblock %}
{% block yes_trend_yangxu %}
        {% if form.yes_trend_yangxu %}
            {{ form.yes_trend_yangxu }}
        {% endif %}
{% endblock %}

{% block points_yinxu %}
        {{ form.points_yinxu }}<br>
{% endblock %}
{% block yes_trend_yinxu %}
        {% if form.yes_trend_yinxu %}
            {{ form.yes_trend_yinxu }}
        {% endif %}
{% endblock %}


{% block points_tanshi %}
        {{ form.points_tanshi }}<br>
{% endblock %}
{% block yes_trend_tanshi %}
        {% if form.yes_trend_tanshi %}
            {{ form.yes_trend_tanshi }}
        {% endif %}
{% endblock %}


{% block points_shire %}
        {{ form.points_shire }}<br>
{% endblock %}
{% block yes_trend_shire %}
        {% if form.yes_trend_shire %}
            {{ form.yes_trend_shire }}
        {% endif %}
{% endblock %}


{% block points_xueyu %}
        {{ form.points_xueyu }}<br>
{% endblock %}
{% block yes_trend_xueyu %}
        {% if form.yes_trend_xueyu %}
            {{ form.yes_trend_xueyu }}
        {% endif %}
{% endblock %}


{% block points_qiyu %}
        {{ form.points_qiyu }}<br>
{% endblock %}
{% block yes_trend_qiyu %}
        {% if form.yes_trend_qiyxu %}
            {{ form.yes_trend_qiyxu }}
        {% endif %}
{% endblock %}


{% block points_tebing %}
        {{ form.points_tebing }}<br>
{% endblock %}
{% block yes_trend_tebing %}
        {% if form.yes_trend_tebing %}
            {{ form.yes_trend_tebing }}
        {% endif %}
{% endblock %}


{% block points_pinghe %}
        {{ form.points_pinghe }}<br>
{% endblock %}
{% block yes_trend_pinghe %}
        {% if form.yes_trend_pinghe %}
            {{ form.yes_trend_pinghe }}
        {% endif %}
{% endblock %}

{% block health_care_guide_qixu %}
    {% if form.health_care_guide_qixu.all %}
        {% for item in form.health_care_guide_qixu.all %}
            {% if forloop.last %}
                {% if item.choice == '其他' %}
                    {{ item }}<br>{{ form.health_care_guide_extra_qixu }}
                {% else %}
                    {{ item }}
                {% endif %}
            {% else %}
                {{ item }}<br>
            {% endif %}
        {% endfor %}
    {% endif %}
{% endblock %}

{% block health_care_guide_yangxu %}
    {% if form.health_care_guide_yangxu.all %}
        {% for item in form.health_care_guide_yangxu.all %}
            {% if forloop.last %}
                {% if item.choice == '其他' %}
                    {{ item }}<br>{{ form.health_care_guide_extra_yangxu }}
                {% else %}
                    {{ item }}
                {% endif %}
            {% else %}
                {{ item }}<br>
            {% endif %}
        {% endfor %}
    {% endif %}
{% endblock %}

{% block health_care_guide_yinxu %}
    {% if form.health_care_guide_yinxu.all %}
        {% for item in form.health_care_guide_yinxu.all %}
            {% if forloop.last %}
                {% if item.choice == '其他' %}
                    {{ item }}<br>{{ form.health_care_guide_extra_yinxu }}
                {% else %}
                    {{ item }}
                {% endif %}
            {% else %}
                {{ item }}<br>
            {% endif %}
        {% endfor %}
    {% endif %}
{% endblock %}

{% block health_care_guide_tanshi %}
    {% if form.health_care_guide_tanshi.all %}
        {% for item in form.health_care_guide_tanshi.all %}
            {% if forloop.last %}
                {% if item.choice == '其他' %}
                    {{ item }}<br>{{ form.health_care_guide_extra_tanshi }}
                {% else %}
                    {{ item }}
                {% endif %}
            {% else %}
                {{ item }}<br>
            {% endif %}
        {% endfor %}
    {% endif %}
{% endblock %}

{% block health_care_guide_shire %}
    {% if form.health_care_guide_shire.all %}
        {% for item in form.health_care_guide_shire.all %}
            {% if forloop.last %}
                {% if item.choice == '其他' %}
                    {{ item }}<br>{{ form.health_care_guide_extra_shire }}
                {% else %}
                    {{ item }}
                {% endif %}
            {% else %}
                {{ item }}<br>
            {% endif %}
        {% endfor %}
    {% endif %}
{% endblock %}

{% block health_care_guide_xueyu %}
    {% if form.health_care_guide_xueyu.all %}
        {% for item in form.health_care_guide_xueyu.all %}
            {% if forloop.last %}
                {% if item.choice == '其他' %}
                    {{ item }}<br>{{ form.health_care_guide_extra_xueyu }}
                {% else %}
                    {{ item }}
                {% endif %}
            {% else %}
                {{ item }}<br>
            {% endif %}
        {% endfor %}
    {% endif %}
{% endblock %}

{% block health_care_guide_qiyu %}
    {% if form.health_care_guide_qiyu.all %}
        {% for item in form.health_care_guide_qiyu.all %}
            {% if forloop.last %}
                {% if item.choice == '其他' %}
                    {{ item }}<br>{{ form.health_care_guide_extra_qiyu }}
                {% else %}
                    {{ item }}
                {% endif %}
            {% else %}
                {{ item }}<br>
            {% endif %}
        {% endfor %}
    {% endif %}
{% endblock %}

{% block health_care_guide_tebing %}
    {% if form.health_care_guide_tebing.all %}
        {% for item in form.health_care_guide_tebing.all %}
            {% if forloop.last %}
                {% if item.choice == '其他' %}
                    {{ item }}<br>{{ form.health_care_guide_extra_tebing }}
                {% else %}
                    {{ item }}
                {% endif %}
            {% else %}
                {{ item }}<br>
            {% endif %}
        {% endfor %}
    {% endif %}
{% endblock %}

{% block health_care_guide_pinghe %}
    {% if form.health_care_guide_pinghe.all %}
        {% for item in form.health_care_guide_pinghe.all %}
            {% if forloop.last %}
                {% if item.choice == '其他' %}
                    {{ item }}<br>{{ form.health_care_guide_extra_pinghe }}
                {% else %}
                    {{ item }}
                {% endif %}
            {% else %}
                {{ item }}<br>
            {% endif %}
        {% endfor %}
    {% endif %}
{% endblock %}

{% block fill_table_date %}
        {{ form.fill_table_date | date:"Y-m-d" }}
{% endblock %}

{% block doctor_signature %}
        {{ form.doctor_signature }}
{% endblock %}