        <div class="row" style="padding-top: 4px">
            <div class="col-md-2" align="right">
                {% if form.visit_date.errors %}
                    <span style="background: #ffff00">{{ form.visit_date.label_tag }}</span>
                {% else %}
                    {{ form.visit_date.label_tag }}
                {% endif %}
            </div>
            <div class="col-md-4">
                {{ visit_date }}
                <input type="text" style="display:none;" value="{{ visit_date }}" name="visit_date"/>
            </div>
         </div>
        <div class="row" style="padding-top: 4px">
            <div class="col-md-2" align="right">
                {% if form.guide.errors or form.guide_extra.errors %}
                    <span style="background: #ffff00">{{ form.guide.label_tag }}</span>
                {% else %}
                    {{ form.guide.label_tag }}
                {% endif %}
            </div>
            <div class="col-md-10">
                {% for item in form.guide %}
                    {% if forloop.counter > 0 and forloop.counter < 4 %}
                        <div class="col-md-6">{{ item }}</div>
                    {% elif forloop.counter == 4 %}
                        <div class="col-md-6">{{ item }}&nbsp;&nbsp;{{ form.guide_extra }}</div>
                    {% endif %}
                {% endfor %}
            </div>
         </div>
        <!--<div class="row" style="padding-top: 4px">
            <div class="col-md-2" align="right">
                {{ form.next_visit_date.label_tag }}
            </div>
            <div class="col-md-4">
               {{ form.next_visit_date }}&nbsp;&nbsp;{{ form.next_visit_date.errors }}
            </div>
         </div>-->