{% extends 'tcm/tcm_child_base.html' %}

{% block table_title %}
    {% if form.Meta.alias == 'aftercare_6_month' %}
        1岁以内儿童中医药健康管理服务记录表
    {% elif form.Meta.alias == 'aftercare_3_year' %}
        3-6岁儿童中医药健康管理服务记录表
    {% else %}
        1-2岁儿童中医药健康管理服务记录表
    {% endif %}
{% endblock %}


{% block col_1_visit_date %}
    {% if form.Meta.alias == 'aftercare_12_month' or form.Meta.alias == 'aftercare_3_year'%}
        {{ form.visit_date }}
    {% endif %}
{% endblock %}

{% block col_1_guide %}
    {% if form.Meta.alias == 'aftercare_12_month' or form.Meta.alias == 'aftercare_3_year'%}
        {% for item in form.guide %}
            {% if forloop.last %}
                {{ item }}
            {% else %}
                {{ item }}<br />
            {% endif %}
        {% endfor %}
        {{ form.guide_extra }}
    {% endif %}
{% endblock %}

{% block col_1_next_visit_date %}
    {% if form.Meta.alias == 'aftercare_12_month' or form.Meta.alias == 'aftercare_3_year'%}
        {{ form.next_visit_date }}
    {% endif %}
{% endblock %}

{% block col_1_doctor_signature %}
    {% if form.Meta.alias == 'aftercare_12_month' or form.Meta.alias == 'aftercare_3_year'%}
        {{ form.doctor_signature }}
    {% endif %}
{% endblock %}


{% block col_2_visit_date %}
    {% if form.Meta.alias == 'aftercare_18_month' %}
        {{ form.visit_date }}
    {% endif %}
{% endblock %}

{% block col_2_guide %}
    {% if form.Meta.alias == 'aftercare_18_month' %}
        {% for item in form.guide %}
            {% if forloop.last %}
                {{ item }}
            {% else %}
                {{ item }}<br />
            {% endif %}
        {% endfor %}
        {{ form.guide_extra }}
    {% endif %}
{% endblock %}

{% block col_2_next_visit_date %}
    {% if form.Meta.alias == 'aftercare_18_month' %}
        {{ form.next_visit_date }}
    {% endif %}
{% endblock %}

{% block col_2_doctor_signature %}
    {% if form.Meta.alias == 'aftercare_18_month' %}
        {{ form.doctor_signature }}
    {% endif %}
{% endblock %}

{% block col_3_visit_date %}
    {% if form.Meta.alias == 'aftercare_6_month' or form.Meta.alias == 'aftercare_24_month'%}
        {{ form.visit_date }}
    {% endif %}
{% endblock %}

{% block col_3_guide %}
    {% if form.Meta.alias == 'aftercare_6_month' or form.Meta.alias == 'aftercare_24_month'%}
        {% for item in form.guide %}
            {% if forloop.last %}
                {{ item }}
            {% else %}
                {{ item }}<br />
            {% endif %}
        {% endfor %}
        {{ form.guide_extra }}
    {% endif %}
{% endblock %}

{% block col_3_next_visit_date %}
    {% if form.Meta.alias == 'aftercare_6_month' or form.Meta.alias == 'aftercare_24_month'%}
        {{ form.next_visit_date }}
    {% endif %}
{% endblock %}

{% block col_3_doctor_signature %}
    {% if form.Meta.alias == 'aftercare_6_month' or form.Meta.alias == 'aftercare_24_month'%}
        {{ form.doctor_signature }}
    {% endif %}
{% endblock %}

{% block col_4_visit_date %}
    {% if form.Meta.alias == 'aftercare_30_month' %}
        {{ form.visit_date }}
    {% endif %}
{% endblock %}

{% block col_4_guide %}
    {% if form.Meta.alias == 'aftercare_30_month' %}
        {% for item in form.guide %}
            {% if forloop.last %}
                {{ item }}
            {% else %}
                {{ item }}<br />
            {% endif %}
        {% endfor %}
        {{ form.guide_extra }}
    {% endif %}
{% endblock %}

{% block col_4_next_visit_date %}
    {% if form.Meta.alias == 'aftercare_30_month' %}
        {{ form.next_visit_date }}
    {% endif %}
{% endblock %}

{% block col_4_doctor_signature %}
    {% if form.Meta.alias == 'aftercare_30_month' %}
        {{ form.doctor_signature }}
    {% endif %}
{% endblock %}