        <div class="row" style="padding-top: 4px">
	        <div class="col-md-2" align="right">
	        	{% if form.visit_date.errors %}
                    <span style="background: #ffff00">{{ form.visit_date.label_tag }}</span>
                {% else %}
                    {{ form.visit_date.label_tag }}
                {% endif %}
	        </div>
	        <div class="col-md-4">
	        	<!--{{ form.visit_date }}&nbsp;&nbsp;{{ form.visit_date.errors}}-->
                {{ visit_date }}
                <input type="text" style="display:none;" value="{{ visit_date }}" name="visit_date"/>
	        </div>
        </div>
        <div class="row" style="padding-top: 4px">
            <div class="col-md-2" align="right">
                {% if form.visit_way.errors %}
                    <span style="background: #ffff00">{{ form.visit_way.label_tag }}</span>
                {% else %}
                    {{ form.visit_way.label_tag }}
                {% endif %}
            </div>
            <div class="col-md-9">
                {% for item in form.visit_way %}
                    {% if forloop.counter > 1 and forloop.counter < 5 %}
                        <div class ="col-md-2">{{ item }}</div>
                    {% endif %}
                {% endfor %}
            </div>
        </div>
    	<div class="row">
	    	<div class="col-md-3">
		    	<h4 class="page-header" style="color: green"><strong>症状</strong></h4>
	    	</div>
    	</div>
        <div class="row" style="padding-top: 4px">
	        <div class="col-md-2" align="right">
	        	{% if form.symptom.errors %}
                    <span style="background: #ffff00">{{ form.symptom.label_tag }}</span>
                {% else %}
                    {{ form.symptom.label_tag }}
                {% endif %}
	        </div>
	        <div class="col-md-9">
                <!--{{ form.symptom }}-->
                {% for item in form.symptom %}
                    {% if forloop.counter > 0 and forloop.counter < 10 %}
                        <div class ="col-md-3">{{ item }}</div>
                    {% endif %}
                {% endfor %}
	        </div>
        </div>
        <div class="row" style="padding-top: 4px">
            <div class="col-md-2" align="right">
                {% if form.symptom_extra.errors %}
                    <span style="background: #ffff00">{{ form.symptom_extra.label_tag }}</span>
                {% else %}
                    {{ form.symptom_extra.label_tag }}
                {% endif %}
            </div>
            <div class="col-md-9">
                {{ form.symptom_extra }}
            </div>
        </div>
        <div class="row">
	    	<div class="col-md-3">
		    	<h4 class="page-header" style="color: green"><strong>体征</strong></h4>
	    	</div>
    	</div>
        <div class="row" style="padding-top: 4px">
            <div class="col-md-2" align="right">
                {% if form.sign_blood_pressure.errors %}
                    <span style="background: #ffff00">{{ form.sign_blood_pressure.label_tag }}</span>
                {% else %}
                    {{ form.sign_blood_pressure.label_tag }}
                {% endif %}
            </div>
            <div class="col-md-4">
                {{ form.sign_blood_pressure }}&nbsp;&nbsp;mmHg
            </div>
             <div class="col-md-2" align="right">
                {% if form.sign_weight.errors %}
                    <span style="background: #ffff00">{{ form.sign_weight.label_tag }}</span>
                {% else %}
                    {{ form.sign_weight.label_tag }}
                {% endif %}
            </div>
            <div class="col-md-4">
                {{ form.sign_weight }}&nbsp;&nbsp;kg
            </div>
        </div>
        <div class="row" style="padding-top: 4px">
            <div class="col-md-2" align="right">
                {% if form.sign_bmi.errors %}
                    <span style="background: #ffff00">{{ form.sign_bmi.label_tag }}</span>
                {% else %}
                    {{ form.sign_bmi.label_tag }}
                {% endif %}
            </div>
            <div class="col-md-4">
                {{ form.sign_bmi }}
            </div>
        </div>
        <div class="row" style="padding-top: 4px">
             <div class="col-md-2" align="right">
                {% if form.sign_acrotarsium_artery_pulse.errors %}
                    <span style="background: #ffff00">{{ form.sign_acrotarsium_artery_pulse.label_tag }}</span>
                {% else %}
                    {{ form.sign_acrotarsium_artery_pulse.label_tag }}
                {% endif %}
             </div>
            <div class="col-md-10">
                {% for item in form.sign_acrotarsium_artery_pulse %}
                    {% if forloop.counter > 1 and forloop.counter < 4 %}
                        <div class ="col-md-3">{{ item }}</div>
                    {% endif %}
                {% endfor %}
            </div>
        </div>
        <div class="row" style="padding-top: 4px">
            <div class="col-md-2" align="right">
                {% if form.sign_extra.errors %}
                    <span style="background: #ffff00">{{ form.sign_extra.label_tag }}</span>
                {% else %}
                    {{ form.sign_extra.label_tag }}
                {% endif %}
            </div>
            <div class="col-md-4">
                {{ form.sign_extra }}
            </div>
        </div>
        <div class="row">
	    	<div class="col-md-3">
		    	<h4 class="page-header" style="color: green"><strong>生活方式指导</strong></h4>
	    	</div>
    	</div>
        <div class="row" style="padding-top: 4px">
            <div class="col-md-2" align="right">
                {% if form.life_style_guide_smoke.errors %}
                    <span style="background: #ffff00">{{ form.life_style_guide_smoke.label_tag }}</span>
                {% else %}
                    {{ form.life_style_guide_smoke.label_tag }}
                {% endif %}
            </div>
            <div class="col-md-4">
                {{ form.life_style_guide_smoke }}&nbsp;&nbsp;支
            </div>
             <div class="col-md-2" align="right">
                {% if form.life_style_guide_liquor.errors %}
                    <span style="background: #ffff00">{{ form.life_style_guide_liquor.label_tag }}</span>
                {% else %}
                    {{ form.life_style_guide_liquor.label_tag }}
                {% endif %}
            </div>
            <div class="col-md-4">
                {{ form.life_style_guide_liquor }}&nbsp;&nbsp;两
            </div>
        </div>
        <div class="row" style="padding-top: 4px">
            <div class="col-md-2" align="right">
                {% if form.life_style_guide_sport1.errors %}
                    <span style="background: #ffff00">{{ form.life_style_guide_sport1.label_tag }}</span>
                {% elif form.life_style_guide_sport2.errors %}
                    <span style="background: #ffff00">{{ form.life_style_guide_sport1.label_tag }}</span>
                {% elif form.life_style_guide_sport3.errors %}
                    <span style="background: #ffff00">{{ form.life_style_guide_sport3.label_tag }}</span>
                {% elif form.life_style_guide_sport4.errors %}
                    <span style="background: #ffff00">{{ form.life_style_guide_sport4.label_tag }}</span>
                {% else %}
                    {{ form.life_style_guide_sport1.label_tag }}
                {% endif %}
            </div>
            <div class="col-md-4">
                {{ form.life_style_guide_sport1 }}&nbsp;&nbsp;次/周&nbsp;&nbsp;&nbsp;&nbsp;{{ form.life_style_guide_sport2 }}&nbsp;&nbsp;分钟/次
            </div>
            <!--<div class="col-md-4">
                {{ form.life_style_guide_sport2 }}&nbsp;&nbsp;分钟/次
            </div>-->
        </div>
        <div class="row" style="padding-top: 4px">
            <div class="col-md-2" align="right">
                <!--{{ form.life_style_guide_sport3.label_tag }}-->
            </div>
            <div class="col-md-4">
                {{ form.life_style_guide_sport3 }}&nbsp;&nbsp;次/周&nbsp;&nbsp;&nbsp;&nbsp;{{ form.life_style_guide_sport4 }}&nbsp;&nbsp;分钟/次
            </div>
            <!--<div class="col-md-4">
                {{ form.life_style_guide_sport4 }}&nbsp;&nbsp;分钟/次
            </div>-->
        </div>
        <div class="row" style="padding-top: 4px">
            <div class="col-md-2" align="right">
                {% if form.life_style_staple.errors %}
                    <span style="background: #ffff00">{{ form.life_style_staple.label_tag }}</span>
                {% else %}
                    {{ form.life_style_staple.label_tag }}
                {% endif %}
            </div>
            <div class="col-md-4">
                {{ form.life_style_staple }}&nbsp;&nbsp;克/天
            </div>
        </div>
        <div class="row" style="padding-top: 4px">
            <div class="col-md-2" align="right">
                {% if form.life_style_guide_mentality.errors %}
                    <span style="background: #ffff00">{{ form.life_style_guide_mentality.label_tag }}</span>
                {% else %}
                    {{ form.life_style_guide_mentality.label_tag }}
                {% endif %}
            </div>
            <div class="col-md-9">
                {% for item in form.life_style_guide_mentality %}
                    {% if forloop.counter > 1 and forloop.counter < 5 %}
                        <div class="col-md-2">{{ item }}</div>
                    {% endif %}
                {% endfor %}
            </div>
        </div>
        <div class="row" style="padding-top: 4px">
            <div class="col-md-2" align="right">
                {% if form.life_style_guide_medical_compliance.errors %}
                    <span style="background: #ffff00">{{ form.life_style_guide_medical_compliance.label_tag }}</span>
                {% else %}
                    {{ form.life_style_guide_medical_compliance.label_tag }}
                {% endif %}
            </div>
            <div class="col-md-9">
                {% for item in form.life_style_guide_medical_compliance %}
                    {% if forloop.counter > 1 and forloop.counter < 5 %}
                        <div class="col-md-2">{{ item }}</div>
                    {% endif %}
                {% endfor %}
            </div>
        </div>
        <div class="row">
	    	<div class="col-md-3">
		    	<h4 class="page-header" style="color: green"><strong>辅助检查</strong></h4>
	    	</div>
    	</div>
        <div class="row" style="padding-top: 4px">
            <div class="col-md-2" align="right">
                {% if form.auxiliary_examination_fbg_value.errors %}
                    <span style="background: #ffff00">{{ form.auxiliary_examination_fbg_value.label_tag }}</span>
                {% else %}
                    {{ form.auxiliary_examination_fbg_value.label_tag }}
                {% endif %}
            </div>
            <div class="col-md-4">
                {{ form.auxiliary_examination_fbg_value }}&nbsp;&nbsp;mmol/L
            </div>
        </div>
        <div class="row" style="padding-top: 4px">
            <div class="col-md-2" align="right">
                <strong>其他检查*：</strong>
            </div>
        </div>
        <div class="row" style="padding-top: 4px">
            <div class="col-md-2" align="right">

            </div>
            <div class="col-md-2" align="right">
                    {% if form.auxiliary_examination_extra_hemoglobin.errors %}
                        <span style="background: #ffff00">{{ form.auxiliary_examination_extra_hemoglobin.label_tag }}</span>
                    {% else %}
                        {{ form.auxiliary_examination_extra_hemoglobin.label_tag }}
                    {% endif %}
            </div>
            <div class="col-md-4">
                {{ form.auxiliary_examination_extra_hemoglobin }}&nbsp;&nbsp;%
            </div>
        </div>
        {% include 'diabetes/auxiliary_examination_extra_examination_date.html' %}
        <div class="row" style="padding-top: 4px">
            <div class="col-md-2" align="right">
                {% if form.take_medicine_compliance.errors %}
                    <span style="background: #ffff00">{{ form.take_medicine_compliance.label_tag }}</span>
                {% else %}
                    {{ form.take_medicine_compliance.label_tag }}
                {% endif %}
            </div>
            <div class="col-md-9">
                {% for item in form.take_medicine_compliance %}
                    {% if forloop.counter > 1 and forloop.counter < 5 %}
                        <div class="col-md-2">{{ item }}</div>
                    {% endif %}
                {% endfor %}
            </div>
        </div>
        <div class="row" style="padding-top: 4px">
            <div class="col-md-2" align="right">
                {% if form.medicine_untoward_effect.errors %}
                    <span style="background: #ffff00">{{ form.medicine_untoward_effect.label_tag }}</span>
                {% else %}
                    {{ form.medicine_untoward_effect.label_tag }}
                {% endif %}
            </div>
            <div class="col-md-10">
                {% for item in form.medicine_untoward_effect %}
                    {% if forloop.counter > 1 and forloop.counter < 4 %}
                        <div class="col-md-2">{{ item }}</div>
                    {% endif %}
                {% endfor %}
            </div>
        </div>
        <div class="row" style="padding-top: 4px">
            <div class="col-md-2" align="right">
                {% if form.hypoglycemia_reaction.errors %}
                    <span style="background: #ffff00">{{ form.hypoglycemia_reaction.label_tag }}</span>
                {% else %}
                    {{ form.hypoglycemia_reaction.label_tag }}
                {% endif %}
            </div>
            <div class="col-md-10">
                {% for item in form.hypoglycemia_reaction %}
                    {% if forloop.counter > 1 and forloop.counter < 5 %}
                        <div class="col-md-2">{{ item }}</div>
                    {% endif %}
                {% endfor %}
            </div>
        </div>
        <div class="row" style="padding-top: 4px">
            <div class="col-md-2" align="right">
                {% if form.visit_classification.errors %}
                    <span style="background: #ffff00">{{ form.visit_classification.label_tag }}</span>
                {% else %}
                    {{ form.visit_classification.label_tag }}
                {% endif %}
            </div>
            <div class="col-md-9">
                {% for item in form.visit_classification %}
                    {% if forloop.counter > 1 and forloop.counter < 6 %}
                        <div class="col-md-3">{{ item }}</div>
                    {% endif %}
                {% endfor %}
            </div>
        </div>
        <div class="row">
	    	<div class="col-md-3">
		    	<h4 class="page-header" style="color: green"><strong>用药情况</strong></h4>
	    	</div>
    	</div>
        <div class="row" style="padding-top: 4px">
	        <div class="col-md-2" align="right">
	        	{% if form.take_medicine_1.errors %}
                    <span style="background: #ffff00">{{ form.take_medicine_1.label_tag }}</span>
                {% else %}
                    {{ form.take_medicine_1.label_tag }}
                {% endif %}
	        </div>
	        <div class="col-md-4">
                {{ form.take_medicine_1 }}
            </div>
        </div>
        <div class="row" style="padding-top: 4px">
	        <div class="col-md-2" align="right">
	        	{% if form.take_medicine_1_day.errors %}
                    <span style="background: #ffff00">{{ form.take_medicine_1_day.label_tag }}</span>
                {% elif form.take_medicine_1_time.errors %}
                    <span style="background: #ffff00">{{ form.take_medicine_1_day.label_tag }}</span>
                {% else %}
                    {{ form.take_medicine_1_day.label_tag }}
                {% endif %}
	        </div>
	        <div class="col-md-4">
                每日&nbsp;{{ form.take_medicine_1_day }}&nbsp;&nbsp;次&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;每次&nbsp;{{ form.take_medicine_1_time }}&nbsp;&nbsp;mg
            </div>
            <!--<div class="col-md-4">
                每次{{ form.take_medicine_1_time }}&nbsp;&nbsp;mg
            </div>-->
        </div>
        <div class="row" style="padding-top: 4px">
	        <div class="col-md-2" align="right">
	        	{% if form.take_medicine_2.errors %}
                    <span style="background: #ffff00">{{ form.take_medicine_2.label_tag }}</span>
                {% else %}
                    {{ form.take_medicine_2.label_tag }}
                {% endif %}
	        </div>
	        <div class="col-md-4">
                {{ form.take_medicine_2 }}
            </div>
        </div>
        <div class="row" style="padding-top: 4px">
	        <div class="col-md-2" align="right">
	        	{% if form.take_medicine_2_day.errors %}
                    <span style="background: #ffff00">{{ form.take_medicine_2_day.label_tag }}</span>
                {% elif form.take_medicine_2_time.errors %}
                    <span style="background: #ffff00">{{ form.take_medicine_2_day.label_tag }}</span>
                {% else %}
                    {{ form.take_medicine_2_day.label_tag }}
                {% endif %}
	        </div>
	        <div class="col-md-4">
                每日&nbsp;{{ form.take_medicine_2_day }}&nbsp;&nbsp;次&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;每次&nbsp;{{ form.take_medicine_2_time }}&nbsp;&nbsp;mg
            </div>
            <!--<div class="col-md-4">
                每次{{ form.take_medicine_2_time }}&nbsp;&nbsp;mg
            </div>-->
        </div>
        <div class="row" style="padding-top: 4px">
	        <div class="col-md-2" align="right">
	        	{% if form.take_medicine_3.errors %}
                    <span style="background: #ffff00">{{ form.take_medicine_3.label_tag }}</span>
                {% else %}
                    {{ form.take_medicine_3.label_tag }}
                {% endif %}
	        </div>
	        <div class="col-md-4">
                {{ form.take_medicine_3 }}
            </div>
        </div>
        <div class="row" style="padding-top: 4px">
	        <div class="col-md-2" align="right">
                {% if form.take_medicine_3_day.errors %}
                    <span style="background: #ffff00">{{ form.take_medicine_3_day.label_tag }}</span>
                {% elif form.take_medicine_3_time.errors %}
                    <span style="background: #ffff00">{{ form.take_medicine_3_day.label_tag }}</span>
                {% else %}
                    {{ form.take_medicine_3_day.label_tag }}
                {% endif %}
	        </div>
	        <div class="col-md-4">
                每日&nbsp;{{ form.take_medicine_3_day }}&nbsp;&nbsp;次&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;每次&nbsp;{{ form.take_medicine_3_time }}&nbsp;&nbsp;mg
            </div>
            <!--<div class="col-md-4">
                每次{{ form.take_medicine_3_time }}&nbsp;&nbsp;mg
            </div>-->
        </div>
        <div class="row" style="padding-top: 4px">
	        <div class="col-md-2" align="right">
	        	{% if form.take_medicine_insulin.errors %}
                    <span style="background: #ffff00">{{ form.take_medicine_insulin.label_tag }}</span>
                {% elif form.take_medicine_insulin.errors %}
                    <span style="background: #ffff00">{{ form.take_medicine_insulin.label_tag }}</span>
                {% else %}
                    {{ form.take_medicine_insulin.label_tag }}
                {% endif %}
	        </div>
	        <div class="col-md-4">
                种类&nbsp;{{ form.take_medicine_insulin }}
            </div>
        </div>
        <div class="row" style="padding-top: 4px">
	        <div class="col-md-2" align="right">
	        	{% if form.take_medicine_insulin_volume.errors %}
                    <span style="background: #ffff00">{{ form.take_medicine_insulin_volume.label_tag }}</span>
                {% elif form.take_medicine_insulin_volume.errors %}
                    <span style="background: #ffff00">{{ form.take_medicine_insulin_volume.label_tag }}</span>
                {% else %}
                    {{ form.take_medicine_insulin_volume.label_tag }}
                {% endif %}
	        </div>
	        <div class="col-md-4">
                用法和用量&nbsp;{{ form.take_medicine_insulin_volume }}
            </div>
            <!--<div class="col-md-4">
                每次{{ form.take_medicine_qt_time }}&nbsp;&nbsp;mg
            </div>-->
        </div>
        <div class="row">
	    	<div class="col-md-3">
		    	<h4 class="page-header" style="color: green"><strong>转诊</strong></h4>
	    	</div>
    	</div>
        <div class="row" style="padding-top: 4px">
            <div class="col-md-2" align="right">
                {% if form.transfer_treatment_reason.errors %}
                    <span style="background: #ffff00">{{ form.transfer_treatment_reason.label_tag }}</span>
                {% else %}
                    {{ form.transfer_treatment_reason.label_tag }}
                {% endif %}
            </div>
            <div class="col-md-4">
                {{ form.transfer_treatment_reason }}
            </div>
            <div class="col-md-2" align="right">
                {% if form.transfer_treatment_institution.errors %}
                    <span style="background: #ffff00">{{ form.transfer_treatment_institution.label_tag }}</span>
                {% else %}
                    {{ form.transfer_treatment_institution.label_tag }}
                {% endif %}
            </div>
            <div class="col-md-4">
                {{ form.transfer_treatment_institution }}
            </div>
        </div>
        {% include 'diabetes/next_visit_date.html' %}
        {% include 'diabetes/submit.html' %}