<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title></title>
</head>
<body>
<table border="1" style="border-collapse: collapse">
    <tr>
        <td colspan="3" style="width: 25%;" align="center"><label><b>风险排查</b></label></td>
        <td colspan="9"></td>
    </tr>
    <tr>
        <td colspan="3" style="width: 25%;" align="center"><label><b>风险信息</b></label></td>
        <td colspan="9"></td>
    </tr>
    <tr>
        <td colspan="3" style="width: 25%;" align="center"><label><b>风险评估</b></label></td>
        <td colspan="9"></td>
    </tr>
    <tr>
        <td colspan="3" style="width: 25%;" align="center"><label><b>应急预案</b></label></td>
        <td colspan="9"></td>
    </tr>
</table>
</body>
</html>