        <div class="row" style="padding-top: 4px">
            <div class="col-md-2" align="right">
                {% if form.eye_appearance.errors %}
                    <span style="background: #ffff00">{{ form.eye_appearance.label_tag }}</span>
                {% else %}
                    {{ form.eye_appearance.label_tag }}
                {% endif %}
            </div>
            <div class="col-md-6">
                {% for item in form.eye_appearance %}
                    {% if forloop.counter > 1 and forloop.counter < 4 %}
                        <div class="col-md-4">{{ item }}</div>
                    {% endif %}
                {% endfor %}
            </div>
            <!--<div class="col-md-2" align="right">
                {{ form.ear_appearance.label_tag }}
            </div>
            <div class="col-md-6">
                {% for item in form.ear_appearance %}
                    {% if forloop.counter > 1 and forloop.counter < 4 %}
                        <div class="col-md-4">{{ item }}</div>
                    {% endif %}
                {% endfor %}
                {{ form.ear_appearance.errors }}
            </div>-->
        </div>
        <div class="row" style="padding-top: 4px">
            <div class="col-md-2" align="right">
                {% if form.ear_appearance.errors %}
                    <span style="background: #ffff00">{{ form.ear_appearance.label_tag }}</span>
                {% else %}
                    {{ form.ear_appearance.label_tag }}
                {% endif %}
            </div>
            <div class="col-md-6">
                {% for item in form.ear_appearance %}
                    {% if forloop.counter > 1 and forloop.counter < 4 %}
                        <div class="col-md-4">{{ item }}</div>
                    {% endif %}
                {% endfor %}
            </div>
        </div>
        <div class="row" style="padding-top: 4px">
            <div class="col-md-2" align="right">
                {% if form.hearing.errors %}
                    <span style="background: #ffff00">{{ form.hearing.label_tag }}</span>
                {% else %}
                    {{ form.hearing.label_tag }}
                {% endif %}
            </div>
            <div class="col-md-6">
                {% for item in form.hearing %}
                    {% if forloop.counter > 1 and forloop.counter < 4 %}
                        <div class="col-md-4">{{ item }}</div>
                    {% endif %}
                {% endfor %}
            </div>
            <!--<div class="col-md-2" align="right">
                {{ form.oral_cavity.label_tag }}
            </div>
            <div class="col-md-4">
                {% for item in form.oral_cavity %}
                    {% if forloop.counter > 1 and forloop.counter < 4 %}
                        <div class="col-md-4">{{ item }}</div>
                    {% endif %}
                {% endfor %}
                {{ form.oral_cavity.errors}}
            </div>-->
        </div>
        <div class="row" style="padding-top: 4px">
            <div class="col-md-3" align="left">
                {% if form.tooth_decayed_tooth.errors %}
                    <span style="background: #ffff00">{{ form.tooth_decayed_tooth.label_tag }}</span>
                {% else %}
                    {{ form.tooth_decayed_tooth.label_tag }}
                {% endif %}
            </div>
            <div class="col-md-4">
                {{ form.tooth_decayed_tooth }}
            </div>
        </div>
        <div class="row" style="padding-top: 4px">
            <div class="col-md-2" align="right">
                {% if form.heart_lung.errors %}
                    <span style="background: #ffff00">{{ form.heart_lung.label_tag }}</span>
                {% else %}
                    {{ form.heart_lung.label_tag }}
                {% endif %}
            </div>
            <div class="col-md-6">
                {% for item in form.heart_lung %}
                    {% if forloop.counter > 1 and forloop.counter < 4 %}
                        <div class="col-md-4">{{ item }}</div>
                    {% endif %}
                {% endfor %}
            </div>
            <!--<div class="col-md-2" align="right">
                {{ form.abdomen.label_tag }}
            </div>
            <div class="col-md-4">
                {{% for item in form.abdomen %}
                    <div class="col-md-3">{{ item }}</div>
                {% endfor %}
                {{ form.abdomen.errors}}
            </div>-->
        </div>
        <div class="row" style="padding-top: 4px">
            <div class="col-md-2" align="right">
                {% if form.abdomen.errors %}
                    <span style="background: #ffff00">{{ form.abdomen.label_tag }}</span>
                {% else %}
                    {{ form.abdomen.label_tag }}
                {% endif %}
            </div>
            <div class="col-md-6">
                {% for item in form.abdomen %}
                    {% if forloop.counter > 1 and forloop.counter < 4 %}
                        <div class="col-md-4">{{ item }}</div>
                    {% endif %}
                {% endfor %}
            </div>
        </div>
        <div class="row" style="padding-top: 4px">
            <div class="col-md-2" align="right">
                {% if form.all_fours.errors %}
                    <span style="background: #ffff00">{{ form.all_fours.label_tag }}</span>
                {% else %}
                    {{ form.all_fours.label_tag }}
                {% endif %}
            </div>
            <div class="col-md-6">
                {% for item in form.all_fours %}
                    {% if forloop.counter > 1 and forloop.counter < 4 %}
                        <div class="col-md-4">{{ item }}</div>
                    {% endif %}
                {% endfor %}
            </div>
        </div>
        <div class="row" style="padding-top: 4px">
            <div class="col-md-2" align="right">
                {% if form.step.errors %}
                    <span style="background: #ffff00">{{ form.step.label_tag }}</span>
                {% else %}
                    {{ form.step.label_tag }}
                {% endif %}
            </div>
            <div class="col-md-6">
                {% for item in form.step %}
                    {% if forloop.counter > 1 and forloop.counter < 4 %}
                        <div class="col-md-4">{{ item }}</div>
                    {% endif %}
                {% endfor %}
            </div>
        </div>
        <div class="row" style="padding-top: 4px">
            <div class="col-md-2" align="right">
                {% if form.rickets_sign.errors %}
                    <span style="background: #ffff00">{{ form.rickets_sign.label_tag }}</span>
                {% else %}
                    {{ form.rickets_sign.label_tag }}
                {% endif %}
            </div>
            <div class="col-md-9">
                {% for item in form.rickets_sign %}
                   {% if forloop.counter > 1 and forloop.counter < 4 %}
                        <div class="col-md-4">{{ item }}</div>
                    {% endif %}
                {% endfor %}
            </div>
        </div>