        <div class="row" style="padding-top: 4px">
            <div class="col-md-2" align="right">
                {% if form.bregma.errors %}
                    <span style="background: #ffff00">{{ form.bregma.label_tag }}</span>
                {% elif form.bregma_length.errors %}
                    <span style="background: #ffff00">{{ form.bregma.label_tag }}</span>
                {% elif form.bregma_width.errors %}
                    <span style="background: #ffff00">{{ form.bregma.label_tag }}</span>
                {% else %}
                    {{ form.bregma.label_tag }}
                {% endif %}
            </div>
            <div class="col-md-8">
                {% for item in form.bregma %}
                    {% if forloop.counter > 1 and forloop.counter < 4 %}
                        <div class="col-md-3">{{ item }}</div>
                    {% endif %}
                {% endfor %}
                {{ form.bregma_length }}&nbsp;&nbsp;cm×&nbsp;&nbsp;{{ form.bregma_width }}&nbsp;&nbsp;cm
            </div>
        </div>
        <div class="row" style="padding-top: 4px">
            <div class="col-md-2" align="right">
                {% if form.neck_enclosed_mass.errors %}
                    <span style="background: #ffff00">{{ form.neck_enclosed_mass.label_tag }}</span>
                {% else %}
                    {{ form.neck_enclosed_mass.label_tag }}
                {% endif %}
            </div>
            <div class="col-md-6">
                {% for item in form.neck_enclosed_mass %}
                    {% if forloop.counter > 1 and forloop.counter < 4 %}
                        <div class="col-md-4">{{ item }}</div>
                    {% endif %}
                {% endfor %}
            </div>
        </div>
        <div class="row" style="padding-top: 4px">
            <div class="col-md-2" align="right">
                {% if form.eye_appearance.errors %}
                    <span style="background: #ffff00">{{ form.eye_appearance.label_tag }}</span>
                {% else %}
                    {{ form.eye_appearance.label_tag }}
                {% endif %}
            </div>
            <div class="col-md-6">
                {% for item in form.eye_appearance %}
                    {% if forloop.counter > 1 and forloop.counter < 4 %}
                        <div class="col-md-4">{{ item }}</div>
                    {% endif %}
                {% endfor %}
            </div>
            <!--<div class="col-md-2" align="right">
                {{ form.ear_appearance.label_tag }}
            </div>
            <div class="col-md-6">
                {% for item in form.ear_appearance %}
                    {% if forloop.counter > 1 and forloop.counter < 4 %}
                        <div class="col-md-4">{{ item }}</div>
                    {% endif %}
                {% endfor %}
                {{ form.ear_appearance.errors }}
            </div>-->
        </div>
        <div class="row" style="padding-top: 4px">
            <div class="col-md-2" align="right">
                {% if form.ear_appearance.errors %}
                    <span style="background: #ffff00">{{ form.ear_appearance.label_tag }}</span>
                {% else %}
                    {{ form.ear_appearance.label_tag }}
                {% endif %}
            </div>
            <div class="col-md-6">
                {% for item in form.ear_appearance %}
                    {% if forloop.counter > 1 and forloop.counter < 4 %}
                        <div class="col-md-4">{{ item }}</div>
                    {% endif %}
                {% endfor %}
            </div>
        </div>
        <div class="row" style="padding-top: 4px">
            <div class="col-md-2" align="right">
                {% if form.hearing.errors %}
                    <span style="background: #ffff00">{{ form.hearing.label_tag }}</span>
                {% else %}
                    {{ form.hearing.label_tag }}
                {% endif %}
            </div>
            <div class="col-md-6">
                {% for item in form.hearing %}
                    {% if forloop.counter > 1 and forloop.counter < 4 %}
                        <div class="col-md-4">{{ item }}</div>
                    {% endif %}
                {% endfor %}
            </div>
            <!--<div class="col-md-2" align="right">
                {{ form.oral_cavity.label_tag }}
            </div>
            <div class="col-md-4">
                {% for item in form.oral_cavity %}
                    {% if forloop.counter > 1 and forloop.counter < 4 %}
                        <div class="col-md-4">{{ item }}</div>
                    {% endif %}
                {% endfor %}
                {{ form.oral_cavity.errors}}
            </div>-->
        </div>