        <div class="row" style="padding-top: 4px">
	        <div class="col-md-2" align="right">
	        	{% if form.visit_date.errors %}
                    <span style="background: #ffff00">{{ form.visit_date.label_tag }}</span>
                {% else %}
                    {{ form.visit_date.label_tag }}
                {% endif %}
	        </div>
	        <div class="col-md-4">
	        	{{ visit_date }}
                <input type="text" style="display:none;" value="{{ visit_date }}" name="visit_date"/>
	        </div>
        </div>
        <div class="row">
	    	<div class="col-md-3">
		    	<h4 class="page-header" style="color: green"><strong>基本信息</strong></h4>
	    	</div>
    	</div>
        <div class="row" style="padding-top: 4px">
            <div class="col-md-2" align="right">
                {% if form.weight.errors %}
                    <span style="background: #ffff00">{{ form.weight.label_tag }}</span>
                {% elif form.weight_grade.errors %}
                    <span style="background: #ffff00">{{ form.weitht.label_tag }}</span>
                {% else %}
                    {{ form.weight.label_tag }}
                {% endif %}
            </div>
            <div class="col-md-2">
                {{ form.weight }}&nbsp;&nbsp;
            </div>
            <div class="col-md-6">
                {% for item in form.weight_grade %}
                    {% if forloop.counter > 1 and forloop.counter < 5 %}
                    <div class="col-md-2">{{ item }}</div>
                    {% endif %}
                {% endfor %}
            </div>
        </div>
        <div class="row" style="padding-top: 4px">
            <div class="col-md-2" align="right">
                {% if form.height.errors %}
                    <span style="background: #ffff00">{{ form.height.label_tag }}</span>
                {% elif form.height_grade.errors %}
                    <span style="background: #ffff00">{{ form.height.label_tag }}</span>
                {% else %}
                    {{ form.height.label_tag }}
                {% endif %}
            </div>
            <div class="col-md-2">
                {{ form.height }}&nbsp;&nbsp;
            </div>
            <div class="col-md-6">
                {% for item in form.height_grade %}
                    {% if forloop.counter > 1 and forloop.counter < 5 %}
                    <div class="col-md-2">{{ item }}</div>
                    {% endif %}
                {% endfor %}
            </div>
        </div>
        <div class="row" style="padding-top: 4px">
	        <div class="col-md-2" align="right">
	        	{% if form.head_circumference.errors %}
                    <span style="background: #ffff00">{{ form.head_circumference.label_tag }}</span>
                {% else %}
                    {{ form.head_circumference.label_tag }}
                {% endif %}
	        </div>
	        <div class="col-md-4">
	        	{{ form.head_circumference }}
	        </div>
        </div>
    	<div class="row">
	    	<div class="col-md-3">
		    	<h4 class="page-header" style="color: green"><strong>体格检查</strong></h4>
	    	</div>
    	</div>
        <div class="row" style="padding-top: 4px">
	        <div class="col-md-2" align="right">
	        	{% if form.complexion.errors %}
                    <span style="background: #ffff00">{{ form.complexion.label_tag }}</span>
                {% else %}
                    {{ form.complexion.label_tag }}
                {% endif %}
	        </div>
	        <div class="col-md-5">
                {% for item in form.complexion %}
                    {% if forloop.counter > 1 and forloop.counter < 5 %}
                    <div class="col-md-3">{{ item }}</div>
                    {% endif %}
                {% endfor %}
	        </div>
            <!--<div class="col-md-2" align="right">
                {{ form.skin.label_tag }}
            </div>
            <div class="col-md-5">
                {% for item in form.skin %}
                    {% if forloop.counter > 1 and forloop.counter < 5 %}
                        <div class="col-md-3">{{ item }}</div>
                    {% endif %}
                {% endfor %}
                {{ form.skin.errors }}
            </div>-->
        </div>
        <div class="row" style="padding-top: 4px">
            <div class="col-md-2" align="right">
                {% if form.skin.errors %}
                    <span style="background: #ffff00">{{ form.skin.label_tag }}</span>
                {% else %}
                    {{ form.skin.label_tag }}
                {% endif %}
            </div>
            <div class="col-md-6">
                {% for item in form.skin %}
                    {% if forloop.counter > 1 and forloop.counter < 4 %}
                        <div class="col-md-4">{{ item }}</div>
                    {% endif %}
                {% endfor %}
            </div>
        </div>