        <div class="row" style="padding-top: 4px">
	        <div class="col-md-2" align="right">
	        	{% if form.visit_date.errors %}
                    <span style="background: #ffff00">{{ form.visit_date.label_tag }}</span>
                {% else %}
                    {{ form.visit_date.label_tag }}
                {% endif %}
	        </div>
	        <div class="col-md-4">
	        	{{ visit_date }}
                <input type="text" style="display:none;" value="{{ visit_date }}" name="visit_date"/>
	        </div>
        </div>
        <div class="row">
	    	<div class="col-md-3">
		    	<h4 class="page-header" style="color: green"><strong>基本信息</strong></h4>
	    	</div>
    	</div>
        <div class="row" style="padding-top: 4px">
            <div class="col-md-2" align="right">
                {% if form.weight.errors %}
                    <span style="background: #ffff00">{{ form.weight.label_tag }}</span>
                {% elif form.weight_grade.errors %}
                    <span style="background: #ffff00">{{ form.weight.label_tag }}</span>
                {% else %}
                    {{ form.weight.label_tag }}
                {% endif %}
            </div>
            <div class="col-md-2">
                {{ form.weight }}&nbsp;&nbsp;
            </div>
            <div class="col-md-6">
                {% for item in form.weight_grade %}
                    {% if forloop.counter > 1 and forloop.counter < 5 %}
                    <div class="col-md-2">{{ item }}</div>
                    {% endif %}
                {% endfor %}
            </div>
        </div>
        <div class="row" style="padding-top: 4px">
            <div class="col-md-2" align="right">
                {% if form.height.errors %}
                    <span style="background: #ffff00">{{ form.height.label_tag }}</span>
                {% elif form.height_grade.errors %}
                    <span style="background: #ffff00">{{ form.height.label_tag }}</span>
                {% else %}
                    {{ form.height.label_tag }}
                {% endif %}
            </div>
            <div class="col-md-2">
                {{ form.height }}&nbsp;&nbsp;
            </div>
            <div class="col-md-6">
                {% for item in form.height_grade %}
                    {% if forloop.counter > 1 and forloop.counter < 5 %}
                    <div class="col-md-2">{{ item }}</div>
                    {% endif %}
                {% endfor %}
            </div>
        </div>
        <div class="row" style="padding-top: 4px">
            <div class="col-md-2" align="right">
                {% if form.body_growth_evaluate.errors %}
                    <span style="background: #ffff00">{{ form.body_growth_evaluate.label_tag }}</span>
                {% else %}
                    {{ form.body_growth_evaluate.label_tag }}
                {% endif %}
            </div>
            <div class="col-md-10">
                {% for item in form.body_growth_evaluate %}
                    {% if forloop.counter > 1 and forloop.counter < 7 %}
                        <div class="col-md-2">{{ item }}</div>
                    {% endif %}
                {% endfor %}
            </div>
        </div>
    	<div class="row">
	    	<div class="col-md-3">
		    	<h4 class="page-header" style="color: green"><strong>体格检查</strong></h4>
	    	</div>
    	</div>
        <div class="row" style="padding-top: 4px">
            <div class="col-md-2" align="right">
                {% if form.eye_sight.errors %}
                    <span style="background: #ffff00">{{ form.eye_sight.label_tag }}</span>
                {% else %}
                    {{ form.eye_sight.label_tag }}
                {% endif %}
            </div>
            <div class="col-md-6">
                {{ form.eye_sight }}
            </div>
        </div>
        <div class="row" style="padding-top: 4px">
            <div class="col-md-2" align="right">
                {% if form.hearing.errors %}
                    <span style="background: #ffff00">{{ form.hearing.label_tag }}</span>
                {% else %}
                    {{ form.hearing.label_tag }}
                {% endif %}
            </div>
            <div class="col-md-6">
                {% for item in form.hearing %}
                    {% if forloop.counter > 1 and forloop.counter < 4 %}
                        <div class="col-md-4">{{ item }}</div>
                    {% endif %}
                {% endfor %}
            </div>
            <!--<div class="col-md-2" align="right">
                {{ form.oral_cavity.label_tag }}
            </div>
            <div class="col-md-4">
                {% for item in form.oral_cavity %}
                    {% if forloop.counter > 1 and forloop.counter < 4 %}
                        <div class="col-md-4">{{ item }}</div>
                    {% endif %}
                {% endfor %}
                {{ form.oral_cavity.errors}}
            </div>-->
        </div>
        <div class="row" style="padding-top: 4px">
            <div class="col-md-3" align="left">
                {% if form.tooth_decayed_tooth.errors %}
                    <span style="background: #ffff00">{{ form.tooth_decayed_tooth.label_tag }}</span>
                {% else %}
                    {{ form.tooth_decayed_tooth.label_tag }}
                {% endif %}
            </div>
            <div class="col-md-4">
               {{ form.tooth_decayed_tooth }}
            </div>
        </div>
        <div class="row" style="padding-top: 4px">
            <div class="col-md-2" align="right">
                {% if form.heart_lung.errors %}
                    <span style="background: #ffff00">{{ form.heart_lung.label_tag }}</span>
                {% else %}
                    {{ form.heart_lung.label_tag }}
                {% endif %}
            </div>
            <div class="col-md-6">
                {% for item in form.heart_lung %}
                    {% if forloop.counter > 1 and forloop.counter < 4 %}
                        <div class="col-md-4">{{ item }}</div>
                    {% endif %}
                {% endfor %}
            </div>
            <!--<div class="col-md-2" align="right">
                {{ form.abdomen.label_tag }}
            </div>
            <div class="col-md-4">
                {{% for item in form.abdomen %}
                    <div class="col-md-3">{{ item }}</div>
                {% endfor %}
                {{ form.abdomen.errors}}
            </div>-->
        </div>
        <div class="row" style="padding-top: 4px">
            <div class="col-md-2" align="right">
                {% if form.abdomen.errors %}
                    <span style="background: #ffff00">{{ form.abdomen.label_tag }}</span>
                {% else %}
                    {{ form.abdomen.label_tag }}
                {% endif %}
            </div>
            <div class="col-md-6">
                {% for item in form.abdomen %}
                    {% if forloop.counter > 1 and forloop.counter < 4 %}
                        <div class="col-md-4">{{ item }}</div>
                    {% endif %}
                {% endfor %}
            </div>
        </div>
        <div class="row" style="padding-top: 4px">
	        <div class="col-md-2" align="right">
	        	{% if form.hemoglobin_value.errors %}
                    <span style="background: #ffff00">{{ form.hemoglobin_value.label_tag }}</span>
                {% else %}
                    {{ form.hemoglobin_value.label_tag }}
                {% endif %}
	        </div>
	        <div class="col-md-4">
                {{ form.hemoglobin_value }}&nbsp;&nbsp;g/L
            </div>
        </div>
        <div class="row" style="padding-top: 4px">
	        <div class="col-md-2" align="right">
	        	{% if form.extra.errors %}
                    <span style="background: #ffff00">{{ form.extra.label_tag }}</span>
                {% else %}
                    {{ form.extra.label_tag }}
                {% endif %}
	        </div>
	        <div class="col-md-4">
                {{ form.extra }}
            </div>
        </div>
        <div class="row">
	    	<div class="col-md-3">
		    	<h4 class="page-header" style="color: green"><strong></strong></h4>
	    	</div>
    	</div>
        <div class="row" style="padding-top: 4px">
	        <div class="col-md-3">
                {% if form.two_visit_disease.errors %}
                    <span style="background: #ffff00">{{ form.two_visit_disease.label_tag }}</span>
                {% elif form.pneumonia.errors %}
                    <span style="background: #ffff00">{{ form.two_visit_disease.label_tag }}</span>
                {% elif form.diarrhea.errors %}
                    <span style="background: #ffff00">{{ form.two_visit_disease.label_tag }}</span>
                {% elif form.traumatism.errors %}
                    <span style="background: #ffff00">{{ form.two_visit_disease.label_tag }}</span>
                {% elif form.two_visit_extra.errors %}
                    <span style="background: #ffff00">{{ form.two_visit_disease.label_tag }}</span>
                {% else %}
                    {{ form.two_visit_disease.label_tag }}
                {% endif %}
	        </div>
	        <div class="col-md-9">
                {% for item in form.two_visit_disease %}
                    {% if forloop.counter == 1 %}
                        <div class="col-md-3">{{ item }}</div>
                    {% elif forloop.counter == 2  %}
                        <div class="col-md-4">{{ item }}&nbsp;&nbsp;{{ form.pneumonia }}&nbsp;&nbsp;次&nbsp;&nbsp;</div>
                    {% elif forloop.counter == 3 %}
                        <div class="col-md-4">{{ item }}&nbsp;&nbsp;{{ form.diarrhea }}&nbsp;&nbsp;次&nbsp;&nbsp;</div>
                    {% elif forloop.counter == 4 %}
                        <div class="col-md-4">{{ item }}&nbsp;&nbsp;{{ form.traumatism }}&nbsp;&nbsp;次&nbsp;&nbsp;</div>
                    {% elif forloop.counter == 5 %}
                        <div class="col-md-4">{{ item }}&nbsp;&nbsp;{{ form.two_visit_extra }}</div>
                    {% endif %}
                {% endfor %}
            </div>
        </div>
        <div class="row" style="padding-top: 4px">
	        <div class="col-md-2" align="right">
	        	{% if form.transfer_treatment_suggestion.errors %}
                    <span style="background: #ffff00">{{ form.transfer_treatment_suggestion.label_tag }}</span>
                {% else %}
                    {{ form.transfer_treatment_suggestion.label_tag }}
                {% endif %}
	        </div>
	        <div class="col-md-6">
                {% for item in form.transfer_treatment_suggestion %}
                    {% if forloop.counter > 1 and forloop.counter < 3  %}
                        <div class="col-md-2">{{ item }}</div>
                    {% elif forloop.counter == 3 %}
                        <div class="col-md-2">{{ item }}&nbsp;&nbsp;</div>
                            <div class="col-md-2" align="right">
                                {% if form.transfer_treatment_suggestion_reason.errors %}
                                    <span style="background: #ffff00">{{ form.transfer_treatment_suggestion_reason.label_tag }}</span>
                                {% else %}
                                    {{ form.transfer_treatment_suggestion_reason.label_tag }}
                                {% endif %}
                            </div>
                            <div class="col-md-4">
                                {{ form.transfer_treatment_suggestion_reason }}
                            </div>
                    {% endif %}
                 {% endfor %}
            </div>
        </div>
        <div class="row" style="padding-top: 4px">
	        <div class="col-md-2" align="right">

	        </div>
	        <div class="col-md-1">

            </div>
            <div class="col-md-2" align="right">
                {% if form.transfer_treatment_suggestion_institution.errors %}
                    <span style="background: #ffff00">{{ form.transfer_treatment_suggestion_institution.label_tag }}</span>
                {% else %}
                    {{ form.transfer_treatment_suggestion_institution.label_tag }}
                {% endif %}
            </div>
            <div class="col-md-4">
                {{ form.transfer_treatment_suggestion_institution }}
            </div>
        </div>
        <div class="row" style="padding-top: 4px">
            <div class="col-md-2" align="right">
                {% if form.guide.errors or form.guide_extra.errors %}
                    <span style="background: #ffff00">{{ form.guide.label_tag }}</span>
                {% elif form.guide_extra.errors %}
                    <span style="background: #ffff00">{{ form.guide_extra.label_tag }}</span>
                {% else %}
                    {{ form.guide.label_tag }}
                {% endif %}
            </div>
            <div class="col-md-10">
                {% for item in form.guide %}
                    {% if forloop.counter > 0 and forloop.counter < 6 %}
                        <div class="col-md-4">{{ item }}</div>
                    {% endif %}
                {% endfor %}
                {{ form.guide_extra }}
            </div>
        </div>
        <!--<div class="row" style="padding-top: 4px">
            <div class="col-md-2" align="right">
                {{ form.next_visit_date.label_tag }}
            </div>
            <div class="col-md-4">
                {{ form.next_visit_date }}&nbsp;&nbsp;{{ form.next_visit_date.errors}}
            </div>
        </div>-->