{% extends 'services/index.html' %}
{% load staticfiles %}

{% block service_header %}
    <h3 class="page-header" align="center">{{ service_type.name }}: {{ service_item.name }}</h3>
{% endblock %}

{% block service_item_content %}
    <form action="{% url 'child:aftercare_3_month' %}" method="POST">

    {% csrf_token %}
        {{ form.non_filed_errors }}
        {% include 'child/a1m_a30m_1.html' %}
        {% include 'child/a1m_a8m_1.html' %}
        <div class="row" style="padding-top: 4px">
            <div class="col-md-2" align="right">
                {% if form.oral_cavity.errors %}
                    <span style="background: #ffff00">{{ form.oral_cavity.label_tag }}</span>
                {% else %}
                    {{ form.oral_cavity.label_tag }}
                {% endif %}
            </div>
            <div class="col-md-6">
                {% for item in form.oral_cavity %}
                    {% if forloop.counter > 1 and forloop.counter < 4 %}
                        <div class="col-md-4">{{ item }}</div>
                    {% endif %}
                {% endfor %}
            </div>
        </div>
        {% include 'child/a1m_a8m_2.html' %}
    </form>
{% endblock %}
</html>