{% extends "table_base.html" %}

{% block table_title %}
    3-6岁儿童健康检查记录表
{% endblock %}

{% block table_content %}
    <tr>
        <td width="20%" colspan="4" align="center">
            月龄
        </td>
        <td width="20%" colspan="4" align="center">
            3岁
        </td>
        <td width="20%" colspan="4" align="center">
            4岁
        </td>
        <td width="20%" colspan="4" align="center">
            5岁
        </td>
        <td colspan="4" align="center">
            6岁
        </td>
    </tr>
    <tr>
        <td width="20%" colspan="4" align="center">
            随访日期
        </td>
        <td width="20%" colspan="4">
            {% block visit_date_3 %}{% endblock %}
        </td>
        <td width="20%" colspan="4">
            {% block visit_date_4 %}{% endblock %}
        </td>
        <td width="20%" colspan="4">
            {% block visit_date_5 %}{% endblock %}
        </td>
        <td colspan="4">
            {% block visit_date_6 %}{% endblock %}
        </td>
    </tr>
    <tr>
        <td width="20%" colspan="4" align="center">
            体重（kg）
        </td>
        <td width="20%" colspan="4">
            {% block weight_3 %}{% endblock %}<br>{% block weight_grade_3 %}{% endblock %}
        </td>
        <td width="20%" colspan="4">
            {% block weight_4 %}{% endblock %}<br>{% block weight_grade_4 %}{% endblock %}
        </td>
        <td width="20%" colspan="4">
            {% block weight_5 %}{% endblock %}<br>{% block weight_grade_5 %}{% endblock %}
        </td>
        <td colspan="4">
            {% block weight_6 %}{% endblock %}<br>{% block weight_grade_6 %}{% endblock %}
        </td>
    </tr>
    <tr>
        <td width="20%" colspan="4" align="center">
            身长（cm）
        </td>
        <td width="20%" colspan="4">
            {% block height_3 %}{% endblock %}<br>{% block height_grade_3 %}{% endblock %}
        </td>
        <td width="20%" colspan="4">
            {% block height_4 %}{% endblock %}<br>{% block height_grade_4 %}{% endblock %}
        </td>
        <td width="20%" colspan="4">
            {% block height_5 %}{% endblock %}<br>{% block height_grade_5 %}{% endblock %}
        </td>
        <td colspan="4">
            {% block height_6 %}{% endblock %}<br>{% block height_grade_6 %}{% endblock %}
        </td>
    </tr>
    <tr>
        <td width="20%" colspan="4" align="center">
            体格发育评价
        </td>
        <td width="20%" colspan="4">
            {% block body_growth_evaluate_3 %}{% endblock %}
        </td>
        <td width="20%" colspan="4">
            {% block body_growth_evaluate_4 %}{% endblock %}
        </td>
        <td width="20%" colspan="4">
            {% block body_growth_evaluate_5 %}{% endblock %}
        </td>
        <td colspan="4">
            {% block body_growth_evaluate_6 %}{% endblock %}
        </td>
    </tr>
    <tr>
        <td colspan="1" rowspan="7" width="10%" align="center">
            体格检查
        </td>
        <td width="10%" colspan="3" align="center">
            视力
        </td>
        <td width="20%" colspan="4">
            ——————
        </td>
        <td width="20%" colspan="4">
            {% block eye_sight_4 %}{% endblock %}
        </td>
        <td width="20%" colspan="4">
            {% block eye_sight_5 %}{% endblock %}
        </td>
        <td colspan="4">
            {% block eye_sight_6 %}{% endblock %}
        </td>
    </tr>
    <tr>
        <td width="10%" colspan="3" align="center">
            听力
        </td>
        <td width="20%" colspan="4">
            {% block hearing_3 %}{% endblock %}
        </td>
        <td width="20%" colspan="4">
            ——————
        </td>
        <td width="20%" colspan="4">
            ——————
        </td>
        <td colspan="4">
            ——————
        </td>
    </tr>
    <tr>
        <td width="10%" colspan="3" align="center">
            牙数（颗）/龋齿数
        </td>
        <td width="20%" colspan="4">
            {% block tooth_3 %}{% endblock %}/{% block decayed_tooth_3 %}{% endblock %}
        </td>
        <td width="20%" colspan="4">
            {% block tooth_4 %}{% endblock %}/{% block decayed_tooth_4 %}{% endblock %}
        </td>
        <td width="20%" colspan="4">
            {% block tooth_5 %}{% endblock %}/{% block decayed_tooth_5 %}{% endblock %}
        </td>
        <td colspan="4">
            {% block tooth_6 %}{% endblock %}/{% block decayed_tooth_6 %}{% endblock %}
        </td>
    </tr>
    <tr>
        <td width="10%" colspan="3" align="center">
            心肺
        </td>
        <td width="20%" colspan="4">
            {% block heart_lung_3 %}{% endblock %}
        </td>
        <td width="20%" colspan="4">
            {% block heart_lung_4 %}{% endblock %}
        </td>
        <td width="20%" colspan="4">
            {% block heart_lung_5 %}{% endblock %}
        </td>
        <td colspan="4">
            {% block heart_lung_6 %}{% endblock %}
        </td>
    </tr>
    <tr>
        <td width="10%" colspan="3" align="center">
            腹部
        </td>
        <td width="20%" colspan="4">
            {% block abdomen_3 %}{% endblock %}
        </td>
        <td width="20%" colspan="4">
            {% block abdomen_4 %}{% endblock %}
        </td>
        <td width="20%" colspan="4">
            {% block abdomen_5 %}{% endblock %}
        </td>
        <td colspan="4">
            {% block abdomen_6 %}{% endblock %}
        </td>
    </tr>
    <tr>
        <td width="10%" colspan="3" align="center">
            血红蛋白值
        </td>
        <td width="20%" colspan="4">
            {% block hemoglobin_value_3 %}{% endblock %}g/L
        </td>
        <td width="20%" colspan="4">
            {% block hemoglobin_value_4 %}{% endblock %}g/L
        </td>
        <td width="20%" colspan="4">
            {% block hemoglobin_value_5 %}{% endblock %}g/L
        </td>
        <td colspan="4">
            {% block hemoglobin_value_6 %}{% endblock %}g/L
        </td>
    </tr>
    <tr>
        <td width="10%" colspan="3" align="center">
            其他
        </td>
        <td width="20%" colspan="4">
            {% block extra_3 %}{% endblock %}
        </td>
        <td width="20%" colspan="4">
            {% block extra_4 %}{% endblock %}
        </td>
        <td width="20%" colspan="4">
            {% block extra_5 %}{% endblock %}
        </td>
        <td colspan="4">
            {% block extra_6 %}{% endblock %}
        </td>
    </tr>
    <tr>
        <td width="20%" colspan="4" align="center">
            两次随访间患病情况
        </td>
        <td width="20%" colspan="4">
            1 无<br>2 肺炎{% block pneumonia_3 %}{% endblock %}次<br>3 腹泻{% block diarrhea_3 %}{% endblock %}次<br>4 外伤{% block traumatism_3 %}{% endblock %}次<br>5 其他{% block two_visit_extra_3 %}{% endblock %}
        </td>
        <td width="20%" colspan="4">
            1 无<br>2 肺炎{% block pneumonia_4 %}{% endblock %}次<br>3 腹泻{% block diarrhea_4 %}{% endblock %}次<br>4 外伤{% block traumatism_4 %}{% endblock %}次<br>5 其他{% block two_visit_extra_4 %}{% endblock %}
        </td>
        <td width="20%" colspan="4">
            1 无<br>2 肺炎{% block pneumonia_5 %}{% endblock %}次<br>3 腹泻{% block diarrhea_5 %}{% endblock %}次<br>4 外伤{% block traumatism_5 %}{% endblock %}次<br>5 其他{% block two_visit_extra_5 %}{% endblock %}
        </td>
        <td colspan="4">
            1 无<br>2 肺炎{% block pneumonia_6 %}{% endblock %}次<br>3 腹泻{% block diarrhea_6 %}{% endblock %}次<br>4 外伤{% block traumatism_6 %}{% endblock %}次<br>5 其他{% block two_visit_extra_6 %}{% endblock %}
        </td>
    </tr>
    <tr>
        <td width="20%" colspan="4" align="center">
            转诊建议
        </td>
        <td width="20%" colspan="4">
            {% block transfer_treatment_suggestion_3 %}{% endblock %}<br>原因：{% block transfer_treatment_suggestion_reason_3 %}{% endblock %}<br>机构及科室：{% block transfer_treatment_suggestion_institution_3 %}{% endblock %}
        </td>
        <td width="20%" colspan="4">
            {% block transfer_treatment_suggestion_4 %}{% endblock %}<br>原因：{% block transfer_treatment_suggestion_reason_4 %}{% endblock %}<br>机构及科室：{% block transfer_treatment_suggestion_institution_4 %}{% endblock %}
        </td>
        <td width="20%" colspan="4">
            {% block transfer_treatment_suggestion_5 %}{% endblock %}<br>原因：{% block transfer_treatment_suggestion_reason_5 %}{% endblock %}<br>机构及科室：{% block transfer_treatment_suggestion_institution_5 %}{% endblock %}
        </td>
        <td colspan="4">
            {% block transfer_treatment_suggestion_6 %}{% endblock %}<br>原因：{% block transfer_treatment_suggestion_reason_6 %}{% endblock %}<br>机构及科室：{% block transfer_treatment_suggestion_institution_6 %}{% endblock %}
        </td>
    </tr>
    <tr>
        <td width="20%" colspan="4" align="center">
            指导
        </td>
        <td width="20%" colspan="4">
            {% block guide_3 %}{% endblock %}<br>{% block guide_extra_3 %}{% endblock %}
        </td>
        <td width="20%" colspan="4">
            {% block guide_4 %}{% endblock %}<br>{% block guide_extra_4 %}{% endblock %}
        </td>
        <td width="20%" colspan="4">
            {% block guide_5 %}{% endblock %}<br>{% block guide_extra_5 %}{% endblock %}
        </td>
        <td colspan="4">
            {% block guide_6 %}{% endblock %}<br>{% block guide_extra_6 %}{% endblock %}
        </td>
    </tr>
    <tr>
        <td width="20%" colspan="4" align="center">
            下次随访日期
        </td>
        <td width="20%" colspan="4">
            {% block next_visit_date_3 %}{% endblock %}
        </td>
        <td width="20%" colspan="4">
            {% block next_visit_date_4 %}{% endblock %}
        </td>
        <td width="20%" colspan="4">
            {% block next_visit_date_5 %}{% endblock %}
        </td>
        <td colspan="4">
            {% block next_visit_date_6 %}{% endblock %}
        </td>
    </tr>
    <tr>
        <td width="20%" colspan="4" align="center">
            随访医生签名
        </td>
        <td width="20%" colspan="4">
            {% block doctor_signature_3 %}{% endblock %}
        </td>
        <td width="20%" colspan="4">
            {% block doctor_signature_4 %}{% endblock %}
        </td>
        <td width="20%" colspan="4">
            {% block doctor_signature_5 %}{% endblock %}
        </td>
        <td colspan="4">
            {% block doctor_signature_6 %}{% endblock %}
        </td>
    </tr>
{% endblock %}