{% extends 'child/aftercare_1_2_year_base.html' %}

{% comment %}30月龄随访{% endcomment %}

{% block visit_date_12 %}
    {{ aftercare_12_month.visit_date | date:"Y-m-d" }}
{% endblock %}

{% block weight_12 %}
    {{ aftercare_12_month.weight }}
{% endblock %}

{% block weight_grade_12 %}
    {{ aftercare_12_month.weight_grade }}
{% endblock %}

{% block height_12 %}
    {{ aftercare_12_month.height }}
{% endblock %}

{% block height_grade_12 %}
    {{ aftercare_12_month.height_grade }}
{% endblock %}

{% block complexion_12 %}
    {{ aftercare_12_month.complexion }}
{% endblock %}

{% block skin_12 %}
    {{ aftercare_12_month.skin }}
{% endblock %}

{% block bregma_12 %}
    {{ aftercare_12_month.bregma }}
{% endblock %}

{% block bregma_length_12 %}
    {% if aftercare_12_month.bregma_length != None %}
        {{ aftercare_12_month.bregma_length }}
    {% endif %}
{% endblock %}

{% block bregma_width_12 %}
    {% if aftercare_12_month.bregma_width != None %}
        {{ aftercare_12_month.bregma_width }}
    {% endif %}
{% endblock %}

{% block eye_appearance_12 %}
    {{ aftercare_12_month.eye_appearance }}
{% endblock %}

{% block ear_appearance_12 %}
    {{ aftercare_12_month.ear_appearance }}
{% endblock %}

{% block hearing_12 %}
    {{ aftercare_12_month.hearing }}
{% endblock %}

{% block tooth_12 %}
    {{ aftercare_12_month.tooth }}
{% endblock %}

{% block decayed_tooth_12 %}
    {{ aftercare_12_month.decayed_tooth }}
{% endblock %}

{% block heart_lung_12 %}
    {{ aftercare_12_month.heart_lung }}
{% endblock %}

{% block abdomen_12 %}
    {{ aftercare_12_month.abdomen }}
{% endblock %}

{% block all_fours_12 %}
    {{ aftercare_12_month.all_fours }}
{% endblock %}

{% block rickets_sign_12 %}
    {{ aftercare_12_month.rickets_sign }}
{% endblock %}

{% block outdoor_activities_12 %}
    {{ aftercare_12_month.outdoor_activities }}
{% endblock %}

{% block take_vitamin_d_12 %}
    {{ aftercare_12_month.take_vitamin_d }}
{% endblock %}

{% block growth_evaluate_12 %}
    {{ aftercare_12_month.growth_evaluate }}
{% endblock %}

{% block two_visit_disease_12 %}
    {{ aftercare_12_month.two_visit_disease }}
{% endblock %}

{% block extra_12 %}
    {{ aftercare_12_month.extra }}
{% endblock %}

{% block transfer_treatment_suggestion_12 %}
    {{ aftercare_12_month.transfer_treatment_suggestion }}
{% endblock %}

{% block transfer_treatment_suggestion_reason_12 %}
    {{ aftercare_12_month.transfer_treatment_suggestion_reason }}
{% endblock %}

{% block transfer_treatment_suggestion_institution_12 %}
    {{ aftercare_12_month.transfer_treatment_suggestion_institution }}
{% endblock %}

{% block guide_12 %}
    {% for item in aftercare_12_month.guide.all %}
        {{ item }}
    {% endfor %}
{% endblock %}

{% block guide_extra_12 %}
    {{ aftercare_12_month.guide_extra }}
{% endblock %}

{% block next_visit_date_12 %}
    {{ aftercare_12_month.next_visit_date | date:"Y-m-d" }}
{% endblock %}

{% block doctor_signature_12 %}
    {{ aftercare_12_month.doctor_signature }}
{% endblock %}

{% comment %}18月龄随访{% endcomment %}

{% block visit_date_18 %}
    {{ aftercare_18_month.visit_date | date:"Y-m-d" }}
{% endblock %}

{% block weight_18 %}
    {{ aftercare_18_month.weight }}
{% endblock %}

{% block weight_grade_18 %}
    {{ aftercare_18_month.weight_grade }}
{% endblock %}

{% block height_18 %}
    {{ aftercare_18_month.height }}
{% endblock %}

{% block height_grade_18 %}
    {{ aftercare_18_month.height_grade }}
{% endblock %}

{% block complexion_18 %}
    {{ aftercare_18_month.complexion }}
{% endblock %}

{% block skin_18 %}
    {{ aftercare_18_month.skin }}
{% endblock %}

{% block bregma_18 %}
    {{ aftercare_18_month.bregma }}
{% endblock %}

{% block bregma_length_18 %}
    {% if aftercare_18_month.bregma_length != None %}
        {{ aftercare_18_month.bregma_length }}
    {% endif %}
{% endblock %}

{% block bregma_width_18 %}
    {% if aftercare_18_month.bregma_width != None %}
        {{ aftercare_18_month.bregma_width }}
    {% endif %}
{% endblock %}

{% block eye_appearance_18 %}
    {{ aftercare_18_month.eye_appearance }}
{% endblock %}

{% block ear_appearance_18 %}
    {{ aftercare_18_month.ear_appearance }}
{% endblock %}

{% block tooth_18 %}
    {{ aftercare_18_month.tooth }}
{% endblock %}

{% block decayed_tooth_18 %}
    {{ aftercare_18_month.decayed_tooth }}
{% endblock %}

{% block heart_lung_18 %}
    {{ aftercare_18_month.heart_lung }}
{% endblock %}

{% block abdomen_18 %}
    {{ aftercare_18_month.abdomen }}
{% endblock %}

{% block all_fours_18 %}
    {{ aftercare_18_month.all_fours }}
{% endblock %}

{% block step_18 %}
    {{ aftercare_18_month.step }}
{% endblock %}

{% block rickets_sign_18 %}
    {{ aftercare_18_month.rickets_sign }}
{% endblock %}

{% block hemoglobin_value_18 %}
    {{ aftercare_18_month.hemoglobin_value }}
{% endblock %}

{% block outdoor_activities_18 %}
    {{ aftercare_18_month.outdoor_activities }}
{% endblock %}

{% block take_vitamin_d_18 %}
    {{ aftercare_18_month.take_vitamin_d }}
{% endblock %}

{% block growth_evaluate_18 %}
    {{ aftercare_18_month.growth_evaluate }}
{% endblock %}

{% block two_visit_disease_18 %}
    {{ aftercare_18_month.two_visit_disease }}
{% endblock %}

{% block extra_18 %}
    {{ aftercare_18_month.extra }}
{% endblock %}

{% block transfer_treatment_suggestion_18 %}
    {{ aftercare_18_month.transfer_treatment_suggestion }}
{% endblock %}

{% block transfer_treatment_suggestion_reason_18 %}
    {{ aftercare_18_month.transfer_treatment_suggestion_reason }}
{% endblock %}

{% block transfer_treatment_suggestion_institution_18 %}
    {{ aftercare_18_month.transfer_treatment_suggestion_institution }}
{% endblock %}

{% block guide_18 %}
    {% for item in aftercare_18_month.guide.all %}
        {{ item }}
    {% endfor %}
{% endblock %}

{% block guide_extra_18 %}
    {{ aftercare_18_month.guide_extra }}
{% endblock %}

{% block next_visit_date_18 %}
    {{ aftercare_18_month.next_visit_date | date:"Y-m-d" }}
{% endblock %}

{% block doctor_signature_18 %}
    {{ aftercare_18_month.doctor_signature }}
{% endblock %}

{% comment %}24月龄随访{% endcomment %}

{% block visit_date_24 %}
    {{ aftercare_24_month.visit_date | date:"Y-m-d" }}
{% endblock %}

{% block weight_24 %}
    {{ aftercare_24_month.weight }}
{% endblock %}

{% block weight_grade_24 %}
    {{ aftercare_24_month.weight_grade }}
{% endblock %}

{% block height_24 %}
    {{ aftercare_24_month.height }}
{% endblock %}

{% block height_grade_24 %}
    {{ aftercare_24_month.height_grade }}
{% endblock %}

{% block complexion_24 %}
    {{ aftercare_24_month.complexion }}
{% endblock %}

{% block skin_24 %}
    {{ aftercare_24_month.skin }}
{% endblock %}

{% block bregma_24 %}
    {{ aftercare_24_month.bregma }}
{% endblock %}

{% block bregma_length_24 %}
    {% if aftercare_24_month.bregma_length != None %}
        {{ aftercare_24_month.bregma_length }}
    {% endif %}
{% endblock %}

{% block bregma_width_24 %}
    {% if aftercare_24_month.bregma_width != None %}
        {{ aftercare_24_month.bregma_width }}
    {% endif %}
{% endblock %}

{% block eye_appearance_24 %}
    {{ aftercare_24_month.eye_appearance }}
{% endblock %}

{% block ear_appearance_24 %}
    {{ aftercare_24_month.ear_appearance }}
{% endblock %}

{% block hearing_24 %}
    {{ aftercare_24_month.hearing }}
{% endblock %}

{% block tooth_24 %}
    {{ aftercare_24_month.tooth }}
{% endblock %}

{% block decayed_tooth_24 %}
    {{ aftercare_24_month.decayed_tooth }}
{% endblock %}

{% block heart_lung_24 %}
    {{ aftercare_24_month.heart_lung }}
{% endblock %}

{% block abdomen_24 %}
    {{ aftercare_24_month.abdomen }}
{% endblock %}

{% block all_fours_24 %}
    {{ aftercare_24_month.all_fours }}
{% endblock %}

{% block step_24 %}
    {{ aftercare_24_month.step }}
{% endblock %}

{% block rickets_sign_24 %}
    {{ aftercare_24_month.rickets_sign }}
{% endblock %}

{% block outdoor_activities_24 %}
    {{ aftercare_24_month.outdoor_activities }}
{% endblock %}

{% block take_vitamin_d_24 %}
    {{ aftercare_24_month.take_vitamin_d }}
{% endblock %}

{% block growth_evaluate_24 %}
    {{ aftercare_24_month.growth_evaluate }}
{% endblock %}

{% block two_visit_disease_24 %}
    {{ aftercare_24_month.two_visit_disease }}
{% endblock %}

{% block extra_24 %}
    {{ aftercare_24_month.extra }}
{% endblock %}

{% block transfer_treatment_suggestion_24 %}
    {{ aftercare_24_month.transfer_treatment_suggestion }}
{% endblock %}

{% block transfer_treatment_suggestion_reason_24 %}
    {{ aftercare_24_month.transfer_treatment_suggestion_reason }}
{% endblock %}

{% block transfer_treatment_suggestion_institution_24 %}
    {{ aftercare_24_month.transfer_treatment_suggestion_institution }}
{% endblock %}

{% block guide_24 %}
    {% for item in aftercare_24_month.guide.all %}
        {{ item }}
    {% endfor %}
{% endblock %}

{% block guide_extra_24 %}
    {{ aftercare_24_month.guide_extra }}
{% endblock %}

{% block next_visit_date_24 %}
    {{ aftercare_24_month.next_visit_date | date:"Y-m-d"}}
{% endblock %}

{% block doctor_signature_24 %}
    {{ aftercare_24_month.doctor_signature }}
{% endblock %}

{% comment %}30月龄随访{% endcomment %}

{% block table_resident %}{{ record.resident.name }}{% endblock %}

{% block table_no %}{% endblock %}

{% block visit_date_30 %}
    {{ form.visit_date | date:"Y-m-d" }}
{% endblock %}

{% block weight_30 %}
    {{ form.weight }}
{% endblock %}

{% block weight_grade_30 %}
    {{ form.weight_grade }}
{% endblock %}

{% block height_30 %}
    {{ form.height }}
{% endblock %}

{% block height_grade_30 %}
    {{ form.height_grade }}
{% endblock %}

{% block complexion_30 %}
    {{ form.complexion }}
{% endblock %}

{% block skin_30 %}
    {{ form.skin }}
{% endblock %}

{% block eye_appearance_30 %}
    {{ form.eye_appearance }}
{% endblock %}

{% block ear_appearance_30 %}
    {{ form.ear_appearance }}
{% endblock %}

{% block tooth_30 %}
    {{ form.tooth }}
{% endblock %}

{% block decayed_tooth_30 %}
    {{ form.decayed_tooth }}
{% endblock %}

{% block heart_lung_30 %}
    {{ form.heart_lung }}
{% endblock %}

{% block abdomen_30 %}
    {{ form.abdomen }}
{% endblock %}

{% block all_fours_30 %}
    {{ form.all_fours }}
{% endblock %}

{% block step_30 %}
    {{ form.step }}
{% endblock %}

{% block hemoglobin_value_30 %}
    {{ form.hemoglobin_value }}
{% endblock %}

{% block outdoor_activities_30 %}
    {{ form.outdoor_activities }}
{% endblock %}

{% block two_visit_disease_30 %}
    {{ form.two_visit_disease }}
{% endblock %}

{% block extra_30 %}
    {{ form.extra }}
{% endblock %}

{% block transfer_treatment_suggestion_30 %}
    {{ form.transfer_treatment_suggestion }}
{% endblock %}

{% block transfer_treatment_suggestion_reason_30 %}
    {{ form.transfer_treatment_suggestion_reason }}
{% endblock %}

{% block transfer_treatment_suggestion_institution_30 %}
    {{ form.transfer_treatment_suggestion_institution }}
{% endblock %}

{% block guide_30 %}
    {% for item in form.guide.all %}
            {{ item }}
    {% endfor %}
{% endblock %}

{% block guide_extra_30 %}
    {{ form.guide_extra }}
{% endblock %}

{% block next_visit_date_30 %}
    {{ form.next_visit_date | date:"Y-m-d" }}
{% endblock %}

{% block doctor_signature_30 %}
    {{ form.doctor_signature }}
{% endblock %}