{% extends 'services/index.html' %}
{% load staticfiles %}

{% block service_header %}
    <h3 class="page-header" align="center">{{ service_type.name }}: {{ service_item.name }}</h3>
{% endblock %}

{% block service_item_content %}
    <form action="{% url 'child:aftercare_12_month' %}" method="POST">

    {% csrf_token %}
        {{ form.non_filed_errors }}

        {% include 'child/a1m_a30m_1.html' %}

        <div class="row" style="padding-top: 4px">
            <div class="col-md-2" align="right">
                {% if form.bregma.errors or form.bregma_length.errors or form.bregma_width.errors %}
                    <span style="background: #ffff00">{{ form.bregma.label_tag }}</span>
                {% else %}
                    {{ form.bregma.label_tag }}
                {% endif %}
            </div>
            <div class="col-md-8">
                {% for item in form.bregma %}
                    {% if forloop.counter > 1 and forloop.counter < 4 %}
                        <div class="col-md-3">{{ item }}</div>
                    {% endif %}
                {% endfor %}
                {{ form.bregma_length }}&nbsp;&nbsp;cm×&nbsp;&nbsp;{{ form.bregma_width }}&nbsp;&nbsp;cm
            </div>
        </div>
        {% include 'child/a12m_a30m_1.html' %}
        <div class="row">
	    	<div class="col-md-3">
		    	<h4 class="page-header" style="color: green"><strong></strong></h4>
	    	</div>
    	</div>
        <div class="row" style="padding-top: 4px">
	        <div class="col-md-2" align="right">
	        	{% if form.outdoor_activities.errors %}
                    <span style="background: #ffff00">{{ form.outdoor_activities.label_tag }}</span>
                {% else %}
                    {{ form.outdoor_activities.label_tag }}
                {% endif %}
	        </div>
	        <div class="col-md-4">
                {{ form.outdoor_activities }}&nbsp;&nbsp;小时/日
            </div>
            <div class="col-md-2" align="right">
	        	{% if form.take_vitamin_d.errors %}
                    <span style="background: #ffff00">{{ form.take_vitamin_d.label_tag }}</span>
                {% else %}
                    {{ form.take_vitamin_d.label_tag }}
                {% endif %}
	        </div>
	        <div class="col-md-4">
                {{ form.take_vitamin_d }}&nbsp;&nbsp;IU/日
            </div>
        </div>
        <!--<div class="row" style="padding-top: 4px">
	        <div class="col-md-2" align="right">
	        	{{ form.take_vitamin_d.label_tag }}
	        </div>
	        <div class="col-md-4">
                {{ form.take_vitamin_d }}&nbsp;&nbsp;IU/日&nbsp;&nbsp;{{ form.take_vitamin_d.errors}}
            </div>
        </div>-->
        {% include 'child/a12m_a30m_2.html' %}
    </form>
{% endblock %}
</html>