{% extends 'services/index.html' %}
{% load staticfiles %}

{% block service_header %}
    <h3 class="page-header" align="center">{{ service_type.name }}: {{ service_item.name }}</h3>
{% endblock %}

{% block service_item_content %}
    <form action="{% url 'child:aftercare_4_year' %}" method="POST">

    {% csrf_token %}
        {{ form.non_filed_errors }}
        {% include 'child/a3y_a6y.html' %}
        {% include 'child/next_visit_date.html' %}
        {% include 'child/submit.html' %}
    </form>
{% endblock %}
</html>