{% extends "table_base.html" %}

{% block table_title %}
    1岁以内儿童健康检查记录表
{% endblock %}

{% block table_content %}
    <tr>
        <td width="20%" colspan="4" align="center">
            <b>月龄</b>
        </td>
        <td width="20%" colspan="4" align="center">
            <b>满月</b>
        </td>
        <td width="20%" colspan="4" align="center">
            <b>3月龄</b>
        </td>
        <td width="20%" colspan="4" align="center">
            <b>6月龄</b>
        </td>
        <td colspan="4" align="center">
            <b>8月龄</b>
        </td>
    </tr>
    <tr>
        <td width="20%" colspan="4" align="center">
            <b>随访日期</b>
        </td>
        <td width="20%" colspan="4" class="1_month">
            {% block visit_date_1 %}{% endblock %}
        </td>
        <td width="20%" colspan="4" class="3_month">
            {% block visit_date_3 %}{% endblock %}
        </td>
        <td width="20%" colspan="4" class="6_month">
            {% block visit_date_6 %}{% endblock %}
        </td>
        <td colspan="4" class="8_month" class="8_month">
            {% block visit_date_8 %}{% endblock %}
        </td>
    </tr>
    <tr>
        <td width="20%" colspan="4" align="center">
            <b>体重（kg）</b><input type="text" name="gender" style="display: none" value="{{ gender }}">
        </td>
        <td width="20%" colspan="4">
            {% block weight_1 %}{% endblock %}<br>{% block weight_grade_1 %}{% endblock %}
        </td>
        <td width="20%" colspan="4">
            {% block weight_3 %}{% endblock %}<br>{% block weight_grade_3 %}{% endblock %}
        </td>
        <td width="20%" colspan="4">
            {% block weight_6 %}{% endblock %}<br>{% block weight_grade_6 %}{% endblock %}
        </td>
        <td colspan="4">
            {% block weight_8 %}{% endblock %}<br>{% block weight_grade_8 %}{% endblock %}
        </td>
    </tr>
    <tr>
        <td width="20%" colspan="4" align="center">
            <b>身长（cm）</b>
        </td>
        <td width="20%" colspan="4">
            {% block height_1 %}{% endblock %}<br>{% block height_grade_1 %}{% endblock %}
        </td>
        <td width="20%" colspan="4">
            {% block height_3 %}{% endblock %}<br>{% block height_grade_3 %}{% endblock %}
        </td>
        <td width="20%" colspan="4">
            {% block height_6 %}{% endblock %}<br>{% block height_grade_6 %}{% endblock %}
        </td>
        <td colspan="4">
            {% block height_8 %}{% endblock %}<br>{% block height_grade_8 %}{% endblock %}
        </td>
    </tr>
    <tr>
        <td width="20%" colspan="4" align="center">
            <b>头围（cm）</b>
        </td>
        <td width="20%" colspan="4">
            {% block head_circumference_1 %}{% endblock %}
        </td>
        <td width="20%" colspan="4">
            {% block head_circumference_3 %}{% endblock %}
        </td>
        <td width="20%" colspan="4">
            {% block head_circumference_6 %}{% endblock %}
        </td>
        <td colspan="4">
            {% block head_circumference_8 %}{% endblock %}
        </td>
    </tr>
    <tr>
        <td colspan="1" rowspan="16" width="10%" align="center">
            <b>体格检查</b>
        </td>
        <td width="10%" colspan="3" align="center">
            <b>面色</b>
        </td>
        <td width="20%" colspan="4">
            {% block complexion_1 %}{% endblock %}
        </td>
        <td width="20%" colspan="4">
            {% block complexion_3 %}{% endblock %}
        </td>
        <td width="20%" colspan="4">
            {% block complexion_6 %}{% endblock %}
        </td>
        <td colspan="4">
            {% block complexion_8 %}{% endblock %}
        </td>
    </tr>
    <tr>
        <td width="10%" colspan="3" align="center">
            <b>皮肤</b>
        </td>
        <td width="20%" colspan="4">
            {% block skin_1 %}{% endblock %}
        </td>
        <td width="20%" colspan="4">
            {% block skin_3 %}{% endblock %}
        </td>
        <td width="20%" colspan="4">
            {% block skin_6 %}{% endblock %}
        </td>
        <td colspan="4">
            {% block skin_8 %}{% endblock %}
        </td>
    </tr>
    <tr>
        <td width="10%" colspan="3" align="center">
            <b>前囟</b>
        </td>
        <td width="20%" colspan="4">
            {% block bregma_1 %}{% endblock %}<br>{% block bregma_length_1 %}{% endblock %}cm×{% block bregma_width_1 %}{% endblock %}cm
        </td>
        <td width="20%" colspan="4">
            {% block bregma_3 %}{% endblock %}<br>{% block bregma_length_3 %}{% endblock %}cm×{% block bregma_width_3 %}{% endblock %}cm
        </td>
        <td width="20%" colspan="4">
            {% block bregma_6 %}{% endblock %}<br>{% block bregma_length_6 %}{% endblock %}cm×{% block bregma_width_6 %}{% endblock %}cm
        </td>
        <td colspan="4">
            {% block bregma_8 %}{% endblock %}<br>{% block bregma_length_8 %}{% endblock %}cm×{% block bregma_width_8 %}{% endblock %}cm
        </td>
    </tr>
    <tr>
        <td width="10%" colspan="3" align="center">
            <b>颈部包块</b>
        </td>
        <td width="20%" colspan="4">
            {% block neck_enclosed_mass_1 %}{% endblock %}
        </td>
        <td width="20%" colspan="4">
            {% block neck_enclosed_mass_3 %}{% endblock %}
        </td>
        <td width="20%" colspan="4">
            {% block neck_enclosed_mass_6 %}{% endblock %}
        </td>
        <td colspan="4">
            ——————
        </td>
    </tr>
    <tr>
        <td width="10%" colspan="3" align="center">
            <b>眼外观</b>
        </td>
        <td width="20%" colspan="4">
            {% block eye_appearance_1 %}{% endblock %}
        </td>
        <td width="20%" colspan="4">
            {% block eye_appearance_3 %}{% endblock %}
        </td>
        <td width="20%" colspan="4">
            {% block eye_appearance_6 %}{% endblock %}
        </td>
        <td colspan="4">
            {% block eye_appearance_8 %}{% endblock %}
        </td>
    </tr>
    <tr>
        <td width="10%" colspan="3" align="center">
            <b>耳外观</b>
        </td>
        <td width="20%" colspan="4">
            {% block ear_appearance_1 %}{% endblock %}
        </td>
        <td width="20%" colspan="4">
            {% block ear_appearance_3 %}{% endblock %}
        </td>
        <td width="20%" colspan="4">
            {% block ear_appearance_6 %}{% endblock %}
        </td>
        <td colspan="4">
            {% block ear_appearance_8 %}{% endblock %}
        </td>
    </tr>
    <tr>
        <td width="10%" colspan="3" align="center">
            <b>听力</b>
        </td>
        <td width="20%" colspan="4">
            ——————
        </td>
        <td width="20%" colspan="4">
            ——————
        </td>
        <td width="20%" colspan="4">
            {% block hearing_6 %}{% endblock %}
        </td>
        <td colspan="4">
            ——————
        </td>
    </tr>
    <tr>
        <td width="10%" colspan="3" align="center">
            <b>口腔</b>
        </td>
        <td width="20%" colspan="4">
            {% block oral_cavity_1 %}{% endblock %}
        </td>
        <td width="20%" colspan="4">
            {% block oral_cavity_3 %}{% endblock %}
        </td>
        <td width="20%" colspan="4">
            出牙数（颗）{% block oral_cavity_6 %}{% endblock %}
        </td>
        <td colspan="4">
            出牙数（颗）{% block oral_cavity_8 %}{% endblock %}
        </td>
    </tr>
    <tr>
        <td width="10%" colspan="3" align="center">
            <b>心肺</b>
        </td>
        <td width="20%" colspan="4">
            {% block heart_lung_1 %}{% endblock %}
        </td>
        <td width="20%" colspan="4">
            {% block heart_lung_3 %}{% endblock %}
        </td>
        <td width="20%" colspan="4">
            {% block heart_lung_6 %}{% endblock %}
        </td>
        <td colspan="4">
            {% block heart_lung_8 %}{% endblock %}
        </td>
    </tr>
    <tr>
        <td width="10%" colspan="3" align="center">
            <b>腹部</b>
        </td>
        <td width="20%" colspan="4">
            {% block abdomen_1 %}{% endblock %}
        </td>
        <td width="20%" colspan="4">
            {% block abdomen_3 %}{% endblock %}
        </td>
        <td width="20%" colspan="4">
            {% block abdomen_6 %}{% endblock %}
        </td>
        <td colspan="4">
            {% block abdomen_8 %}{% endblock %}
        </td>
    </tr>
    <tr>
        <td width="10%" colspan="3" align="center">
            <b>脐部</b>
        </td>
        <td width="20%" colspan="4">
            {% block navel_1 %}{% endblock %}
        </td>
        <td width="20%" colspan="4">
            {% block navel_3 %}{% endblock %}
        </td>
        <td width="20%" colspan="4">
            ——————
        </td>
        <td colspan="4">
            ——————
        </td>
    </tr>
    <tr>
        <td width="10%" colspan="3" align="center">
            <b>四肢</b>
        </td>
        <td width="20%" colspan="4">
            {% block all_fours_1 %}{% endblock %}
        </td>
        <td width="20%" colspan="4">
            {% block all_fours_3 %}{% endblock %}
        </td>
        <td width="20%" colspan="4">
            {% block all_fours_6 %}{% endblock %}
        </td>
        <td colspan="4">
            {% block all_fours_8 %}{% endblock %}
        </td>
    </tr>
    <tr>
        <td width="10%" colspan="3" align="center">
            <b>可疑佝偻病症状</b>
        </td>
        <td width="20%" colspan="4">
            ——————
        </td>
        <td width="20%" colspan="4">
            {% block rickets_symptom_3 %}{% endblock %}
        </td>
        <td width="20%" colspan="4">
            {% block rickets_symptom_6 %}{% endblock %}
        </td>
        <td colspan="4">
            {% block rickets_symptom_8 %}{% endblock %}
        </td>
    </tr>
    <tr>
        <td width="10%" colspan="3" align="center">
            <b>可疑佝偻病体征</b>
        </td>
        <td width="20%" colspan="4">
            {% block rickets_sign_1 %}{% endblock %}
        </td>
        <td width="20%" colspan="4">
            {% block rickets_sign_3 %}{% endblock %}
        </td>
        <td width="20%" colspan="4">
            {% block rickets_sign_6 %}{% endblock %}
        </td>
        <td colspan="4">
            {% block rickets_sign_8 %}{% endblock %}
        </td>
    </tr>
    <tr>
        <td width="10%" colspan="3" align="center">
            <b>肛门/外生殖</b>
        </td>
        <td width="20%" colspan="4">
            {% block anus_externalia_1 %}{% endblock %}
        </td>
        <td width="20%" colspan="4">
            {% block anus_externalia_3 %}{% endblock %}
        </td>
        <td width="20%" colspan="4">
            {% block anus_externalia_6 %}{% endblock %}
        </td>
        <td colspan="4">
            {% block anus_externalia_8 %}{% endblock %}
        </td>
    </tr>
    <tr>
        <td width="10%" colspan="3" align="center">
            <b>血红蛋白值</b>
        </td>
        <td width="20%" colspan="4">
            {% block hemoglobin_value_1 %}{% endblock %}g/L
        </td>
        <td width="20%" colspan="4">
            {% block hemoglobin_value_3 %}{% endblock %}g/L
        </td>
        <td width="20%" colspan="4">
            {% block hemoglobin_value_6 %}{% endblock %}g/L
        </td>
        <td colspan="4">
            {% block hemoglobin_value_8 %}{% endblock %}g/L
        </td>
    </tr>
    <tr>
        <td width="20%" colspan="4" align="center">
            <b>户外活动</b>
        </td>
        <td width="20%" colspan="4">
            {% block outdoor_activities_1 %}{% endblock %}小时/日
        </td>
        <td width="20%" colspan="4">
            {% block outdoor_activities_3 %}{% endblock %}小时/日
        </td>
        <td width="20%" colspan="4">
            {% block outdoor_activities_6 %}{% endblock %}小时/日
        </td>
        <td colspan="4">
            {% block outdoor_activities_8 %}{% endblock %}小时/日
        </td>
    </tr>
    <tr>
        <td width="20%" colspan="4" align="center">
            <b>服用维生素D</b>
        </td>
        <td width="20%" colspan="4">
            {% block take_vitamin_d_1 %}{% endblock %}IU/日
        </td>
        <td width="20%" colspan="4">
            {% block take_vitamin_d_3 %}{% endblock %}IU/日
        </td>
        <td width="20%" colspan="4">
            {% block take_vitamin_d_6 %}{% endblock %}IU/日
        </td>
        <td colspan="4">
            {% block take_vitamin_d_8 %}{% endblock %}IU/日
        </td>
    </tr>
    <tr>
        <td width="20%" colspan="4" align="center">
            <b>发育评估</b>
        </td>
        <td width="20%" colspan="4">
            {% block growth_evaluate_1 %}{% endblock %}
        </td>
        <td width="20%" colspan="4">
            {% block growth_evaluate_3 %}{% endblock %}
        </td>
        <td width="20%" colspan="4">
            {% block growth_evaluate_6 %}{% endblock %}
        </td>
        <td colspan="4">
            {% block growth_evaluate_8 %}{% endblock %}
        </td>
    </tr>
    <tr>
        <td width="20%" colspan="4" align="center">
            <b>两次随访间患病情况</b>
        </td>
        <td width="20%" colspan="4">
            {% block two_visit_disease_1 %}{% endblock %}
        </td>
        <td width="20%" colspan="4">
            {% block two_visit_disease_3 %}{% endblock %}
        </td>
        <td width="20%" colspan="4">
            {% block two_visit_disease_6 %}{% endblock %}
        </td>
        <td colspan="4">
            {% block two_visit_disease_8 %}{% endblock %}
        </td>
    </tr>
    <tr>
        <td width="20%" colspan="4" align="center">
            <b>其他</b>
        </td>
        <td width="20%" colspan="4">
            {% block extra_1 %}{% endblock %}
        </td>
        <td width="20%" colspan="4">
            {% block extra_3 %}{% endblock %}
        </td>
        <td width="20%" colspan="4">
            {% block extra_6 %}{% endblock %}
        </td>
        <td colspan="4">
            {% block extra_8 %}{% endblock %}
        </td>
    </tr>
    <tr>
        <td width="20%" colspan="4" align="center">
            <b>转诊建议</b>
        </td>
        <td width="20%" colspan="4">
            {% block transfer_treatment_suggestion_1 %}{% endblock %}<br>原因：{% block transfer_treatment_suggestion_reason_1 %}{% endblock %}<br>机构及科室：{% block transfer_treatment_suggestion_institution_1 %}{% endblock %}
        </td>
        <td width="20%" colspan="4">
            {% block transfer_treatment_suggestion_3 %}{% endblock %}<br>原因：{% block transfer_treatment_suggestion_reason_3 %}{% endblock %}<br>机构及科室：{% block transfer_treatment_suggestion_institution_3 %}{% endblock %}
        </td>
        <td width="20%" colspan="4">
            {% block transfer_treatment_suggestion_6 %}{% endblock %}<br>原因：{% block transfer_treatment_suggestion_reason_6 %}{% endblock %}<br>机构及科室：{% block transfer_treatment_suggestion_institution_6 %}{% endblock %}
        </td>
        <td colspan="4">
            {% block transfer_treatment_suggestion_8 %}{% endblock %}<br>原因：{% block transfer_treatment_suggestion_reason_8 %}{% endblock %}<br>机构及科室：{% block transfer_treatment_suggestion_institution_8 %}{% endblock %}
        </td>
    </tr>
    <tr>
        <td width="20%" colspan="4" align="center">
            <b>指导</b>
        </td>
        <td width="20%" colspan="4">
            {% block guide_1 %}{% endblock %}
        </td>
        <td width="20%" colspan="4">
            {% block guide_3 %}{% endblock %}
        </td>
        <td width="20%" colspan="4">
            {% block guide_6 %}{% endblock %}
        </td>
        <td colspan="4">
            {% block guide_8 %}{% endblock %}
        </td>
    </tr>
    <tr>
        <td width="20%" colspan="4" align="center">
            <b>下次随访日期</b>
        </td>
        <td width="20%" colspan="4">
            {% block next_visit_date_1 %}{% endblock %}
        </td>
        <td width="20%" colspan="4">
            {% block next_visit_date_3 %}{% endblock %}
        </td>
        <td width="20%" colspan="4">
            {% block next_visit_date_6 %}{% endblock %}
        </td>
        <td colspan="4">
            {% block next_visit_date_8 %}{% endblock %}
        </td>
    </tr>
    <tr>
        <td width="20%" colspan="4" align="center">
            <b>随访医生签名</b>
        </td>
        <td width="20%" colspan="4">
            {% block doctor_signature_1 %}{% endblock %}
        </td>
        <td width="20%" colspan="4">
            {% block doctor_signature_3 %}{% endblock %}
        </td>
        <td width="20%" colspan="4">
            {% block doctor_signature_6 %}{% endblock %}
        </td>
        <td colspan="4">
            {% block doctor_signature_8 %}{% endblock %}
        </td>
    </tr>
    <script>
    $(function(){
        var gender = $('input[name=gender]').val();
        var weight_grade = $('input[name=weight_grade]');
        var weight_box = $('input[name=weight]').numberbox({
            onChange: function(newValue, oldValue){
                /*weight_grade.prop("disabled", false);
                weight_grade.removeAttr("checked");*/
                if(weight_grade.eq(0).prop("checked") == true){
                    weight_grade.eq(0).removeAttr("checked");
                    weight_grade.eq(1).prop("disabled", false);
                    weight_grade.eq(2).prop("disabled", false);
                }
                else if(weight_grade.eq(1).prop("checked") == true){
                   weight_grade.eq(1).removeAttr("checked");
                    weight_grade.eq(0).prop("disabled", false);
                    weight_grade.eq(2).prop("disabled", false);
                }
                else if(weight_grade.eq(2).prop("checked") == true){
                    weight_grade.eq(2).removeAttr("checked");
                    weight_grade.eq(0).prop("disabled", false);
                    weight_grade.eq(1).prop("disabled", false);
                }
                if(gender == '女'){
                    if($.trim($('.1_month').html())){
                        if(newValue < 2.7){
                            weight_grade.eq(2).prop("checked", true);
                            weight_grade.eq(0).prop("disabled", true);
                            weight_grade.eq(1).prop("disabled", true);
                        }
                        else if(newValue > 3.6)
                        {
                            weight_grade.eq(0).prop("checked", true);
                            weight_grade.eq(1).prop("disabled", true);
                            weight_grade.eq(2).prop("disabled", true);
                        }
                        else{
                            weight_grade.eq(1).prop("checked", true);
                            weight_grade.eq(0).prop("disabled", true);
                            weight_grade.eq(2).prop("disabled", true);
                        }
                    }
                    else if($.trim($('.3_month').html())){
                        if(newValue < 4.7){
                            weight_grade.eq(2).prop("checked", true);
                            weight_grade.eq(0).prop("disabled", true);
                            weight_grade.eq(1).prop("disabled", true);
                        }
                        else if(newValue > 6.2)
                        {
                            weight_grade.eq(0).prop("checked", true);
                            weight_grade.eq(1).prop("disabled", true);
                            weight_grade.eq(2).prop("disabled", true);
                        }
                        else{
                            weight_grade.eq(1).prop("checked", true);
                            weight_grade.eq(0).prop("disabled", true);
                            weight_grade.eq(2).prop("disabled", true);
                        }
                    }
                    else if($.trim($('.6_month').html())){
                        if(newValue < 6.3){
                            weight_grade.eq(2).prop("checked", true);
                            weight_grade.eq(0).prop("disabled", true);
                            weight_grade.eq(1).prop("disabled", true);
                        }
                        else if(newValue > 8.1)
                        {
                            weight_grade.eq(0).prop("checked", true);
                            weight_grade.eq(1).prop("disabled", true);
                            weight_grade.eq(2).prop("disabled", true);
                        }
                        else{
                            weight_grade.eq(1).prop("checked", true);
                            weight_grade.eq(0).prop("disabled", true);
                            weight_grade.eq(2).prop("disabled", true);
                        }
                    }
                    else if($.trim($('.8_month').html())){
                        if(newValue < 7.2){
                            weight_grade.eq(2).prop("checked", true);
                            weight_grade.eq(0).prop("disabled", true);
                            weight_grade.eq(1).prop("disabled", true);
                        }
                        else if(newValue > 9.1)
                        {
                            weight_grade.eq(0).prop("checked", true);
                            weight_grade.eq(1).prop("disabled", true);
                            weight_grade.eq(2).prop("disabled", true);
                        }
                        else{
                            weight_grade.eq(1).prop("checked", true);
                            weight_grade.eq(0).prop("disabled", true);
                            weight_grade.eq(2).prop("disabled", true);
                        }
                    }
                }
                else{
                    alert(gender);
                    if($.trim($('.1_month').html())){
                        if(newValue < 2.9){
                            weight_grade.eq(2).prop("checked", true);
                            weight_grade.eq(0).prop("disabled", true);
                            weight_grade.eq(1).prop("disabled", true);
                        }
                        else if(newValue >3.8)
                        {
                            weight_grade.eq(0).prop("checked", true);
                            weight_grade.eq(1).prop("disabled", true);
                            weight_grade.eq(2).prop("disabled", true);
                        }
                        else{
                            weight_grade.eq(1).prop("checked", true);
                            weight_grade.eq(0).prop("disabled", true);
                            weight_grade.eq(2).prop("disabled", true);
                        }
                    }
                    else if($.trim($('.3_month').html())){
                        if(newValue < 5.0){
                            weight_grade.eq(2).prop("checked", true);
                            weight_grade.eq(0).prop("disabled", true);
                            weight_grade.eq(1).prop("disabled", true);
                        }
                        else if(newValue > 6.9)
                        {
                            weight_grade.eq(0).prop("checked", true);
                            weight_grade.eq(1).prop("disabled", true);
                            weight_grade.eq(2).prop("disabled", true);
                        }
                        else{
                            weight_grade.eq(1).prop("checked", true);
                            weight_grade.eq(0).prop("disabled", true);
                            weight_grade.eq(2).prop("disabled", true);
                        }
                    }
                    else if($.trim($('.6_month').html())){
                        if(newValue < 6.9){
                            weight_grade.eq(2).prop("checked", true);
                            weight_grade.eq(0).prop("disabled", true);
                            weight_grade.eq(1).prop("disabled", true);
                        }
                        else if(newValue > 8.8)
                        {
                            weight_grade.eq(0).prop("checked", true);
                            weight_grade.eq(1).prop("disabled", true);
                            weight_grade.eq(2).prop("disabled", true);
                        }
                        else{
                            weight_grade.eq(1).prop("checked", true);
                            weight_grade.eq(0).prop("disabled", true);
                            weight_grade.eq(2).prop("disabled", true);
                        }
                    }
                    else if($.trim($('.8_month').html())){
                        if(newValue < 7.8){
                            weight_grade.eq(2).prop("checked", true);
                            weight_grade.eq(0).prop("disabled", true);
                            weight_grade.eq(1).prop("disabled", true);
                        }
                        else if(newValue > 9.8)
                        {
                            weight_grade.eq(0).prop("checked", true);
                            weight_grade.eq(1).prop("disabled", true);
                            weight_grade.eq(2).prop("disabled", true);
                        }
                        else{
                            weight_grade.eq(1).prop("checked", true);
                            weight_grade.eq(0).prop("disabled", true);
                            weight_grade.eq(2).prop("disabled", true);
                        }
                    }
                }
            }
        });

        var height_grade = $('input[name=height_grade]');
        var height_box = $('input[name=height]').numberbox({
            onChange: function(newValue, oldValue){
                if(height_grade.eq(0).prop("checked") == true){
                    height_grade.eq(0).removeAttr("checked");
                    height_grade.eq(1).prop("disabled", false);
                    height_grade.eq(2).prop("disabled", false);
                }
                else if(height_grade.eq(1).prop("checked") == true){
                    height_grade.eq(1).removeAttr("checked");
                    height_grade.eq(0).prop("disabled", false);
                    height_grade.eq(2).prop("disabled", false);
                }
                else if(height_grade.eq(2).prop("checked") == true){
                    height_grade.eq(2).removeAttr("checked");
                    height_grade.eq(0).prop("disabled", false);
                    height_grade.eq(1).prop("disabled", false);
                }
                if(gender == '女'){
                    if($.trim($('.1_month').html())){
                        if(newValue < 47.7){
                            height_grade.eq(2).prop("checked", true);
                            height_grade.eq(0).prop("disabled", true);
                            height_grade.eq(1).prop("disabled", true);
                        }
                        else if(newValue > 52.0)
                        {
                            height_grade.eq(0).prop("checked", true);
                            height_grade.eq(1).prop("disabled", true);
                            height_grade.eq(2).prop("disabled", true);
                        }
                        else{
                            height_grade.eq(1).prop("checked", true);
                            height_grade.eq(0).prop("disabled", true);
                            height_grade.eq(2).prop("disabled", true);
                        }
                    }
                    else if($.trim($('.3_month').html())){
                        if(newValue < 57.1){
                            height_grade.eq(2).prop("checked", true);
                            height_grade.eq(0).prop("disabled", true);
                            height_grade.eq(1).prop("disabled", true);
                        }
                        else if(newValue > 59.5)
                        {
                            height_grade.eq(0).prop("checked", true);
                            height_grade.eq(1).prop("disabled", true);
                            height_grade.eq(2).prop("disabled", true);
                        }
                        else{
                            height_grade.eq(1).prop("checked", true);
                            height_grade.eq(0).prop("disabled", true);
                            height_grade.eq(2).prop("disabled", true);
                        }
                    }
                    else if($.trim($('.6_month').html())){
                        if(newValue < 63.3){
                            height_grade.eq(2).prop("checked", true);
                            height_grade.eq(0).prop("disabled", true);
                            height_grade.eq(1).prop("disabled", true);
                        }
                        else if(newValue > 68.6)
                        {
                            height_grade.eq(0).prop("checked", true);
                            height_grade.eq(1).prop("disabled", true);
                            height_grade.eq(2).prop("disabled", true);
                        }
                        else{
                            height_grade.eq(1).prop("checked", true);
                            height_grade.eq(0).prop("disabled", true);
                            height_grade.eq(2).prop("disabled", true);
                        }
                    }
                    else if($.trim($('.8_month').html())){
                        if(newValue < 66.4){
                            height_grade.eq(2).prop("checked", true);
                            height_grade.eq(0).prop("disabled", true);
                            height_grade.eq(1).prop("disabled", true);
                        }
                        else if(newValue > 71.8)
                        {
                            height_grade.eq(0).prop("checked", true);
                            height_grade.eq(1).prop("disabled", true);
                            height_grade.eq(2).prop("disabled", true);
                        }
                        else{
                            height_grade.eq(1).prop("checked", true);
                            height_grade.eq(0).prop("disabled", true);
                            height_grade.eq(2).prop("disabled", true);
                        }
                    }
                }
                else{
                    if($.trim($('.1_month').html())){
                        if(newValue < 48.2){
                            height_grade.eq(2).prop("checked", true);
                            height_grade.eq(0).prop("disabled", true);
                            height_grade.eq(1).prop("disabled", true);
                        }
                        else if(newValue > 52.8)
                        {
                            height_grade.eq(0).prop("checked", true);
                            height_grade.eq(1).prop("disabled", true);
                            height_grade.eq(2).prop("disabled", true);
                        }
                        else{
                            height_grade.eq(1).prop("checked", true);
                            height_grade.eq(0).prop("disabled", true);
                            height_grade.eq(2).prop("disabled", true);
                        }
                    }
                    else if($.trim($('.3_month').html())){
                        if(newValue < 58.5){
                            height_grade.eq(2).prop("checked", true);
                            height_grade.eq(0).prop("disabled", true);
                            height_grade.eq(1).prop("disabled", true);
                        }
                        else if(newValue > 63.7)
                        {
                            height_grade.eq(0).prop("checked", true);
                            height_grade.eq(1).prop("disabled", true);
                            height_grade.eq(2).prop("disabled", true);
                        }
                        else{
                            height_grade.eq(1).prop("checked", true);
                            height_grade.eq(0).prop("disabled", true);
                            height_grade.eq(2).prop("disabled", true);
                        }
                    }
                    else if($.trim($('.6_month').html())){
                        if(newValue < 65.1){
                            height_grade.eq(2).prop("checked", true);
                            height_grade.eq(0).prop("disabled", true);
                            height_grade.eq(1).prop("disabled", true);
                        }
                        else if(newValue > 70.5)
                        {
                            height_grade.eq(0).prop("checked", true);
                            height_grade.eq(1).prop("disabled", true);
                            height_grade.eq(2).prop("disabled", true);
                        }
                        else{
                            height_grade.eq(1).prop("checked", true);
                            height_grade.eq(0).prop("disabled", true);
                            height_grade.eq(2).prop("disabled", true);
                        }
                    }
                    else if($.trim($('.8_month').html())){
                        if(newValue < 68.3){
                            height_grade.eq(2).prop("checked", true);
                            height_grade.eq(0).prop("disabled", true);
                            height_grade.eq(1).prop("disabled", true);
                        }
                        else if(newValue > 73.6)
                        {
                            height_grade.eq(0).prop("checked", true);
                            height_grade.eq(1).prop("disabled", true);
                            height_grade.eq(2).prop("disabled", true);
                        }
                        else{
                            height_grade.eq(1).prop("checked", true);
                            height_grade.eq(0).prop("disabled", true);
                            height_grade.eq(2).prop("disabled", true);
                        }
                    }
                }
            }
        });

    });
    </script>
{% endblock %}