{% extends 'child/aftercare_1_year_base.html' %}

{% comment %}6月龄随访表格{% endcomment %}

{% block visit_date_1 %}
    {{ aftercare_1_month.visit_date | date:"Y-m-d"}}
{% endblock %}

{% block weight_1 %}
    {{ aftercare_1_month.weight }}
{% endblock %}

{% block weight_grade_1 %}
    {{ aftercare_1_month.weight_grade }}
{% endblock %}

{% block height_1 %}
    {{ aftercare_1_month.height }}
{% endblock %}

{% block height_grade_1 %}
    {{ aftercare_1_month.height_grade }}
{% endblock %}

{% block head_circumference_1 %}
    {{ aftercare_1_month.head_circumference }}
{% endblock %}

{% block complexion_1 %}
    {{ aftercare_1_month.complexion }}
{% endblock %}

{% block skin_1 %}
    {{ aftercare_1_month.skin }}
{% endblock %}

{% block bregma_1 %}
    {{ aftercare_1_month.bregma }}
{% endblock %}

{% block bregma_length_1 %}
    {% if aftercare_1_month.bregma_length != None %}
        {{ aftercare_1_month.bregma_length }}
    {% endif %}
{% endblock %}

{% block bregma_width_1 %}
    {% if aftercare_1_month.bregma_width != None %}
        {{ aftercare_1_month.bregma_width }}
    {% endif %}
{% endblock %}

{% block neck_enclosed_mass_1 %}
    {{ aftercare_1_month.neck_enclosed_mass }}
{% endblock %}

{% block eye_appearance_1 %}
    {{ aftercare_1_month.eye_appearance }}
{% endblock %}

{% block ear_appearance_1 %}
    {{ aftercare_1_month.ear_appearance }}
{% endblock %}

{% block oral_cavity_1 %}
    {{ aftercare_1_month.oral_cavity }}
{% endblock %}

{% block heart_lung_1 %}
    {{ aftercare_1_month.heart_lung }}
{% endblock %}

{% block abdomen_1 %}
    {{ aftercare_1_month.abdomen }}
{% endblock %}

{% block navel_1 %}
    {{ aftercare_1_month.navel }}
{% endblock %}

{% block all_fours_1 %}
    {{ aftercare_1_month.all_fours }}
{% endblock %}

{% block rickets_sign_1 %}
    {{ aftercare_1_month.rickets_sign }}
{% endblock %}

{% block anus_externalia_1 %}
    {{ aftercare_1_month.anus_externalia }}
{% endblock %}

{% block hemoglobin_value_1 %}
    {{ aftercare_1_month.hemoglobin_value }}
{% endblock %}

{% block outdoor_activities_1 %}
    {{ aftercare_1_month.outdoor_activities }}
{% endblock %}

{% block take_vitamin_d_1 %}
    {{ aftercare_1_month.take_vitamin_d }}
{% endblock %}

{% block growth_evaluate_1 %}
    {{ aftercare_1_month.growth_evaluate }}
{% endblock %}

{% block two_visit_disease_1 %}
    {{ aftercare_1_month.two_visit_disease }}
{% endblock %}

{% block extra_1 %}
    {{ aftercare_1_month.extra }}
{% endblock %}

{% block transfer_treatment_suggestion_1 %}
    {{ aftercare_1_month.transfer_treatment_suggestion }}
{% endblock %}

{% block transfer_treatment_suggestion_reason_1 %}
    {{ aftercare_1_month.transfer_treatment_suggestion_reason }}
{% endblock %}

{% block transfer_treatment_suggestion_institution_1 %}
    {{ aftercare_1_month.transfer_treatment_suggestion_institution }}
{% endblock %}

{% block guide_1 %}
    {% for item in aftercare_1_month.guide.all %}
          {{ item }}
    {% endfor %}
{% endblock %}

{% block next_visit_date_1 %}
    {{ aftercare_1_month.next_visit_date | date:"Y-m-d" }}
{% endblock %}

{% block doctor_signature_1 %}
    {{ aftercare_1_month.doctor_signature }}
{% endblock %}

{% comment %}3月龄随访表格{% endcomment %}

{% block visit_date_3 %}
    {{ aftercare_3_month.visit_date | date:"Y-m-d" }}
{% endblock %}

{% block weight_3 %}
    {{ aftercare_3_month.weight }}
{% endblock %}

{% block weight_grade_3 %}
    {{ aftercare_3_month.weight_grade }}
{% endblock %}

{% block height_3 %}
    {{ aftercare_3_month.height }}
{% endblock %}

{% block height_grade_3 %}
    {{ aftercare_3_month.height_grade }}
{% endblock %}

{% block head_circumference_3 %}
    {{ aftercare_3_month.head_circumference }}
{% endblock %}

{% block complexion_3 %}
    {{ aftercare_3_month.complexion }}
{% endblock %}

{% block skin_3 %}
    {{ aftercare_3_month.skin }}
{% endblock %}

{% block bregma_3 %}
    {{ aftercare_3_month.bregma }}
{% endblock %}

{% block bregma_length_3 %}
    {% if aftercare_3_month.bregma_length != None %}
        {{ aftercare_3_month.bregma_length }}
    {% endif %}
{% endblock %}

{% block bregma_width_3 %}
    {% if aftercare_3_month.bregma_width != None %}
        {{ aftercare_3_month.bregma_width }}
    {% endif %}
{% endblock %}

{% block neck_enclosed_mass_3 %}
    {{ aftercare_3_month.neck_enclosed_mass }}
{% endblock %}

{% block eye_appearance_3 %}
    {{ aftercare_3_month.eye_appearance }}
{% endblock %}

{% block ear_appearance_3 %}
    {{ aftercare_3_month.ear_appearance }}
{% endblock %}

{% block oral_cavity_3 %}
    {{ aftercare_3_month.oral_cavity }}
{% endblock %}

{% block heart_lung_3 %}
    {{ aftercare_3_month.heart_lung }}
{% endblock %}

{% block abdomen_3 %}
    {{ aftercare_3_month.abdomen }}
{% endblock %}

{% block navel_3 %}
    {{ aftercare_3_month.navel }}
{% endblock %}

{% block all_fours_3 %}
    {{ aftercare_3_month.all_fours }}
{% endblock %}

{% block rickets_symptom_3 %}
    {{ aftercare_3_month.rickets_symptom }}
{% endblock %}

{% block rickets_sign_3 %}
    {{ aftercare_3_month.rickets_sign }}
{% endblock %}

{% block anus_externalia_3 %}
    {{ aftercare_3_month.anus_externalia }}
{% endblock %}

{% block hemoglobin_value_3 %}
    {{ aftercare_3_month.hemoglobin_value }}
{% endblock %}

{% block outdoor_activities_3 %}
    {{ aftercare_3_month.outdoor_activities }}
{% endblock %}

{% block take_vitamin_d_3 %}
    {{ aftercare_3_month.take_vitamin_d }}
{% endblock %}

{% block growth_evaluate_3 %}
    {{ aftercare_3_month.growth_evaluate }}
{% endblock %}

{% block two_visit_disease_3 %}
    {{ aftercare_3_month.two_visit_disease }}
{% endblock %}

{% block extra_3 %}
    {{ aftercare_3_month.extra }}
{% endblock %}

{% block transfer_treatment_suggestion_3 %}
    {{ aftercare_3_month.transfer_treatment_suggestion }}
{% endblock %}

{% block transfer_treatment_suggestion_reason_3 %}
    {{ aftercare_3_month.transfer_treatment_suggestion_reason }}
{% endblock %}

{% block transfer_treatment_suggestion_institution_3 %}
    {{ aftercare_3_month.transfer_treatment_suggestion_institution }}
{% endblock %}

{% block guide_3 %}
    {% for item in aftercare_3_month.guide.all %}
          {{ item }}
    {% endfor %}
{% endblock %}

{% block next_visit_date_3 %}
    {{ aftercare_3_month.next_visit_date | date:"Y-m-d" }}
{% endblock %}

{% block doctor_signature_3 %}
    {{ aftercare_3_month.doctor_signature }}
{% endblock %}

{% comment %}6月龄随访表格{% endcomment %}

{% block table_resident %}{{ record.resident.name }}{% endblock %}

{% block table_no %}{% endblock %}

{% block visit_date_6 %}
    {{ form.visit_date | date:"Y-m-d" }}
{% endblock %}

{% block weight_6 %}
    {{ form.weight }}
{% endblock %}

{% block weight_grade_6 %}
    {{ form.weight_grade }}
{% endblock %}

{% block height_6 %}
    {{ form.height }}
{% endblock %}

{% block height_grade_6 %}
    {{ form.height_grade }}
{% endblock %}

{% block head_circumference_6 %}
    {{ form.head_circumference }}
{% endblock %}

{% block complexion_6 %}
    {{ form.complexion }}
{% endblock %}

{% block skin_6 %}
    {{ form.skin }}
{% endblock %}

{% block bregma_6 %}
    {{ form.bregma }}
{% endblock %}

{% block bregma_length_6 %}
    {% if form.bregma_length != None %}
        {{ form.bregma_length }}
    {% endif %}
{% endblock %}

{% block bregma_width_6 %}
    {% if form.bregma_width != None %}
        {{ form.bregma_width }}
    {% endif %}
{% endblock %}

{% block neck_enclosed_mass_6 %}
    {{ form.neck_enclosed_mass }}
{% endblock %}

{% block eye_appearance_6 %}
    {{ form.eye_appearance }}
{% endblock %}

{% block ear_appearance_6 %}
    {{ form.ear_appearance }}
{% endblock %}

{% block hearing_6 %}
    {{ form.hearing }}
{% endblock %}

{% block oral_cavity_6 %}
    {{ form.oral_cavity }}
{% endblock %}

{% block heart_lung_6 %}
    {{ form.heart_lung }}
{% endblock %}

{% block abdomen_6 %}
    {{ form.abdomen }}
{% endblock %}

{% block all_fours_6 %}
    {{ form.all_fours }}
{% endblock %}

{% block rickets_symptom_6 %}
    {{ form.rickets_symptom }}
{% endblock %}

{% block rickets_sign_6 %}
    {{ form.rickets_sign }}
{% endblock %}

{% block anus_externalia_6 %}
    {{ form.anus_externalia }}
{% endblock %}

{% block hemoglobin_value_6 %}
    {{ form.hemoglobin_value }}
{% endblock %}

{% block outdoor_activities_6 %}
    {{ form.outdoor_activities }}
{% endblock %}

{% block take_vitamin_d_6 %}
    {{ form.take_vitamin_d }}
{% endblock %}

{% block growth_evaluate_6 %}
    {{ form.growth_evaluate }}
{% endblock %}

{% block two_visit_disease_6 %}
    {{ form.two_visit_disease }}
{% endblock %}

{% block extra_6 %}
    {{ form.extra }}
{% endblock %}

{% block transfer_treatment_suggestion_6 %}
    {{ form.transfer_treatment_suggestion }}
{% endblock %}

{% block transfer_treatment_suggestion_reason_6 %}
    {{ form.transfer_treatment_suggestion_reason }}
{% endblock %}

{% block transfer_treatment_suggestion_institution_6 %}
    {{ form.transfer_treatment_suggestion_institution }}
{% endblock %}

{% block guide_6 %}
    {% for item in form.guide.all %}
            {{ item }}
    {% endfor %}
{% endblock %}

{% block next_visit_date_6 %}
    {{ form.next_visit_date | date:"Y-m-d" }}
{% endblock %}

{% block doctor_signature_6 %}
    {{ form.doctor_signature }}
{% endblock %}