{% extends "table_base.html" %}

{% block table_title %}
    3-6岁儿童健康检查记录表
{% endblock %}

{% block table_content %}
    <tr>
        <td width="20%" colspan="4" align="center">
            <b>月龄</b>
        </td>
        <td width="20%" colspan="4" align="center">
            <b>3岁</b>
        </td>
        <td width="20%" colspan="4" align="center">
            <b>4岁</b>
        </td>
        <td width="20%" colspan="4" align="center">
            <b>5岁</b>
        </td>
        <td colspan="4" align="center">
            <b>6岁</b>
        </td>
    </tr>
    <tr>
        <td width="20%" colspan="4" align="center">
            <b>随访日期</b>
        </td>
        <td width="20%" colspan="4" class="3_year">
            {% block visit_date_3 %}{% endblock %}
        </td>
        <td width="20%" colspan="4" class="4_year">
            {% block visit_date_4 %}{% endblock %}
        </td>
        <td width="20%" colspan="4" class="5_year">
            {% block visit_date_5 %}{% endblock %}
        </td>
        <td colspan="4" class="6_year">
            {% block visit_date_6 %}{% endblock %}
        </td>
    </tr>
    <tr>
        <td width="20%" colspan="4" align="center">
            <b>体重（kg）</b><input type="text" name="gender" style="display: none" value="{{ gender }}">
        </td>
        <td width="20%" colspan="4">
            {% block weight_3 %}{% endblock %}<br>{% block weight_grade_3 %}{% endblock %}
        </td>
        <td width="20%" colspan="4">
            {% block weight_4 %}{% endblock %}<br>{% block weight_grade_4 %}{% endblock %}
        </td>
        <td width="20%" colspan="4">
            {% block weight_5 %}{% endblock %}<br>{% block weight_grade_5 %}{% endblock %}
        </td>
        <td colspan="4">
            {% block weight_6 %}{% endblock %}<br>{% block weight_grade_6 %}{% endblock %}
        </td>
    </tr>
    <tr>
        <td width="20%" colspan="4" align="center">
            <b>身长（cm）</b>
        </td>
        <td width="20%" colspan="4">
            {% block height_3 %}{% endblock %}<br>{% block height_grade_3 %}{% endblock %}
        </td>
        <td width="20%" colspan="4">
            {% block height_4 %}{% endblock %}<br>{% block height_grade_4 %}{% endblock %}
        </td>
        <td width="20%" colspan="4">
            {% block height_5 %}{% endblock %}<br>{% block height_grade_5 %}{% endblock %}
        </td>
        <td colspan="4">
            {% block height_6 %}{% endblock %}<br>{% block height_grade_6 %}{% endblock %}
        </td>
    </tr>
    <tr>
        <td width="20%" colspan="4" align="center">
            <b>体格发育评价</b>
        </td>
        <td width="20%" colspan="4">
            {% block body_growth_evaluate_3 %}{% endblock %}
        </td>
        <td width="20%" colspan="4">
            {% block body_growth_evaluate_4 %}{% endblock %}
        </td>
        <td width="20%" colspan="4">
            {% block body_growth_evaluate_5 %}{% endblock %}
        </td>
        <td colspan="4">
            {% block body_growth_evaluate_6 %}{% endblock %}
        </td>
    </tr>
    <tr>
        <td colspan="1" rowspan="7" width="10%" align="center">
            <b>体格检查</b>
        </td>
        <td width="10%" colspan="3" align="center">
            <b>视力</b>
        </td>
        <td width="20%" colspan="4">
            ——————
        </td>
        <td width="20%" colspan="4">
            {% block eye_sight_4 %}{% endblock %}
        </td>
        <td width="20%" colspan="4">
            {% block eye_sight_5 %}{% endblock %}
        </td>
        <td colspan="4">
            {% block eye_sight_6 %}{% endblock %}
        </td>
    </tr>
    <tr>
        <td width="10%" colspan="3" align="center">
            <b>听力</b>
        </td>
        <td width="20%" colspan="4">
            {% block hearing_3 %}{% endblock %}
        </td>
        <td width="20%" colspan="4">
            ——————
        </td>
        <td width="20%" colspan="4">
            ——————
        </td>
        <td colspan="4">
            ——————
        </td>
    </tr>
    <tr>
        <td width="10%" colspan="3" align="center">
            <b>牙数（颗）/龋齿数</b>
        </td>
        <td width="20%" colspan="4">
            {% block tooth_3 %}{% endblock %}/{% block decayed_tooth_3 %}{% endblock %}
        </td>
        <td width="20%" colspan="4">
            {% block tooth_4 %}{% endblock %}/{% block decayed_tooth_4 %}{% endblock %}
        </td>
        <td width="20%" colspan="4">
            {% block tooth_5 %}{% endblock %}/{% block decayed_tooth_5 %}{% endblock %}
        </td>
        <td colspan="4">
            {% block tooth_6 %}{% endblock %}/{% block decayed_tooth_6 %}{% endblock %}
        </td>
    </tr>
    <tr>
        <td width="10%" colspan="3" align="center">
            <b>心肺</b>
        </td>
        <td width="20%" colspan="4">
            {% block heart_lung_3 %}{% endblock %}
        </td>
        <td width="20%" colspan="4">
            {% block heart_lung_4 %}{% endblock %}
        </td>
        <td width="20%" colspan="4">
            {% block heart_lung_5 %}{% endblock %}
        </td>
        <td colspan="4">
            {% block heart_lung_6 %}{% endblock %}
        </td>
    </tr>
    <tr>
        <td width="10%" colspan="3" align="center">
            <b>腹部</b>
        </td>
        <td width="20%" colspan="4">
            {% block abdomen_3 %}{% endblock %}
        </td>
        <td width="20%" colspan="4">
            {% block abdomen_4 %}{% endblock %}
        </td>
        <td width="20%" colspan="4">
            {% block abdomen_5 %}{% endblock %}
        </td>
        <td colspan="4">
            {% block abdomen_6 %}{% endblock %}
        </td>
    </tr>
    <tr>
        <td width="10%" colspan="3" align="center">
            <b>血红蛋白值</b>
        </td>
        <td width="20%" colspan="4">
            {% block hemoglobin_value_3 %}{% endblock %}g/L
        </td>
        <td width="20%" colspan="4">
            {% block hemoglobin_value_4 %}{% endblock %}g/L
        </td>
        <td width="20%" colspan="4">
            {% block hemoglobin_value_5 %}{% endblock %}g/L
        </td>
        <td colspan="4">
            {% block hemoglobin_value_6 %}{% endblock %}g/L
        </td>
    </tr>
    <tr>
        <td width="10%" colspan="3" align="center">
            <b>其他</b>
        </td>
        <td width="20%" colspan="4">
            {% block extra_3 %}{% endblock %}
        </td>
        <td width="20%" colspan="4">
            {% block extra_4 %}{% endblock %}
        </td>
        <td width="20%" colspan="4">
            {% block extra_5 %}{% endblock %}
        </td>
        <td colspan="4">
            {% block extra_6 %}{% endblock %}
        </td>
    </tr>
    <tr>
        <td width="20%" colspan="4" align="center">
            <b>两次随访间患病情况</b>
        </td>
        <td width="20%" colspan="4">
            1 无<br>2 肺炎{% block pneumonia_3 %}{% endblock %}次<br>3 腹泻{% block diarrhea_3 %}{% endblock %}次<br>4 外伤{% block traumatism_3 %}{% endblock %}次<br>5 其他{% block two_visit_extra_3 %}{% endblock %}
        </td>
        <td width="20%" colspan="4">
            1 无<br>2 肺炎{% block pneumonia_4 %}{% endblock %}次<br>3 腹泻{% block diarrhea_4 %}{% endblock %}次<br>4 外伤{% block traumatism_4 %}{% endblock %}次<br>5 其他{% block two_visit_extra_4 %}{% endblock %}
        </td>
        <td width="20%" colspan="4">
            1 无<br>2 肺炎{% block pneumonia_5 %}{% endblock %}次<br>3 腹泻{% block diarrhea_5 %}{% endblock %}次<br>4 外伤{% block traumatism_5 %}{% endblock %}次<br>5 其他{% block two_visit_extra_5 %}{% endblock %}
        </td>
        <td colspan="4">
            1 无<br>2 肺炎{% block pneumonia_6 %}{% endblock %}次<br>3 腹泻{% block diarrhea_6 %}{% endblock %}次<br>4 外伤{% block traumatism_6 %}{% endblock %}次<br>5 其他{% block two_visit_extra_6 %}{% endblock %}
        </td>
    </tr>
    <tr>
        <td width="20%" colspan="4" align="center">
            <b>转诊建议</b>
        </td>
        <td width="20%" colspan="4">
            {% block transfer_treatment_suggestion_3 %}{% endblock %}<br>原因：{% block transfer_treatment_suggestion_reason_3 %}{% endblock %}<br>机构及科室：{% block transfer_treatment_suggestion_institution_3 %}{% endblock %}
        </td>
        <td width="20%" colspan="4">
            {% block transfer_treatment_suggestion_4 %}{% endblock %}<br>原因：{% block transfer_treatment_suggestion_reason_4 %}{% endblock %}<br>机构及科室：{% block transfer_treatment_suggestion_institution_4 %}{% endblock %}
        </td>
        <td width="20%" colspan="4">
            {% block transfer_treatment_suggestion_5 %}{% endblock %}<br>原因：{% block transfer_treatment_suggestion_reason_5 %}{% endblock %}<br>机构及科室：{% block transfer_treatment_suggestion_institution_5 %}{% endblock %}
        </td>
        <td colspan="4">
            {% block transfer_treatment_suggestion_6 %}{% endblock %}<br>原因：{% block transfer_treatment_suggestion_reason_6 %}{% endblock %}<br>机构及科室：{% block transfer_treatment_suggestion_institution_6 %}{% endblock %}
        </td>
    </tr>
    <tr>
        <td width="20%" colspan="4" align="center">
            <b>指导</b>
        </td>
        <td width="20%" colspan="4">
            {% block guide_3 %}{% endblock %}<br>{% block guide_extra_3 %}{% endblock %}
        </td>
        <td width="20%" colspan="4">
            {% block guide_4 %}{% endblock %}<br>{% block guide_extra_4 %}{% endblock %}
        </td>
        <td width="20%" colspan="4">
            {% block guide_5 %}{% endblock %}<br>{% block guide_extra_5 %}{% endblock %}
        </td>
        <td colspan="4">
            {% block guide_6 %}{% endblock %}<br>{% block guide_extra_6 %}{% endblock %}
        </td>
    </tr>
    <tr>
        <td width="20%" colspan="4" align="center">
            <b>下次随访日期</b>
        </td>
        <td width="20%" colspan="4">
            {% block next_visit_date_3 %}{% endblock %}
        </td>
        <td width="20%" colspan="4">
            {% block next_visit_date_4 %}{% endblock %}
        </td>
        <td width="20%" colspan="4">
            {% block next_visit_date_5 %}{% endblock %}
        </td>
        <td colspan="4">
            {% block next_visit_date_6 %}{% endblock %}
        </td>
    </tr>
    <tr>
        <td width="20%" colspan="4" align="center">
            <b>随访医生签名</b>
        </td>
        <td width="20%" colspan="4">
            {% block doctor_signature_3 %}{% endblock %}
        </td>
        <td width="20%" colspan="4">
            {% block doctor_signature_4 %}{% endblock %}
        </td>
        <td width="20%" colspan="4">
            {% block doctor_signature_5 %}{% endblock %}
        </td>
        <td colspan="4">
            {% block doctor_signature_6 %}{% endblock %}
        </td>
    </tr>
    <script>
    $(function(){
        var gender = $('input[name=gender]').val();
        var weight_grade = $('input[name=weight_grade]');
        var weight_box = $('input[name=weight]').numberbox({
            onChange: function(newValue, oldValue){
                /*weight_grade.prop("disabled", false);
                weight_grade.removeAttr("checked");*/
                if(weight_grade.eq(0).prop("checked") == true){
                    weight_grade.eq(0).removeAttr("checked");
                    weight_grade.eq(1).prop("disabled", false);
                    weight_grade.eq(2).prop("disabled", false);
                }
                else if(weight_grade.eq(1).prop("checked") == true){
                   weight_grade.eq(1).removeAttr("checked");
                    weight_grade.eq(0).prop("disabled", false);
                    weight_grade.eq(2).prop("disabled", false);
                }
                else if(weight_grade.eq(2).prop("checked") == true){
                    weight_grade.eq(2).removeAttr("checked");
                    weight_grade.eq(0).prop("disabled", false);
                    weight_grade.eq(1).prop("disabled", false);
                }
                if(gender == '女'){
                    if($.trim($('.3_year').html())){
                        if(newValue < 12.6){
                            weight_grade.eq(2).prop("checked", true);
                            weight_grade.eq(0).prop("disabled", true);
                            weight_grade.eq(1).prop("disabled", true);
                        }
                        else if(newValue > 16.1)
                        {
                            weight_grade.eq(0).prop("checked", true);
                            weight_grade.eq(1).prop("disabled", true);
                            weight_grade.eq(2).prop("disabled", true);
                        }
                        else{
                            weight_grade.eq(1).prop("checked", true);
                            weight_grade.eq(0).prop("disabled", true);
                            weight_grade.eq(2).prop("disabled", true);
                        }
                    }
                    else if($.trim($('.4_year').html())){
                        if(newValue < 14.3){
                            weight_grade.eq(2).prop("checked", true);
                            weight_grade.eq(0).prop("disabled", true);
                            weight_grade.eq(1).prop("disabled", true);
                        }
                        else if(newValue > 18.3)
                        {
                            weight_grade.eq(0).prop("checked", true);
                            weight_grade.eq(1).prop("disabled", true);
                            weight_grade.eq(2).prop("disabled", true);
                        }
                        else{
                            weight_grade.eq(1).prop("checked", true);
                            weight_grade.eq(0).prop("disabled", true);
                            weight_grade.eq(2).prop("disabled", true);
                        }
                    }
                    else if($.trim($('.5_year').html())){
                        if(newValue < 15.7){
                            weight_grade.eq(2).prop("checked", true);
                            weight_grade.eq(0).prop("disabled", true);
                            weight_grade.eq(1).prop("disabled", true);
                        }
                        else if(newValue > 20.4)
                        {
                            weight_grade.eq(0).prop("checked", true);
                            weight_grade.eq(1).prop("disabled", true);
                            weight_grade.eq(2).prop("disabled", true);
                        }
                        else{
                            weight_grade.eq(1).prop("checked", true);
                            weight_grade.eq(0).prop("disabled", true);
                            weight_grade.eq(2).prop("disabled", true);
                        }
                    }
                    else if($.trim($('.6_year').html())){
                        if(newValue < 17.3){
                            weight_grade.eq(2).prop("checked", true);
                            weight_grade.eq(0).prop("disabled", true);
                            weight_grade.eq(1).prop("disabled", true);
                        }
                        else if(newValue > 22.9)
                        {
                            weight_grade.eq(0).prop("checked", true);
                            weight_grade.eq(1).prop("disabled", true);
                            weight_grade.eq(2).prop("disabled", true);
                        }
                        else{
                            weight_grade.eq(1).prop("checked", true);
                            weight_grade.eq(0).prop("disabled", true);
                            weight_grade.eq(2).prop("disabled", true);
                        }
                    }
                }
                else{
                    if($.trim($('.3_year').html())){
                        if(newValue < 13.0){
                            weight_grade.eq(2).prop("checked", true);
                            weight_grade.eq(0).prop("disabled", true);
                            weight_grade.eq(1).prop("disabled", true);
                        }
                        else if(newValue > 16.4)
                        {
                            weight_grade.eq(0).prop("checked", true);
                            weight_grade.eq(1).prop("disabled", true);
                            weight_grade.eq(2).prop("disabled", true);
                        }
                        else{
                            weight_grade.eq(1).prop("checked", true);
                            weight_grade.eq(0).prop("disabled", true);
                            weight_grade.eq(2).prop("disabled", true);
                        }
                    }
                    else if($.trim($('.4_year').html())){
                        if(newValue < 14.8){
                            weight_grade.eq(2).prop("checked", true);
                            weight_grade.eq(0).prop("disabled", true);
                            weight_grade.eq(1).prop("disabled", true);
                        }
                        else if(newValue > 18.7)
                        {
                            weight_grade.eq(0).prop("checked", true);
                            weight_grade.eq(1).prop("disabled", true);
                            weight_grade.eq(2).prop("disabled", true);
                        }
                        else{
                            weight_grade.eq(1).prop("checked", true);
                            weight_grade.eq(0).prop("disabled", true);
                            weight_grade.eq(2).prop("disabled", true);
                        }
                    }
                    else if($.trim($('.5_year').html())){
                        if(newValue < 16.6){
                            weight_grade.eq(2).prop("checked", true);
                            weight_grade.eq(0).prop("disabled", true);
                            weight_grade.eq(1).prop("disabled", true);
                        }
                        else if(newValue > 21.1)
                        {
                            weight_grade.eq(0).prop("checked", true);
                            weight_grade.eq(1).prop("disabled", true);
                            weight_grade.eq(2).prop("disabled", true);
                        }
                        else{
                            weight_grade.eq(1).prop("checked", true);
                            weight_grade.eq(0).prop("disabled", true);
                            weight_grade.eq(2).prop("disabled", true);
                        }
                    }
                    else if($.trim($('.6_year').html())){
                        if(newValue < 18.4){
                            weight_grade.eq(2).prop("checked", true);
                            weight_grade.eq(0).prop("disabled", true);
                            weight_grade.eq(1).prop("disabled", true);
                        }
                        else if(newValue > 23.6)
                        {
                            weight_grade.eq(0).prop("checked", true);
                            weight_grade.eq(1).prop("disabled", true);
                            weight_grade.eq(2).prop("disabled", true);
                        }
                        else{
                            weight_grade.eq(1).prop("checked", true);
                            weight_grade.eq(0).prop("disabled", true);
                            weight_grade.eq(2).prop("disabled", true);
                        }
                    }
                }
            }
        });

        var height_grade = $('input[name=height_grade]');
        var height_box = $('input[name=height]').numberbox({
            onChange: function(newValue, oldValue){
                if(height_grade.eq(0).prop("checked") == true){
                    height_grade.eq(0).removeAttr("checked");
                    height_grade.eq(1).prop("disabled", false);
                    height_grade.eq(2).prop("disabled", false);
                }
                else if(height_grade.eq(1).prop("checked") == true){
                    height_grade.eq(1).removeAttr("checked");
                    height_grade.eq(0).prop("disabled", false);
                    height_grade.eq(2).prop("disabled", false);
                }
                else if(height_grade.eq(2).prop("checked") == true){
                    height_grade.eq(2).removeAttr("checked");
                    height_grade.eq(0).prop("disabled", false);
                    height_grade.eq(1).prop("disabled", false);
                }
                if(gender == '女'){
                    if($.trim($('.3_year').html())){
                        if(newValue < 90.2){
                            height_grade.eq(2).prop("checked", true);
                            height_grade.eq(0).prop("disabled", true);
                            height_grade.eq(1).prop("disabled", true);
                        }
                        else if(newValue > 98.1)
                        {
                            height_grade.eq(0).prop("checked", true);
                            height_grade.eq(1).prop("disabled", true);
                            height_grade.eq(2).prop("disabled", true);
                        }
                        else{
                            height_grade.eq(1).prop("checked", true);
                            height_grade.eq(0).prop("disabled", true);
                            height_grade.eq(2).prop("disabled", true);
                        }
                    }
                    else if($.trim($('.4_year').html())){
                        if(newValue < 97.6){
                            height_grade.eq(2).prop("checked", true);
                            height_grade.eq(0).prop("disabled", true);
                            height_grade.eq(1).prop("disabled", true);
                        }
                        else if(newValue > 105.7)
                        {
                            height_grade.eq(0).prop("checked", true);
                            height_grade.eq(1).prop("disabled", true);
                            height_grade.eq(2).prop("disabled", true);
                        }
                        else{
                            height_grade.eq(1).prop("checked", true);
                            height_grade.eq(0).prop("disabled", true);
                            height_grade.eq(2).prop("disabled", true);
                        }
                    }
                    else if($.trim($('.5_year').html())){
                        if(newValue < 104.0){
                            height_grade.eq(2).prop("checked", true);
                            height_grade.eq(0).prop("disabled", true);
                            height_grade.eq(1).prop("disabled", true);
                        }
                        else if(newValue > 112.8)
                        {
                            height_grade.eq(0).prop("checked", true);
                            height_grade.eq(1).prop("disabled", true);
                            height_grade.eq(2).prop("disabled", true);
                        }
                        else{
                            height_grade.eq(1).prop("checked", true);
                            height_grade.eq(0).prop("disabled", true);
                            height_grade.eq(2).prop("disabled", true);
                        }
                    }
                    else if($.trim($('.6_year').html())){
                        if(newValue < 109.7){
                            height_grade.eq(2).prop("checked", true);
                            height_grade.eq(0).prop("disabled", true);
                            height_grade.eq(1).prop("disabled", true);
                        }
                        else if(newValue > 119.6)
                        {
                            height_grade.eq(0).prop("checked", true);
                            height_grade.eq(1).prop("disabled", true);
                            height_grade.eq(2).prop("disabled", true);
                        }
                        else{
                            height_grade.eq(1).prop("checked", true);
                            height_grade.eq(0).prop("disabled", true);
                            height_grade.eq(2).prop("disabled", true);
                        }
                    }
                }
                else{
                    if($.trim($('.3_year').html())){
                        if(newValue < 91.1){
                            height_grade.eq(2).prop("checked", true);
                            height_grade.eq(0).prop("disabled", true);
                            height_grade.eq(1).prop("disabled", true);
                        }
                        else if(newValue > 98.7)
                        {
                            height_grade.eq(0).prop("checked", true);
                            height_grade.eq(1).prop("disabled", true);
                            height_grade.eq(2).prop("disabled", true);
                        }
                        else{
                            height_grade.eq(1).prop("checked", true);
                            height_grade.eq(0).prop("disabled", true);
                            height_grade.eq(2).prop("disabled", true);
                        }
                    }
                    else if($.trim($('.4_year').html())){
                        if(newValue < 98.7){
                            height_grade.eq(2).prop("checked", true);
                            height_grade.eq(0).prop("disabled", true);
                            height_grade.eq(1).prop("disabled", true);
                        }
                        else if(newValue > 107.2)
                        {
                            height_grade.eq(0).prop("checked", true);
                            height_grade.eq(1).prop("disabled", true);
                            height_grade.eq(2).prop("disabled", true);
                        }
                        else{
                            height_grade.eq(1).prop("checked", true);
                            height_grade.eq(0).prop("disabled", true);
                            height_grade.eq(2).prop("disabled", true);
                        }
                    }
                    else if($.trim($('.5_year').html())){
                        if(newValue < 105.3){
                            height_grade.eq(2).prop("checked", true);
                            height_grade.eq(0).prop("disabled", true);
                            height_grade.eq(1).prop("disabled", true);
                        }
                        else if(newValue > 114.5)
                        {
                            height_grade.eq(0).prop("checked", true);
                            height_grade.eq(1).prop("disabled", true);
                            height_grade.eq(2).prop("disabled", true);
                        }
                        else{
                            height_grade.eq(1).prop("checked", true);
                            height_grade.eq(0).prop("disabled", true);
                            height_grade.eq(2).prop("disabled", true);
                        }
                    }
                    else if($.trim($('.6_year').html())){
                        if(newValue < 111.2){
                            height_grade.eq(2).prop("checked", true);
                            height_grade.eq(0).prop("disabled", true);
                            height_grade.eq(1).prop("disabled", true);
                        }
                        else if(newValue > 121.0)
                        {
                            height_grade.eq(0).prop("checked", true);
                            height_grade.eq(1).prop("disabled", true);
                            height_grade.eq(2).prop("disabled", true);
                        }
                        else{
                            height_grade.eq(1).prop("checked", true);
                            height_grade.eq(0).prop("disabled", true);
                            height_grade.eq(2).prop("disabled", true);
                        }
                    }
                }
            }
        });
    });
    </script>
{% endblock %}