{% extends 'child/aftercare_3_6_year_base.html' %}

{% block visit_date_3 %}
    {{ form.visit_date | date:"Y-m-d"}}
{% endblock %}

{% block weight_3 %}
    {{ form.weight }}
{% endblock %}

{% block weight_grade_3 %}
    {{ form.weight_grade }}
{% endblock %}

{% block height_3 %}
    {{ form.height }}
{% endblock %}

{% block height_grade_3 %}
    {{ form.height_grade }}
{% endblock %}

{% block body_growth_evaluate_3 %}
    {{ form.body_growth_evaluate }}
{% endblock %}

{% block hearing_3 %}
    {{ form.hearing }}
{% endblock %}

{% block tooth_3 %}
    {{ form.tooth }}
{% endblock %}

{% block decayed_tooth_3 %}
    {{ form.decayed_tooth }}
{% endblock %}

{% block heart_lung_3 %}
    {{ form.heart_lung }}
{% endblock %}

{% block abdomen_3 %}
    {{ form.abdomen }}
{% endblock %}

{% block hemoglobin_value_3 %}
    {{ form.hemoglobin_value }}
{% endblock %}

{% block extra_3 %}
    {{ form.extra }}
{% endblock %}

{% block pneumonia_3 %}
     {{ form.pneumonia }}
{% endblock %}

{% block diarrhea_3 %}
    {{ form.diarrhea }}
{% endblock %}

{% block traumatism_3 %}
    {{ form.traumatism }}
{% endblock %}

{% block two_visit_extra_3 %}
    {{ form.two_visit_extra }}
{% endblock %}

{% block transfer_treatment_suggestion_3 %}
    {{ form.transfer_treatment_suggestion }}
{% endblock %}

{% block transfer_treatment_suggestion_reason_3 %}
    {{ form.transfer_treatment_suggestion_reason }}
{% endblock %}

{% block transfer_treatment_suggestion_institution_3 %}
    {{ form.transfer_treatment_suggestion_institution }}
{% endblock %}

{% block guide_3 %}
    {% for item in form.guide.all %}
            {{ item }}
    {% endfor %}
{% endblock %}

{% block guide_extra_3 %}
    {{ form.guide_extra }}
{% endblock %}

{% block next_visit_date_3 %}
    {{ form.next_visit_date | date:"Y-m-d" }}
{% endblock %}

{% block doctor_signature_3 %}
    {{ form.doctor_signature }}
{% endblock %}