        <div class="row" style="padding-top: 4px">
	        <div class="col-md-2" align="right">
	        	{% if form.visit_date.errors %}
                    <span style="background: #ffff00">{{ form.visit_date.label_tag }}</span>
                {% else %}
                    {{ form.visit_date.label_tag }}
                {% endif %}
	        </div>
	        <div class="col-md-4">
	        	{{ visit_date }}
                <input type="text" style="display:none;" value="{{ visit_date }}" name="visit_date"/>
	        </div>
        </div>
        <div class="row">
            <div class="col-md-3">
                <h4 class="page-header" style="color:green"><strong>基本信息</strong></h4>
            </div>
        </div>
        <div class="row" style="padding-top: 4px">
            <div class="col-md-2" align="right">
                {% if form.gender.errors %}
                    <span style="background: #ffff00">{{ form.gender.label_tag }}</span>
                {% else %}
                    {{ form.gender.label_tag }}
                {% endif %}
            </div>
            <div class="col-md-8">
                {% for item in form.gender %}
                    {% if forloop.counter > 1 and forloop.counter < 6 %}
                        <div class ="col-md-3">{{ item }}</div>
                    {% endif %}
                {% endfor %}
            </div>
        </div>
        {% include 'child/birth_date.html' %}
        <div class="row" style="padding-top: 4px">
            <div class="col-md-2" align="right">
                {% if form.id_number.errors %}
                    <span style="background: #ffff00">{{ form.id_number.label_tag }}</span>
                {% else %}
                    {{ form.id_number.label_tag }}
                {% endif %}
            </div>
            <div class="col-md-4">
                {{ form.id_number }}
            </div>
        </div>
        <div class="row" style="padding-top: 4px">
            <div class="col-md-2" align="right">
                {% if form.home_address.errors %}
                    <span style="background: #ffff00">{{ form.home_address.label_tag }}</span>
                {% else %}
                    {{ form.home_address.label_tag }}
                {% endif %}
            </div>
            <div class="col-md-4">
                {{ form.home_address }}
            </div>
        </div>
        <div class="row">
            <div class="col-md-3">
                <h4 class="page-header" style="color:green"><strong>父亲</strong></h4>
            </div>
        </div>
        <div class="row" style="padding-top: 4px">
            <div class="col-md-2" align="right">
                {% if form.father_name.errors %}
                    <span style="background: #ffff00">{{ form.father_name.label_tag }}</span>
                {% else %}
                    {{ form.father_name.label_tag }}
                {% endif %}
            </div>
            <div class="col-md-4">
                {{ form.father_name }}
            </div>
            <div class="col-md-2" align="right">
                {% if form.father_occupation.errors %}
                    <span style="background: #ffff00">{{ form.father_occupation.label_tag }}</span>
                {% else %}
                    {{ form.father_occupation.label_tag }}
                {% endif %}
            </div>
            <div class="col-md-4">
                {{ form.father_occupation }}
            </div>
        </div>
        <div class="row" style="padding-top: 4px">
             <div class="col-md-2" align="right">
                {% if form.father_contact_number.errors %}
                    <span style="background: #ffff00">{{ form.father_contact_number.label_tag }}</span>
                {% else %}
                    {{ form.father_contact_number.label_tag }}
                {% endif %}
            </div>
            <div class="col-md-4">
                {{ form.father_contact_number }}
            </div>
            {% include 'child/father_birth_date.html' %}
        </div>
        <div class="row">
            <div class="col-md-3">
                <h4 class="page-header" style="color:green"><strong>母亲</strong></h4>
            </div>
        </div>
        <div class="row" style="padding-top: 4px">
            <div class="col-md-2" align="right">
                {% if form.mother_name.errors %}
                    <span style="background: #ffff00">{{ form.mother_name.label_tag }}</span>
                {% else %}
                    {{ form.mother_name.label_tag }}
                {% endif %}
            </div>
            <div class="col-md-4">
                {{ form.mother_name }}
            </div>
             <div class="col-md-2" align="right">
                {% if form.mother_occupation.errors %}
                    <span style="background: #ffff00">{{ form.mother_occupation.label_tag }}</span>
                {% else %}
                    {{ form.mother_occupation.label_tag }}
                {% endif %}
            </div>
            <div class="col-md-4">
                {{ form.mother_occupation }}
            </div>
        </div>
        <div class="row" style="padding-top: 4px">
            <div class="col-md-2" align="right">
                {% if form.mother_contact_number.errors %}
                    <span style="background: #ffff00">{{ form.mother_contact_number.label_tag }}</span>
                {% else %}
                    {{ form.mother_contact_number.label_tag }}
                {% endif %}
            </div>
            <div class="col-md-4">
                {{ form.mother_contact_number }}
            </div>
                {% include 'child/mother_birth_date.html' %}
        </div>
        <div class="row">
	    	<div class="col-md-3">
		    	<h4 class="page-header" style="color: green"><strong></strong></h4>
	    	</div>
    	</div>
        <div class="row" style="padding-top: 4px">
            <div class="col-md-2" align="right">
                {% if form.gestational_weeks.errors %}
                    <span style="background: #ffff00">{{ form.gestational_weeks.label_tag }}</span>
                {% else %}
                    {{ form.gestational_weeks.label_tag }}
                {% endif %}
            </div>
            <div class="col-md-4">
                {{ form.gestational_weeks }}&nbsp;&nbsp;周
            </div>
        </div>
        <div class="row" style="padding-top: 4px">
            <div class="col-md-3">
                {% if form.mother_gestational_disease.errors %}
                    <span style="background: #ffff00">{{ form.mother_gestational_disease.label_tag }}</span>
                {% elif form.mother_gestational_disease_extra.errors %}
                    <span style="background: #ffff00">{{ form.mother_gestational_disease.label_tag }}</span>
                {% else %}
                    {{ form.mother_gestational_disease.label_tag }}
                {% endif %}
            </div>
            <div class="col-md-10">
                {% for item in form.mother_gestational_disease %}
                    {% if forloop.counter > 1 and forloop.counter < 4 %}
                        <div class="col-md-3">{{ item }}</div>
                    {% elif forloop.counter == 4 %}
                        <div class="col-md-4">{{ item }}&nbsp;&nbsp;{{ form.mother_gestational_disease_extra }}</div>
                    {% endif %}
                {% endfor %}
            </div>
        </div>
        <div class="row" style="padding-top: 4px">
            <div class="col-md-2" align="right">
                {% if form.deliver_institution.errors %}
                    <span style="background: #ffff00">{{ form.deliver_institution.label_tag }}</span>
                {% else %}
                    {{ form.deliver_institution.label_tag }}
                {% endif %}
            </div>
            <div class="col-md-4">
                {{ form.deliver_institution }}
            </div>
        </div>
        <div class="row" style="padding-top: 4px">
	        <div class="col-md-2" align="right">
	        	{% if form.birth_situation.errors %}
                    <span style="background: #ffff00">{{ form.birth_situation.label_tag }}</span>
                {% elif form.birth_situation_extra.errors %}
                    <span style="background: #ffff00">{{ form.birth_situation.label_tag }}</span>
                {% else %}
                    {{ form.birth_situation.label_tag }}
                {% endif %}
	        </div>
	        <div class="col-md-9">
                {% for item in form.birth_situation %}
                    {% if forloop.counter > 0 and forloop.counter < 7 %}
                        <div class="col-md-2">{{ item }}</div>
                    {% elif forloop.counter == 7 %}
                        <div class="col-md-6">{{ item }}&nbsp;&nbsp;{{ form.birth_situation_extra }}</div>
                    {% endif %}
                {% endfor %}
            </div>
        </div>