<!-- father_birth_date -->
    <div class="col-md-2" align="right">
        {% if form.father_birth_date.errors %}
            <span style="background: #ffff00">{{ form.father_birth_date.label_tag }}</span>
        {% else %}
            {{ form.father_birth_date.label_tag }}
        {% endif %}
	</div>
    <div class="col-md-4">
            <div class='input-group date' id='datepicker2'>
                <input type='text' id="{{ form.father_birth_date_id }}" class="form-control"
                       name="{{ form.father_birth_date.name }}">
                <span class="input-group-addon">
                    <span class="glyphicon glyphicon-calendar"></span>
                </span>
            </div>
        <script type="text/javascript">
            $(function () {
                $('#datepicker2').datepicker({
                    format: 'yyyy-mm-dd',
                    autoclose: true,
                    language: 'zh-CN',
                    todayHighlight: true
                });
            });
        </script>
    </div>

    <!-- delineate -->
