{% extends 'services/index.html' %}
{% load staticfiles %}

{% block service_header %}
    <h3 class="page-header" align="center">{{ service_type.name }}: {{ service_item.name }}</h3>
{% endblock %}

{% block service_item_content %}
    <form action="{% url 'child:health_manual' %}" method="POST">

    {% csrf_token %}
        {{ form.non_filed_errors }}

        {% include 'child/chm_nfv.html' %}

        <div class="row" style="padding-top: 4px">
	        <div class="col-md-2" align="right">
                {% if form.newborn_asphyxia.errors or form.newborn_asphyxia_yes.errors%}
	        	    <span style="background:#ffff00">{{ form.newborn_asphyxia.label_tag }}</span>
                {% else %}
	        	    {{ form.newborn_asphyxia.label_tag }}
                {% endif %}
	        </div>
	        <div class="col-md-10">
                {% for item in form.newborn_asphyxia %}
                    {% if forloop.counter > 1 and forloop.counter < 3 %}
                        <div class="col-md-2">{{ item }}</div>
                    {% elif forloop.counter == 3 %}
                        <div class="col-md-2">{{ item }}&nbsp;&nbsp;(</div>
                        {% for it in form.newborn_asphyxia_yes %}
                            {% if forloop.counter > 1 and forloop.counter < 5 %}
                                <div class="col-md-2">{{ it }}</div>
                            {% endif %}
                        {% endfor %}
                    ){% endif %}
                {% endfor %}
            </div>
        </div>
        <div class="row" style="padding-top: 4px">
	        <div class="col-md-2" align="right">
                (
	        </div>
            <div class="col-md-10">
                <div class="col-md-2" align="right">
	        	      {% if form.apgan_score.errors %}
                        <span style="background:#ffff00">{{ form.apgan_score.label_tag }}</span>
                      {% else %}
                        {{ form.apgan_score.label_tag }}
                      {% endif %}
	            </div>
                <div class="col-md-9">
                {% for i in form.apgan_score %}
                    {% if forloop.counter > 1 and forloop.counter < 5 %}
                        <div class="col-md-3">{{ i }}</div>
                    {% endif %}
                {% endfor %})
                </div>
            </div>
        </div>
        <div class="row" style="padding-top: 4px">
	        <div class="col-md-2" align="right">
	        	{% if form.birth_malformation.errors or form.birth_malformation_extra.errors %}
                    <span style="background:#ffff00">{{ form.birth_malformation.label_tag }}</span>
                {% else %}
                    {{ form.birth_malformation.label_tag }}
                {% endif %}
	        </div>
	        <div class="col-md-10">
                {% for item in form.birth_malformation %}
                    {% if forloop.counter > 1 and forloop.counter < 3 %}
                    <div class="col-md-3">{{ item }}</div>
                    {% elif forloop.counter == 3 %}
                    <div class="col-md-9">{{ item }}&nbsp;&nbsp;{{ form.birth_malformation_extra }}</div>
                    {% endif %}
                {% endfor %}
            </div>
        </div>
        <div class="row" style="padding-top: 4px">
	        <div class="col-md-2" align="right">
	        	{% if form.newborn_birth_weight.errors %}
                    <span style="background:#ffff00">{{ form.newborn_birth_weight.label_tag }}</span>
                {% else %}
                    {{ form.newborn_birth_weight.label_tag }}
                {% endif %}
	        </div>
	        <div class="col-md-4">
                {{ form.newborn_birth_weight }}&nbsp;&nbsp;kg
            </div>
            <div class="col-md-2" align="right">
	        	{% if form.birth_height.errors %}
                    <span style="background:#ffff00">{{ form.birth_height.label_tag }}</span>
                {% else %}
                    {{ form.birth_height.label_tag }}
                {% endif %}
	        </div>
	        <div class="col-md-4">
                {{ form.birth_height }}&nbsp;&nbsp;cm
            </div>
        </div>
        <!--<div class="row" style="padding-top: 4px">
	        <div class="col-md-2" align="right">
	        	{{ form.birth_height.label_tag }}
	        </div>
	        <div class="col-md-4">
                {{ form.birth_height }}&nbsp;&nbsp;cm&nbsp;&nbsp;{{ form.birth_height.errors}}
            </div>
        </div>-->
        <div class="row" style="padding-top: 4px">
	        <div class="col-md-2" align="right">
	        	{% if form.feed_way.errors %}
                    <span style="background:#ffff00">{{ form.feed_way.label_tag }}</span>
                {% else %}
                    {{ form.feed_way.label_tag }}
                {% endif %}
	        </div>
	        <div class="col-md-5">
                {% for item in form.feed_way %}
                    {% if forloop.counter > 1 and forloop.counter < 5 %}
                        <div class="col-md-4">{{ item }}</div>
                    {% endif %}
                {% endfor %}
            </div>
            <!--<div class="col-md-2" align="right">
	        	{{ form.drink_milk_volume.label_tag }}
	        </div>
	        <div class="col-md-4">
                {{ form.drink_milk_volume }}&nbsp;&nbsp;ml/次&nbsp;&nbsp;{{ form.drink_milk_volume.errors}}
            </div>-->
        </div>
        <div class="row" style="padding-top: 4px">
	        <div class="col-md-2" align="right">
	        	{% if form.drink_milk_volume.errors %}
                    <span style="background:#ffff00">{{ form.drink_milk_volume.label_tag }}</span>
                {% else %}
                    {{ form.drink_milk_volume.label_tag }}
                {% endif %}
	        </div>
	        <div class="col-md-4">
                {{ form.drink_milk_volume }}&nbsp;&nbsp;ml/次
            </div>
            <div class="col-md-2" align="right">
	        	{% if form.drink_milk_times.errors %}
                    <span style="background:#ffff00">{{ form.drink_milk_times.label_tag }}</span>
                {% else %}
                    {{ form.drink_milk_times.label_tag }}
                {% endif %}
	        </div>
	        <div class="col-md-4">
                {{ form.drink_milk_times }}&nbsp;&nbsp;次/日
            </div>
        </div>
        <div class="row" style="padding-top: 4px">
            <div class="col-md-2" align="right">
                {% if form.emesis.errors %}
                    <span style="background:#ffff00">{{ form.emesis.label_tag }}</span>
                {% else %}
                    {{ form.emesis.label_tag }}
                {% endif %}
            </div>
            <div class="col-md-4">
                {% for item in form.emesis %}
                    {% if forloop.counter > 1 and forloop.counter < 4 %}
                        <div class="col-md-3">{{ item }}</div>
                    {% endif %}
                {% endfor %}
            </div>
            <div class="col-md-2" align="right">
                {% if form.shit_times.errors %}
                    <span style="background:#ffff00">{{ form.shit_times.label_tag }}</span>
                {% else %}
                    {{ form.shit_times.label_tag }}
                {% endif %}
            </div>
            <div class="col-md-4">
                {{ form.shit_times }}&nbsp;&nbsp;次/日
            </div>
        </div>
        <!--<div class="row" style="padding-top: 4px">
            <div class="col-md-2" align="right">
                {{ form.emesis.label_tag }}
            </div>
            <div class="col-md-4">
                {% for item in form.emesis %}
                    {% if forloop.counter > 1 and forloop.counter < 4 %}
                        <div class="col-md-3">{{ item }}</div>
                    {% endif %}
                {% endfor %}
                {{ form.emesis.errors }}
            </div>
        </div>-->
        <div class="row" style="padding-top: 4px">
            <div class="col-md-2" align="right">
                {% if form.kajiemiao_vaccinate.errors %}
                    <span style="background:#ffff00">{{ form.kajiemiao_vaccinate.label_tag }}</span>
                {% else %}
                    {{ form.kajiemiao_vaccinate.label_tag }}
                {% endif %}
            </div>
            <div class="col-md-4">
                {% for item in form.kajiemiao_vaccinate %}
                    {% if forloop.counter > 1 and forloop.counter < 4 %}
                        <div class="col-md-4">{{ item }}</div>
                    {% endif %}
                {% endfor %}
            </div>
            <div class="col-md-2" align="right">
                {% if form.yigan_vaccinate.errors %}
                    <span style="background:#ffff00">{{ form.yigan_vaccinate.label_tag }}</span>
                {% else %}
                    {{ form.yigan_vaccinate.label_tag }}
                {% endif %}
            </div>
            <div class="col-md-4">
                {% for item in form.yigan_vaccinate %}
                    {% if forloop.counter > 1 and forloop.counter < 4 %}
                        <div class="col-md-4">{{ item }}</div>
                    {% endif %}
                {% endfor %}
            </div>
        </div>
        <!--<div class="row" style="padding-top: 4px">
            <div class="col-md-2" align="right">
                {{ form.kajiemiao_vaccinate.label_tag }}
            </div>
            <div class="col-md-4">
                {% for item in form.kajiemiao_vaccinate %}
                    {% if forloop.counter > 1 and forloop.counter < 4 %}
                        <div class="col-md-4">{{ item }}</div>
                    {% endif %}
                {% endfor %}
                {{ form.kajiemiao_vaccinate.errors }}
            </div>
        </div>-->
        <div class="row" style="padding-top: 4px">

            <div class="col-md-2" align="right">
                {% if form.newborn_hearing_screening.errors %}
                    <span style="background:#ffff00">{{ form.newborn_hearing_screening.label_tag }}</span>
                {% else %}
                    {{ form.newborn_hearing_screening.label_tag }}
                {% endif %}
            </div>
            <div class="col-md-5">
                {% for item in form.newborn_hearing_screening %}
                    {% if forloop.counter > 1 and forloop.counter < 5 %}
                        <div class="col-md-4">{{ item }}</div>
                    {% endif %}
                {% endfor %}
            </div>
        </div>
        <!--<div class="row" style="padding-top: 4px">
            <div class="col-md-2" align="right">
                {{ form.newborn_hearing_screening.label_tag }}
            </div>
            <div class="col-md-4">
                {% for item in form.newborn_hearing_screening %}
                    {% if forloop.counter > 1 and forloop.counter < 5 %}
                        <div class="col-md-4">{{ item }}</div>
                    {% endif %}
                {% endfor %}
                {{ form.newborn_hearing_screening.errors }}
            </div>
        </div>-->
        <div class="row" style="padding-top: 4px">
            <div class="col-md-2" align="right">
                {% if form.pku_screening.errors %}
                    <span style="background:#ffff00">{{ form.pku_screening.label_tag }}</span>
                {% else %}
                    {{ form.pku_screening.label_tag }}
                {% endif %}
            </div>
            <div class="col-md-5">
                {% for item in form.pku_screening %}
                    {% if forloop.counter > 1 and forloop.counter < 5 %}
                        <div class="col-md-4">{{ item }}</div>
                    {% endif %}
                {% endfor %}
            </div>
            <!--<div class="col-md-2" align="right">
                {{ form.phyroid_screening.label_tag }}
            </div>
            <div class="col-md-4">
                {% for item in form.phyroid_screening %}
                    {% if forloop.counter > 1 and forloop.counter < 5 %}
                        <div class="col-md-2">{{ item }}</div>
                    {% endif %}
                {% endfor %}
                {{ form.phyroid_screening.errors }}
            </div>-->
        </div>
        <div class="row" style="padding-top: 4px">
            <div class="col-md-3">
                {% if form.thyroid_screening.errors %}
                    <span style="background:#ffff00">{{ form.thyroid_screening.label_tag }}</span>
                {% else %}
                    {{ form.thyroid_screening.label_tag }}
                {% endif %}
            </div>
            <div class="col-md-5">
                {% for item in form.thyroid_screening %}
                    {% if forloop.counter > 1 and forloop.counter < 5 %}
                        <div class="col-md-4">{{ item }}</div>
                    {% endif %}
                {% endfor %}
            </div>
        </div>
        <div class="row" style="padding-top: 4px">
            <div class="col-md-2" align="right">
                {% if form.extra_disease_screening.errors or form.extra_disease_screening_pass.errors %}
                    <span style="background:#ffff00">{{ form.extra_disease_screening.label_tag }}</span>
                {% else %}
                    {{ form.extra_disease_screening.label_tag }}
                {% endif %}
            </div>
            <div class="col-md-4">
                {{ form.extra_disease_screening }}&nbsp;&nbsp;
            </div>
            <div class="col-md-5">
                {% for item in form.extra_disease_screening_pass %}
                    {% if forloop.counter > 1 and forloop.counter < 5 %}
                        <div class="col-md-4">{{ item }}</div>
                    {% endif %}
                {% endfor %}
            </div>
        </div>
        {% include 'diabetes/submit.html' %}
    </form>
{% endblock %}
</html>