        <div class="row" style="padding-top: 4px">
            <div class="col-md-2" align="right">
                {% if form.hemoglobin.errors %}
                    <span style="background: #ffff00">{{ form.hemoglobin.label_tag }}</span>
                {% else %}
                    {{ form.hemoglobin.label_tag }}
                {% endif %}
            </div>
            <div class="col-md-4">
                {{ form.hemoglobin }}&nbsp;&nbsp;g/L
            </div>
         </div>
        <div class="row" style="padding-top: 4px">
            <div class="col-md-2" align="right">
                {% if form.hemameba.errors %}
                    <span style="background: #ffff00">{{ form.hemameba.label_tag }}</span>
                {% else %}
                    {{ form.hemameba.label_tag }}
                {% endif %}
            </div>
            <div class="col-md-4">
                {{ form.hemameba }}&nbsp;&nbsp;×10^9/L
            </div>
         </div>
        <div class="row" style="padding-top: 4px">
            <div class="col-md-2" align="right">
                {% if form.thrombocyte.errors %}
                    <span style="background: #ffff00">{{ form.thrombocyte.label_tag }}</span>
                {% else %}
                    {{ form.thrombocyte.label_tag }}
                {% endif %}
            </div>
            <div class="col-md-4">
                {{ form.thrombocyte }}&nbsp;&nbsp;×10^9/L
            </div>
         </div>
        <div class="row" style="padding-top: 4px">
            <div class="col-md-2" align="right">
                {% if form.extra.errors %}
                    <span style="background: #ffff00">{{ form.extra.label_tag }}</span>
                {% else %}
                    {{ form.extra.label_tag }}
                {% endif %}
            </div>
            <div class="col-md-4">
                {{ form.extra }}
            </div>
         </div>