      	<div class="row" style="padding-top: 4px">
            <div class="col-md-3" align="right">
                {% if form.zongdanhongsu.errors %}
                    <span style="background: #ffff00">{{ form.zongdanhongsu.label_tag }}</span>
                {% else %}
                    {{ form.zongdanhongsu.label_tag }}
                {% endif %}
            </div>
            <div class="col-md-4">
                {{ form.zongdanhongsu }}
                &nbsp;&nbsp;μmol/L
            </div>
        </div>