    <div class="row" style="padding-top: 4px">
            <div class="col-md-2" align="right">
                {% if form.niao_dan_bai.errors %}
                    <span style="background: #ffff00">{{ form.niao_dan_bai.label_tag }}</span>
                {% else %}
                    {{ form.niao_dan_bai.label_tag }}
                {% endif %}
            </div>
            <div class="col-md-4">
                {{ form.niao_dan_bai }}&nbsp;&nbsp;g/L
            </div>
         </div>
        <div class="row" style="padding-top: 4px">
            <div class="col-md-2" align="right">
                {% if form.niao_tang.errors %}
                    <span style="background: #ffff00">{{ form.niao_tang.label_tag }}</span>
                {% else %}
                    {{ form.niao_tang.label_tag }}
                {% endif %}
            </div>
            <div class="col-md-4">
                {{ form.niao_tang }}
            </div>
         </div>
        <div class="row" style="padding-top: 4px">
            <div class="col-md-2" align="right">
                {% if form.niao_tong_ti.errors %}
                    <span style="background: #ffff00">{{ form.niao_tong_ti.label_tag }}</span>
                {% else %}
                    {{ form.niao_tong_ti.label_tag }}
                {% endif %}
            </div>
            <div class="col-md-4">
                {{ form.niao_tong_ti }}
            </div>
         </div>
        <div class="row" style="padding-top: 4px">
            <div class="col-md-2" align="right">
                {% if form.niao_qian_xue.errors %}
                    <span style="background: #ffff00">{{ form.niao_qian_xue.label_tag }}</span>
                {% else %}
                    {{ form.niao_qian_xue.label_tag }}
                {% endif %}
            </div>
            <div class="col-md-4">
                {{ form.niao_qian_xue }}
            </div>
         </div>
        <div class="row" style="padding-top: 4px">
            <div class="col-md-2" align="right">
                {% if form.extra.errors %}
                    <span style="background: #ffff00">{{ form.extra.label_tag }}</span>
                {% else %}
                    {{ form.extra.label_tag }}
                {% endif %}
            </div>
            <div class="col-md-4">
                {{ form.extra }}
            </div>
         </div>