{% extends "health_base.html" %}
{% load staticfiles %}

{% block content %}
    <div class="container">
        <div class="row" >
            <div class="col-xs-6 col-sm-3 col-md-3 sidebar">
            <div id="MainMenu"  data-spy="affix" data-offset-top="60" data-offset-bottom="200">
                <div class="list-group panel">
                    <a href="#demo3" class="list-group-item list-group-item-success" data-toggle="collapse" data-parent="#MainMenu"><b>组织人员管理</b></a>
                    <div class="collapse" id="demo3">
                        {% if user.userprofile.role.name == "卫生院管理员" %}
                            <a href="{% url 'management:town_staff_village_clinic_list' %}" class="list-group-item">&nbsp;&nbsp;&nbsp;&nbsp;村卫生室</a>
                            <a href="{% url 'management:town_staff_user_list' %}" class="list-group-item">&nbsp;&nbsp;&nbsp;&nbsp;系统用户</a>
                        {% else %}
                            <a href="{% url 'management:town_clinic_list' %}" class="list-group-item">&nbsp;&nbsp;&nbsp;&nbsp;乡镇卫生院</a>
                            <a href="{% url 'management:village_clinic_list' %}" class="list-group-item">&nbsp;&nbsp;&nbsp;&nbsp;村卫生室</a>
                            <a href="{% url 'management:user_list' %}" class="list-group-item">&nbsp;&nbsp;&nbsp;&nbsp;系统用户</a>
                        {% endif %}
                    </div>

                    <a href="#demo4" class="list-group-item list-group-item-success" data-toggle="collapse" data-parent="#MainMenu"><b>服务内容管理</b></a>
                    <div class="collapse" id="demo4">
                        <a href="{% url 'management:service_type_list' %}" class="list-group-item">&nbsp;&nbsp;&nbsp;&nbsp;服务类别</a>
                        <a href="{% url 'management:service_item_list' %}" class="list-group-item">&nbsp;&nbsp;&nbsp;&nbsp;服务项目</a>
                    </div>

                    <a href="#demo5" class="list-group-item list-group-item-success" data-toggle="collapse" data-parent="#MainMenu"><b>工作量和费用</b></a>
                    <div class="collapse" id="demo5">
                        {% if user.userprofile.role.name == "卫生院管理员" %}
                            <a href="{% url 'management:town_staff_statistics_records' %}" class="list-group-item">&nbsp;&nbsp;&nbsp;&nbsp;服务记录明细</a>
                            <a href="{% url 'management:town_staff_statistics_payment' %}" class="list-group-item">&nbsp;&nbsp;&nbsp;&nbsp;服务费用统计</a>
                            <a href="{% url 'management:town_staff_statistics_resident' %}" class="list-group-item">&nbsp;&nbsp;&nbsp;&nbsp;居民服务记录</a>
                        {% else %}
                            <a href="{% url 'management:statistics_records' %}" class="list-group-item">&nbsp;&nbsp;&nbsp;&nbsp;服务记录明细</a>
                            <a href="{% url 'management:statistics_payment' %}" class="list-group-item">&nbsp;&nbsp;&nbsp;&nbsp;服务费用统计</a>
                            <a href="{% url 'management:statistics_resident' %}" class="list-group-item">&nbsp;&nbsp;&nbsp;&nbsp;居民服务记录</a>
                        {% endif %}
                    </div>

                    <a href="#demo6" class="list-group-item list-group-item-success" data-toggle="collapse" data-parent="#MainMenu"><b>居民人群管理</b></a>
                    <div class="collapse" id="demo6">
                        {% if user.userprofile.role.name == "卫生院管理员" %}
                            <a href="{% url 'management:town_staff_resident_list' %}" class="list-group-item">&nbsp;&nbsp;&nbsp;&nbsp;常住居民</a>
                            <a href="{% url 'management:town_staff_special_hypertension' %}" class="list-group-item">&nbsp;&nbsp;&nbsp;&nbsp;高血压人群</a>
                            <a href="{% url 'management:town_staff_special_diabetes' %}" class="list-group-item">&nbsp;&nbsp;&nbsp;&nbsp;糖尿病人群</a>
                            <a href="{% url 'management:town_staff_special_psychiatric' %}" class="list-group-item">&nbsp;&nbsp;&nbsp;&nbsp;重症精神病人群</a>
                            <a href="{% url 'management:town_staff_special_pregnant' %}" class="list-group-item">&nbsp;&nbsp;&nbsp;&nbsp;孕产妇人群</a>
                            <a href="{% url 'management:town_staff_special_child' %}" class="list-group-item">&nbsp;&nbsp;&nbsp;&nbsp;婴幼儿人群</a>
                            <a href="{% url 'management:town_staff_special_old' %}" class="list-group-item">&nbsp;&nbsp;&nbsp;&nbsp;老年人人群</a>
                        {% else %}
                            <a href="{% url 'management:resident_list' %}" class="list-group-item">&nbsp;&nbsp;&nbsp;&nbsp;常住居民</a>
                            <a href="{% url 'management:special_hypertension' %}" class="list-group-item">&nbsp;&nbsp;&nbsp;&nbsp;高血压人群</a>
                            <a href="{% url 'management:special_diabetes' %}" class="list-group-item">&nbsp;&nbsp;&nbsp;&nbsp;糖尿病人群</a>
                            <a href="{% url 'management:special_psychiatric' %}" class="list-group-item">&nbsp;&nbsp;&nbsp;&nbsp;重性精神病人群</a>
                            <a href="{% url 'management:special_pregnant' %}" class="list-group-item">&nbsp;&nbsp;&nbsp;&nbsp;孕产妇人群</a>
                            <a href="{% url 'management:special_child' %}" class="list-group-item">&nbsp;&nbsp;&nbsp;&nbsp;婴幼儿人群</a>
                            <a href="{% url 'management:special_old' %}" class="list-group-item">&nbsp;&nbsp;&nbsp;&nbsp;老年人人群</a>
                        {% endif %}
                    </div>

                    <a href="#demo7" class="list-group-item list-group-item-success" data-toggle="collapse" data-parent="#MainMenu"><b>角色权限管理</b></a>
                    <div class="collapse" id="demo7">
                        {% if user.userprofile.role.name == "卫生院管理员" %}
                            <a href="{% url 'management:town_staff_role_list' %}" class="list-group-item">&nbsp;&nbsp;&nbsp;&nbsp;角色管理</a>
                        {% else %}
                            <a href="{% url 'management:role_list' %}" class="list-group-item">&nbsp;&nbsp;&nbsp;&nbsp;角色管理</a>
                        {% endif %}
                    </div>

                    <a href="#demo8" class="list-group-item list-group-item-success" data-toggle="collapse" data-parent="#MainMenu"><b>短信发送管理</b></a>
                    <div class="collapse" id="demo8">
                        <a href="{% url 'management:sms_list' %}" class="list-group-item">&nbsp;&nbsp;&nbsp;&nbsp;短信发送列表</a>
                        {% if user.is_superuser or user.userprofile.role.name == "卫生院管理员" %}
                            <a href="{% url 'management:sms_time_list' %}" class="list-group-item">&nbsp;&nbsp;&nbsp;&nbsp;短信发送时间设置</a>
                        {% endif %}
                    </div>

                    {% if user.is_superuser or user.userprofile.role.name == "卫生院管理员" %}
                        <a href="#demo9" class="list-group-item list-group-item-success" data-toggle="collapse" data-parent="#MainMenu"><b>健康教育服务</b></a>
                        <div class="collapse" id="demo9">
                            <a href="{% url 'education:ad_board' %}" class="list-group-item">&nbsp;&nbsp;&nbsp;&nbsp;宣传栏</a>
                            <a href="{% url 'education:ad_board_update' %}" class="list-group-item">&nbsp;&nbsp;&nbsp;&nbsp;宣传栏更新</a>
                            <a href="{% url 'education:ad_book' %}" class="list-group-item">&nbsp;&nbsp;&nbsp;&nbsp;宣传册</a>
                            <a href="{% url 'education:ad_page' %}" class="list-group-item">&nbsp;&nbsp;&nbsp;&nbsp;宣传单</a>
                            <a href="{% url 'education:ad_booklet' %}" class="list-group-item">&nbsp;&nbsp;&nbsp;&nbsp;宣传折页</a>
                            <a href="{% url 'education:shelf' %}" class="list-group-item">&nbsp;&nbsp;&nbsp;&nbsp;资料架</a>
                            <a href="{% url 'education:ad_board_maintenance' %}" class="list-group-item">&nbsp;&nbsp;&nbsp;&nbsp;宣传栏维护</a>
                            <a href="{% url 'education:video' %}" class="list-group-item">&nbsp;&nbsp;&nbsp;&nbsp;音像资料</a>
                            <a href="{% url 'education:public_health_consultation' %}" class="list-group-item">&nbsp;&nbsp;&nbsp;&nbsp;公众健康咨询活动</a>
                            <a href="{% url 'education:health_knowledge_lecture' %}" class="list-group-item">&nbsp;&nbsp;&nbsp;&nbsp;健康知识讲座</a>
                            <a href="{% url 'education:health_education_website' %}" class="list-group-item">&nbsp;&nbsp;&nbsp;&nbsp;健康教育网站</a>
                        </div>
                    {% endif %}

                    {% if user.is_superuser or user.userprofile.role.name == "卫生院管理员" %}
                        <a href="#demo10" class="list-group-item list-group-item-success" data-toggle="collapse" data-parent="#MainMenu"><b>卫生监督协管</b></a>
                        <div class="collapse" id="demo10">
                            <a href="{% url 'supervision:patrol' %}" class="list-group-item">&nbsp;&nbsp;&nbsp;&nbsp;卫生监督协管巡查登记表</a>
                            <a href="{% url 'supervision:information_report' %}" class="list-group-item">&nbsp;&nbsp;&nbsp;&nbsp;卫生监督协管信息报告登记表</a>
                        </div>
                    {% endif %}
                </div>
            </div>
            </div>
            <div class="col-xs-6 col-sm-9 col-md-9 main">
                {% block admin_work %}
                    <div class="row">
                        <h5 class="page-header" align="left">
                        <a href="{% url 'management:town_clinics_statement' %}">报表详情</a>
                        <a href="{% url 'management:excel_temp' %}" style="padding-left: 20px">导出Excel文件</a>
                        </h5>
                    </div>

                    <script type="text/javascript">
                        $.getJSON('/management/graph_workload/', function (data) {
                            $('#graph_workload').highcharts({
                                chart: { type: 'bar' },
                                title: { text: '卫生院工作量汇总图' },
                                xAxis: { categories: data.clinics },
                                yAxis: { min: 0, title: { text: '工作量（人次）' }},
                                legend: { reversed: true },
                                plotOptions: { series: { stacking: 'normal' }},
                                credits: { enabled: false },
                                exporting: { enabled: false },
                                series: data.series

                            });
                        });
                        $.getJSON('/management/graph_payment/', function(data) {
                            $('#graph_payment').highcharts({
                                chart: {
                                    plotBackgroundColor: null,
                                    plotBorderWidth: null,
                                    plotShadow: false,
                                    type: 'pie'
                                },
                                credits: { enabled: false },
                                exporting: { enabled: false },
                                title: {
                                    text: '各卫生院支付金额比例'
                                },
                                tooltip: {
                                    pointFormat: '{series.name}: <b>{point.percentage:.1f}%</b>'
                                },
                                plotOptions: {
                                    pie: {
                                        allowPointSelect: true,
                                        cursor: 'pointer',
                                        dataLabels: {
                                            enabled: true,
                                            format: '<b>{point.name}</b>: {point.percentage:.1f} %',
                                            style: {
                                                color: (Highcharts.theme && Highcharts.theme.contrastTextColor) || 'black'
                                            }
                                        }
                                    }
                                },
                                series: [{
                                    name: "金额比例",
                                    colorByPoint: true,
                                    data: data
                                }]
                            });
                        })
                    </script>
                    <div id="graph_workload" style="min-width: 310px; max-width: 800px; height: 400px; margin: 0 auto"></div>
                    <br />
                    <div id="graph_payment" style="min-width: 310px; height: 400px; max-width: 600px; margin: 0 auto"></div>
                {% endblock %}
            </div>
        </div>
    </div>
    <!--<script src="{% static 'js/stickUp.min.js' %}"></script>
        <script type="text/javascript">
              //initiating jQuery
              jQuery(function($) {
                $(document).ready( function() {
                  //enabling stickUp on the '.navbar-wrapper' class
                  $('.sidebar').stickUp({
                      /*parts:{
                          0:'demo3',
                          1:'demo4',
                          2:'demo5'
                          3:'demo6',
                          4:'demo7',
                          5:'demo8'
                      },
                      itemClass:'list-group-item list-group-item-success',
                      //itemHover:'',
                      topMargin:'auto'*/
                  });
                });
              });

        </script>-->
{% endblock %}




