<div class="form-group" align="center">
    <div class="col-md-3" align="right">
        <label class="control-label">开始日期:</label>
    </div>
    <div class="col-md-3">
        <div class='input-group date' id='datepicker1' data-date="{{ start_date|date:'Y-m-d' }}">
            <input type='text' class="form-control col-md-4" name="start_date"
                   value="{{ start_date|date:'Y-m-d' }}"/>
            <span class="input-group-addon">
                <span class="glyphicon glyphicon-calendar"></span>
            </span>
        </div>
    </div>
    <div class="col-md-3" align="right">
        <label class="control-label">截止日期:</label>
    </div>
    <div class="col-md-3">
        <div class='input-group date' id='datepicker2'>
            <input type='text' class="form-control col-md-4" name="end_date" value="{{ end_date|date:'Y-m-d' }}"/>
            <span class="input-group-addon">
                <span class="glyphicon glyphicon-calendar"></span>
            </span>
        </div>
    </div>
    <script type="text/javascript">
        $(function () {
            $('#datepicker1').datepicker({
                format: 'yyyy-mm-dd',
                autoclose: true,
                language: 'zh-CN',
                todayHighlight: true
            });
            $('#datepicker2').datepicker({
                format: 'yyyy-mm-dd',
                autoclose: true,
                language: 'zh-CN',
                todayHighlight: true
            });
        });
    </script>
</div>
