{% extends "management/admin_base.html" %}
{% load staticfiles %}

{% block admin_work %}
    <div class="row">
        <hr/>
        <form class="form-horizontal" role="form" method="POST" action="{% url 'management:doctors_statement' clinic.id %}">
            {% csrf_token %}
            <!-- data range select -->
            {% include 'management/date_range.html' %}

            <div class="row" style="padding-top: 10px">
                <div class="col-md-12" align="right">
                    <button type="submit" class="btn btn-default">查询</button>
                </div>
            </div>
        </form>
        <h5 class="page-header" align="left"><b>{{ clinic.name }}</b> 所有医生</h5>
        {% if err_msg %}
        <h5 class="page-header" align="left">{{ err_msg }}</h5>
        {% endif %}
        <div class="table-responsive">
            <table class="table table-striped">
                <thead>
                    <tr><th>医生</th><th>工作量数</th><th>应得金额</th></tr>
                </thead>
                <tbody>
                {% for item in payment_grid %}
                    <tr>
                        <th><a href="/management/doctor_work_records/{{ item.item.id }}/">{{ item.item.username }}</a></th>
                        <th>{{ item.records_count }}</th>
                        <th>{{ item.payments }}</th>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
        <div class="row">
            <hr style="color: green"/>
            <div class="col-md-4 col-md-offset-4" align="center">
                {% if clinic.level == 1 %}
                    <a href="{% url 'management:village_clinics_statement' clinic.town_clinic.id %}" class="btn btn-default">返回</a>
                {% else %}
                    <a href="{% url 'management:village_clinics_statement' clinic.id %}" class="btn btn-default">返回</a>
                {% endif %}
            </div>
        </div>
    </div>
{% endblock %}