{% extends "management/admin_base.html" %}
{% load staticfiles %}

{% block admin_work %}
    <div class="row">
        <hr/>
        <form class="form-inline" role="form" method="POST" action="{% url 'management:hypertension_add' %}">
            {% csrf_token %}
            <div class="form-group">
                <label for="name">姓名:</label>
                {% if name %}
                <input class="form-control" type="text" name="name" size="8" value="{{ name }}"/>
                {% else %}
                <input class="form-control" type="text" name="name" size="8"/>
                {% endif %}
            </div>
            <div class="form-group">
                <label for="name">性别:</label>
                <select class="form-control" name="gender">
                    {% if gender %}
                        {% if gender == 1 %}
                        <option value="2" >全部</option>
                        <option value="1" selected>男</option>
                        <option value="0">女</option>
                        {% elif gender == 0 %}
                        <option value="2" >全部</option>
                        <option value="1">男</option>
                        <option value="0" selected>女</option>
                        {% else %}
                        <option value="2" selected>全部</option>
                        <option value="1">男</option>
                        <option value="0" >女</option>
                        {% endif %}
                    {% else %}
                        <option value="2" selected>全部</option>
                        <option value="1">男</option>
                        <option value="0" >女</option>
                    {% endif %}
                </select>
            </div><br/><br/>
            <div class="form-group">
                <label for="town">所在乡镇:</label>
                <select id="town" class="form-control" name="town">
                    <option value="0">请选择</option>
                    {% for the_town in towns %}
                        <option value="{{ the_town.id }}">{{ the_town.name }}</option>
                    {% endfor %}
                </select>
                <label for="village">所在村庄:</label>
                <select id="village" class="form-control" name="village">
                    <option value="0">请选择</option>
                </select>
            </div><br/><br/>
            <script>
                $(document).ready(function() {
                    $("select#town").change(function() {
                        if ($(this).val() == '0'){
                            $("select#village").html("<option>请选择</option>");
                            $("select#village").attr('disabled', true);
                        }
                        else {
                            var url = "/management/town/" + $(this).val() + "/villages/";
                            $.getJSON(url, function(villages) {
                                var options = '<option value="0">请选择</option>';
                                for (var i = 0; i < villages.length; i++) {
                                    options += '<option value="' + villages[i].pk + '">' + villages[i].fields['name'] + '</option>';
                                }
                                $("select#village").html(options);
                                $("select#village option:first").attr('selected', 'selected');
                                $("select#village").attr('disabled', false);
                            });
                        }
                    });
                })
            </script>
            <div class="form-group">
                <label for="identity">身份证号码:</label>
                {% if identity %}
                <input class="form-control" type="text" name="identity" value="{{ identity }}"/>
                {% else %}
                <input class="form-control" type="text" name="identity"/>
                {% endif %}
            </div>
            <button type="submit" class="btn btn-default">提交</button>
            <a href="{% url 'management:special_hypertension' %}" class="btn btn-default">返回</a>
        </form>
        <hr/>
        <h5 class="page-header" align="left">居民查询结果：</h5>
        {% if err_msg %}
        <h5 class="page-header" align="left">{{ err_msg }}</h5>
        {% endif %}
        <div class="table-responsive">
            <table class="table table-striped">
                <thead>
                <tr>
                    <th>序号</th>
                    <th>姓名</th>
                    <th>性别</th>
                    <th>年龄</th>
                    <th>所在乡镇</th>
                    <th>所在村庄/街道</th>
                    <th>操作</th>
                </tr>
                </thead>
                <tbody>
                {% for resident in result_residents %}
                <tr>
                    <th>{{ forloop.counter }}</th>
                    <th>{{ resident.name }}</th>
                    <th>{% if resident.gender == 0 %}女{% elif resident.gender == 1 %}男{% else %}未知{% endif %}</th>
                    <th>{{ resident.age }}</th>
                    <th>{% if resident.town %}{{ resident.town.name }}{% endif %}</th>
                    <th>{% if resident.village %}{{ resident.village.name }}{% endif %}</th>
                    <th>设定为高血压患者</th>
                </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}