{% load staticfiles %}

<div id="payment_town_toolbar">
    <table style="padding: 0 1px">
        <td width="10%" style="padding: 5px" align="right">起始时间：</td>
        <td width="15%"><input id="begin_date" /></td>
        <td width="10%" style="margin-left: 15px;" align="right">结束时间：</td>
        <td width="15%"><input id="end_date" /></td>
        <td width="10%"><a href="#" id="btn_query">查询</a></td>
        <td width="40%" align="right">
            <!--<a id="payment_town_excel" href="{% url 'management:payment_town_excel'%}">导出Excel</a>-->
            <a id="payment_town_excel">导出Excel</a>
        </td>
    </table>
</div>

<div id="payment_town_clinics">
    <div id="payment_town_clinics_datagrid"></div>
</div>
<script src='{% static "js/payment_town_clinics.js" %}'></script>
