<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>重性精神疾病患者个人信息补充表</title>
</head>
<body marginwidth="0" marginheight="0">
    <div id="table" style="width: 96%; margin-left: 2px; overflow: auto; float: left;">
        <meta http-equiv="content-type" content="text/html; charset=utf-8">
        <title>重性精神疾病患者个人信息补充表</title>
        <style>
            .title1 {
                font-size: 18px;
                font-weight: 600;
                text-align: center;
            }
            table {
                width: 725px;
                border-collapse: collapse;
            }
            td {
                border: 1px solid grey;
            }
        </style>
        <div style="padding: 10px;">
            <div class="title1">重性精神疾病患者个人信息补充表</div><br />
            <form id="psychiatric_basic" name="psychiatric_basic"
                    action="" method="post">
                <div>
                    <table style="font-size: 13px; line-height: 40px">
                        <tr>
                            <td colspan="5" width="70%" style="border: none">姓名：<input type="text"></td>
                            <td colspan="3" width="30%" style="border: none">编号：<input type="text"></td>
                        </tr>
                    </table>
                    <table style="font-size: 13px; line-height: 30px">
                        <tr>
                            <td colspan="2" align="center">监护人姓名</td>
                            <td width="25%" colspan="2">
                                <input type="text" name="gardian" id="gardian" data-options="required:true">
                            </td>
                            <td width="25%" colspan="2" align="center">与患者关系</td>
                            <td colspan="2">
                                <input type="text" name="gardian_relation" id="gardian" data-options="required:true">
                            </td>
                        </tr>
                        <tr>
                            <td colspan="2" align="center">监护人住址</td>
                            <td colspan="2">
                                <input type="text" name="gardian_address" id="gardian" data-options="required:true">
                            </td>
                            <td colspan="2" align="center">监护人电话</td>
                            <td colspan="2">
                                <input type="text" name="gardian_telephone" id="gardian" data-options="required:true">
                            </td>
                        </tr>
                        <tr>
                            <td colspan="2" width="25%" align="center">辖区村（居）委会联系人</td>
                            <td colspan="2" width="25%"><input type="text" name="manager_name" id="gardian" data-options="required:true"></td>
                            <td colspan="2" width="25%" align="center">辖区村（居）委会联系人电话</td>
                            <td colspan="2" width="25%"><input type="text" name="manager_telephone" id="gardian" data-options="required:true"></td>
                        </tr>
                        <tr>
                            <td width="25%" colspan="2" align="center">知情同意</td>
                            <td colspan="6">
                                <input type="radio" name="agreement" id="agreement">1 同意参加管理</input>&nbsp&nbsp
                                <input type="radio" name="agreement" id="agreement">0 不同意参加管理</input><br />
                                签字: <br />
                                签字时间
                                <input id="date" type="text" name="sign_year" style="width: 50px; text-align: right">年
                                <input id="date" type="text" name="sign_month" style="width: 30px; text-align: right">月
                                <input id="date" type="text" name="sign_day" style="width: 30px; text-align: right">日

                            </td>
                        </tr>
                        <tr>
                            <td width="25%" colspan="2" align="center">初次发病时间</td>
                            <td colspan="6">
                                <input id="date" type="text" name="sign_year" style="width: 50px; text-align: right">年
                                <input id="date" type="text" name="sign_month" style="width: 30px; text-align: right">月
                                <input id="date" type="text" name="sign_day" style="width: 30px; text-align: right">日
                            </td>
                        </tr>
                        <tr>
                            <td width="25%" colspan="2" align="center">既往主要症状</td>
                            <td colspan="6">
                                <input type="checkbox" name="symptom" id="symptom">1 幻觉</input>&nbsp&nbsp
                                <input type="checkbox" name="symptom" id="symptom">2 交流困难</input>&nbsp&nbsp
                                <input type="checkbox" name="symptom" id="symptom">3 猜疑</input>&nbsp&nbsp
                                <input type="checkbox" name="symptom" id="symptom">4 喜怒无常</input>&nbsp&nbsp
                                <input type="checkbox" name="symptom" id="symptom">5 行为怪异</input>&nbsp&nbsp
                                <input type="checkbox" name="symptom" id="symptom">6 兴奋话多</input>&nbsp&nbsp
                                <input type="checkbox" name="symptom" id="symptom">7 伤人毁物</input>&nbsp&nbsp
                                <input type="checkbox" name="symptom" id="symptom">8 悲观厌世</input>&nbsp&nbsp
                                <input type="checkbox" name="symptom" id="symptom">9 无故外走</input>&nbsp&nbsp
                                <input type="checkbox" name="symptom" id="symptom">10 自语自笑</input>&nbsp&nbsp
                                <input type="checkbox" name="symptom" id="symptom">11 孤僻懒散</input>&nbsp&nbsp
                                <input type="checkbox" name="symptom" id="symptom">12 其他</input>
                                <input type="text" name="manager_name" id="start_time"
                                       data-options="required:true" style="width: 50px">
                            </td>
                        </tr>
                        <tr>
                            <td rowspan="2" colspan="1" width="12.5%" align="center">既往治疗情况</td>
                            <td colspan="1" width="12.5%" align="center">门诊</td>
                            <td colspan="6">
                                <input type="radio" name="curation">1 未治</input>&nbsp&nbsp
                                <input type="radio" name="curation">2 间断门诊治疗</input>&nbsp&nbsp
                                <input type="radio" name="curation">3 连续门诊治疗</input><br />
                                首次抗精神病药物治疗时间
                                <input id="date" type="text" name="sign_year" style="width: 50px; text-align: right">年
                                <input id="date" type="text" name="sign_month" style="width: 30px; text-align: right">月
                                <input id="date" type="text" name="sign_day" style="width: 30px; text-align: right">日

                            </td>
                        </tr>
                        <tr>
                            <td colspan="1" align="center">住院</td>
                            <td colspan="6">
                                曾住精神病专科医院/综合医院精神科<input type="text" style="width: 30px; text-align: right">次
                            </td>
                        </tr>
                        <tr>
                            <td colspan="2" align="center">目前诊断情况</td>
                            <td colspan="6">
                                诊断<input type="text" align="center" style="width: 100px">
                                确诊医院<input type="text" align="center" style="width: 100px">
                                诊断日期
                                <input id="date" type="text" name="sign_year" style="width: 50px; text-align: right">年
                                <input id="date" type="text" name="sign_month" style="width: 30px; text-align: right">月
                                <input id="date" type="text" name="sign_day" style="width: 30px; text-align: right">日
                            </td>
                        </tr>
                        <tr>
                            <td colspan="2" align="center">最近一次治疗效果</td>
                            <td colspan="6">
                                <input type="radio">1 痊愈</input>&nbsp&nbsp
                                <input type="radio">2 好转</input>&nbsp&nbsp
                                <input type="radio">3 无变化</input>&nbsp&nbsp
                                <input type="radio">4 加重</input>
                            </td>
                        </tr>
                        <tr>
                            <td colspan="2" align="center">患病对家庭社会的影响</td>
                            <td colspan="6">
                                1 轻度滋事<input type="text" style="width: 30px; text-align: right">次&nbsp&nbsp
                                2 肇事<input type="text" style="width: 30px; text-align: right">次&nbsp&nbsp
                                3 肇祸<input type="text" style="width: 30px; text-align: right">次&nbsp&nbsp
                                4 自伤<input type="text" style="width: 30px; text-align: right">次&nbsp&nbsp
                                5 自杀未遂<input type="text" style="width: 30px; text-align: right">次&nbsp&nbsp
                                6 无
                            </td>
                        </tr>
                        <tr>
                            <td colspan="2" align="center">关锁情况</td>
                            <td colspan="6">
                                <input type="radio" name="guansuo">1 无关锁</input>&nbsp&nbsp
                                <input type="radio" name="guansuo">2 关锁</input>&nbsp&nbsp
                                <input type="radio" name="guansuo">3 关锁已解除</input>
                            </td>
                        </tr>
                        <tr>
                            <td colspan="2" align="center">经济状况</td>
                            <td colspan="6">
                                <input type="radio" name="econo">1 贫困，在当地贫困线标准以下</input>&nbsp&nbsp
                                <input type="radio" name="econo">2 非贫困</input>&nbsp&nbsp
                                <input type="radio" name="econo">3 不祥</input>
                            </td>
                        </tr>
                        <tr>
                            <td colspan="2" align="center">专科医生意见<br>（如果有请记录）</td>
                            <td colspan="6">
                                <textarea name="advice" rows="10" cols="70" style="border: none"></textarea>
                            </td>
                        </tr>
                        <tr>
                            <td colspan="2" align="center">填表日期</td>
                            <td colspan="2">
                                <input id="date" type="text" name="sign_year" style="width: 50px; text-align: right">年
                                <input id="date" type="text" name="sign_month" style="width: 30px; text-align: right">月
                                <input id="date" type="text" name="sign_day" style="width: 30px; text-align: right">日
                            </td>
                            <td colspan="2" align="center">医生签字</td>
                            <td colspan="2">
                                <input type="text">
                            </td>
                        </tr>
                    </table>
                </div>
            </form>
        </div>
    </div>
</body>
</html>