{% extends "health_base.html" %}
{% load staticfiles %}

{% block content %}
<div class="container">
	<div class="row">
		<div class="col-lg-3 col-md-3 col-sm-6 col-xs-12 darkgreen-bg left-container">
            {% block service_item_list %}{% endblock %}
		</div> <!-- left section -->
		<div class="col-lg-9 col-md-9 col-sm-6 col-xs-12 white-bg right-container">
			{% block service_header %}<h3 class="page-header">{{ resident.name }}--服务详情</h3>{% endblock %}
			{% block service_item_content %}
                {% for type in service_types_todo %}
                        <div class="row">
                            <div class="col-md-3">
                                <h4 class="page-header" style="color: green"><strong>{{ type.name }}</strong></h4>
                            </div>
                        </div>
                        {% for item in type.service_items.all %}
                            {% if item in service_items_finished %}
                                <p><div class="col-md-4">{{ item.name }}</div><div class="col-md-2"><span style="color: green;">已服务</span></div></p><br>
                            {% else %}
                                <p><div class="col-md-4">{{ item.name }}</div><div class="col-md-2"><span style="color: red;">未服务</span></div></p><br>
                            {% endif %}
                        {% endfor %}
                {% endfor %}
			{% endblock %}
		</div> <!-- right section -->
	</div>
        <div class="row">
            <hr style="color: green"/>
            <div class="col-md-4 col-md-offset-4" align="center">
                <a href="{% url 'services:service_grid' %}" class="btn btn-default">返回</a>
            </div>
        </div>
</div>
{% endblock %}