{% load staticfiles %}

<table id="hypertension_list"></table>

<div id="hypertension_toolbar" style="padding: 5px;">
    <div>
        <a href="#" id="remove">移除高血压人群</a>
    </div>
    <div style="margin: 5px 0 5px 4px">
        健康档案：<input id="query_ehr_no" />
        <span style="margin-left: 15px;">乡镇：</span><input id="query_town"/>
        <span style="margin-left: 15px;">村/街道：</span><input id="query_village" />
        <span style="margin-left: 15px;">姓名：</span><input id="query_name" />
        <span style="margin-left: 15px;">身份证号码：</span><input id="query_identity" style="margin-right: 15px" />
        <a href="#" id="query">查询</a>
    </div>
</div>

<script src='{% static "js/residents_hypertension.js" %}'></script>
