{% load staticfiles %}

<table id="resident_list"></table>

<div id="resident_toolbar" style="padding: 5px; display: none">
    <div>
        <a href="#" id="add">新增居民</a>
        <a href="#" id="edit">修改居民信息</a>
        <a href="#" id="remove">删除居民</a>
        <a href="#" id="save">保存</a>
        <a href="#" id="undo">取消</a>
        <a href="#" id="hypertension">加入高血压人群</a>
        <a href="#" id="diabetes">加入糖尿病人群</a>
        <a href="#" id="psychiatric">加入精神病人群</a>
        <a href="#" id="pregnant">加入孕产妇人群</a>
    </div>
    <div style="margin: 5px 0 5px 4px">
        <table>
            <tr>
                <td width="10%" align="right">健档状态：</td>
                <td width="15%" align="left"><input id="query_ehr_no" /></td>
                <td width="10%" align="right">卫生院：</td>
                <td width="15%" align="left"><input id="query_town_clinic"/></td>
                <td width="10%" align="right">姓名：</td>
                <td width="15%" align="left"><input id="query_name" /></td>
                <td width="25%"></td>
            </tr>
            <tr>
                <td width="10%" align="right">所属人群：</td>
                <td width="15%" align="left"><input id="query_crowd"/></td>
                <td align="right">卫生室：</td>
                <td align="left"><input id="query_village_clinic" /></td>
                <td align="right">身份证号码：</td>
                <td align="left"><input id="query_identity"/></td>
                <td align="center"><a href="#" id="query">查询</a></td>
            </tr>
        </table>
    </div>
</div>

<script src='{% static "js/residents.js" %}'></script>
