{% extends "management/admin_base.html" %}
{% load staticfiles %}

{% block admin_work %}
    <div class="row">
        {% if user.is_superuser %}
        <!--
        <a href="{% url 'management:service_type_add' %}"><h5 class="page-header" align="left">添加服务类别</h5></a>
        -->
        {% endif %}
        <h5 class="page-header" align="left">服务类别列表</h5>
        <div class="table-responsive">
            <table class="table table-striped" style="width: 900px; font-size: 13px">
                <thead>
                <tr>
                    <th>服务类别名称</th><th>应该权重</th><th>实际权重</th>
                    <!--
                    <th>创建者</th><th>创建时间</th>
                    <th>修改者</th><th>修改时间</th>
                    -->
                    <th>状态</th>
                    {% if user.is_superuser or user.userprofile.role.name == "全局管理员" %}
                    <th>操作</th>
                    {% endif %}
                </tr>
                </thead>
                <tbody>
                {% for service_type in service_types %}
                <tr>
                    <th>{{ service_type.name }}</th>
                    <th>{{ service_type.should_weight }}</th>
                    <th>{{ service_type.real_weight }}</th>
                    <!--
                    <th>{{ service_type.create_by.username }}</th>
                    <th>{{ service_type.create_time | date:"SHORT_DATE_FORMAT"}}  {{ service_type.create_time | time:"H:i"}}</th>
                    <th>{{ service_type.update_by.username }}</th>
                    <th>{{ service_type.update_time | date:"SHORT_DATE_FORMAT"}}  {{ service_type.update_time | time:"H:i"}}</th>
                    -->
                    <th>{% if service_type.enabled %}启用{% else %}禁用{% endif %}</th>
                    {% if user.is_superuser %}
                        <th><a href="/management/service_type/edit/{{ service_type.id }}/">修改</a>
                            <!--
                            |<a href="/management/service_type/del/{{ service_type.id }}/">删除</a>
                            -->
                        </th>
                    {% elif user.userprofile.role.name == "全局管理员" %}
                        <th><a href="/management/service_type/edit/{{ service_type.id }}/">修改</a></th>
                    {% else %}
                        <th></th>
                    {% endif %}
                </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}