{% extends "management/admin_base.html" %}
{% load staticfiles %}

{% block admin_work %}
    <div class="row" align="center" >
        <form class="form-inline" role="form" action="{% url 'management:service_item_new' %}" method="POST">
            {% csrf_token %}

            <div class="row" style="padding-top: 30px">
                <div class="col-md-6" align="right">
                    <div class="form-group">
                        <label for="name">服务项目名称:</label>
                    </div>
                </div>
                <div class="col-md-6" align="left">
                    <div class="form-group">
                        <input type="text" class="form-control" name="name" />
                    </div>
                </div>
            </div><!-- for row -->
            <div class="row" style="padding-top: 30px">
                <div class="col-md-6" align="right">
                    <div class="form-group">
                        <label for="unit">计价单位:</label>
                    </div>
                </div>
                <div class="col-md-6" align="left">
                    <div class="form-group">
                        <input type="text" class="form-control" name="unit"/>
                    </div>
                </div>
            </div><!-- for row -->
            <div class="row" style="padding-top: 30px">
                <div class="col-md-6" align="right">
                    <div class="form-group">
                        <label for="price">价格（元）:</label>
                    </div>
                </div>
                <div class="col-md-6" align="left">
                    <div class="form-group">
                        <input type="text" class="form-control" name="price"/>
                    </div>
                </div>
            </div><!-- for row -->
            <div class="row" style="padding-top: 30px">
                <div class="col-md-6" align="right">
                    <div class="form-group">
                        <label for="service_type">所属服务类别</label>
                    </div>
                </div>
                <div class="col-md-6" align="left">
                    <div class="form-group">
                        <select name="service_type" class="form-control">
                            <option value="0">请选择</option>
                            {% for service_type in service_types %}
                            <option value="{{ service_type.id }}">{{ service_type.name }}</option>
                            {% endfor %}
                        </select>
                    </div>
                </div>
            </div><!-- for row -->
            <div class="row" style="padding-top: 30px">
                <div class="col-md-6 col-md-offset-4">
                    <button type="submit" class="btn btn-default">提交</button>&nbsp;&nbsp;&nbsp;&nbsp;
                    <a href="{% url 'management:service_item_list' %}" class="btn btn-default">返回</a>
                </div>
            </div>
        </form>
    </div>
{% endblock %}