    <div class="row">
        <hr style="color: green"/>
        <div class="col-md-4 col-md-offset-4" align="center">
            <!--{% if user.userprofile.role.name == '卫生院管理员' %}
                <a href="{% url 'management:town_staff_statistics_records' %}" class="btn btn-default">返回</a>
            {% else %}
                <a href="{% url 'management:statistics_records' %}" class="btn btn-default">返回</a>
            {% endif %}-->
            {% if return_name == 'town_staff_statistics_records' %}
                <a href="/management/town_staff_statistics/records/" class="btn btn-default">返回</a>
            {% elif return_name == 'statistics_records' %}
                <a href="/management/statistics/records/" class="btn btn-default">返回</a>
            {% elif return_name == 'doctor_work_records' %}
                <a href="/management/doctor_work_records/{{ record.provider.id }}/" class="btn btn-default">返回</a>
            {% elif return_name == 'user_statistics_records' %}
                <a href="/management/user_statistics_records/" class="btn btn-default">返回</a>
            {% else %}
                <!--<a href="/management/resident_records/{{ doctor.id }}/{{ record.resident.id }}/" class="btn btn-default">返回</a>-->
                <a href="/management/resident_records/{{ return_name.id }}/{{ record.resident.id }}/" class="btn btn-default">返回</a>
            {% endif %}
        </div>
    </div>