<div class="form-group">
    <label class="col-md-3 control-label" for="service_type">服务类型:</label>
    <div class="col-md-3">
        <select class="form-control" id="service_type" name="service_type">
            <option value="0">全部</option>
            {% for the_service_type in service_types %}
                {% if the_service_type == service_type %}
                    <option value="{{ the_service_type.id }}" selected>{{ the_service_type.name }}</option>
                {% else %}
                    <option value="{{ the_service_type.id }}">{{ the_service_type.name }}</option>
                {% endif %}
            {% endfor %}
        </select>
    </div>
    <label class="col-md-3 control-label" for="service_item">服务项目:</label>
    <div class="col-md-3">
        <select class="form-control" id="service_item" name="service_item">
            <option value="0">全部</option>
        </select>
    </div>
    <script>
        $(document).ready(function() {
            if ($("select#service_type").val() != null && $("select#service_type").val() != '0'){
                    var url = "/management/service/" + $("select#service_type").val() + "/sms_items/";
                    $.getJSON(url, function(service_items) {
                        var options = '<option value="0">全部</option>';
                        for (var i = 0; i < service_items.length; i++) {
                            options += '<option value="' + service_items[i].pk + '">' + service_items[i].fields['name'] + '</option>';
                            if ($("select#service_item").val() == service_items[i].pk){
                                $("select#service_item").attr('selected', true);
                            }
                        }
                        $("select#service_item").html(options);
                        //$("select#service_item option:first").attr('selected', 'selected');
                        $("select#service_item").attr('disabled', false);
                    });
            }
            $("select#service_type").change(function() {
                if ($(this).val() == '0'){
                    $("select#service_item").html("<option>全部</option>");
                    $("select#service_item").attr('disabled', true);
                }
                else {
                    var url = "/management/service/" + $(this).val() + "/sms_items/";
                    $.getJSON(url, function(service_items) {
                        var options = '<option value="0">全部</option>';
                        for (var i = 0; i < service_items.length; i++) {
                            options += '<option value="' + service_items[i].pk + '">' + service_items[i].fields['name'] + '</option>';
                        }
                        $("select#service_item").html(options);
                        $("select#service_item option:first").attr('selected', 'selected');
                        $("select#service_item").attr('disabled', false);
                    });
                }
            });
        })
    </script>
</div>