{% extends "management/admin_base.html" %}
{% load staticfiles %}

{% block admin_work %}
    <div class="row" align="center" >
        <hr>{% if err_msg %}
        <h5 class="page-header" align="left">{{ err_msg }}</h5>
        {% endif %}
        <form class="form-inline" method="POST" action="{% url 'management:sms_time_add' %}">
            {% csrf_token %}
            <div class="row" style="padding-top: 50px">
                <div class="col-md-3" align="right">
                    <div class="form-group">
                        {% if form.service_type.errors %}
                        <span style="background: #ffff00"><label for="town">{{ form.service_type.label_tag }}</label></span>
                        {% else %}
                        <label for="service_type">{{ form.service_type.label_tag }}</label>
                        {% endif %}
                    </div>
                </div>
                <div class="col-md-3" align="left">
                    <div class="form-group">
                            {{ form.service_type }}
                    </div>
                </div>
            </div>
            <div class="row" style="padding-top: 50px">
                <div class="col-md-3" align="right">
                    <div class="form-group">
                        {% if form.service_item.errors %}
                        <span style="background: #ffff00"><label for="village">{{ form.service_item.label_tag }}</label></span>
                        {% else %}
                        <label for="service_item">{{ form.service_item.label_tag }}</label>
                        {% endif %}
                    </div>
                </div>
                <div class="col-md-3" align="left">
                    <div class="form-group">
                            {{ form.service_item }}
                    </div>
                </div>
                <script>
                $(document).ready(function() {
                    $("select[name='service_item']").attr('disabled', true);
                    $("select[name='service_type']").change(function() {
                        if ($(this).val() == ""){
                            $("select[name='service_item']").html("<option>请选择</option>");
                            $("select[name='service_item']").attr('disabled', true);
                        }
                        else {
                            var url = "/management/service/" + $(this).val() + "/sms_items/";
                            $.getJSON(url, function(service_items) {
                                var options = '<option value="0">请选择</option>';
                                for (var i = 0; i < service_items.length; i++) {
                                    options += '<option value="' + service_items[i].pk + '">' + service_items[i].fields['name'] + '</option>';
                                }
                                $("select[name='service_item']").html(options);
                                $("select[name='service_item'] option:first").attr('selected', 'selected');
                                $("select[name='service_item']").attr('disabled', false);
                            });
                        }
                    });
                })
                </script>
            </div><!-- for row -->
            <div class="row" style="padding-top: 50px">
                <div class="col-md-3" align="right">
                    <div class="form-group">
                        {% if form.service_time.errors %}
                        <span style="background: #ffff00"><label for="service_time">{{ form.service_time.label_tag }}</label></span>
                        {% else %}
                        <label for="address">{{ form.service_time.label_tag }}</label>
                        {% endif %}
                    </div>
                </div>
                <div class="col-md-5" align="left">
                    <div class="form-group">
                        <div class='input-group date' id='datepicker1'>
                            {{ form.service_time }}
                            <span class="input-group-addon">
                                <span class="glyphicon glyphicon-calendar"></span>
                            </span>
                        </div>
                    </div>
                </div>
                <script type="text/javascript">
                    $(function () {
                        $('#datepicker1').datepicker({
                            format: 'yyyy-mm-dd',
                            autoclose: true,
                            language: 'zh-CN',
                            todayHighlight: true,
                            orientation: 'top'
                        });
                    });
                </script>
            </div><!-- for row -->
            <div class="row" style="padding-top: 50px">
                <div class="col-md-6 col-md-offset-4">
                    <button type="submit" class="btn btn-default" align="left">提交</button>&nbsp;&nbsp;&nbsp;&nbsp;
                        <a href="{% url 'management:sms_time_list' %}" class="btn btn-default">返回</a>
                </div>
            </div>
        </form>
    </div>
{% endblock %}
