{% extends "management/admin_base.html" %}
{% load staticfiles %}

{% block admin_work %}
    <div class="row"><a href="{% url 'management:sms_time_add' %}">
        <h5 class="page-header" align="left">添加服务时间</h5></a>
        <form class="form-horizontal" role="form" method="POST" action="{% url 'management:sms_time_list' %}">
            {% csrf_token %}
            <!-- service type and item select -->
            {% include 'management/service_type_item_select_sms.html' %}
            <br>
            <div class="form-group" align="center">
                    <div class="col-md-3" align="right">
                        <label class="control-label">服务年份:</label>
                    </div>
                    <div class="col-md-3">
                        <div class='input-group date' id='datepicker1'>
                            <input type='text' class="form-control col-md-4" name="service_time_year"
                                   value="{{ service_time_year }}"/>
                            <span class="input-group-addon">
                                <span class="glyphicon glyphicon-calendar"></span>
                            </span>
                        </div>
                    </div>
                    <script type="text/javascript">
                        $(function () {
                            $('#datepicker1').datepicker({
                                format: 'yyyy',
                                //format: 'hh:ii',
                                autoclose: true,
                                language: 'zh-CN',
                                todayHighlight: true,
                                minViewMode: 2,
                                maxViewMode: 2,
                                //startView:2
                                orientation: 'top'
                            });
                        });
                    </script>
                    <label class="col-md-3 control-label" for="status">状态:</label>
                    <div class="col-md-3">
                        <select class="form-control" name="status">
                            {% if status != None %}
                                {% if status == 2 %}
                                <option value="2" selected>全部</option>
                                <option value="1">已完成</option>
                                <option value="0">未完成</option>
                                {% elif status == 1 %}
                                <option value="2">全部</option>
                                <option value="1" selected>已完成</option>
                                <option value="0">未完成</option>
                                {% else %}
                                <option value="2" >全部</option>
                                <option value="1">已完成</option>
                                <option value="0" selected>未完成</option>
                                {% endif %}
                            {% else %}
                                <option value="2" selected>全部</option>
                                <option value="1">已完成</option>
                                <option value="0">未完成</option>
                            {% endif %}
                        </select>
                   </div>
            </div>

            <div class="row" style="padding-top: 10px">
            <div class="col-md-12" align="right">
                <button type="submit" class="btn btn-default">查询</button>
            </div>
        </div>
        </form>
        <h5 class="page-header" align="left">短信发送时间{{ sms_time.count }}位:</h5>

            {% if err_msg %}
                <h5 class="page-header" align="left">{{ err_msg }}</h5>
            {% endif %}

        <div class="table-responsive">
            <table class="table table-striped" style="width: 900px; font-size: 13px">
                <thead>
                <tr>
                    <th>服务类别</th>
                    <th>服务项目</th>
                    <th>服务时间</th>
                    <th>状态</th>
                    <th>操作</th>
                </tr>
                </thead>
                <tbody>
                {% for the_sms_time in sms_time %}
                <tr>
                    <th>{{ the_sms_time.service_type.name }}</th>
                    <th>{{ the_sms_time.service_item.name }}</th>
                    <th>{{ the_sms_time.service_time | date:"Y-m-d"}}</th>
                    <th>{% if the_sms_time.status == 1 %}
                            已完成
                        {% else %}
                            未完成
                        {% endif %}
                    </th>
                    <th>
                        {% if the_sms_time.status == 0 %}
                        <a href="/management/sms_time/edit/{{ the_sms_time.id }}/">修改</a>|
                        {% endif %}
                        <a href="/management/sms_time/del/{{ the_sms_time.id }}/">删除</a>
                    </th>
                </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}