{% extends "management/admin_base.html" %}
{% load staticfiles %}

{% block admin_work %}
    <div class="row">
    <hr>
        <form class="form-horizontal" role="form" method="POST" action="{% url 'management:sms_list' %}">
            {% csrf_token %}
            <div class="form-group" align="center">
                <label class="col-md-3 control-label" for="mobile">手机号码:</label>
                <div class="col-md-3">
                    {% if mobile != None %}
                        <input class="form-control" type="text" name="mobile" value="{{ mobile }}"/>
                    {% else %}
                        <input class="form-control" type="text" name="mobile"/>
                    {% endif %}
                </div>
                <label class="col-md-3 control-label" for="name">姓名:</label>
                <div class="col-md-3">
                    {% if name != None %}
                        <input class="form-control" type="text" name="name" value="{{ name }}"/>
                    {% else %}
                        <input class="form-control" type="text" name="name"/>
                    {% endif %}
                </div>
            </div>

            <!-- service type and item select -->
            {% include 'management/service_type_item_select.html' %}

            <div class="form-group" align="center">
                <div class="col-md-3" align="right">
                    <label class="control-label">下次服务时间:</label>
                </div>
                <div class="col-md-3">
                    <div class='input-group date' id='datepicker1' data-date="{{ next_time_date | date:'Y-m-d' }}">
                        <input type='text' class="form-control col-md-4" name="next_time_date"
                               value="{{ next_time_date | date:'Y-m-d' }}"/>
                        <span class="input-group-addon">
                            <span class="glyphicon glyphicon-calendar"></span>
                        </span>
                    </div>
                </div>
                <script type="text/javascript">
                    $(function () {
                        $('#datepicker1').datepicker({
                            format: 'yyyy-mm-dd',
                            autoclose: true,
                            language: 'zh-CN',
                            todayHighlight: true
                        });
                    });
                </script>
                <label class="col-md-3 control-label" for="status">短信状态:</label>
                <div class="col-md-3">
                    <select class="form-control" name="status">
                        {% if status != None %}
                            {% if status == 2 %}
                            <option value="0">全部</option>
                            <option value="1">准备</option>
                            <option value="2" selected>成功</option>
                            <option value="-1">失败</option>
                            {% elif status == 1 %}
                            <option value="0">全部</option>
                            <option value="1" selected>准备</option>
                            <option value="2">成功</option>
                            <option value="-1">失败</option>
                            {% elif status == 0 %}
                            <option value="0" selected>全部</option>
                            <option value="1">准备</option>
                            <option value="2">成功</option>
                            <option value="-1">失败</option>
                            {% else %}
                            <option value="0">全部</option>
                            <option value="1">准备</option>
                            <option value="2">成功</option>
                            <option value="-1" selected>失败</option>
                            {% endif %}
                        {% else %}
                            <option value="0" selected>全部</option>
                            <option value="1">准备</option>
                            <option value="2">成功</option>
                            <option value="-1">失败</option>
                        {% endif %}
                    </select>
               </div>
            </div>

            <div class="row" style="padding-top: 10px">
                <div class="col-md-12" align="right">
                    <button type="submit" class="btn btn-default">查询</button>
                </div>
            </div>
        </form>
        <h5 class="page-header" align="left">短信发送列表，共有{{ sms.count }}个：</h5>
        {% if err_msg %}
        <h5 class="page-header" align="left">{{ err_msg }}</h5>
        {% endif %}
        <div class="table-responsive">
            <table class="table table-striped" style="width: 900px; font-size: 13px">
                <thead>
                <tr>
                    <th width="8%">手机号码</th>
                    <th width="8%">姓名</th>
                    <th width="15%">下次服务时间</th>
                    <th width="20%">服务类别</th>
                    <th width="20%">服务项目</th>
                    <th width="5%">状态</th>
                    <th width="34%">返回信息</th>
                </tr>
                </thead>
                <tbody>
                {% for the_sms in sms %}
                <tr>
                    <th>{{ the_sms.mobile }}</th>
                    <th>{{ the_sms.name }}</th>
                    <th>{{ the_sms.next_time_date | date:"Y年m月d日"}}</th>
                    <th>{{ the_sms.service_type_name }}</th>
                    <th>{{ the_sms.service_item_name }}</th>
                    <th>
                        {% if the_sms.status == 1 %}
                            准备
                        {% elif the_sms.status == 2 %}
                            成功
                        {% else %}
                            失败
                        {% endif %}
                    </th>
                    <th>
                        {% if the_sms.message != None %}
                        {{ the_sms.message }}
                        {% endif %}
                    </th>
                </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}