{% extends "management/admin_base.html" %}
{% load staticfiles %}

{% block admin_work %}
    <div class="row" align="center">
        <br><br><hr><br>
        <form class="form-inline" method="POST" role="form" action="{% url 'management:sms_time_update' %}">
            {% if err_msg %}
                <h5 class="page-header" align="left">{{ err_msg }}</h5>
            {% endif %}
            {% csrf_token %}
            <div class="row" style="padding-top: 50px">
                <div class="col-md-3" align="right">
                    <div class="form-group">
                        <label for="" class="" align="right">服务类别</label>
                    </div>
                </div>
                <div class="col-md-3" align="left">
                    <div class="form-group">
                            {{ sms_time.service_type.name }}
                            <input type="text" style="display: none;" name="sms_time_id" value="{{ sms_time.id }}">
                    </div>
                </div>
            </div>
            <div class="row" style="padding-top: 50px">
                <div class="col-md-3" align="right">
                    <div class="form-group">
                        <label for="" class="" align="right">服务项目</label>
                    </div>
                </div>
                <div class="col-md-3" align="left">
                    <div class="form-group">
                            {{ sms_time.service_item.name }}
                    </div>
                </div>
                <script>
                $(document).ready(function() {
                    $("select[name='service_item']").attr('disabled', true);
                    $("select[name='service_type']").change(function() {
                        if ($(this).val() == ""){
                            $("select[name='service_item']").html("<option>请选择</option>");
                            $("select[name='service_item']").attr('disabled', true);
                        }
                        else {
                            var url = "/management/service/" + $(this).val() + "/sms_items/";
                            $.getJSON(url, function(service_items) {
                                var options = '<option value="0">请选择</option>';
                                for (var i = 0; i < service_items.length; i++) {
                                    options += '<option value="' + service_items[i].pk + '">' + service_items[i].fields['name'] + '</option>';
                                }
                                $("select[name='service_item']").html(options);
                                $("select[name='service_item'] option:first").attr('selected', 'selected');
                                $("select[name='service_item']").attr('disabled', false);
                            });
                        }
                    });
                })
                </script>
            </div><!-- for row -->
            <div class="row" style="padding-top: 50px">
                <div class="col-md-3" align="right">
                    <div class="form-group">
                        <label for="" class="" align="right">下次服务时间</label>
                    </div>
                </div>
                <div class="col-md-5" align="left">
                    <div class="form-group">
                        <div class='input-group date' id='datepicker1' date-date="{{ sms_time.service_time | date:'Y-m-d'}}">
                            <input type="text" class="form-control col-md-4" name="service_time" value="{{ sms_time.service_time | date:'Y-m-d' }}">
                            <span class="input-group-addon">
                                <span class="glyphicon glyphicon-calendar"></span>
                            </span>
                        </div>
                    </div>
                </div>
                <script type="text/javascript">
                    $(function () {
                        $('#datepicker1').datepicker({
                            format: 'yyyy-mm-dd',
                            autoclose: true,
                            language: 'zh-CN',
                            todayHighlight: true
                        });
                    });
                </script>
            </div><!-- for row -->
            <div class="row" style="padding-top: 50px">
                <div class="col-md-6 col-md-offset-4">
                    <button type="submit" class="btn btn-default" align="left">提交</button>&nbsp;&nbsp;&nbsp;&nbsp;
                        <a href="{% url 'management:sms_time_list' %}" class="btn btn-default">返回</a>
                </div>
            </div>
        </form>
    </div>
{% endblock %}