{% extends "management/admin_base.html" %}
{% load staticfiles %}

{% block admin_work %}
    <div class="row">
        <form class="form-inline" role="form" method="POST" action="
            {% if user.userprofile.role.name != "卫生院管理员" %}
                {% url 'management:special_pregnant' %}
            {% else %}
                {% url 'management:town_staff_special_pregnant' %}
            {% endif %}">
            {% csrf_token %}
            <hr/>
            {% include 'management/special_query.html' %}
        </form>
        <hr/>
        <h5 class="page-header" align="left">孕产妇列表，
            <span style="color: red">{{ town.name }}{{ village.name }}</span>
            共有{{ residents.count }}名
            患者：</h5>
        {% if err_msg %}
        <h5 class="page-header" align="left">{{ err_msg }}</h5>
        {% endif %}
        <div class="table-responsive">
            <table class="table table-striped" style="width: 900px; font-size: 13px">
                <thead>
                <tr>
                    <th>序号</th>
                    <th>姓名</th>
                    <th>性别</th>
                    <th>年龄</th>
                    <th>所在乡镇</th>
                    <th>所在村庄/街道</th>
                </tr>
                </thead>
                <tbody>
                {% for resident in residents %}
                <tr>
                    <th>{{ forloop.counter }}</th>
                    <th>{{ resident.name }}</th>
                    <th>{% if resident.gender == 0 %}女{% elif resident.gender == 1 %}男{% else %}未知{% endif %}</th>
                    <th>{{ resident.age }}</th>
                    <th>{% if resident.town %}{{ resident.town.name }}{% endif %}</th>
                    <th>{% if resident.village %}{{ resident.village.name }}{% endif %}</th>
                </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}