{% extends "management/admin_base.html" %}
{% load staticfiles %}

{% block admin_work %}
<div class="row">
    <hr/>
    <form class="form-horizontal" role="form" method="POST" action="
        {% if user.userprofile.role.name != "卫生院管理员" %}
            {% url 'management:statistics_records' %}
         {% else %}
            {% url 'management:town_staff_statistics_records' %}
         {% endif %}">
        {% csrf_token %}
        <!-- data range select -->
        {% include 'management/date_range.html' %}
        <!-- service type and item select -->
        {% include 'management/service_type_item_select.html' %}
        <!-- town clinic and village clinic select -->
        {% include 'management/clinics_select.html' %}
        <!-- service provider select -->
        <div class="form-group">
            <label class="col-md-3 control-label" for="provider">医生姓名:</label>
            <div class="col-md-3">
                {% if provider != None %}
                    <input class="form-control" type="text" name="provider" value="{{ provider }}"/>
                {% else %}
                    <input class="form-control" type="text" name="provider"/>
                {% endif %}
            </div>
        </div>

        <div class="row" style="padding-top: 10px">
            <div class="col-md-12" align="right">
                <button type="submit" class="btn btn-default">查询</button>
            </div>
        </div>
    </form>
</div>
<div class="row">
    <h5 class="page-header" align="left">查询到服务记录{{ records | length }}个：</h5>
    {% if err_msg %}
    <h5 class="page-header" align="left">{{ err_msg }}</h5>
    {% endif %}
    <div class="table-responsive">
        <table class="table table-striped" style="width: 900px; font-size: 13px">
            <thead>
                <tr>
                    <th width="13%">机构名称</th>
                    <th width="10%">医生姓名</th>
                    <th width="8%">居民姓名</th>
                    <th width="19%">服务类别</th>
                    <th width="18%">服务项目</th>
                    <th width="17%">完成时间</th>
                    <th width="5%">状态</th>
                    <th width="5%">评价</th>
                    <th width="5%">详情</th>
                </tr>
            </thead>
            <tbody>
            {% for record in records %}
                <tr>
                    <th>{{ record.provider.userprofile.clinic.name }}</th>
                    <th>{{ record.provider.username }}</th>
                    <th>{% if record.resident.name == "没有人" %}{% else %}{{ record.resident.name }}{% endif %}</th>
                    <th>{{ record.service_item.service_type.name }}</th>
                    <th>{{ record.service_item.name }}</th>
                    <th>{{ record.submit_time | date:"Y年m月d日" }} {{ record.submit_time | time:"H:i"}}</th>
                    <th>{% if record.status == 1 %}  开始
                        {% elif record.status == 2 %}暂存
                        {% elif record.status == 3 %}完成
                        {% elif record.status == 4 %}支付完毕
                        {% else %}                   未知
                        {% endif %}
                    </th>
                    <th>{% if record.evaluation == 0 %}不满意
                        {% elif record.evaluation == 1 %}一般
                        {% elif record.evaluation == 2 %}满意
                        {% else %}                       未知
                        {% endif %}
                    </th>
                    <!--<th><a href="/management/service_details/{{ record.app_label }}/{{ record.model_name }}/{{ record.service_item_alias }}/{{ record.item_id }}/">详情</a></th>-->
                    <th>
                        {% if user.userprofile.role.name == '卫生院管理员' %}
                            <a href="/management/service_details/town_staff_statistics_records/{{ record.id }}/">详情</a>
                        {% else %}
                            <a href="/management/service_details/statistics_records/{{ record.id }}/">详情</a>
                        {% endif %}
                    </th>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
</div>
{% endblock %}