<div class="row" style="padding-top: 30px">
    <div class="col-md-6" align="right">
        <div class="form-group">
            <label for="town_clinic">所在乡镇卫生院:</label>
        </div>
    </div>
    {% if user.userprofile.role.name == "卫生院管理员" %}
    <div class="col-md-6" align="left">
        <div class="form-group">
            {{ town_clinic.name }}<input type="text" style="display: none;" name="town_clinic" value="{{ town_clinic.id }}"/>
        </div>
    </div>
    {% else %}
    <div class="col-md-6" align="left">
        <div class="form-group">
            <select class="form-control" id="town_clinic" name="town_clinic">
                <option value="0">请选择</option>
                {% for town_clinic in town_clinics %}
                    <option value="{{ town_clinic.id }}">{{ town_clinic.name }}</option>
                {% endfor %}
            </select>
        </div>
    </div>
    {% endif %}
</div>