{% load staticfiles %}

<!-- 数据表格 -->
<table id="user_list"></table>

<!-- 数据表格上方的工具条 -->
<div id="user_list_toolbar" style="padding: 5px; display: none;">
    <div>
        <a href="#" id="add">新增</a>
        <a href="#" id="remove">删除</a>
        <a href="#" style="display: none;" id="save">保存</a>
        <a href="#" style="display: none;" id="undo">取消</a>
    </div>
    <div style="margin: 5px 0 5px 4px">
        用户类别：<input id="query_user_group"/>
        <span style="margin-left: 15px;">所在卫生院：</span><input id="query_town_clinic"/>
        <span style="margin-left: 15px;">所在卫生室：</span><input id="query_village_clinic"/>
        <span style="margin-left: 15px;">用户名：</span><input id="query_name"/>
        <a href="#" id="query">查询</a>
    </div>
</div>

<!-- 添加用户对话框 -->
<div id="user_add_panel">
<form id="user_add_form" method="POST">
    <table id="user_add_table" style="display: none; padding: 5px 20px;">
        <tr>
            <td width="20%" align="right" style="padding: 10px 0;">用户名：</td>
            <td width="30%"><input name="username" id="username"/></td>
            <td width="20%" align="right">类别：</td>
            <td width="30%"><input name="user_group" id="user_group"/></td>
        </tr>
        <tr>
            <td width="20%" align="right">密码：</td>
            <td width="30%"><input name="password" type="password" id="pswd"/></td>
            <td width="20%" align="right">再输入一遍：</td>
            <td width="30%"><input name="password_again" type="password" id="pswd_again"/></td>
        </tr>
        <tr>
            <td width="20%" align="right" style="padding: 10px 0;">所在卫生院：</td>
            <td width="30%"><input name="town_clinic" id="town_clinic"/></td>
            <td width="20%" align="right">所在卫生室：</td>
            <td width="30%"><input name="village_clinic" id="village_clinic"/></td>
        </tr>
        <tr>
            <td width="20%" align="right" style="padding-bottom: 10px;">科室：</td>
            <td width="30%"><input name="department" id="department"/></td>
            <td width="20%" align="right">职务：</td>
            <td width="30%"><input name="position" id="position" /></td>
        </tr>
    </table>
</form>
</div>

<script src='{% static "js/users.js" %}'></script>
