{% extends "management/admin_base.html" %}
{% load staticfiles %}

{% block admin_work %}
    <div class="row">
        <a href="
       {% if user.userprofile.role.name == "卫生院管理员" %}
          {% url 'management:town_staff_user_add' %}
       {% else %}
          {% url 'management:user_add' %}
       {% endif %}">
        <h5 class="page-header" align="left">添加用户</h5></a>
        <h5 class="page-header" align="left">用户列表</h5>
        {% if err_msg %}
        <h5 class="page-header" align="left">{{ err_msg }}</h5>
        {% endif %}

        <div class="table-responsive">
            <table class="table table-striped" style="width: 900px; font-size: 13px">
                <thead>
                    <tr>
                        <th>用户姓名</th><th>用户角色</th><th>所在卫生院</th><th>所在卫生室</th>
                        <th>科室</th><th>职务</th><th>可用状态</th><th>操作</th>
                    </tr>
                </thead>
                <tbody>
                {% for the_user in users %}
                    {% if not user.is_superuser and the_user.is_superuser %}
                    {% else %}
                <tr>
                    <th>{{ the_user.username }}</th>
                    <th>
                        {% if the_user.is_superuser %}
                        超级管理员
                        {% else %}
                            {{ the_user.userprofile.role.name }}
                        {% endif %}
                    </th>
                    <th>
                        {% if the_user.userprofile.clinic.level == 2 %}
                            {{ the_user.userprofile.clinic.name }}
                        {% else %}
                            {{ the_user.userprofile.clinic.town_clinic.name }}
                        {% endif %}
                    </th>
                    <th>
                        {% if the_user.userprofile.clinic.level == 1 %}
                            {{ the_user.userprofile.clinic.name }}
                        {% endif %}
                    </th>
                    <th>
                        {% if  the_user.userprofile.department %}
                        {{ the_user.userprofile.department }}
                        {% endif %}
                    </th>
                    <th>
                        {% if the_user.userprofile.position %}
                        {{ the_user.userprofile.position }}
                        {% endif %}
                    </th>
                    <th>{% if the_user.is_active or the_user.userprofile.enabled %}可用{% else %}禁用{% endif %}</th>
                    <th>
                        {% if user.is_superuser or not the_user.is_superuser and user.is_staff > the_user.is_staff %}
                            <a href="/management/user/authorize/{{ the_user.id }}/">授权</a>
                            {% if user.userprofile.role.name == "卫生院管理员" %}
                                |<a href="/management/town_staff_user/edit/{{ the_user.id }}/">修改</a>
                            {% else %}
                                |<a href="/management/user/edit/{{ the_user.id }}/">修改</a>
                            {% endif %}
                            |<a href="/management/user/del/{{ the_user.id }}/">删除</a>
                        {% elif user.userprofile.role.name == "卫生院管理员" %}
                            <a href="/management/town_staff_user/edit/{{ the_user.id }}/">修改</a>
                            |<a href="/management/user/del/{{ the_user.id }}/">删除</a>
                        {% else %}
                            <a href="/management/user/edit/{{ the_user.id }}/">修改</a>
                            |<a href="/management/user/del/{{ the_user.id }}/">删除</a>
                        {% endif %}
                    </th>
                </tr>
                    {% endif %}
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}
