{% extends "health_base.html" %}
{% load staticfiles %}


{% block content %}
    <!--<div class="container">
        <div class="row placeholders">

                <div class="col-xs-6 col-sm-3 col-md-3 placeholder" style="padding-top: 10px">

                    <a href="/management/user_profile/" type="button" class="btn health-color">
                        <img src="{% static 'image/user_profile.jpg' %}" class="img-responsive"
                             style="height: 150px; width: 150px" alt="用户基本信息">
                    </a>

                </div>

                <div class="col-xs-6 col-sm-3 col-md-3 placeholder" style="padding-top: 10px">

                    <a href="/management/user_password/" type="button" class="btn health-color">
                    <img src="{% static 'image/user_password.jpg' %}" class="img-responsive"
                             style="height: 150px; width: 150px" alt="修改用户密码">
                    </a>

                </div>

        </div>
    </div>-->
			<div class="container">
				<div class="row">
					<div class="col-md-12" style="padding-top: 200px">
                            <div class="col-md-3">
                                <div class="row">
                                    <div class="col-md-10 col-md-offset-1">
                                        <button type="button" class="btn btn-lg btn-success butt health-color" onclick="window.location.href='{% url 'management:user_profile' %}'"><span class="ButtonWord">用户基本信息</span></button>
                                    </div>
                                </div>
                            </div>

                            <div class="col-md-3 ">
                                <div class="row">
                                    <div class="col-md-10 col-md-offset-1">
                                        <button type="button" class="btn btn-lg btn-success butt health-color" onclick="window.location.href='{% url 'management:user_password' %}'"><span class="ButtonWord">修改用户密码</span></button>
                                    </div>
                                </div>
                            </div>

                            <div class="col-md-3">
                                <div class="row">
                                    <div class="col-md-10 col-md-offset-1">
                                        <button type="button" class="btn btn-lg btn-success butt health-color" onclick="window.location.href='{% url 'management:user_authorized_list' %}'"><span class="ButtonWord">用户权限信息</span></button>
                                    </div>
                                </div>
                            </div>

                            <div class="col-md-3">
                                <div class="row">
                                    <div class="col-md-10 col-md-offset-1">
                                        <button type="button" class="btn btn-lg btn-success butt health-color" onclick="window.location.href='{% url 'management:user_statistics_records' %}'"><span class="ButtonWord">工作量统计</span></button>
                                    </div>
                                </div>
                            </div>
					</div>
                </div>
			</div>
{% endblock content %}