{% extends "management/admin_base.html" %}
{% load staticfiles %}

{% block admin_work %}
    <div class="row">
        <hr/>
        <form class="form-horizontal" role="form" method="POST" action="{% url 'management:village_clinics_statement' town_clinic.id %}">
            {% csrf_token %}
            <!-- data range select -->
            {% include 'management/date_range.html' %}

            <div class="row" style="padding-top: 10px">
                <div class="col-md-12" align="right">
                    <button type="submit" class="btn btn-default">查询</button>
                </div>
            </div>
        </form>
    </div>
    <div class="row">
        <h3 class="page-header" align="left"><b>{{ town_clinic.name }}</b>及其下属村卫生室</h3>
        {% if err_msg %}
        <h5 class="page-header" align="left">{{ err_msg }}</h5>
        {% endif %}
        <div class="table-responsive">
            <table class="table table-striped">
                <thead>
                    <tr><th>服务类别</th><th>工作量数</th><th>应得金额</th></tr>
                </thead>
                <tbody>
                {% for item in payment_list %}
                    <tr>
                        <th>{{ item.item.name }}</th>
                        <th>{{ item.records_count }}</th>
                        <th>{{ item.payments }}</th>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
        <br>
        <div class="table-responsive">
            <table class="table table-striped">
                <thead>
                    <tr><th>卫生院/卫生室</th><th>工作量数</th><th>应得金额</th></tr>
                </thead>
                <tbody>
                {% for item in payment_grid %}
                    <tr>
                        <th><a href="/management/doctors_statement/{{ item.item.id }}/">{{ item.item.name }}</a></th>
                        <th>{{ item.records_count }}</th>
                        <th>{{ item.payments }}</th>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
        <div class="row">
            <hr style="color: green"/>
            <div class="col-md-4 col-md-offset-4" align="center">
                <a href="{% url 'management:town_clinics_statement' %}" class="btn btn-default">返回</a>
            </div>
        </div>
    </div>
{% endblock %}