{% extends 'education/activity_table.html' %}

{% block act_time %}{{ form.act_time | date:"Y-m-d H:i"}}{% endblock %}
{% block scene %}{{ form.scene }}{% endblock %}
{% block act_type %}{{ form.act_type }}{% endblock %}
{% block subject %}{{ form.subject }}{% endblock %}
{% block organizer %}{{ form.organizer }}{% endblock %}
{% block crowd_type %}{{ form.crowd_type }}{% endblock %}
{% block crowd_num %}{{ form.crowd_num }}{% endblock %}
{% block material_type %}{{ form.material_type }}{% endblock %}
{% block material_num %}{{ form.material_num }}{% endblock %}
{% block content %}{{ form.content }}{% endblock %}
{% block summary %}{{ form.summary }}{% endblock %}
{% block photo %} <a href="{{ MEDIA_URL }}{{ form.photo }}" target="_blank"><img src="{{ MEDIA_URL }}{{ form.photo }}" alt="{{ form.photo.name }}" onload="AutoResizeImage(600,600,this)"></a> {% endblock %}

{% block table_neck %}
    <script type="text/javascript">
        function AutoResizeImage(maxWidth,maxHeight,objImg){
            var img = new Image();
            img.src = objImg.src;
            var hRatio;
            var wRatio;
            var Ratio = 1;
            var w = img.width;
            var h = img.height;
            wRatio = maxWidth / w;
            hRatio = maxHeight / h;
            if (maxWidth ==0 && maxHeight==0){
                Ratio = 1;
            }else if (maxWidth==0){
                if (hRatio<1)
                   Ratio = hRatio;
            }else if (maxHeight==0){
                if (wRatio<1)
                    Ratio = wRatio;
            }else if (wRatio<1 | hRatio<1){
                Ratio = (wRatio<=hRatio?wRatio:hRatio);
            }

            if (Ratio<1){
                  w = w * Ratio;
                  h = h * Ratio;
            }
            objImg.height = h;
            objImg.width = w;
        }
    </script>
{% endblock %}