{% extends 'education/activity_table.html' %}

{% block act_time %}{{ form.act_time | date:"Y-m-d H:i"}}{% endblock %}
{% block scene %}{{ form.scene }}{% endblock %}
{% block act_type %}{{ form.act_type }}{% endblock %}
{% block subject %}{{ form.subject }}{% endblock %}
{% block organizer %}{{ form.organizer }}{% endblock %}
{% block crowd_type %}{{ form.crowd_type }}{% endblock %}
{% block crowd_num %}{{ form.crowd_num }}{% endblock %}
{% block material_type %}{{ form.material_type }}{% endblock %}
{% block material_num %}{{ form.material_num }}{% endblock %}
{% block content %}{{ form.content }}{% endblock %}
{% block summary %}{{ form.summary }}{% endblock %}
{% block photo %}{% endblock %}