{% extends "table_base.html" %}

{% block table_title %}健康教育活动登记表{% endblock %}

{% block table_neck %}{% endblock %}

{% block table_content %}
    <tr>
        <td colspan="8" style="width: 370px;"><label for="act_time">活动时间：</label>
            {% block act_time %}<input id="act_time" name="act_time"/>{% endblock %}
        </td>
        <td colspan="8" style="width: 370px;"><label for="scene">活动地点：</label>
            {% block scene %}<input id="scene" name="scene"/>{% endblock %}
        </td>
    </tr>
    <tr>
        <td colspan="16"><label for="act_type">活动形式：</label>
            {% block act_type %}<input id="act_type" name="act_type" />{% endblock %}
        </td>
    </tr>
    <tr>
        <td colspan="16"><label for="subject">活动主题：</label>
            {% block subject %}<input id="subject" name="subject"/>{% endblock %}
        </td>
    </tr>
    <tr>
        <td colspan="16"><label for="organizer">组 织 者  ：</label>
            {% block organizer %}<input id="organizer" name="organizer" />{% endblock %}
        </td>
    </tr>
    <tr>
        <td colspan="8" style="width: 370px;"><label for="crowd_type">接受健康教育人员类别：</label>
            {% block crowd_type %}<input id="crowd_type" name="crowd_type" />{% endblock %}
        </td>
        <td colspan="8" style="width: 370px;"><label for="crowd_num">接受健康教育人数：</label>
            {% block crowd_num %}<input id="crowd_num" name="crowd_num"/>{% endblock %}
        </td>
    </tr>
    <tr>
        <td colspan="8" style="width: 370px;"><label for="material_type">健康教育资料发放种类：</label>
            {% block material_type %}<input id="material_type" name="material_type" />{% endblock %}
        </td>
        <td colspan="8" style="width: 370px;"><label for="material_num">数量：</label>
            {% block material_num %}<input id="material_num" name="material_num" />{% endblock %}
        </td>
    </tr>
    <tr>
        <td colspan="3" style="border-right-color: #ffffff;">
            <label for="content" style="width: 100px;">活动内容：</label></td>
        <td colspan="13" >{% block content %}
            <textarea rows="5" cols="77" id="content" name="content" style="border: solid 1px #dbdbdb"></textarea>
        {% endblock %}</td>
    </tr>
    <tr>
        <td colspan="3" style="border-right-color: #ffffff;">
            <label for="summary">活动总结评价：</label></td>
        <td colspan="13">{% block summary %}
            <textarea rows="5" cols="77" id="summary" name="summary" style="border: solid 1px #dbdbdb"></textarea>
        {% endblock %}</td>
    </tr>
    <tr>
        <td colspan="3" style="border-right-color: #ffffff;">
            <label for="photo">存档材料附后：</label></td>
        <td colspan="13">{% block photo %}<input id="photo" name="photo" />{% endblock %}</td>
    </tr>
{% endblock %}
