{% extends "table_base.html" %}

{% block table_title %}
    健康康教育活动记录表
{% endblock %}

{% block table_neck %}
{% endblock %}

{% block table_content %}
    <tr>
        <td width="50%" colspan="4">
            活动时间：{% block date %}{% endblock %}
        </td>
        <td colspan="4">
            活动地点：{% block place %}{% endblock %}
        </td>
    </tr>
    <tr>
        <td colspan="8">
            活动形式：{% block way_name %}{% endblock %}<br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{% block way %}{% endblock %}
        </td>
    </tr>
    <tr>
        <td colspan="8">
            活动主题：{% block topic %}{% endblock %}
        </td>
    </tr>
    <tr>
        <td colspan="8">
            组织者：{% block principal %}{% endblock %}
        </td>
    </tr>
    <tr>
        <td width="50%" colspan="4">
            接受健康教育人员类别：{% block audience %}{% endblock %}
        </td>
        <td colspan="4">
            接受健康教育人数：{% block people_number %}{% endblock %}
        </td>
    </tr>
    <tr>
        <td colspan="8">
            健康教育资料发放种类及数量：{% block material %}{% endblock %}&nbsp;&nbsp;&nbsp;&nbsp;{% block count %}{% endblock %}
        </td>
    </tr>
    <tr>
        <td colspan="8">
            活动内容：{% block content %}{% endblock %}
        </td>
    </tr>
    <tr>
        <td colspan="8">
            活动总结评价：{% block evaluation %}{% endblock %}
        </td>
    </tr>
    <tr>
        <td colspan="8">
            存档材料请附后<br>{% block upload %}{% endblock %}
        </td>
    </tr>
{% endblock %}