{% extends 'education/education_record_base.html' %}

{% block date %}{{ form.date.data }}{% endblock %}

{% block place %}{{ form.place.data }}{% endblock %}

{% block way_name %}{{ service_item.name }}{% endblock %}

{% block way %}{{ form.way.data }}{% endblock %}

{% block topic %}{{ form.topic.data }}{% endblock %}

{% block principal %}{{ form.principal.data }}{% endblock %}

{% block audience %}{{ form.audience.data }}{% endblock %}

{% block people_number %}{{ form.people_number.data }}{% endblock %}

{% block material %}{{ form.material.data }}{% endblock %}

{% block count %}{{ form.count.data }}{% endblock %}

{% block content %}{{ form.content.data }}{% endblock %}

{% block evaluation %}{{ form.evaluation.data }}{% endblock %}

{% block upload %}
   <a href="{{ MEDIA_URL }}{{ form.upload.data }}" target="_blank"><img src="{{ MEDIA_URL }}{{ form.upload.data }}" alt="{{ form.upload.data }}"></a>
{% endblock %}