{% extends 'services/index.html' %}
{% load staticfiles %}

{% block service_item_content %}

    <div id="table" style="margin-left: 15px; overflow: auto; float: left;
            z-index: 999999999999; width: 720px; padding-left: 40px">
        <div id="printArea">
            <!--printStart-->
            {% block table_preview %}{% endblock %}
            <!--printEnd-->
        </div>
        <form action="" method="post">
            {% csrf_token %}
            {% for field in form %}{{ field.as_hidden }}
            {% endfor %}
            <input type="hidden" name="{{ stage_field }}" value="2" />
            <input type="hidden" name="{{ hash_field }}" value="{{ hash_value }}" />
            <p style="text-align: right; padding-top: 20px; padding-right: 50px">
                <!--
                <a href="#" class="easyui-linkbutton" data-options="iconCls:'icon-print'"
                   style="width:80px" onclick="print_table()">打印</a>
                <input class="easyui-linkbutton" type="submit" value="提交" style="width: 80px"/>
                -->
                <button type="button" class="btn btn-warning" style="margin-right: 30px" onclick="print_table()">
                    <span class="glyphicon glyphicon-print" style="padding-right: 5px"></span>打印
                </button>
                <button type="submit" class="btn btn-success">
                    <span class="glyphicon glyphicon-ok" style="padding-right: 5px"></span>提交
                </button>
            </p>
        </form>
    </div>

{% endblock %}