{% extends 'base.html' %}
{% load staticfiles %}

{% block content%}
<div class="container">

   <h1>Hello, world!</h1>

   <div class="row">

      <div class="col-md-3">
         <h4>第一列</h4>
         <p>Lorem ipsum dolor sit amet, consectetur
          as;djf asd jf;  asj df;aj sdf; ajsd f;la jsd; lfjas
          ;ldf jas ;ldj f;al sdjf; lasjd f;la sjdf ;lasjdf;
          lajsdf;lajsdf;lajsd;fljas;dlfjas;ldfja;lsd
          jf;lasdjf;lasjdf;lasdjf;alsdjf;lasdjf;lasj
          df;lasjdf;lajsdf;lajsdf;lajsdf;lajsdf;lajs
          df;lajsdf;lajsdfadipisicing elit.</p>
      </div>

      <div class="col-md-9">
         <h4>第二列 - 分为四个盒子</h4>
         <div class="row">
            <div class="col-md-6">
               <p>Consectetur art party Tonx culpa semiotics. Pinterest 
                  assumenda minim organic quis.
               </p>
            </div>
            <div class="col-md-6">
               <p> sed do eiusmod tempor incididunt ut labore et dolore magna 
                  aliqua. Ut enim ad minim veniam, quis nostrud exercitation 
                  ullamco laboris nisi ut aliquip ex ea commodo consequat.
               </p>
            </div>
         </div>

         <div class="row">
            <div class="col-md-6">
               <p>quis nostrud exercitation ullamco laboris nisi ut 
                  aliquip ex ea commodo consequat.
               </p>
            </div>   
            <div class="col-md-6">
               <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sfsdf sdf dfasdf d sdf d asdf asdf asdf ad asdf sdf asdf asdf asdf asdf asdf asdf asdf asdf 
                  sed do eiusmod tempor incididunt ut labore et dolore magna 
                  aliqua. Ut enim ad minim.</p>
            </div>
         </div>
      </div>
   </div><!-- row -->

    <div class="row">
        <div class='col-md-8 col-md-offset-3'>
            <form class="form-horizontal">
                <div class="form-group">
                    <div class="row">
                    <div class="col-md-4">
                        <label class="control-label" for="datepicker1">开始日期:</label>
                    </div>
                    <div class="col-md-4">
                    <div class='input-group date' id='datepicker1' data-date="2015-01-01">
                        <input type='text' class="form-control" name="start_date">
                        <span class="input-group-addon">
                            <span class="glyphicon glyphicon-calendar"></span>
                        </span>
                    </div>
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label">截止日期:</label>
                    <div class='input-group date' id='datepicker2'>
                        <input type='text' class="form-control" name="end_date">
                        <span class="input-group-addon">
                            <span class="glyphicon glyphicon-calendar"></span>
                        </span>
                    </div>
                </div>
            </form>
            <script type="text/javascript">
                $(function () {
                    $('#datepicker1').datepicker({
                        format: 'yyyy-mm-dd',
                        autoclose: true,
                        language: 'zh-CN',
                        todayHighlight: true
                    });
                    $('#datepicker2').datepicker({
                        format: 'yyyy-mm-dd',
                        autoclose: true,
                        language: 'zh-CN',
                        todayHighlight: true
                    });
                });
            </script>
        </div>
    </div>

    {% include 'management/date_range.html' %}

   <hr/>
   <hr/>
    <form action="#" method="POST">
        <div class="row">
            <div class="col-md-4">
                {{ form.name.label_tag }}
            </div>
            <div class="col-md-8">
                {{ form.name }}
            </div>
        </div>
        <div class="row">
            <div class="col-md-4">
                {{ form.gender.label_tag }}
            </div>
            <div class="col-md-8">
                {% for item in form.gender %}
                    {% if forloop.counter > 1 %}
                        {{ item }}
                    {% endif %}
                {% endfor %}
            </div>
        </div>
        <div class="row">
            <div class="col-md-4">
                {{ form.birthday.label_tag }}
            </div>
            <div class="col-md-8">
                {{ form.birthday }}
            </div>
        </div>
        <div class="row">
            <div class="col-md-4">
                {{ form.nation.label_tag }}
            </div>
            <div class="col-md-8">
                {{ form.nation }}
            </div>
        </div>
        <div class="row">
            <div class="col-md-4">
                {{ form.identity.label_tag }}
            </div>
            <div class="col-md-8">
                {{ form.identity }}
            </div>
        </div>
        <div class="row">
            <div class="col-md-4">
                {{ form.mobile.label_tag }}
            </div>
            <div class="col-md-8">
                {{ form.mobile }}
            </div>
        </div>
        <div class="row">
            <div class="col-md-4">
                {{ form.email.label_tag }}
            </div>
            <div class="col-md-8">
                {{ form.email }}
            </div>
        </div>
        <div class="row">
            <div class="col-md-4">
                {{ form.address.label_tag }}
            </div>
            <div class="col-md-8">
                {{ form.address }}
            </div>
        </div>
        <div class="row">
            <div class="col-md-4">
                {{ form.town.label_tag }}
            </div>
            <div class="col-md-8">
                {{ form.town }}
            </div>
        </div>
        <div class="row">
            <div class="col-md-4">
                {{ form.village.label_tag }}
            </div>
            <div class="col-md-8">
                {{ form.village }}
            </div>
        </div>
        <script>
            $(document).ready(function() {
                $("select[name='village']").attr('disabled', true);
                $("select[name='town']").change(function() {
                    if ($(this).val() == ""){
                        $("select[name='village']").html("<option>请选择</option>");
                        $("select[name='village']").attr('disabled', true);
                    }
                    else {
                        var url = "/management/town/" + $(this).val() + "/villages/";
                        $.getJSON(url, function(villages) {
                            var options = '<option value="0">请选择</option>';
                            for (var i = 0; i < villages.length; i++) {
                                options += '<option value="' + villages[i].pk + '">' + villages[i].fields['name'] + '</option>';
                            }
                            $("select[name='village']").html(options);
                            $("select[name='village'] option:first").attr('selected', 'selected');
                            $("select[name='village']").attr('disabled', false);
                        });
                    }
                });
            })
        </script>
    </form>

    <form action="" method="post">
        <table>
            {{ form.as_table }}
            <input type="submit" value="Submit">
        </table>
    </form>

   <!-- Button trigger modal -->
    <button type="button" class="btn btn-primary btn-lg" data-toggle="modal" data-target="#myModal">
      弹出对话框
    </button>

    <div class="modal" id="myModal">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h4 class="modal-title">请选择接受服务的对象</h4>
          </div>
          <div class="modal-body">
            <form method="POST" action="/test/">
              <input type="radio" name="service_object" value="0" checked/>父亲<br/>
              <input type="radio" name="service_object" value="1" />儿子
            </form>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
            <button type="submit" class="btn btn-primary">完成</button>
          </div>
        </div><!-- /.modal-content -->
      </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->


</div><!-- container -->
{% endblock %}