        <div class="row" style="padding-top: 4px">
	        <div class="col-md-2" align="right">
	        	{% if form.visit_date.errors %}
                    <span style="background: #ffff00">{{ form.visit_date.label_tag }}</span>
                {% else %}
                    {{ form.visit_date.label_tag }}
                {% endif %}
	        </div>
	        <div class="col-md-4">
	        	<!--{{ form.visit_date }}&nbsp;&nbsp;{{ form.visit_date.errors}}-->
                {{ visit_date }}
                <input type="text" style="display:none;" value="{{ visit_date }}" name="visit_date"/>
	        </div>
        </div>
        <div class="row" style="padding-top: 4px">
            <div class="col-md-2" align="right">
                {% if form.dangerousness.errors %}
                    <span style="background: #ffff00">{{ form.dangerousness.label_tag }}</span>
                {% else %}
                    {{ form.dangerousness.label_tag }}
                {% endif %}
            </div>
            <div class="col-md-9">
                {% for item in form.dangerousness %}
                    {% if forloop.counter > 1 and forloop.counter < 8 %}
                        <div class ="col-md-2">{{ item }}</div>
                    {% endif %}
                {% endfor %}
            </div>
        </div>
        <div class="row" style="padding-top: 4px">
	        <div class="col-md-2" align="right">
	        	{% if form.now_symptom.errors or form.now_symptom_extra.errors%}
                    <span style="background: #ffff00">{{ form.now_symptom.label_tag }}</span>
                {% else %}
                    {{ form.now_symptom.label_tag }}
                {% endif %}
	        </div>
	        <div class="col-md-9">
                {% for item in form.now_symptom %}
                    {% if forloop.counter > 0 and forloop.counter < 12 %}
                        <div class ="col-md-3">{{ item }}</div>
                    {% elif forloop.counter == 12 %}
                        <div class ="col-md-6">{{ item }}&nbsp;&nbsp;{{ form.now_symptom_extra }}</div>
                    {% endif %}
                {% endfor %}
	        </div>
        </div>
        <div class="row" style="padding-top: 4px">
            <div class="col-md-2" align="right">
                {% if form.insight.errors %}
                    <span style="background: #ffff00">{{ form.insight.label_tag }}</span>
                {% else %}
                    {{ form.insight.label_tag }}
                {% endif %}
            </div>
            <div class="col-md-6">
                {% for item in form.insight %}
                    {% if forloop.counter > 1 and forloop.counter < 5 %}
                        <div class ="col-md-4">{{ item }}</div>
                    {% endif %}
                {% endfor %}
            </div>
        </div>
        <div class="row" style="padding-top: 4px">
            <div class="col-md-2" align="right">
                {% if form.sleep_situation.errors or form.sleep_situation.errors%}
                    <span style="background: #ffff00">{{ form.sleep_situation.label_tag }}</span>
                {% else %}
                    {{ form.sleep_situation.label_tag }}
                {% endif %}
            </div>
            <div class="col-md-6">
                {% for item in form.sleep_situation %}
                    {% if forloop.counter > 1 and forloop.counter < 5 %}
                        <div class ="col-md-3">{{ item }}</div>
                    {% endif %}
                {% endfor %}
            </div>
        </div>
        <div class="row" style="padding-top: 4px">
            <div class="col-md-2" align="right">
                {% if form.diet_situation.errors %}
                    <span style="background: #ffff00">{{ form.diet_situation.label_tag }}</span>
                {% else %}
                    {{ form.diet_situation.label_tag }}
                {% endif %}
            </div>
            <div class="col-md-6">
                {% for item in form.diet_situation %}
                    {% if forloop.counter > 1 and forloop.counter < 5 %}
                        <div class ="col-md-3">{{ item }}</div>
                    {% endif %}
                {% endfor %}
            </div>
        </div>
        <div class="row">
	    	<div class="col-md-3">
		    	<h4 class="page-header" style="color: green"><strong>社会功能情况</strong></h4>
	    	</div>
    	</div>
        <div class="row" style="padding-top: 4px">
            <div class="col-md-2" align="right">
                {% if form.society_function_individual_life_care.errors %}
                    <span style="background: #ffff00">{{ form.society_function_individual_life_care.label_tag }}</span>
                {% else %}
                    {{ form.society_function_individual_life_care.label_tag }}
                {% endif %}
            </div>
            <div class="col-md-6">
                {% for item in form.society_function_individual_life_care %}
                    {% if forloop.counter > 1 and forloop.counter < 5 %}
                        <div class ="col-md-3">{{ item }}</div>
                    {% endif %}
                {% endfor %}
            </div>
        </div>
        <div class="row" style="padding-top: 4px">
            <div class="col-md-2" align="right">
                {% if form.society_function_housework.errors %}
                    <span style="background: #ffff00">{{ form.society_function_housework.label_tag }}</span>
                {% else %}
                    {{ form.society_function_housework.label_tag }}
                {% endif %}
            </div>
            <div class="col-md-6">
                {% for item in form.society_function_housework %}
                    {% if forloop.counter > 1 and forloop.counter < 5 %}
                        <div class ="col-md-3">{{ item }}</div>
                    {% endif %}
                {% endfor %}
            </div>
        </div>
        <div class="row" style="padding-top: 4px">
            <div class="col-md-2" align="right">
                {% if form.society_function_productive_work.errors %}
                    <span style="background: #ffff00">{{ form.society_function_productive_work.label_tag }}</span>
                {% else %}
                    {{ form.society_function_productive_work.label_tag }}
                {% endif %}
            </div>
            <div class="col-md-7">
                {% for item in form.society_function_productive_work %}
                    {% if forloop.counter > 1 and forloop.counter < 6 %}
                        <div class ="col-md-3">{{ item }}</div>
                    {% endif %}
                {% endfor %}
            </div>
        </div>
        <div class="row" style="padding-top: 4px">
            <div class="col-md-2" align="right">
                {% if form.society_function_learn_ability.errors %}
                    <span style="background: #ffff00">{{ form.society_function_learn_ability.label_tag }}</span>
                {% else %}
                    {{ form.society_function_learn_ability.label_tag }}
                {% endif %}
            </div>
            <div class="col-md-6">
                {% for item in form.society_function_learn_ability %}
                    {% if forloop.counter > 1 and forloop.counter < 5 %}
                        <div class ="col-md-3">{{ item }}</div>
                    {% endif %}
                {% endfor %}
            </div>
        </div>
        <div class="row" style="padding-top: 4px">
            <div class="col-md-2" align="right">
                {% if form.society_function_social_interpersonal.errors %}
                    <span style="background: #ffff00">{{ form.society_function_social_interpersonal.label_tag }}</span>
                {% else %}
                    {{ form.society_function_social_interpersonal.label_tag }}
                {% endif %}
            </div>
            <div class="col-md-6">
                {% for item in form.society_function_social_interpersonal %}
                    {% if forloop.counter > 1 and forloop.counter < 5 %}
                        <div class ="col-md-3">{{ item }}</div>
                    {% endif %}
                {% endfor %}
            </div>
        </div>
        <div class="row">
	    	<div class="col-md-3">
		    	<h4 class="page-header" style="color: green"><strong>患病对家庭社会的影响</strong></h4>
	    	</div>
    	</div>
        <div class="row" style="padding-top: 4px">
            <div class="col-md-2" align="right">
                {% if form.disease_family_society_effect_mild_disturbance.errors %}
                    <span style="background: #ffff00">{{ form.disease_family_society_effect_mild_disturbance.label_tag }}</span>
                {% else %}
                    {{ form.disease_family_society_effect_mild_disturbance.label_tag }}
                {% endif %}
            </div>
            <div class="col-md-4">
               {{ form.disease_family_society_effect_mild_disturbance }}&nbsp;&nbsp;次
            </div>
            <div class="col-md-2" align="right">
                {% if form.disease_family_society_effect_disturbance.errors %}
                    <span style="background: #ffff00">{{ form.disease_family_society_effect_disturbance.label_tag }}</span>
                {% else %}
                    {{ form.disease_family_society_effect_disturbance.label_tag }}
                {% endif %}
            </div>
            <div class="col-md-4">
               {{ form.disease_family_society_effect_disturbance }}&nbsp;&nbsp;次
            </div>
        </div>
        <div class="row" style="padding-top: 4px">
            <div class="col-md-2" align="right">
                {% if form.disease_family_society_effect_accident.errors %}
                    <span style="background: #ffff00">{{ form.disease_family_society_effect_accident.label_tag }}</span>
                {% else %}
                    {{ form.disease_family_society_effect_accident.label_tag }}
                {% endif %}
            </div>
            <div class="col-md-4">
               {{ form.disease_family_society_effect_accident }}&nbsp;&nbsp;次
            </div>
            <div class="col-md-2" align="right">
                {% if form.disease_family_society_effect_autolesion.errors %}
                    <span style="background: #ffff00">{{ form.disease_family_society_effect_autolesion.label_tag }}</span>
                {% else %}
                    {{ form.disease_family_society_effect_autolesion.label_tag }}
                {% endif %}
            </div>
            <div class="col-md-4">
               {{ form.disease_family_society_effect_autolesion }}&nbsp;&nbsp;次
            </div>
        </div>
        <div class="row" style="padding-top: 4px">
            <div class="col-md-2" align="right">
                {% if form.disease_family_society_effect_attempted_suicide.errors %}
                    <span style="background: #ffff00">{{ form.disease_family_society_effect_attempted_suicide.label_tag }}</span>
                {% else %}
                    {{ form.disease_family_society_effect_attempted_suicide.label_tag }}
                {% endif %}
            </div>
            <div class="col-md-4">
               {{ form.disease_family_society_effect_attempted_suicide }}&nbsp;&nbsp;次
            </div>
        </div>
        <div class="row">
	    	<div class="col-md-3">
		    	<h4 class="page-header" style="color: green"><strong></strong></h4>
	    	</div>
    	</div>
        <div class="row" style="padding-top: 4px">
            <div class="col-md-2" align="right">
                {% if form.lock_situation.errors %}
                    <span style="background: #ffff00">{{ form.lock_situation.label_tag }}</span>
                {% else %}
                    {{ form.lock_situation.label_tag }}
                {% endif %}
            </div>
            <div class="col-md-9">
                {% for item in form.lock_situation %}
                    {% if forloop.counter > 1 and forloop.counter < 5 %}
                        <div class="col-md-4">{{ item }}</div>
                    {% endif %}
                {% endfor %}
            </div>
        </div>
        <div class="row" style="padding-top: 4px">
            <div class="col-md-2" align="right">
                {% if form.hospitalized_situation.errors %}
                    <span style="background: #ffff00">{{ form.hospitalized_situation.label_tag }}</span>
                {% else %}
                    {{ form.hospitalized_situation.label_tag }}
                {% endif %}
            </div>
            <div class="col-md-10">
                {% for item in form.hospitalized_situation %}
                    {% if forloop.counter > 1 and forloop.counter < 5 %}
                        <div class="col-md-4">{{ item }}</div>
                    {% endif %}
                {% endfor %}
            </div>
        </div>
        {% include 'psychiatric/last_hospitalized_date.html' %}
        <div class="row">
	    	<div class="col-md-3">
		    	<h4 class="page-header" style="color: green"><strong></strong></h4>
	    	</div>
    	</div>
        <div class="row" style="padding-top: 4px">
            <div class="col-md-2" align="right">
                {% if form.laboratory_examination.errors or form.laboratory_examination_yes.errors%}
                    <span style="background: #ffff00">{{ form.laboratory_examination.label_tag }}</span>
                {% else %}
                    {{ form.laboratory_examination.label_tag }}
                {% endif %}
            </div>
            <div class="col-md-9">
                {% for item in form.laboratory_examination %}
                    {% if forloop.counter > 1 and forloop.counter < 3 %}
                        <div class="col-md-2">{{ item }}</div>
                    {% elif forloop.counter == 3 %}
                        <div class="col-md-6">{{ item }}&nbsp;&nbsp;{{ form.laboratory_examination_yes }}</div>
                    {% endif %}
                {% endfor %}
        </div>
        <div class="row">
	    	<div class="col-md-3">
		    	<h4 class="page-header" style="color: green"><strong></strong></h4>
	    	</div>
    	</div>
        <div class="row" style="padding-top: 30px">
            <div class="col-md-2" align="right">
                {% if form.take_medicine_compliance.errors %}
                    <span style="background: #ffff00">{{ form.take_medicine_compliance.label_tag }}</span>
                {% else %}
                    {{ form.take_medicine_compliance.label_tag }}
                {% endif %}
            </div>
            <div class="col-md-9">
                {% for item in form.take_medicine_compliance %}
                    {% if forloop.counter > 1 and forloop.counter < 5 %}
                        <div class="col-md-2">{{ item }}</div>
                    {% endif %}
                {% endfor %}
            </div>
        </div>
        <div class="row" style="padding-top: 10px">
            <div class="col-md-2" align="right">
                {% if form.medicine_untoward_effect.errors or form.medicine_untoward_effect_yes.errors %}
                    <span style="background: #ffff00">{{ form.medicine_untoward_effect.label_tag }}</span>
                {% else %}
                    {{ form.medicine_untoward_effect.label_tag }}
                {% endif %}
            </div>
            <div class="col-md-9">
                {% for item in form.medicine_untoward_effect %}
                    {% if forloop.counter > 1 and forloop.counter < 3 %}
                        <div class="col-md-2">{{ item }}</div>
                    {% elif forloop.counter == 3 %}
                        <div class="col-md-6">{{ item }}&nbsp;&nbsp;{{ form.medicine_untoward_effect_yes }}</div>
                    {% endif %}
                {% endfor %}
            </div>
        </div>
        <div class="row" style="padding-top: 10px">
            <div class="col-md-2" align="right">
                {% if form.treatment_effect.errors  %}
                    <span style="background: #ffff00">{{ form.treatment_effect.label_tag }}</span>
                {% else %}
                    {{ form.treatment_effect.label_tag }}
                {% endif %}
            </div>
            <div class="col-md-9">
                {% for item in form.treatment_effect %}
                    {% if forloop.counter > 1 and forloop.counter < 6 %}
                        <div class="col-md-2">{{ item }}</div>
                    {% endif %}
                {% endfor %}
            </div>
        </div>
        <div class="row">
	    	<div class="col-md-3">
		    	<h4 class="page-header" style="color: green"><strong></strong></h4>
	    	</div>
    	</div>
        <div class="row" style="padding-top: 10px">
	        <div class="col-md-2" align="right">
	        	{% if form.transfer_treatment.errors %}
                    <span style="background: #ffff00">{{ form.transfer_treatment.label_tag }}</span>
                {% else %}
                    {{ form.transfer_treatment.label_tag }}
                {% endif %}
	        </div>
	        <div class="col-md-6">
                {% for item in form.transfer_treatment %}
                    {% if forloop.counter > 1 and forloop.counter < 3  %}
                        <div class="col-md-2">{{ item }}</div>
                    {% elif forloop.counter == 3 %}
                        <div class="col-md-2">{{ item }}&nbsp;&nbsp;</div>
                            <div class="col-md-3" align="right">
                                {% if form.transfer_treatment_reason.errors %}
                                    <span style="background: #ffff00">{{ form.transfer_treatment_reason.label_tag }}</span>
                                {% else %}
                                    {{ form.transfer_treatment_reason.label_tag }}
                                {% endif %}
                            </div>
                            <div class="col-md-4">
                                {{ form.transfer_treatment_reason }}
                            </div>
                    {% endif %}
                 {% endfor %}
            </div>
        </div>
        <div class="row" style="padding-top: 4px">
	        <div class="col-md-2" align="right">

	        </div>
	        <div class="col-md-1">

            </div>
            <div class="col-md-3" align="right">
                {% if form.transfer_treatment_institution.errors %}
                    <span style="background: #ffff00">{{ form.transfer_treatment_institution.label_tag }}</span>
                {% else %}
                    {{ form.transfer_treatment_institution.label_tag }}
                {% endif %}
            </div>
            <div class="col-md-4">
                {{ form.transfer_treatment_institution }}
            </div>
        </div>
        <div class="row">
	    	<div class="col-md-3">
		    	<h4 class="page-header" style="color: green"><strong>用药情况</strong></h4>
	    	</div>
    	</div>
        <div class="row" style="padding-top: 4px">
	        <div class="col-md-2" align="right">
	        	{% if form.take_medicine_1.errors %}
                    <span style="background: #ffff00">{{ form.take_medicine_1.label_tag }}</span>
                {% else %}
                    {{ form.take_medicine_1.label_tag }}
                {% endif %}
	        </div>
	        <div class="col-md-4">
                {{ form.take_medicine_1 }}
            </div>
        </div>
        <div class="row" style="padding-top: 4px">
	        <div class="col-md-2" align="right">
	        	{% if form.take_medicine_1_per.errors or form.take_medicine_1_time.errors or form.take_medicine_1_mg.errors %}
                    <span style="background: #ffff00">{{ form.take_medicine_1_per.label_tag }}</span>
                {% else %}
                    {{ form.take_medicine_1_per.label_tag }}
                {% endif %}
	        </div>
	        <div class="col-md-6">
                {{ form.take_medicine_1_per }}&nbsp;{{ form.take_medicine_1_time }}&nbsp;&nbsp;次&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;每次&nbsp;{{ form.take_medicine_1_mg }}&nbsp;&nbsp;mg
            </div>
            <!--<div class="col-md-4">
                每次{{ form.take_medicine_1_time }}&nbsp;&nbsp;mg
            </div>-->
        </div>
        <div class="row" style="padding-top: 4px">
	        <div class="col-md-2" align="right">
	        	{% if form.take_medicine_2.errors %}
                    <span style="background: #ffff00">{{ form.take_medicine_2.label_tag }}</span>
                {% else %}
                    {{ form.take_medicine_2.label_tag }}
                {% endif %}
	        </div>
	        <div class="col-md-4">
                {{ form.take_medicine_2 }}
            </div>
        </div>
        <div class="row" style="padding-top: 4px">
	        <div class="col-md-2" align="right">
	        	{% if form.take_medicine_2_per.errors or form.take_medicine_2_time.errors or form.take_medicine_2_mg.errors %}
                    <span style="background: #ffff00">{{ form.take_medicine_2_per.label_tag }}</span>
                {% else %}
                    {{ form.take_medicine_2_per.label_tag }}
                {% endif %}
	        </div>
	        <div class="col-md-6">
                {{ form.take_medicine_2_per }}&nbsp;{{ form.take_medicine_2_time }}&nbsp;&nbsp;次&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;每次&nbsp;{{ form.take_medicine_2_mg }}&nbsp;&nbsp;mg
            </div>
            <!--<div class="col-md-4">
                每次{{ form.take_medicine_2_time }}&nbsp;&nbsp;mg
            </div>-->
        </div>
        <div class="row" style="padding-top: 4px">
	        <div class="col-md-2" align="right">
	        	{% if form.take_medicine_3.errors %}
                    <span style="background: #ffff00">{{ form.take_medicine_3.label_tag }}</span>
                {% else %}
                    {{ form.take_medicine_3.label_tag }}
                {% endif %}
	        </div>
	        <div class="col-md-4">
                {{ form.take_medicine_3 }}
            </div>
        </div>
        <div class="row" style="padding-top: 4px">
	        <div class="col-md-2" align="right">
	        	{% if form.take_medicine_3_per.errors or form.take_medicine_3_time.errors or form.take_medicine_3_mg.errors %}
                    <span style="background: #ffff00">{{ form.take_medicine_3_per.label_tag }}</span>
                {% else %}
                    {{ form.take_medicine_3_per.label_tag }}
                {% endif %}
	        </div>
	        <div class="col-md-6">
                {{ form.take_medicine_3_per }}&nbsp;{{ form.take_medicine_3_time }}&nbsp;&nbsp;次&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;每次&nbsp;{{ form.take_medicine_3_mg }}&nbsp;&nbsp;mg
            </div>
            <!--<div class="col-md-4">
                每次{{ form.take_medicine_3_time }}&nbsp;&nbsp;mg
            </div>-->
        </div>
        <div class="row">
	    	<div class="col-md-3">
		    	<h4 class="page-header" style="color: green"><strong></strong></h4>
	    	</div>
    	</div>
        <div class="row" style="padding-top: 4px">
            <div class="col-md-2" align="right">
                {% if form.recovery_measure.errors or form.recovery_measure_extra.errors%}
                    <span style="background: #ffff00">{{ form.recovery_measure.label_tag }}</span>
                {% else %}
                    {{ form.recovery_measure.label_tag }}
                {% endif %}
            </div>
            <div class="col-md-10">
                {% for item in form.recovery_measure %}
                    {% if forloop.counter > 0 and forloop.counter < 5 %}
                        <div class="col-md-3">{{ item }}</div>
                    {% elif forloop.counter == 5 %}
                        <div class="col-md-6">{{ item }}&nbsp;&nbsp;{{ form.recovery_measure_extra }}</div>
                    {% endif %}
                {% endfor %}
            </div>
        </div>
        <div class="row" style="padding-top: 4px">
            <div class="col-md-2" align="right">
                {% if form.visit_classification.errors or form.visit_classification.errors%}
                    <span style="background: #ffff00">{{ form.visit_classification.label_tag }}</span>
                {% else %}
                    {{ form.visit_classification.label_tag }}
                {% endif %}
            </div>
            <div class="col-md-9">
                {% for item in form.visit_classification %}
                    {% if forloop.counter > 1 and forloop.counter < 6 %}
                        <div class="col-md-3">{{ item }}</div>
                    {% endif %}
                {% endfor %}
            </div>
        </div>
        <!--<div class="row" style="padding-top: 4px">
            <div class="col-md-2" align="right">
                {{ form.next_visit_date.label_tag }}
            </div>
            <div class="col-md-4">
                {{ form.next_visit_date }}&nbsp;&nbsp;{{ form.next_visit_date.errors}}
            </div>
        </div>-->
        {% include 'psychiatric/next_visit_date.html' %}
        {% include 'psychiatric/submit.html' %}