{% load staticfiles %}

<div id="psychiatric_aftercare">
    <div id="toolbar" class="datagrid-toolbar">
        <a href="#" id="add_1">第一次随访</a>
        <a href="#" id="add_2">第二次随访</a>
        <a href="#" id="add_3">第三次随访</a>
        <a href="#" id="add_4">第四次随访</a>
        <a href="#" id="add_5">第五次随访</a>
        <a href="#" id="add_6">第六次随访</a>
        <a href="#" id="add_7">第七次随访</a>
        <a href="#" id="add_8">第八次随访</a>
        <a href="#" id="save">保存记录表</a>
        <a href="#" id="undo">取消</a>
        <a href="#" id="print">打印记录表</a>
        <input type="hidden" id="resident_id" value="{{ request.session.resident_id }}" />
        <input type="hidden" id="resident_name" value="{{ request.session.resident_name }}" />
    </div>
    <form id="form" method="POST">
        <div id="table" align="center" style="padding-bottom: 30px;"></div>
    </form>
</div>

<script src='{% static "js/psy_aftercare.js" %}'></script>