{% load staticfiles %}

<div id="psy_info">
    <div id="toolbar" class="datagrid-toolbar">
        <a href="#" id="save">提交记录表</a>
        <a href="#" id="edit">提交修改申请</a>
        <a href="#" id="print">打印记录表</a>
        <input type="hidden" id="resident_id" value="{{ request.session.resident_id }}" />
        <input type="hidden" id="resident_name" value="{{ request.session.resident_name }}" />
    </div>
    <div id="psy_info_table" align="center" style="margin-bottom: 30px; display: none">
        <form id="psy_info_form" method="POST">
            {% include 'ehr/psychiatric_info_form_content.html' %}
        </form>
    </div>
</div>


<script src='{% static "js/psy_info.js" %}'></script>