{% extends 'psychiatric/psy_visit_base.html' %}

{% block visit_date %}{{ form.visit_date | date:"Y-m-d" }}{% endblock %}
{% block dangerousness %}
    {{ form.dangerousness }}
{% endblock %}
{% block now_symptom %}
    {% for item in form.now_symptom.all %}
            {{ item }}&nbsp;&nbsp;
    {% endfor %}
{% endblock %}
{% block now_symptom_extra %}{{ form.now_symptom_extra }}{% endblock %}
{% block insight %}
    {{ form.insight }}
{% endblock %}
{% block sleep_situation %}
    {{ form.sleep_situation }}
{% endblock %}

{% block diet_situation %}
    {{ form.diet_situation }}
{% endblock %}
{% block society_function_individual_life_care %}
    {{ form.society_function_individual_life_care }}
{% endblock %}
{% block society_function_housework %}
    {{ form.society_function_housework }}
{% endblock %}

{% block society_function_productive_work %}
    {{ form.society_function_productive_work }}
{% endblock %}
{% block society_function_learn_ability %}
    {{ form.society_function_learn_ability }}
{% endblock %}
{% block society_function_social_interpersonal %}
    {{ form.society_function_social_interpersonal }}
{% endblock %}
{% block disease_family_society_effect_mild_disturbance %}{{ form.disease_family_society_effect_mild_disturbance }}{% endblock %}
{% block disease_family_society_effect_disturbance %}{{ form.disease_family_society_effect_disturbance }}{% endblock %}
{% block disease_family_society_effect_accident %}{{ form.disease_family_society_effect_accident }}{% endblock %}
{% block disease_family_society_effect_autolesion %}{{ form.disease_family_society_effect_autolesion }}{% endblock %}
{% block disease_family_society_effect_attempted_suicide %}{{ form.disease_family_society_effect_attempted_suicide }}{% endblock %}

{% block lock_situation %}
    {{ form.lock_situation }}
{% endblock %}
{% block hospitalized_situation %}
    {{ form.hospitalized_situation }}
{% endblock %}
{% block last_hospitalized_date %}{{ form.last_hospitalized_date | date:"Y-m-d" }}{% endblock %}

{% block laboratory_examination %}
    {{ form.laboratory_examination }}
{% endblock %}
{% block laboratory_examination_yes %}{{ form.laboratory_examination_yes }}{% endblock %}

{% block take_medicine_compliance %}
    {{ form.take_medicine_compliance }}
{% endblock %}

{% block medicine_untoward_effect %}
    {{ form.medicine_untoward_effect }}
{% endblock %}
{% block medicine_untoward_effect_yes %}{{ form.medicine_untoward_effect_yes }}{% endblock %}

{% block treatment_effect %}
    {{ form.treatment_effect }}
{% endblock %}

{% block transfer_treatment %}
    {{ form.transfer_treatment }}
{% endblock %}
{% block transfer_treatment_reason %}{{ form.transfer_treatment_reason }}{% endblock %}
{% block transfer_treatment_institution %}{{ form.transfer_treatment_institution }}{% endblock %}

{% block take_medicine_1 %}{{ form.take_medicine_1 }}{% endblock %}
{% block take_medicine_1_per %}每
    {% if form.take_medicine_1_per %}
        {{ form.take_medicine_1_per }}
    {% endif %}
{% endblock %}
{% block take_medicine_1_time %}{% if form.take_medicine_1_time %}{{ form.take_medicine_1_time }}{% endif %}次{% endblock %}
{% block take_medicine_1_mg %}{% if form.take_medicine_1_mg %}{{ form.take_medicine_1_mg }}{% endif %}mg{% endblock %}
{% block take_medicine_2 %}{{ form.take_medicine_2 }}{% endblock %}
{% block take_medicine_2_per %}每
    {% if form.take_medicine_2_per %}
        {{ form.take_medicine_2_per }}
    {% endif %}
{% endblock %}
{% block take_medicine_2_time %}{% if form.take_medicine_2_time %}{{ form.take_medicine_2_time }}{% endif %}次{% endblock %}
{% block take_medicine_2_mg %}{% if form.take_medicine_2_mg %}{{ form.take_medicine_2_mg }}{% endif %}mg{% endblock %}
{% block take_medicine_3 %}{{ form.take_medicine_3 }}{% endblock %}
{% block take_medicine_3_per %}每
    {% if form.take_medicine_3_per %}
        {{ form.take_medicine_3_per }}
    {% endif %}
{% endblock %}
{% block take_medicine_3_time %}{% if form.take_medicine_3_time %}{{ form.take_medicine_3_time }}{% endif %}次{% endblock %}
{% block take_medicine_3_mg %}{% if form.take_medicine_3_mg %}{{ form.take_medicine_3_mg }}{% endif %}mg{% endblock %}
{% block recovery_measure %}
    {% for item in form.recovery_measure.all %}
        {{ item }}&nbsp;&nbsp;
    {% endfor %}
{% endblock %}
{% block recovery_measure_extra %}{{ form.recovery_measure_extra }}{% endblock %}
{% block visit_classification %}
    {{ form.visit_classification }}
{% endblock %}
{% block next_visit_date %}{{ form.next_visit_date | date:"Y-m-d" }}{% endblock %}
{% block doctor_signature %}{{ form.doctor_signature }}{% endblock %}