{% extends 'services/index.html' %}
{% load staticfiles %}

{% block service_header %}
    <h3 class="page-header" align="center">{{ service_type.name }}: {{ service_item.name }}</h3>
{% endblock %}

{% block service_item_content %}
    <form action="{% url 'psychiatric:transaminase' %}" method="POST">

    {% csrf_token %}
    {{ form.non_filed_errors }}
        {% include 'service/glutamic_oxalacetic_transaminase.html' %}
        {% include 'service/alanine_aminotransferase.html' %}
        {% include 'psychiatric/submit.html' %}
    </form>
{% endblock %}