{% load staticfiles %}

<div id="doc_stat_table"></div>

<div id="doc_stat_toolbar">
    <table style="padding: 0 1px">
        <td width="10%" style="padding: 5px" align="left">起始时间：</td>
        <td width="15%"><input id="begin_date" /></td>
        <td width="10%" style="margin-left: 15px;" align="left">结束时间：</td>
        <td width="15%"><input id="end_date" /></td>
        <td width="5%"></td>
        <td width="10%"><a href="#" id="btn_query">查询</a></td>
    </table>
</div>

<script src='{% static "js/doc_stat.js" %}'></script>
