{% load staticfiles %}

<div id="doc_workload" class="easyui-accordion" data-options="fit: true">
    <div title="服务结果列表" style="overflow: auto;">
        <table id="doc_workload_table"></table>
    </div>
    <div title="服务结果详情" style="overflow: auto;">
        <div id="detail_toolbar" class="datagrid-toolbar">
            <a href="#" id="modify_apply">申请修改</a>
            <span id="apply_status" style="color: red;"></span>
            <a href="#" id="modify">修改</a>
            <a href="#" id="print">打印</a>
        </div>
        <form id="form" method="POST">
            <div id="table" align="center" style="padding: 20px 0; overflow: auto"></div>
        </form>
    </div>
</div>

<div id="record_detail_review" style="display: none; padding: 10px; font-size: 13px;" align="center"></div>

<script src='{% static "js/doc_workload.js" %}'></script>
