{% load staticfiles %}

<div id="doc_workload" class="easyui-accordion" data-options="fit: true">
    <div title="服务结果列表" style="overflow: auto;">
        <div id="doc_worklist_toolbar">
            <table style="padding: 0 1px">
                <tr>
                    <td width="10%" style="padding: 5px" align="left">起始时间：</td>
                    <td width="15%"><input id="begin_date" /></td>
                    <td width="10%" style="margin-left: 15px;" align="left">结束时间：</td>
                    <td width="15%"><input id="end_date" /></td>
                    <td width="10%"><a href="#" id="btn_query">查询</a></td>
                </tr>
            </table>
        </div>
        <table id="doc_workload_table"></table>
    </div>
    <div title="服务结果详情" style="overflow: auto;">
        <div id="detail_toolbar" class="datagrid-toolbar">
            <a href="#" id="modify_apply">申请修改</a>
            <span id="apply_status" style="color: red;"></span>
            <a href="#" id="modify">修改</a>
            <a href="#" id="save">提交</a>
            <a href="#" id="print">打印</a>
        </div>
        <form id="form" method="POST">
            <div id="table" align="center" style="padding: 20px 0; overflow: auto"></div>
        </form>
    </div>
</div>

<div id="record_detail_review" style="display: none; padding: 10px; font-size: 13px;" align="center"></div>

<script src='{% static "js/doc_workload.js" %}'></script>
