{% load staticfiles %}

<table id="doc_workload_table"></table>

<div id="doc_workload_toolbar" style="padding: 5px;">
    <div>
        <a href="#" id="edit">申请修改服务结果</a>
    </div>
    <div style="margin: 5px 0 5px 4px; display: none;">
        <span style="margin-left: 15px;">姓名：</span><input id="query_name" />
        <span style="margin-left: 15px;">身份证号码：</span><input id="query_identity" style="margin-right: 15px" />
        <input type="hidden" name="user_id" value="{{ request.user.id }}" />
        <a href="#" id="query">查询</a>
    </div>
</div>

<div id="record_detail_review" style="display: none; padding: 10px; font-size: 13px;" align="center"></div>

<script src='{% static "js/doc_workload.js" %}'></script>
