{% load staticfiles %}

<div id="reading_card" align="center" style="padding-top: 150px;">
    <a href="#" id="read" style="background-color: #0088cc; margin-right: 150px;">读取身份证</a>
    <a href="#" id="quit" style="background-color: #ffe48d;">退出此次服务</a>
</div>

<object id="CardReader1" codebase="FirstActivex.cab#version=1,3,3,1" classid="CLSID:F225795B-A882-4FBA-934C-805E1B2FBD1B"
	width="1" height="1">
	<param name="_Version" value="65536"/>
	<param name="_ExtentX" value="2646"/>
	<param name="_ExtentY" value="1323"/>
	<param name="_StockProps" value="0"/>
</object>

<script src='{% static "js/reading_card.js" %}'></script>
