{% extends "health_base.html" %}
{% load staticfiles %}

<!--

step 1:
在这个页面上面应该有JS代码，在页面刚刚加载的时候现实灰色方框，

step 2:
可以是自动读卡，这样页面上少一个方框，检测读卡器状态，如果读
卡器上放置了身份证，JS代码读出身份证中的个人信息
可以是手动读卡，这样页面上多一个方框，点击该方框，触发网页内
的JS代码访问读卡器，读出身份证中的个人信息

step 3:
通过Ajax访问某个链接，将此居民身份的家庭关系查询出来，并返回
该居民家庭中可能被服务的孩子信息，如果存在多人的情况，跳出一个
对话框，请医生选择被服务的对象。最终确定此次服务的对象。并将其
存放在session中。

step 4:
在确定了服务对象之后，返回应加亮的方框，通过JS将其设置为加亮。

-->

{% block content %}
<script>
    $(document).ready(function(){
        $("button#reading_card").click(function() {
            var url = "/services/reading_card/";
            $.getJSON(url,
                function(candidates) {
                    if (candidates[0].fields['mobile'] == '') {
                        var mobile_label = candidates[0].fields['name'] + '在系统中未登记手机号码，请您输入：';
                        $("label#mobile_label").html(mobile_label);
                        $("div#mobileModal").modal('show');
                        $("button#mobile_skip").click(function() {
                            if (candidates.length > 1) {
                                var options = '';
                                for (var i = 0; i < candidates.length; i++) {
                                    options += '<input type="radio" id="service_object" name="service_object" value="' + candidates[i].pk + '"/>' + candidates[i].fields['name'] + '<br/><br/>';
                                }
                                $("form#candidate").html(options);
                                $("div#myModal").modal('show');
                            } else {
                                var url = "/services/resident_chosen/";
                                $.getJSON(url, {id: candidates[0].pk}, function(service_types_highlight){
                                    location.reload();
                                });
                            };
                            $("div#mobileModal").modal('hide');
                        })
                        $("button#mobile_submit").click(function() {
                            var url = "/services/mobile_submit";
                            var mobile = $("input#mobile").val();
                            $.getJSON(url, {id: candidates[0].pk, mobile: mobile}, function() {});
                            $("div#mobileModal").modal('hide');
                            if (candidates.length > 1) {
                                var options = '';
                                for (var i = 0; i < candidates.length; i++) {
                                    options += '<input type="radio" id="service_object" name="service_object" value="' + candidates[i].pk + '"/>' + candidates[i].fields['name'] + '<br/><br/>';
                                }
                                $("form#candidate").html(options);
                                $("div#myModal").modal('show');
                            } else {
                                var url = "/services/resident_chosen/";
                                $.getJSON(url, {id: candidates[0].pk}, function(service_types_highlight){
                                    location.reload();
                                });
                            }
                        });
                    } else {
                        if (candidates.length > 1) {
                            var options = '';
                            for (var i = 0; i < candidates.length; i++) {
                                options += '<input type="radio" id="service_object" name="service_object" value="' + candidates[i].pk + '"/>' + candidates[i].fields['name'] + '<br/><br/>';
                            }
                            $("form#candidate").html(options);
                            $("div#myModal").modal('show');
                        } else {
                            var url = "/services/resident_chosen/";
                            $.getJSON(url, {id: candidates[0].pk}, function(service_types_highlight){
                                location.reload();
                            });
                        }
                    }
                }
            );
        });

        $("button#chosen").click(function(){
            $("div#myModal").modal('hide');
            var resident_id = $("input[type=radio]:checked").val();
            var url = "/services/resident_chosen/";
            $.getJSON(url, {id: resident_id}, function(service_types_highlight){
                location.reload();
            });
        });

        $("button#test_card").click(function() {
            var obj = byId("CardReader1");
            if (false == isInit) {
                obj.setPortNum(0);
                isInit = true;
            }
            obj.Flag = 0;

            var rst = obj.ReadCard();
            if (0x90 == rst){
                $.getJSON("/services/test_card/",
                    {
                        name: obj.NameL(),
                        birthday: obj.Born(),
                        gender: obj.Sex(),
                        nation: obj.NationL(),
                        address: obj.Address(),
                        identity: obj.CardNo()
                    },
                    function(candidates) {
                        if (candidates[0].fields['mobile'] == '') {
                            var mobile_label = candidates[0].fields['name'] + '在系统中未登记手机号码，请您输入：';
                            $("label#mobile_label").html(mobile_label);
                            $("div#mobileModal").modal('show');
                            $("button#mobile_skip").click(function() {
                                if (candidates.length > 1) {
                                    var options = '';
                                    for (var i = 0; i < candidates.length; i++) {
                                        options += '<input type="radio" id="service_object" name="service_object" value="' + candidates[i].pk + '"/>' + candidates[i].fields['name'] + '<br/><br/>';
                                    }
                                    $("form#candidate").html(options);
                                    $("div#myModal").modal('show');
                                } else {
                                    var url = "/services/resident_chosen/";
                                    $.getJSON(url, {id: candidates[0].pk}, function(service_types_highlight){
                                        location.reload();
                                    });
                                };
                                $("div#mobileModal").modal('hide');
                            })
                            $("button#mobile_submit").click(function() {
                                var url = "/services/mobile_submit";
                                var mobile = $("input#mobile").val();
                                $.getJSON(url, {id: candidates[0].pk, mobile: mobile}, function() {});
                                $("div#mobileModal").modal('hide');
                                if (candidates.length > 1) {
                                    var options = '';
                                    for (var i = 0; i < candidates.length; i++) {
                                        options += '<input type="radio" id="service_object" name="service_object" value="' + candidates[i].pk + '"/>' + candidates[i].fields['name'] + '<br/><br/>';
                                    }
                                    $("form#candidate").html(options);
                                    $("div#myModal").modal('show');
                                } else {
                                    var url = "/services/resident_chosen/";
                                    $.getJSON(url, {id: candidates[0].pk}, function(service_types_highlight){
                                        location.reload();
                                    });
                                }
                            });
                        } else {
                            if (candidates.length > 1) {
                                var options = '';
                                for (var i = 0; i < candidates.length; i++) {
                                    options += '<input type="radio" id="service_object" name="service_object" value="' + candidates[i].pk + '"/>' + candidates[i].fields['name'] + '<br/><br/>';
                                }
                                $("form#candidate").html(options);
                                $("div#myModal").modal('show');
                            } else {
                                var url = "/services/resident_chosen/";
                                $.getJSON(url, {id: candidates[0].pk}, function(service_types_highlight){
                                    location.reload();
                                });
                            }
                        }
                    }
                );
            } else {
                alert("读卡失败!")
            }
        });

        var isInit = false;

        function byId(id) {
            return document.getElementById(id);
        }
    })

</script>

<div class="modal" id="mobileModal">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <!--<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>-->
                <h4 id="mobile_title" class="modal-title"></h4>
            </div>
            <div class="modal-body">
                <form id="mobile_input" method="POST" action="/test/">
                    <label for="mobile" id="mobile_label"></label>
                    <input type="text" id="mobile" name="mobile" />
                </form>
            </div>
            <div class="modal-footer">
                <button id="mobile_skip" type="button" class="btn btn-default" data-dismiss="modal">跳过</button>
                <button id="mobile_submit" type="submit" class="btn btn-primary">提交</button>
            </div>
        </div>
    </div>
</div>

<div class="modal" id="myModal">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">请选择接受服务的对象</h4>
            </div>
            <div class="modal-body">
                <form method="POST" id="candidate" action="/test/"></form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
                <button type="submit" id="chosen" class="btn btn-primary">完成</button>
            </div>
        </div>
    </div>
</div>

<div class="container">
    {% for service_type in service_types %}
        {% if forloop.counter == 1 or forloop.counter == 5 or forloop.counter == 9 or forloop.counter == 13 or forloop.counter == 17 %}
        <div class="row" style="padding-top: 20px">
        {% endif %}
        {% if service_type.alias == 'break_service' or service_type.alias == 'reading_card' %}
            {% if request.session.resident_id %}
            <div class="col-md-3">
                <div class="row">
                <div class="col-md-10 col-md-offset-1">
                <button type="button" id="break_service" class="btn btn-lg btn-warning butt"
                        onclick="window.location.href='{% url 'services:break_service' %}'">
                    <span class="ButtonWord">{{ service_type.name }}</span>
                </button>
                </div>
                </div>
            </div>
            {% else %}
            <div class="col-md-3">
                <div class="row">
                <div class="col-md-10 col-md-offset-1">
                <button type="button" id="reading_card" class="btn btn-lg btn-warning butt">
                    <span class="ButtonWord">{{ service_type.name }}</span>
                </button>
                </div>
                </div>
            </div>
            {% endif %}
        {% elif service_type.alias == 'test_card' or service_type.alias == 'test_quit' %}
            {% if request.session.resident_id %}
            <div class="col-md-3">
                <div class="row">
                <div class="col-md-10 col-md-offset-1">
                <button type="button" id="test_quit" class="btn btn-lg btn-warning butt"
                        onclick="window.location.href='{% url 'services:break_service' %}'">
                    <span class="ButtonWord">{{ service_type.name }}</span>
                </button>
                </div>
                </div>
            </div>
            {% else %}
            <div class="col-md-3">
                <div class="row">
                <div class="col-md-10 col-md-offset-1">
                <button type="button" id="test_card" class="btn btn-lg btn-warning butt">
                    <span class="ButtonWord">{{ service_type.name }}</span>
                </button>
                </div>
                </div>
            </div>
            {% endif %}
        {% elif service_type in service_types_highlight %}
            <div class="col-md-3">
                <div class="row">
                <div class="col-md-10 col-md-offset-1" style="word-break:break-all;overflow:hidden;">
                <button type="button" class="btn btn-lg btn-success butt"
                        onclick="window.location.href='/{{ service_type.alias }}/'">
                    <span class="ButtonWord">{{ service_type.name }}</span>
                </button>
                </div>
                </div>
            </div>
        {% else %}
            {% if service_type.alias == 'ehr' and request.session.resident_id %}
            <div class="col-md-3">
                <div class="row">
                <div class="col-md-10 col-md-offset-1">
                <button type="button" class="btn btn-lg btn-success butt"
                        onclick="window.location.href='/{{ service_type.alias }}/'">
                    <span class="ButtonWord">{{ service_type.name }}</span>
                </button>
                </div>
                </div>
            </div>
            {% elif service_type.alias ==  'education' %}
            {% else %}
            <div class="col-md-3">
                <div class="row">
                <div class="col-md-10 col-md-offset-1">
                <button type="button" class="btn btn-lg btn-default butt ">
                    <span class="ButtonWord">{{ service_type.name }}</span>
                </button>
                </div>
                </div>
            </div>
            {% endif %}
        {% endif %}
        {% if forloop.counter == 4 or forloop.counter == 8 or forloop.counter == 12 or forloop.counter == 16 %}
        </div>
        {% endif %}
    {% endfor %}
</div>

<object id="CardReader1" codebase="FirstActivex.cab#version=1,3,3,1" classid="CLSID:F225795B-A882-4FBA-934C-805E1B2FBD1B"
	width="1" height="1">
	<param name="_Version" value="65536"/>
	<param name="_ExtentX" value="2646"/>
	<param name="_ExtentY" value="1323"/>
	<param name="_StockProps" value="0"/>
</object>

{% endblock content %}
